{
  "openapi": "3.0.3",
  "info": {
    "title": "SolarWinds Service Desk",
    "version": "latest",
    "x-vendor-api-version": "1.0",
    "description": "SolarWinds Service Desk (formerly Samanage) is a cloud-based IT service management platform covering incident, problem, change, asset, and service-catalog management.",
    "x-itential-curated": "Trimmed to 56 of 134 upstream operations. Covers Incident, Problem, and Change CRUD, Catalog Item browsing plus Service Request creation, Hardware and Other Asset CRUD, User/Group/Department/Site/Category CRUD, and comment create/update/delete on Incidents, Problems, and Changes. See the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "url": "https://api.samanage.com",
      "description": "US region. EU tenants use https://apieu.samanage.com, APJ tenants use https://apiau.samanage.com."
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Incident"
    },
    {
      "name": "Problem"
    },
    {
      "name": "Change"
    },
    {
      "name": "CatalogItem"
    },
    {
      "name": "ServiceRequest"
    },
    {
      "name": "Hardware"
    },
    {
      "name": "OtherAsset"
    },
    {
      "name": "User"
    },
    {
      "name": "Group"
    },
    {
      "name": "Department"
    },
    {
      "name": "Site"
    },
    {
      "name": "Category"
    },
    {
      "name": "Comment"
    }
  ],
  "paths": {
    "/incidents.json": {
      "get": {
        "operationId": "getIncidents",
        "summary": "List Incidents",
        "tags": [
          "Incident"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by incident state."
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by priority."
          },
          {
            "name": "assignee",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by assignee email."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Incident title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "New",
                          "Assigned",
                          "Awaiting Input",
                          "On Hold",
                          "Resolved",
                          "Closed"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "subcategory": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the subcategory"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the department"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the site"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "due_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "resolution": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createIncident",
        "summary": "Create Incident",
        "tags": [
          "Incident"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "incident": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Incident title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "New",
                          "Assigned",
                          "Awaiting Input",
                          "On Hold",
                          "Resolved",
                          "Closed"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "subcategory": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the subcategory"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the department"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the site"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "due_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "resolution": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Incident title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "New",
                        "Assigned",
                        "Awaiting Input",
                        "On Hold",
                        "Resolved",
                        "Closed"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "subcategory": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the subcategory"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "department": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the department"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "site": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the site"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "due_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/incidents/{incident_id}.json": {
      "get": {
        "operationId": "getIncidentById",
        "summary": "Get Incident by ID",
        "tags": [
          "Incident"
        ],
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the incident."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Incident title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "New",
                        "Assigned",
                        "Awaiting Input",
                        "On Hold",
                        "Resolved",
                        "Closed"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "subcategory": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the subcategory"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "department": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the department"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "site": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the site"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "due_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateIncidentById",
        "summary": "Update Incident by ID",
        "tags": [
          "Incident"
        ],
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the incident."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "incident": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Incident title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "New",
                          "Assigned",
                          "Awaiting Input",
                          "On Hold",
                          "Resolved",
                          "Closed"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "subcategory": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the subcategory"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the department"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the site"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "due_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "resolution": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Incident title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "New",
                        "Assigned",
                        "Awaiting Input",
                        "On Hold",
                        "Resolved",
                        "Closed"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "subcategory": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the subcategory"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "department": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the department"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "site": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the site"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "due_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteIncidentById",
        "summary": "Delete Incident by ID",
        "tags": [
          "Incident"
        ],
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the incident."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/problems.json": {
      "get": {
        "operationId": "getProblems",
        "summary": "List Problems",
        "tags": [
          "Problem"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by problem state."
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by priority."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Problem title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "New",
                          "Assigned",
                          "Awaiting Input",
                          "On Hold",
                          "Resolved",
                          "Closed"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "root_cause": {
                        "type": "string"
                      },
                      "workaround": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProblem",
        "summary": "Create Problem",
        "tags": [
          "Problem"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "problem": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Problem title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "New",
                          "Assigned",
                          "Awaiting Input",
                          "On Hold",
                          "Resolved",
                          "Closed"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "root_cause": {
                        "type": "string"
                      },
                      "workaround": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Problem title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "New",
                        "Assigned",
                        "Awaiting Input",
                        "On Hold",
                        "Resolved",
                        "Closed"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "root_cause": {
                      "type": "string"
                    },
                    "workaround": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/problems/{problem_id}.json": {
      "get": {
        "operationId": "getProblemById",
        "summary": "Get Problem by ID",
        "tags": [
          "Problem"
        ],
        "parameters": [
          {
            "name": "problem_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the problem."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Problem title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "New",
                        "Assigned",
                        "Awaiting Input",
                        "On Hold",
                        "Resolved",
                        "Closed"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "root_cause": {
                      "type": "string"
                    },
                    "workaround": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProblemById",
        "summary": "Update Problem by ID",
        "tags": [
          "Problem"
        ],
        "parameters": [
          {
            "name": "problem_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the problem."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "problem": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Problem title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "New",
                          "Assigned",
                          "Awaiting Input",
                          "On Hold",
                          "Resolved",
                          "Closed"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "root_cause": {
                        "type": "string"
                      },
                      "workaround": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Problem title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "New",
                        "Assigned",
                        "Awaiting Input",
                        "On Hold",
                        "Resolved",
                        "Closed"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "root_cause": {
                      "type": "string"
                    },
                    "workaround": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProblemById",
        "summary": "Delete Problem by ID",
        "tags": [
          "Problem"
        ],
        "parameters": [
          {
            "name": "problem_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the problem."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/changes.json": {
      "get": {
        "operationId": "getChanges",
        "summary": "List Changes",
        "tags": [
          "Change"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by change state."
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by priority."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Change title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "Requested",
                          "Approved",
                          "Rejected",
                          "Implementation",
                          "Completed",
                          "Closed"
                        ]
                      },
                      "risk": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "planned_start_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "planned_end_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChange",
        "summary": "Create Change",
        "tags": [
          "Change"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Change title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "Requested",
                          "Approved",
                          "Rejected",
                          "Implementation",
                          "Completed",
                          "Closed"
                        ]
                      },
                      "risk": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "planned_start_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "planned_end_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Change title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "Requested",
                        "Approved",
                        "Rejected",
                        "Implementation",
                        "Completed",
                        "Closed"
                      ]
                    },
                    "risk": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "planned_start_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "planned_end_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/changes/{change_id}.json": {
      "get": {
        "operationId": "getChangeById",
        "summary": "Get Change by ID",
        "tags": [
          "Change"
        ],
        "parameters": [
          {
            "name": "change_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the change."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Change title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "Requested",
                        "Approved",
                        "Rejected",
                        "Implementation",
                        "Completed",
                        "Closed"
                      ]
                    },
                    "risk": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "planned_start_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "planned_end_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateChangeById",
        "summary": "Update Change by ID",
        "tags": [
          "Change"
        ],
        "parameters": [
          {
            "name": "change_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the change."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Change title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "Requested",
                          "Approved",
                          "Rejected",
                          "Implementation",
                          "Completed",
                          "Closed"
                        ]
                      },
                      "risk": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "planned_start_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "planned_end_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Change title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "Requested",
                        "Approved",
                        "Rejected",
                        "Implementation",
                        "Completed",
                        "Closed"
                      ]
                    },
                    "risk": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "planned_start_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "planned_end_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteChangeById",
        "summary": "Delete Change by ID",
        "tags": [
          "Change"
        ],
        "parameters": [
          {
            "name": "change_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the change."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/hardwares.json": {
      "get": {
        "operationId": "getHardwares",
        "summary": "List Hardwares",
        "tags": [
          "Hardware"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "serial_number": {
                        "type": "string"
                      },
                      "asset_tag": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the site"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the department"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "vendor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the vendor"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "purchase_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "warranty_expiration": {
                        "type": "string",
                        "format": "date"
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "In Stock",
                          "In Use",
                          "Retired",
                          "Missing"
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createHardware",
        "summary": "Create Hardware",
        "tags": [
          "Hardware"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hardware": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "serial_number": {
                        "type": "string"
                      },
                      "asset_tag": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the site"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the department"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "vendor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the vendor"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "purchase_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "warranty_expiration": {
                        "type": "string",
                        "format": "date"
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "In Stock",
                          "In Use",
                          "Retired",
                          "Missing"
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "serial_number": {
                      "type": "string"
                    },
                    "asset_tag": {
                      "type": "string"
                    },
                    "owner": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "site": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the site"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "department": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the department"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "vendor": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the vendor"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "purchase_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "warranty_expiration": {
                      "type": "string",
                      "format": "date"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "In Stock",
                        "In Use",
                        "Retired",
                        "Missing"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hardwares/{hardware_id}.json": {
      "get": {
        "operationId": "getHardwareById",
        "summary": "Get Hardware by ID",
        "tags": [
          "Hardware"
        ],
        "parameters": [
          {
            "name": "hardware_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the hardware."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "serial_number": {
                      "type": "string"
                    },
                    "asset_tag": {
                      "type": "string"
                    },
                    "owner": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "site": {
                      "type": "object",
                      "properties": {
[...]
