{
  "openapi": "3.0.3",
  "info": {
    "title": "SolarWinds Service Desk",
    "version": "1.0",
    "description": "SolarWinds Service Desk (formerly Samanage) is a cloud-based IT service management platform covering incident, problem, change, asset, and service-catalog management."
  },
  "servers": [
    {
      "url": "https://api.samanage.com",
      "description": "US region. EU tenants use https://apieu.samanage.com, APJ tenants use https://apiau.samanage.com."
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Samanage-Authorization",
        "description": "Static, admin-generated API token. Send as `Bearer <token>` in this header's value."
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Attachment"
    },
    {
      "name": "Audit"
    },
    {
      "name": "CatalogItem"
    },
    {
      "name": "Category"
    },
    {
      "name": "Change"
    },
    {
      "name": "ChangeCatalog"
    },
    {
      "name": "Comment"
    },
    {
      "name": "ConfigurationItem"
    },
    {
      "name": "Contract"
    },
    {
      "name": "Department"
    },
    {
      "name": "Group"
    },
    {
      "name": "Hardware"
    },
    {
      "name": "Incident"
    },
    {
      "name": "Membership"
    },
    {
      "name": "MobileDevice"
    },
    {
      "name": "OtherAsset"
    },
    {
      "name": "Printer"
    },
    {
      "name": "Problem"
    },
    {
      "name": "Purchase"
    },
    {
      "name": "PurchaseOrder"
    },
    {
      "name": "Release"
    },
    {
      "name": "Risk"
    },
    {
      "name": "Role"
    },
    {
      "name": "ServiceRequest"
    },
    {
      "name": "Site"
    },
    {
      "name": "Software"
    },
    {
      "name": "Solution"
    },
    {
      "name": "Task"
    },
    {
      "name": "TimeTrack"
    },
    {
      "name": "User"
    },
    {
      "name": "Vendor"
    }
  ],
  "paths": {
    "/attachments.json": {
      "post": {
        "operationId": "createAttachment",
        "summary": "createAttachment",
        "tags": [
          "Attachment"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "createAttachment",
                    "enum": [
                      "createAttachment"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "createAttachment",
                      "enum": [
                        "createAttachment"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audits.json": {
      "get": {
        "operationId": "getAudits",
        "summary": "getAudits",
        "tags": [
          "Audit"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getAudits",
                      "enum": [
                        "getAudits",
                        "getAuditById"
                      ]
                    },
                    "objectType": {
                      "type": "string",
                      "description": "Source object type",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{pathv1}/{pathv2}/audits.json": {
      "get": {
        "operationId": "getAuditById",
        "summary": "getAuditById",
        "tags": [
          "Audit"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          },
          {
            "name": "pathv2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv2"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getAudits",
                      "enum": [
                        "getAudits",
                        "getAuditById"
                      ]
                    },
                    "objectType": {
                      "type": "string",
                      "description": "Source object type",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/catalog_items.json": {
      "get": {
        "operationId": "getCatalogItems",
        "summary": "List CatalogItems",
        "tags": [
          "CatalogItem"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "price": {
                        "type": "number"
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCatalogItem",
        "summary": "createCatalogItem",
        "tags": [
          "CatalogItem"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getCatalogItemById",
                    "enum": [
                      "getCatalogItemById",
                      "updateCatalogItemById",
                      "deleteCatalogItemById",
                      "getCatalogItems",
                      "createCatalogItem"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getCatalogItemById",
                      "enum": [
                        "getCatalogItemById",
                        "updateCatalogItemById",
                        "deleteCatalogItemById",
                        "getCatalogItems",
                        "createCatalogItem"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories.json": {
      "get": {
        "operationId": "getCategorys",
        "summary": "List Categorys",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "itil_type": {
                        "type": "string",
                        "enum": [
                          "Incident",
                          "Problem",
                          "Change"
                        ]
                      },
                      "disabled": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCategory",
        "summary": "Create Category",
        "tags": [
          "Category"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "itil_type": {
                        "type": "string",
                        "enum": [
                          "Incident",
                          "Problem",
                          "Change"
                        ]
                      },
                      "disabled": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "itil_type": {
                      "type": "string",
                      "enum": [
                        "Incident",
                        "Problem",
                        "Change"
                      ]
                    },
                    "disabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/changes.json": {
      "get": {
        "operationId": "getChanges",
        "summary": "List Changes",
        "tags": [
          "Change"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by change state."
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by priority."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Change title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "Requested",
                          "Approved",
                          "Rejected",
                          "Implementation",
                          "Completed",
                          "Closed"
                        ]
                      },
                      "risk": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "planned_start_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "planned_end_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChange",
        "summary": "Create Change",
        "tags": [
          "Change"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "change": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Change title/subject."
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High",
                          "Critical"
                        ]
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "Requested",
                          "Approved",
                          "Rejected",
                          "Implementation",
                          "Completed",
                          "Closed"
                        ]
                      },
                      "risk": {
                        "type": "string",
                        "enum": [
                          "Low",
                          "Medium",
                          "High"
                        ]
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the category"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "requester": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "assignee": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "planned_start_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "planned_end_date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Change title/subject."
                    },
                    "description": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High",
                        "Critical"
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "Requested",
                        "Approved",
                        "Rejected",
                        "Implementation",
                        "Completed",
                        "Closed"
                      ]
                    },
                    "risk": {
                      "type": "string",
                      "enum": [
                        "Low",
                        "Medium",
                        "High"
                      ]
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the category"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "requester": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "assignee": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "planned_start_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "planned_end_date": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/change_catalogs/{pathv1}.json": {
      "get": {
        "operationId": "getChangeCatalogById",
        "summary": "getChangeCatalogById",
        "tags": [
          "ChangeCatalog"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getChangeCatalogById",
                      "enum": [
                        "getChangeCatalogById",
                        "updateChangeCatalogById",
                        "deleteChangeCatalogById",
                        "getChangeCatalogs",
                        "createChangeCatalog"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateChangeCatalogById",
        "summary": "updateChangeCatalogById",
        "tags": [
          "ChangeCatalog"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getChangeCatalogById",
                    "enum": [
                      "getChangeCatalogById",
                      "updateChangeCatalogById",
                      "deleteChangeCatalogById",
                      "getChangeCatalogs",
                      "createChangeCatalog"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getChangeCatalogById",
                      "enum": [
                        "getChangeCatalogById",
                        "updateChangeCatalogById",
                        "deleteChangeCatalogById",
                        "getChangeCatalogs",
                        "createChangeCatalog"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteChangeCatalogById",
        "summary": "deleteChangeCatalogById",
        "tags": [
          "ChangeCatalog"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getChangeCatalogById",
                    "enum": [
                      "getChangeCatalogById",
                      "updateChangeCatalogById",
                      "deleteChangeCatalogById",
                      "getChangeCatalogs",
                      "createChangeCatalog"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getChangeCatalogById",
                      "enum": [
                        "getChangeCatalogById",
                        "updateChangeCatalogById",
                        "deleteChangeCatalogById",
                        "getChangeCatalogs",
                        "createChangeCatalog"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/change_catalogs.json": {
      "get": {
        "operationId": "getChangeCatalogs",
        "summary": "getChangeCatalogs",
        "tags": [
          "ChangeCatalog"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getChangeCatalogById",
                      "enum": [
                        "getChangeCatalogById",
                        "updateChangeCatalogById",
                        "deleteChangeCatalogById",
                        "getChangeCatalogs",
                        "createChangeCatalog"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChangeCatalog",
        "summary": "createChangeCatalog",
        "tags": [
          "ChangeCatalog"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getChangeCatalogById",
                    "enum": [
                      "getChangeCatalogById",
                      "updateChangeCatalogById",
                      "deleteChangeCatalogById",
                      "getChangeCatalogs",
                      "createChangeCatalog"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getChangeCatalogById",
                      "enum": [
                        "getChangeCatalogById",
                        "updateChangeCatalogById",
                        "deleteChangeCatalogById",
                        "getChangeCatalogs",
                        "createChangeCatalog"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration_items/{pathv1}.json": {
      "get": {
        "operationId": "getConfigurationItemById",
        "summary": "getConfigurationItemById",
        "tags": [
          "ConfigurationItem"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getConfigurationItemById",
                      "enum": [
                        "getConfigurationItemById",
                        "updateConfigurationItemById",
                        "deleteConfigurationItemById",
                        "getConfigurationItems",
                        "createConfigurationItem",
                        "appendDependentAssets",
                        "deleteAssetLink"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateConfigurationItemById",
        "summary": "updateConfigurationItemById",
        "tags": [
          "ConfigurationItem"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getConfigurationItemById",
                    "enum": [
                      "getConfigurationItemById",
                      "updateConfigurationItemById",
                      "deleteConfigurationItemById",
                      "getConfigurationItems",
                      "createConfigurationItem",
                      "appendDependentAssets",
                      "deleteAssetLink"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getConfigurationItemById",
                      "enum": [
                        "getConfigurationItemById",
                        "updateConfigurationItemById",
                        "deleteConfigurationItemById",
                        "getConfigurationItems",
                        "createConfigurationItem",
                        "appendDependentAssets",
                        "deleteAssetLink"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteConfigurationItemById",
        "summary": "deleteConfigurationItemById",
        "tags": [
          "ConfigurationItem"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getConfigurationItemById",
                    "enum": [
                      "getConfigurationItemById",
                      "updateConfigurationItemById",
                      "deleteConfigurationItemById",
                      "getConfigurationItems",
                      "createConfigurationItem",
                      "appendDependentAssets",
                      "deleteAssetLink"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getConfigurationItemById",
                      "enum": [
                        "getConfigurationItemById",
                        "updateConfigurationItemById",
                        "deleteConfigurationItemById",
                        "getConfigurationItems",
                        "createConfigurationItem",
                        "appendDependentAssets",
                        "deleteAssetLink"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration_items.json": {
      "get": {
        "operationId": "getConfigurationItems",
        "summary": "getConfigurationItems",
        "tags": [
          "ConfigurationItem"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getConfigurationItemById",
                      "enum": [
                        "getConfigurationItemById",
                        "updateConfigurationItemById",
                        "deleteConfigurationItemById",
                        "getConfigurationItems",
                        "createConfigurationItem",
                        "appendDependentAssets",
                        "deleteAssetLink"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createConfigurationItem",
        "summary": "createConfigurationItem",
        "tags": [
          "ConfigurationItem"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getConfigurationItemById",
                    "enum": [
                      "getConfigurationItemById",
                      "updateConfigurationItemById",
                      "deleteConfigurationItemById",
                      "getConfigurationItems",
                      "createConfigurationItem",
                      "appendDependentAssets",
                      "deleteAssetLink"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getConfigurationItemById",
                      "enum": [
                        "getConfigurationItemById",
                        "updateConfigurationItemById",
                        "deleteConfigurationItemById",
                        "getConfigurationItems",
                        "createConfigurationItem",
                        "appendDependentAssets",
                        "deleteAssetLink"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/configuration_items/{pathv1}/append_multiple_dependent_assets.json": {
      "put": {
        "operationId": "appendDependentAssets",
        "summary": "appendDependentAssets",
        "tags": [
          "ConfigurationItem"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getConfigurationItemById",
                    "enum": [
                      "getConfigurationItemById",
                      "updateConfigurationItemById",
                      "deleteConfigurationItemById",
                      "getConfigurationItems",
                      "createConfigurationItem",
                      "appendDependentAssets",
                      "deleteAssetLink"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getConfigurationItemById",
                      "enum": [
                        "getConfigurationItemById",
                        "updateConfigurationItemById",
                        "deleteConfigurationItemById",
                        "getConfigurationItems",
                        "createConfigurationItem",
                        "appendDependentAssets",
                        "deleteAssetLink"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/asset_links/delete_asset_link_by_id.json": {
      "put": {
        "operationId": "deleteAssetLink",
        "summary": "deleteAssetLink",
        "tags": [
          "ConfigurationItem"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getConfigurationItemById",
                    "enum": [
                      "getConfigurationItemById",
                      "updateConfigurationItemById",
                      "deleteConfigurationItemById",
                      "getConfigurationItems",
                      "createConfigurationItem",
                      "appendDependentAssets",
                      "deleteAssetLink"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getConfigurationItemById",
                      "enum": [
                        "getConfigurationItemById",
                        "updateConfigurationItemById",
                        "deleteConfigurationItemById",
                        "getConfigurationItems",
                        "createConfigurationItem",
                        "appendDependentAssets",
                        "deleteAssetLink"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{pathv1}.json": {
      "get": {
        "operationId": "getContractById",
        "summary": "getContractById",
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContractById",
        "summary": "updateContractById",
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getContractById",
                    "enum": [
                      "getContractById",
                      "updateContractById",
                      "deleteContractById",
                      "getContracts",
                      "createContract",
                      "createItem",
                      "updateItemById",
                      "deleteitemById"
                    ]
                  },
                  "contractId": {
                    "type": "string",
                    "description": "Numeric ID of the contract",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  },
                  "itemId": {
                    "type": "string",
                    "description": "Numeric ID of the item",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContractById",
        "summary": "deleteContractById",
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getContractById",
                    "enum": [
                      "getContractById",
                      "updateContractById",
                      "deleteContractById",
                      "getContracts",
                      "createContract",
                      "createItem",
                      "updateItemById",
                      "deleteitemById"
                    ]
                  },
                  "contractId": {
                    "type": "string",
                    "description": "Numeric ID of the contract",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  },
                  "itemId": {
                    "type": "string",
                    "description": "Numeric ID of the item",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts.json": {
      "get": {
        "operationId": "getContracts",
        "summary": "getContracts",
        "tags": [
          "Contract"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createContract",
        "summary": "createContract",
        "tags": [
          "Contract"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getContractById",
                    "enum": [
                      "getContractById",
                      "updateContractById",
                      "deleteContractById",
                      "getContracts",
                      "createContract",
                      "createItem",
                      "updateItemById",
                      "deleteitemById"
                    ]
                  },
                  "contractId": {
                    "type": "string",
                    "description": "Numeric ID of the contract",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  },
                  "itemId": {
                    "type": "string",
                    "description": "Numeric ID of the item",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{pathv1}/items.json": {
      "post": {
        "operationId": "createItem",
        "summary": "createItem",
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getContractById",
                    "enum": [
                      "getContractById",
                      "updateContractById",
                      "deleteContractById",
                      "getContracts",
                      "createContract",
                      "createItem",
                      "updateItemById",
                      "deleteitemById"
                    ]
                  },
                  "contractId": {
                    "type": "string",
                    "description": "Numeric ID of the contract",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  },
                  "itemId": {
                    "type": "string",
                    "description": "Numeric ID of the item",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{pathv1}/items/{pathv2}.json": {
      "put": {
        "operationId": "updateItemById",
        "summary": "updateItemById",
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          },
          {
            "name": "pathv2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getContractById",
                    "enum": [
                      "getContractById",
                      "updateContractById",
                      "deleteContractById",
                      "getContracts",
                      "createContract",
                      "createItem",
                      "updateItemById",
                      "deleteitemById"
                    ]
                  },
                  "contractId": {
                    "type": "string",
                    "description": "Numeric ID of the contract",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  },
                  "itemId": {
                    "type": "string",
                    "description": "Numeric ID of the item",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteitemById",
        "summary": "deleteitemById",
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          },
          {
            "name": "pathv2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ph_request_type": {
                    "type": "string",
                    "description": "type of request (internal to adapter)",
                    "default": "getContractById",
                    "enum": [
                      "getContractById",
                      "updateContractById",
                      "deleteContractById",
                      "getContracts",
                      "createContract",
                      "createItem",
                      "updateItemById",
                      "deleteitemById"
                    ]
                  },
                  "contractId": {
                    "type": "string",
                    "description": "Numeric ID of the contract",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  },
                  "itemId": {
                    "type": "string",
                    "description": "Numeric ID of the item",
                    "parse": false,
                    "encode": false,
                    "encrypt": {
                      "type": "AES",
                      "key": ""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getContractById",
                      "enum": [
                        "getContractById",
                        "updateContractById",
                        "deleteContractById",
                        "getContracts",
                        "createContract",
                        "createItem",
                        "updateItemById",
                        "deleteitemById"
                      ]
                    },
                    "contractId": {
                      "type": "string",
                      "description": "Numeric ID of the contract",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "itemId": {
                      "type": "string",
                      "description": "Numeric ID of the item",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/departments.json": {
      "get": {
        "operationId": "getDepartments",
        "summary": "List Departments",
        "tags": [
          "Department"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDepartment",
        "summary": "Create Department",
        "tags": [
          "Department"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "department": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups.json": {
      "get": {
        "operationId": "getGroups",
        "summary": "List Groups",
        "tags": [
          "Group"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "Minimal user reference.",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Create Group",
        "tags": [
          "Group"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "Minimal user reference.",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hardwares.json": {
      "get": {
        "operationId": "getHardwares",
        "summary": "List Hardwares",
        "tags": [
          "Hardware"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "serial_number": {
                        "type": "string"
                      },
                      "asset_tag": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the site"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the department"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "vendor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the vendor"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "purchase_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "warranty_expiration": {
                        "type": "string",
                        "format": "date"
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "In Stock",
                          "In Use",
                          "Retired",
                          "Missing"
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createHardware",
        "summary": "Create Hardware",
        "tags": [
          "Hardware"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hardware": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "serial_number": {
                        "type": "string"
                      },
                      "asset_tag": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "object",
                        "description": "Minimal user reference.",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the site"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "department": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the department"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "vendor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Numeric ID of the vendor"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      },
                      "purchase_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "warranty_expiration": {
                        "type": "string",
                        "format": "date"
                      },
                      "state": {
                        "type": "string",
                        "enum": [
                          "In Stock",
                          "In Use",
                          "Retired",
                          "Missing"
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "serial_number": {
                      "type": "string"
                    },
                    "asset_tag": {
                      "type": "string"
                    },
                    "owner": {
                      "type": "object",
                      "description": "Minimal user reference.",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "site": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the site"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "department": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the department"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "vendor": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Numeric ID of the vendor"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "purchase_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "warranty_expiration": {
                      "type": "string",
                      "format": "date"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "In Stock",
                        "In Use",
                        "Retired",
                        "Missing"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hardwares/{pathv1}/warranties.json": {
      "get": {
        "operationId": "getWarranties",
        "summary": "getWarranties",
        "tags": [
          "Hardware"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ph_request_type": {
                      "type": "string",
                      "description": "type of request (internal to adapter)",
                      "default": "getHardwareById",
                      "enum": [
                        "getHardwareById",
                        "updateHardwareById",
                        "deleteHardwareById",
                        "getHardwares",
                        "createHardware",
                        "getWarranties",
                        "createWarranty",
                        "updateWarrantyById",
                        "deleteWarrantyById"
                      ]
                    },
                    "hardwareId": {
                      "type": "string",
                      "description": "Numeric ID of the hardware",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    },
                    "warrantyId": {
                      "type": "string",
                      "description": "Numeric ID of the warranty",
                      "parse": false,
                      "encode": false,
                      "encrypt": {
                        "type": "AES",
                        "key": ""
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWarranty",
        "summary": "createWarranty",
        "tags": [
          "Hardware"
        ],
        "parameters": [
          {
            "name": "pathv1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path parameter pathv1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
[...]
