{
  "openapi": "3.0.3",
  "info": {
    "version": "3.8.48",
    "x-vendor-api-version": "zscaler-sdk-go v3.8.48",
    "title": "Zscaler Private Access",
    "description": "Full Zscaler Private Access (ZPA) API surface, extracted from Zscaler's official zscaler-sdk-go source (github.com/zscaler/zscaler-sdk-go, release v3.8.48) -- endpoint paths, HTTP verbs, and field-level request/response schemas were derived directly from the SDK's typed Go structs and service functions. Preserved as-is (uncurated) for reference; see zscaler_zpa_api-latest.json for the curated subset covering common CRUD automation.\n\nAuthentication: OAuth2 client-credentials via Zscaler's unified OneAPI platform (brokered through Zidentity), or legacy per-tenant client_id/client_secret/customer_id auth (not modeled here).\n\nSource: https://github.com/zscaler/zscaler-sdk-go/tree/v3.8.48/zscaler/zpa/services"
  },
  "servers": [
    {
      "url": "https://api.zsapi.net",
      "description": "Default (production) OneAPI host. Non-production clouds use https://api.<cloud>.zsapi.net."
    }
  ],
  "security": [
    {
      "oneApiOAuth2": []
    }
  ],
  "paths": {
    "/appConnectorGroup": {
      "get": {
        "operationId": "appconnectorgroup_GetAll",
        "summary": "List App Connector Groups",
        "tags": [
          "App Connector Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppConnectorGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "appconnectorgroup_Create",
        "summary": "Create App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConnectorGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConnectorGroup"
                }
              }
            }
          }
        }
      }
    },
    "/appConnectorGroup/summary": {
      "get": {
        "operationId": "appconnectorgroup_GetAppconnectorGroupSummary",
        "summary": "List App Connector Group Summaries",
        "tags": [
          "App Connector Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommonSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/appConnectorGroup/{appConnectorGroupId}": {
      "get": {
        "operationId": "appconnectorgroup_Get",
        "summary": "Get App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "parameters": [
          {
            "name": "appConnectorGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector Group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConnectorGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "appconnectorgroup_Update",
        "summary": "Update App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "parameters": [
          {
            "name": "appConnectorGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector Group."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConnectorGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "appconnectorgroup_Delete",
        "summary": "Delete App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "parameters": [
          {
            "name": "appConnectorGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector Group."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/appConnectorGroup/{appConnectorGroupId}/sg": {
      "get": {
        "operationId": "appconnectorgroup_GetAppConnectorGroupSG",
        "summary": "Get App Connector Group (with Server Group detail)",
        "tags": [
          "App Connector Groups"
        ],
        "parameters": [
          {
            "name": "appConnectorGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector Group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConnectorGroup"
                }
              }
            }
          }
        }
      }
    },
    "/application": {
      "get": {
        "operationId": "applicationsegment_GetAll",
        "summary": "List Application Segments",
        "tags": [
          "Application Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationSegment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "applicationsegment_Create",
        "summary": "Create Application Segment",
        "tags": [
          "Application Segments"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationSegment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSegment"
                }
              }
            }
          }
        }
      }
    },
    "/application/bulkUpdateMultiMatch": {
      "put": {
        "operationId": "applicationsegment_UpdatebulkUpdateMultiMatch",
        "summary": "Bulk Update Application Segment Multimatch Style",
        "tags": [
          "Application Segments"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateMultiMatchPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/application/configured/count": {
      "get": {
        "operationId": "applicationsegment_GetApplicationCount",
        "summary": "Get Configured Application Segment Count",
        "tags": [
          "Application Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "appsConfigured": {
                      "type": "string",
                      "description": "The number of application segments currently configured."
                    },
                    "configuredDateInEpochSeconds": {
                      "type": "string",
                      "description": "The epoch timestamp the count was last computed."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/application/count/currentAndMaxLimit": {
      "get": {
        "operationId": "applicationsegment_GetCurrentAndMaxLimit",
        "summary": "Get Application Segment Current and Max Limit",
        "tags": [
          "Application Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "currentAppsCount": {
                      "type": "string",
                      "description": "The current number of application segments."
                    },
                    "maxAppsLimit": {
                      "type": "string",
                      "description": "The maximum number of application segments allowed for the tenant."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/application/multimatchUnsupportedReferences": {
      "post": {
        "operationId": "applicationsegment_GetMultiMatchUnsupportedReferences",
        "summary": "Get Multimatch-Unsupported References",
        "tags": [
          "Application Segments"
        ],
        "description": "Given a list of domain names, returns application segments that reference them and are not eligible for multimatch.",
        "requestBody": {
          "required": true,
          "description": "Domain names to check.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MultiMatchUnsupportedReferencesResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/application/summary": {
      "get": {
        "operationId": "applicationsegment_GetApplicationSummary",
        "summary": "List Application Segment Summaries",
        "tags": [
          "Application Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommonSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/application/validate": {
      "post": {
        "operationId": "applicationsegment_ApplicationValidation",
        "summary": "Validate Application Segment",
        "tags": [
          "Application Segments"
        ],
        "description": "Validates an application segment payload without creating it. Returns 200 with an empty body on success, or a validation error payload on failure.",
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationSegment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}": {
      "get": {
        "operationId": "applicationsegment_Get",
        "summary": "Get Application Segment",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSegment"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "applicationsegment_Update",
        "summary": "Update Application Segment",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationSegment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "applicationsegment_Delete",
        "summary": "Delete Application Segment",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          },
          {
            "name": "forceDelete",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Force deletion even if the application segment is referenced by policy rules."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/application/{applicationId}/mappings": {
      "get": {
        "operationId": "applicationsegment_GetApplicationMappings",
        "summary": "Get Application Segment Mappings",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the mapped resource."
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the mapped resource."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}/weightedLbConfig": {
      "get": {
        "operationId": "applicationsegment_GetWeightedLoadBalancerConfig",
        "summary": "Get Application Segment Weighted Load Balancer Config",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeightedLoadBalancerConfig"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "applicationsegment_UpdateWeightedLoadBalancerConfig",
        "summary": "Update Application Segment Weighted Load Balancer Config",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeightedLoadBalancerConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeightedLoadBalancerConfig"
                }
              }
            }
          }
        }
      }
    },
    "/associationType/{associationType}/provisioningKey": {
      "get": {
        "operationId": "provisioningkey_GetAllByAssociationType",
        "summary": "List Provisioning Keys",
        "tags": [
          "Provisioning Keys"
        ],
        "parameters": [
          {
            "name": "associationType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of resource this key provisions: CONNECTOR_GRP, SERVICE_EDGE_GRP, or NP_ASSISTANT_GRP."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProvisioningKey"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "provisioningkey_Create",
        "summary": "Create Provisioning Key",
        "tags": [
          "Provisioning Keys"
        ],
        "parameters": [
          {
            "name": "associationType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of resource this key provisions: CONNECTOR_GRP, SERVICE_EDGE_GRP, or NP_ASSISTANT_GRP."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisioningKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningKey"
                }
              }
            }
          }
        }
      }
    },
    "/associationType/{associationType}/provisioningKey/{provisioningKeyId}": {
      "get": {
        "operationId": "provisioningkey_Get",
        "summary": "Get Provisioning Key",
        "tags": [
          "Provisioning Keys"
        ],
        "parameters": [
          {
            "name": "associationType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of resource this key provisions."
          },
          {
            "name": "provisioningKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the provisioning key."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningKey"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "provisioningkey_Update",
        "summary": "Update Provisioning Key",
        "tags": [
          "Provisioning Keys"
        ],
        "parameters": [
          {
            "name": "associationType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of resource this key provisions."
          },
          {
            "name": "provisioningKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the provisioning key."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvisioningKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "provisioningkey_Delete",
        "summary": "Delete Provisioning Key",
        "tags": [
          "Provisioning Keys"
        ],
        "parameters": [
          {
            "name": "associationType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of resource this key provisions."
          },
          {
            "name": "provisioningKeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the provisioning key."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/connector": {
      "get": {
        "operationId": "appconnectorcontroller_GetAll",
        "summary": "List App Connectors",
        "tags": [
          "App Connectors"
        ],
        "description": "App Connectors self-register during enrollment using a provisioning key \u2014 there is no create operation.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppConnector"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connector/bulkDelete": {
      "post": {
        "operationId": "appconnectorcontroller_BulkDelete",
        "summary": "Bulk Delete App Connectors",
        "tags": [
          "App Connectors"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Unique identifiers of the App Connectors to delete."
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/connector/{appConnectorId}": {
      "get": {
        "operationId": "appconnectorcontroller_Get",
        "summary": "Get App Connector",
        "tags": [
          "App Connectors"
        ],
        "parameters": [
          {
            "name": "appConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConnector"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "appconnectorcontroller_Update",
        "summary": "Update App Connector",
        "tags": [
          "App Connectors"
        ],
        "parameters": [
          {
            "name": "appConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConnector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "appconnectorcontroller_Delete",
        "summary": "Delete App Connector",
        "tags": [
          "App Connectors"
        ],
        "parameters": [
          {
            "name": "appConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/idp": {
      "get": {
        "operationId": "idpcontroller_GetAll",
        "summary": "List Identity Providers",
        "tags": [
          "Identity Providers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdpController"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/idp/{idpId}": {
      "get": {
        "operationId": "idpcontroller_Get",
        "summary": "Get Identity Provider",
        "tags": [
          "Identity Providers"
        ],
        "parameters": [
          {
            "name": "idpId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the identity provider."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdpController"
                }
              }
            }
          }
        }
      }
    },
    "/machineGroup": {
      "get": {
        "operationId": "machinegroup_GetAll",
        "summary": "List Machine Groups",
        "tags": [
          "Machine Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MachineGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/machineGroup/summary": {
      "get": {
        "operationId": "machinegroup_GetMachineGroupSummary",
        "summary": "List Machine Group Summaries",
        "tags": [
          "Machine Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MachineGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/machineGroup/{machineGroupId}": {
      "get": {
        "operationId": "machinegroup_Get",
        "summary": "Get Machine Group",
        "tags": [
          "Machine Groups"
        ],
        "parameters": [
          {
            "name": "machineGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the machine group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MachineGroup"
                }
              }
            }
          }
        }
      }
    },
    "/network": {
      "get": {
        "operationId": "trustednetwork_GetAll",
        "summary": "List Trusted Networks",
        "tags": [
          "Trusted Networks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrustedNetwork"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/{networkId}": {
      "get": {
        "operationId": "trustednetwork_Get",
        "summary": "Get Trusted Network",
        "tags": [
          "Trusted Networks"
        ],
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the trusted network."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustedNetwork"
                }
              }
            }
          }
        }
      }
    },
    "/policySet/policyType/{policyType}": {
      "get": {
        "operationId": "policysetcontroller_GetByPolicyType",
        "summary": "Get Policy Set by Type",
        "tags": [
          "Access Policy"
        ],
        "description": "Returns the policy set (and its rules) for a given policy type, e.g. ACCESS_POLICY.",
        "parameters": [
          {
            "name": "policyType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The policy type, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY, INSPECTION_POLICY, ISOLATION_POLICY, REDIRECTION_POLICY, CREDENTIAL_POLICY, CAPABILITIES_POLICY."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySet"
                }
              }
            }
          }
        }
      }
    },
    "/policySet/rules/policyType/{policyType}": {
      "get": {
        "operationId": "policysetcontroller_GetAllByType",
        "summary": "List Policy Rules by Type",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policyType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The policy type, e.g. ACCESS_POLICY."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolicyRule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policySet/{policySetId}/reorder": {
      "put": {
        "operationId": "policysetcontroller_BulkReorder",
        "summary": "Bulk Reorder Policy Rules",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The full, ordered list of rule IDs for this policy set.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reordered"
          }
        }
      }
    },
    "/policySet/{policySetId}/rule": {
      "post": {
        "operationId": "policysetcontroller_CreateRule",
        "summary": "Create Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set to create the rule in."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRule"
                }
              }
            }
          }
        }
      }
    },
    "/policySet/{policySetId}/rule/{ruleId}": {
      "get": {
        "operationId": "policysetcontroller_GetPolicyRule",
        "summary": "Get Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRule"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "policysetcontroller_UpdateRule",
        "summary": "Update Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "policysetcontroller_Delete",
        "summary": "Delete Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/policySet/{policySetId}/rule/{ruleId}/reorder/{newOrder}": {
      "put": {
        "operationId": "policysetcontroller_Reorder",
        "summary": "Reorder Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          },
          {
            "name": "newOrder",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The new 1-based rule order/priority."
          }
        ],
        "responses": {
          "200": {
            "description": "Reordered"
          }
        }
      }
    },
    "/posture": {
      "get": {
        "operationId": "postureprofile_GetAll",
        "summary": "List Posture Profiles",
        "tags": [
          "Posture Profiles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostureProfile"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posture/{postureId}": {
      "get": {
        "operationId": "postureprofile_Get",
        "summary": "Get Posture Profile",
        "tags": [
          "Posture Profiles"
        ],
        "parameters": [
          {
            "name": "postureId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the posture profile."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostureProfile"
                }
              }
            }
          }
        }
      }
    },
    "/segmentGroup": {
      "get": {
        "operationId": "segmentgroup_GetAll",
        "summary": "List Segment Groups",
        "tags": [
          "Segment Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SegmentGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "segmentgroup_Create",
        "summary": "Create Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentGroup"
                }
              }
            }
          }
        }
      }
    },
    "/segmentGroup/{segmentGroupId}": {
      "get": {
        "operationId": "segmentgroup_Get",
        "summary": "Get Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "parameters": [
          {
            "name": "segmentGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the segment group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "segmentgroup_Update",
        "summary": "Update Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "parameters": [
          {
            "name": "segmentGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the segment group."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "segmentgroup_Delete",
        "summary": "Delete Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "parameters": [
          {
            "name": "segmentGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the segment group."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/server": {
      "get": {
        "operationId": "appservercontroller_GetAll",
        "summary": "List Application Servers",
        "tags": [
          "Application Servers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationServer"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "appservercontroller_Create",
        "summary": "Create Application Server",
        "tags": [
          "Application Servers"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationServer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationServer"
                }
              }
            }
          }
        }
      }
    },
    "/server/summary": {
      "get": {
        "operationId": "appservercontroller_GetServerSummary",
        "summary": "List Application Server Summaries",
        "tags": [
          "Application Servers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommonSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/server/{serverId}": {
      "get": {
        "operationId": "appservercontroller_Get",
        "summary": "Get Application Server",
        "tags": [
          "Application Servers"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application server."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationServer"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "appservercontroller_Update",
        "summary": "Update Application Server",
        "tags": [
          "Application Servers"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application server."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationServer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "appservercontroller_Delete",
        "summary": "Delete Application Server",
        "tags": [
          "Application Servers"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application server."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/serverGroup": {
      "get": {
        "operationId": "servergroup_GetAll",
        "summary": "List Server Groups",
        "tags": [
          "Server Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServerGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "servergroup_Create",
        "summary": "Create Server Group",
        "tags": [
          "Server Groups"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerGroup"
                }
              }
            }
          }
        }
      }
    },
    "/serverGroup/{serverGroupId}": {
      "get": {
        "operationId": "servergroup_Get",
        "summary": "Get Server Group",
        "tags": [
          "Server Groups"
        ],
        "parameters": [
          {
            "name": "serverGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the server group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "servergroup_Update",
        "summary": "Update Server Group",
        "tags": [
          "Server Groups"
        ],
        "parameters": [
          {
            "name": "serverGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the server group."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "servergroup_Delete",
        "summary": "Delete Server Group",
        "tags": [
          "Server Groups"
        ],
        "parameters": [
          {
            "name": "serverGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the server group."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/serviceEdge": {
      "get": {
        "operationId": "serviceedgecontroller_GetAll",
        "summary": "List Service Edges",
        "tags": [
          "Service Edges"
        ],
        "description": "Service Edges self-register during enrollment using a provisioning key \u2014 there is no create operation.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceEdge"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/serviceEdge/bulkDelete": {
      "post": {
        "operationId": "serviceedgecontroller_BulkDelete",
        "summary": "Bulk Delete Service Edges",
        "tags": [
          "Service Edges"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Unique identifiers of the Service Edges to delete."
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/serviceEdge/{serviceEdgeId}": {
      "get": {
        "operationId": "serviceedgecontroller_Get",
        "summary": "Get Service Edge",
        "tags": [
          "Service Edges"
        ],
        "parameters": [
          {
            "name": "serviceEdgeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the Service Edge."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceEdge"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "serviceedgecontroller_Update",
        "summary": "Update Service Edge",
        "tags": [
          "Service Edges"
        ],
        "parameters": [
          {
            "name": "serviceEdgeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the Service Edge."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEdge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "serviceedgecontroller_Delete",
        "summary": "Delete Service Edge",
        "tags": [
          "Service Edges"
        ],
        "parameters": [
          {
            "name": "serviceEdgeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the Service Edge."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/serviceEdgeGroup": {
      "get": {
        "operationId": "serviceedgegroup_GetAll",
        "summary": "List Service Edge Groups",
        "tags": [
          "Service Edge Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceEdgeGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "serviceedgegroup_Create",
        "summary": "Create Service Edge Group",
        "tags": [
          "Service Edge Groups"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEdgeGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceEdgeGroup"
                }
              }
            }
          }
        }
      }
    },
    "/serviceEdgeGroup/{serviceEdgeGroupId}": {
      "get": {
        "operationId": "serviceedgegroup_Get",
        "summary": "Get Service Edge Group",
        "tags": [
          "Service Edge Groups"
        ],
        "parameters": [
          {
            "name": "serviceEdgeGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the Service Edge Group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceEdgeGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "serviceedgegroup_Update",
        "summary": "Update Service Edge Group",
        "tags": [
          "Service Edge Groups"
        ],
        "parameters": [
          {
            "name": "serviceEdgeGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the Service Edge Group."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEdgeGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "serviceedgegroup_Delete",
        "summary": "Delete Service Edge Group",
        "tags": [
          "Service Edge Groups"
        ],
        "parameters": [
          {
            "name": "serviceEdgeGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the Service Edge Group."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oneApiOAuth2": {
        "type": "oauth2",
        "description": "OneAPI OAuth2 client-credentials flow via Zidentity. Token URL uses your organization's vanity domain: https://<vanityDomain>.zslogin.net/oauth2/v1/token. The token request also requires a fixed audience parameter (audience=https://api.zscaler.com) alongside client_id/client_secret -- configure this as an extra static token-request parameter on the integration if your platform version supports it.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://VANITY-DOMAIN.zslogin.net/oauth2/v1/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "AppConnector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the App Connector."
          },
          "name": {
            "type": "string",
            "description": "Name of the App Connector."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the App Connector."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the App Connector is enabled."
          },
          "appConnectorGroupId": {
            "type": "string",
            "description": "The unique identifier of the App Connector Group this App Connector belongs to."
          },
          "appConnectorGroupName": {
            "type": "string",
            "description": "The name of the App Connector Group this App Connector belongs to."
          },
          "provisioningKeyId": {
            "type": "string",
            "description": "The unique identifier of the provisioning key used to enroll the App Connector."
          },
          "provisioningKeyName": {
            "type": "string",
            "description": "The name of the provisioning key used to enroll the App Connector."
          },
          "controlChannelStatus": {
            "type": "string",
            "description": "The control channel connection status of the App Connector."
          },
          "currentVersion": {
            "type": "string",
            "description": "The current software version running on the App Connector."
          },
          "expectedVersion": {
            "type": "string",
            "description": "The software version the App Connector is expected to be running after upgrade."
          },
          "platform": {
            "type": "string",
            "description": "The platform the App Connector is running on."
          },
          "privateIp": {
            "type": "string",
            "description": "The private IP address of the App Connector."
          },
          "publicIp": {
            "type": "string",
            "description": "The public IP address of the App Connector."
          },
          "fingerprint": {
            "type": "string",
            "description": "The fingerprint of the App Connector."
          },
          "lastBrokerConnectTime": {
            "type": "string",
            "description": "Timestamp of the App Connector's last connection to the Zscaler broker."
          },
          "lastBrokerDisconnectTime": {
            "type": "string",
            "description": "Timestamp of the App Connector's last disconnection from the Zscaler broker."
          },
          "upgradeStatus": {
            "type": "string",
            "description": "The current upgrade status of the App Connector."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the App Connector belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the App Connector belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the App Connector was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the App Connector."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the App Connector was last modified."
          }
        }
      },
      "AppConnectorGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the App Connector Group."
          },
          "name": {
            "type": "string",
            "description": "Name of the App Connector Group."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the App Connector Group."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the App Connector Group is enabled."
          },
          "cityCountry": {
            "type": "string",
            "description": "The city and country of the App Connector Group."
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code of the App Connector Group's location."
          },
          "location": {
            "type": "string",
            "description": "The physical location of the App Connector Group."
          },
          "latitude": {
            "type": "string",
            "description": "The latitude for the App Connector Group's location."
          },
          "longitude": {
            "type": "string",
            "description": "The longitude for the App Connector Group's location."
          },
          "dnsQueryType": {
            "type": "string",
            "description": "Whether the App Connector Group supports IPv4 (IPV4), IPv6 (IPV6), or both (IPV4_IPV6)."
          },
          "geoLocationId": {
            "type": "string",
            "description": "The geographical location ID of the App Connector Group."
          },
          "upgradeDay": {
            "type": "string",
            "description": "The day of the week the App Connector Group is set to auto-upgrade."
          },
          "upgradeTimeInSecs": {
            "type": "string",
            "description": "The time of day, in seconds since midnight GMT, the App Connector Group is set to auto-upgrade."
          },
          "versionProfileId": {
            "type": "string",
            "description": "The version profile ID assigned to the App Connector Group."
          },
          "versionProfileName": {
            "type": "string",
            "description": "The version profile name assigned to the App Connector Group."
          },
          "overrideVersionProfile": {
            "type": "boolean",
            "description": "Whether the default version profile is overridden for the App Connector Group."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the App Connector Group belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the App Connector Group belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the App Connector Group was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the App Connector Group."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the App Connector Group was last modified."
          },
          "serverGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the server group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the server group."
                }
              }
            },
            "description": "Server groups associated with this App Connector Group."
          }
        },
        "required": [
          "name",
          "location",
          "latitude",
          "longitude"
        ]
      },
      "ApplicationSegment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the application segment."
          },
          "name": {
            "type": "string",
            "description": "Name of the application segment."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the application segment."
          },
          "domainNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of domains and IPs for the application segment."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the application segment is enabled."
          },
          "segmentGroupId": {
            "type": "string",
            "description": "The unique identifier of the segment group this application segment belongs to."
          },
          "segmentGroupName": {
            "type": "string",
            "description": "The name of the segment group this application segment belongs to."
          },
          "bypassType": {
            "type": "string",
            "description": "Indicates whether Access Policy evaluation is bypassed for the application segment (ALWAYS, NEVER, ON_ACCESS_POLICY)."
          },
          "isCnameEnabled": {
            "type": "boolean",
            "description": "Whether DNS resolution of CNAMEs is enabled for the application segment."
          },
          "ipAnchored": {
            "type": "boolean",
            "description": "Whether IP Anchoring is enabled for the application segment."
          },
          "healthCheckType": {
            "type": "string",
            "description": "The health check type configured for the application segment."
          },
          "healthReporting": {
            "type": "string",
            "description": "The health reporting mode for the application segment (NONE, ON_ACCESS, CONTINUOUS)."
          },
          "icmpAccessType": {
            "type": "string",
            "description": "Indicates the ICMP access type for the application segment."
          },
          "doubleEncrypt": {
            "type": "boolean",
            "description": "Whether double encryption is enabled for the application segment."
          },
          "passiveHealthEnabled": {
            "type": "boolean",
            "description": "Whether passive health checks are enabled for the application segment."
          },
          "tcpPortRanges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "TCP port ranges, expressed as a flat list of alternating from/to values."
          },
          "udpPortRanges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "UDP port ranges, expressed as a flat list of alternating from/to values."
          },
          "tcpPortRange": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "A TCP/UDP port range boundary for an application segment.",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Starting port number of the range."
                },
                "to": {
                  "type": "string",
                  "description": "Ending port number of the range."
                }
              }
            },
            "description": "TCP port ranges, expressed as from/to objects."
          },
          "udpPortRange": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "A TCP/UDP port range boundary for an application segment.",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Starting port number of the range."
                },
                "to": {
                  "type": "string",
                  "description": "Ending port number of the range."
                }
              }
            },
            "description": "UDP port ranges, expressed as from/to objects."
          },
          "serverGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the server group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the server group."
                }
              }
            },
            "description": "Server groups associated with this application segment."
          },
          "defaultIdleTimeout": {
            "type": "string",
            "description": "Default idle timeout applied to the application segment."
          },
          "defaultMaxAge": {
            "type": "string",
            "description": "Default maximum age applied to the application segment."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the application segment belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the application segment belongs to."
          },
          "matchStyle": {
            "type": "string",
            "description": "The multimatch style for the application segment (EXCLUSIVE or INCLUSIVE)."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the application segment was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the application segment."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the application segment was last modified."
          }
        },
        "required": [
          "name",
          "domainNames",
          "segmentGroupId"
        ]
      },
      "ApplicationServer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the application server."
          },
          "name": {
            "type": "string",
            "description": "Name of the application server."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the application server."
          },
          "address": {
            "type": "string",
            "description": "The IP address or domain name of the application server."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the application server is enabled."
          },
          "appServerGroupIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The unique identifiers of the server groups this application server is a member of."
          },
          "configSpace": {
            "type": "string",
            "description": "The configuration space of the application server."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the application server belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the application server belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the application server was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the application server."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the application server was last modified."
          }
        },
        "required": [
          "name",
          "address"
        ]
      },
      "ApplicationValidationError": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the application segment that failed validation."
          },
          "reason": {
            "type": "string",
            "description": "The reason validation failed."
          },
          "params": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The specific parameters that failed validation."
          }
        }
      },
      "BulkUpdateMultiMatchPayload": {
        "type": "object",
        "properties": {
          "applicationIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "The application segment IDs to update."
          },
          "matchStyle": {
            "type": "string",
            "description": "The multimatch style to apply (EXCLUSIVE or INCLUSIVE)."
          }
        },
        "required": [
          "applicationIds",
          "matchStyle"
        ]
      },
      "CommonSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier."
          },
          "name": {
            "type": "string",
            "description": "Name."
          }
        }
      },
      "IdpController": {
        "type": "object",
        "description": "A read-only identity provider configuration used as an access policy condition (configured under Identity & Access Management, not created through this API).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the identity provider."
          },
          "name": {
            "type": "string",
            "description": "Name of the identity provider."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the identity provider."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the identity provider is enabled."
          },
          "idpEntityId": {
            "type": "string",
            "description": "The SAML entity ID of the identity provider."
          },
          "loginUrl": {
            "type": "string",
            "description": "The login URL of the identity provider."
          },
          "domainList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Domains associated with the identity provider."
          },
          "ssoType": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The SSO types configured for the identity provider (e.g. USER, ADMIN)."
          },
          "scimEnabled": {
            "type": "boolean",
            "description": "Whether SCIM provisioning is enabled for the identity provider."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the identity provider was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the identity provider."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the identity provider was last modified."
          }
        }
      },
      "MachineGroup": {
        "type": "object",
        "description": "A read-only grouping of machine identities used as an access policy condition (managed via SCIM/IdP, not created through this API).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the machine group."
          },
          "name": {
            "type": "string",
            "description": "Name of the machine group."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the machine group."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the machine group is enabled."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the machine group belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the machine group belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the machine group was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the machine group."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the machine group was last modified."
          }
        }
      },
      "MultiMatchUnsupportedReferencesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the application segment."
          },
          "appSegmentName": {
            "type": "string",
            "description": "The name of the application segment."
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Domains on the application segment that conflict with multimatch."
          },
          "tcpPorts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "TCP ports on the application segment that conflict with multimatch."
          },
          "matchStyle": {
            "type": "string",
            "description": "The application segment's current multimatch style."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the application segment belongs to."
          }
        }
      },
      "PolicyRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the policy rule."
          },
          "name": {
            "type": "string",
            "description": "Name of the policy rule."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the policy rule."
          },
          "action": {
            "type": "string",
            "description": "The action of the rule, e.g. ALLOW, DENY, REQUIRE_APPROVAL, INJECT_CREDENTIALS, CHECK_CAPABILITIES, BYPASS, INTERCEPT, ISOLATE, REDIRECT_DEFAULT, REDIRECT_ALWAYS, REDIRECT_PREFERRED."
          },
          "actionId": {
            "type": "string",
            "description": "The unique identifier of the action associated with the rule, when the action references another object (e.g. an isolation profile)."
          },
          "policySetId": {
            "type": "string",
            "description": "The unique identifier of the policy set (policy type) this rule belongs to."
          },
          "policyType": {
            "type": "string",
            "description": "The type of policy this rule belongs to, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY, INSPECTION_POLICY, ISOLATION_POLICY, REDIRECTION_POLICY, CREDENTIAL_POLICY, CAPABILITIES_POLICY."
          },
          "operator": {
            "type": "string",
            "description": "How the rule's conditions are combined (AND or OR)."
          },
          "priority": {
            "type": "string",
            "description": "The rule's evaluation priority."
          },
          "ruleOrder": {
            "type": "string",
            "description": "The order in which the rule is evaluated relative to other rules in the same policy set."
          },
          "disabled": {
            "type": "string",
            "description": "Whether the rule is disabled (true/false as a string, per the API)."
          },
          "defaultRule": {
            "type": "boolean",
            "description": "Whether this is the policy set's default rule."
          },
          "customMsg": {
            "type": "string",
            "description": "A custom message shown to the end user when this rule is matched, when supported by the rule's action."
          },
          "conditions": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "A condition block combining one or more operands with an AND/OR operator.",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the condition."
                },
                "operator": {
                  "type": "string",
                  "description": "How the operands within this condition are combined (AND or OR)."
                },
                "negated": {
                  "type": "boolean",
                  "description": "Whether the condition's result is negated."
                },
                "operands": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "A single condition operand evaluated by an access policy rule.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the operand."
                      },
                      "objectType": {
                        "type": "string",
                        "description": "The object type the operand evaluates, e.g. APP, APP_GROUP, CLIENT_TYPE, POSTURE, TRUSTED_NETWORK, SAML, SCIM, SCIM_GROUP, IDP."
                      },
                      "lhs": {
                        "type": "string",
                        "description": "The key of the operand, e.g. an IDP, posture profile, or SCIM attribute ID."
                      },
                      "rhs": {
                        "type": "string",
                        "description": "The value to be matched for the LHS/object type combination, e.g. an application segment ID."
                      },
                      "idpId": {
                        "type": "string",
                        "description": "The unique identifier of the identity provider associated with this operand, when applicable."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the resource referenced by this operand."
                      },
                      "microtenantId": {
                        "type": "string",
                        "description": "The unique identifier of the microtenant this operand belongs to."
                      }
                    }
                  },
                  "description": "The operands evaluated by this condition."
                },
                "microtenantId": {
                  "type": "string",
                  "description": "The unique identifier of the microtenant this condition belongs to."
                }
              }
            },
            "description": "The conditions evaluated by this rule."
          },
          "appServerGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the server group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the server group."
                }
              }
            },
            "description": "Server groups this rule applies to."
          },
          "appConnectorGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the App Connector Group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the App Connector Group."
                }
              }
            },
            "description": "App Connector Groups this rule applies to."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant this rule belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant this rule belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the rule was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the rule."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the rule was last modified."
          }
        },
        "required": [
          "name",
          "policySetId"
        ]
      },
      "PolicySet": {
        "type": "object",
        "description": "A policy set (one per policy type, e.g. ACCESS_POLICY) and the rules it contains.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the policy set."
          },
          "name": {
            "type": "string",
            "description": "Name of the policy set."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the policy set."
          },
          "policyType": {
            "type": "string",
            "description": "The type of the policy set, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the policy set is enabled."
          },
          "sorted": {
            "type": "boolean",
            "description": "Whether the policy set's rules are sorted."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant this policy set belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant this policy set belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the policy set was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the policy set."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the policy set was last modified."
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the policy rule."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the policy rule."
                },
                "description": {
                  "type": "string",
                  "description": "Additional information about the policy rule."
                },
                "action": {
                  "type": "string",
                  "description": "The action of the rule, e.g. ALLOW, DENY, REQUIRE_APPROVAL, INJECT_CREDENTIALS, CHECK_CAPABILITIES, BYPASS, INTERCEPT, ISOLATE, REDIRECT_DEFAULT, REDIRECT_ALWAYS, REDIRECT_PREFERRED."
                },
                "actionId": {
                  "type": "string",
                  "description": "The unique identifier of the action associated with the rule, when the action references another object (e.g. an isolation profile)."
                },
                "policySetId": {
                  "type": "string",
                  "description": "The unique identifier of the policy set (policy type) this rule belongs to."
                },
                "policyType": {
                  "type": "string",
                  "description": "The type of policy this rule belongs to, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY, INSPECTION_POLICY, ISOLATION_POLICY, REDIRECTION_POLICY, CREDENTIAL_POLICY, CAPABILITIES_POLICY."
                },
                "operator": {
                  "type": "string",
                  "description": "How the rule's conditions are combined (AND or OR)."
                },
                "priority": {
                  "type": "string",
                  "description": "The rule's evaluation priority."
                },
                "ruleOrder": {
                  "type": "string",
                  "description": "The order in which the rule is evaluated relative to other rules in the same policy set."
                },
                "disabled": {
                  "type": "string",
                  "description": "Whether the rule is disabled (true/false as a string, per the API)."
                },
                "defaultRule": {
                  "type": "boolean",
                  "description": "Whether this is the policy set's default rule."
                },
                "customMsg": {
                  "type": "string",
                  "description": "A custom message shown to the end user when this rule is matched, when supported by the rule's action."
                },
                "conditions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "A condition block combining one or more operands with an AND/OR operator.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the condition."
                      },
                      "operator": {
                        "type": "string",
                        "description": "How the operands within this condition are combined (AND or OR)."
                      },
                      "negated": {
                        "type": "boolean",
                        "description": "Whether the condition's result is negated."
                      },
                      "operands": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "A single condition operand evaluated by an access policy rule.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier of the operand."
                            },
                            "objectType": {
                              "type": "string",
                              "description": "The object type the operand evaluates, e.g. APP, APP_GROUP, CLIENT_TYPE, POSTURE, TRUSTED_NETWORK, SAML, SCIM, SCIM_GROUP, IDP."
                            },
                            "lhs": {
                              "type": "string",
                              "description": "The key of the operand, e.g. an IDP, posture profile, or SCIM attribute ID."
                            },
                            "rhs": {
                              "type": "string",
                              "description": "The value to be matched for the LHS/object type combination, e.g. an application segment ID."
                            },
                            "idpId": {
                              "type": "string",
                              "description": "The unique identifier of the identity provider associated with this operand, when applicable."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the resource referenced by this operand."
                            },
                            "microtenantId": {
                              "type": "string",
                              "description": "The unique identifier of the microtenant this operand belongs to."
                            }
                          }
                        },
[...]
