{
  "openapi": "3.0.3",
  "info": {
    "version": "latest",
    "x-vendor-api-version": "zscaler-sdk-go v3.8.48",
    "title": "Zscaler Private Access",
    "description": "Zscaler Private Access (ZPA) API provides programmatic access to ZPA's core Zero Trust Network Access configuration objects: application segments, segment groups, server groups, App Connectors and App Connector Groups, and access policy rules.\n\nAuthentication: OAuth2 client-credentials via Zscaler's unified OneAPI platform (brokered through Zidentity). Requires OneAPI access to be enabled for your organization by your Zscaler account team -- it is not self-service. Generate a client ID/secret at Admin Portal > API Key Management > OneAPI Credentials.\n\nThis spec was built directly from Zscaler's official, actively-maintained zscaler-sdk-go source (github.com/zscaler/zscaler-sdk-go) -- endpoint paths, HTTP verbs, and field-level request/response schemas were extracted from the SDK's typed Go structs and service functions.\n\nSource: https://github.com/zscaler/zscaler-sdk-go/tree/master/zscaler/zpa/services",
    "x-itential-curated": "Trimmed to ZPA's most commonly automated policy/config areas rather than its full 100+ service surface: Application Segments, Segment Groups, Server Groups, App Connectors & App Connector Groups, and Access Policy rules -- 31 operations, all traced to real endpoint constants and typed request/response structs in Zscaler's official SDK. Excludes Service Edges/Service Edge Groups, provisioning keys, application servers, SAML/SCIM/IdP configuration, device posture and trusted network reference data, browser access/PRA/inspection/isolation policy types, and dozens of other more specialized ZPA service areas -- see the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "url": "https://api.zsapi.net",
      "description": "Default (production) OneAPI host. Non-production clouds use https://api.<cloud>.zsapi.net."
    }
  ],
  "security": [
    {
      "oneApiOAuth2": []
    }
  ],
  "paths": {
    "/appConnectorGroup": {
      "get": {
        "operationId": "appconnectorgroup_GetAll",
        "summary": "List App Connector Groups",
        "tags": [
          "App Connector Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppConnectorGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "appconnectorgroup_Create",
        "summary": "Create App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConnectorGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConnectorGroup"
                }
              }
            }
          }
        }
      }
    },
    "/appConnectorGroup/{appConnectorGroupId}": {
      "get": {
        "operationId": "appconnectorgroup_Get",
        "summary": "Get App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "parameters": [
          {
            "name": "appConnectorGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector Group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConnectorGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "appconnectorgroup_Update",
        "summary": "Update App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "parameters": [
          {
            "name": "appConnectorGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector Group."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConnectorGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "appconnectorgroup_Delete",
        "summary": "Delete App Connector Group",
        "tags": [
          "App Connector Groups"
        ],
        "parameters": [
          {
            "name": "appConnectorGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector Group."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/application": {
      "get": {
        "operationId": "applicationsegment_GetAll",
        "summary": "List Application Segments",
        "tags": [
          "Application Segments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApplicationSegment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "applicationsegment_Create",
        "summary": "Create Application Segment",
        "tags": [
          "Application Segments"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationSegment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSegment"
                }
              }
            }
          }
        }
      }
    },
    "/application/{applicationId}": {
      "get": {
        "operationId": "applicationsegment_Get",
        "summary": "Get Application Segment",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationSegment"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "applicationsegment_Update",
        "summary": "Update Application Segment",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationSegment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "applicationsegment_Delete",
        "summary": "Delete Application Segment",
        "tags": [
          "Application Segments"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the application segment."
          },
          {
            "name": "forceDelete",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Force deletion even if the application segment is referenced by policy rules."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/connector": {
      "get": {
        "operationId": "appconnectorcontroller_GetAll",
        "summary": "List App Connectors",
        "tags": [
          "App Connectors"
        ],
        "description": "App Connectors self-register during enrollment using a provisioning key \u2014 there is no create operation.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppConnector"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connector/{appConnectorId}": {
      "get": {
        "operationId": "appconnectorcontroller_Get",
        "summary": "Get App Connector",
        "tags": [
          "App Connectors"
        ],
        "parameters": [
          {
            "name": "appConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppConnector"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "appconnectorcontroller_Update",
        "summary": "Update App Connector",
        "tags": [
          "App Connectors"
        ],
        "parameters": [
          {
            "name": "appConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppConnector"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "appconnectorcontroller_Delete",
        "summary": "Delete App Connector",
        "tags": [
          "App Connectors"
        ],
        "parameters": [
          {
            "name": "appConnectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the App Connector."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/policySet/policyType/{policyType}": {
      "get": {
        "operationId": "policysetcontroller_GetByPolicyType",
        "summary": "Get Policy Set by Type",
        "tags": [
          "Access Policy"
        ],
        "description": "Returns the policy set (and its rules) for a given policy type, e.g. ACCESS_POLICY.",
        "parameters": [
          {
            "name": "policyType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The policy type, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY, INSPECTION_POLICY, ISOLATION_POLICY, REDIRECTION_POLICY, CREDENTIAL_POLICY, CAPABILITIES_POLICY."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySet"
                }
              }
            }
          }
        }
      }
    },
    "/policySet/rules/policyType/{policyType}": {
      "get": {
        "operationId": "policysetcontroller_GetAllByType",
        "summary": "List Policy Rules by Type",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policyType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The policy type, e.g. ACCESS_POLICY."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolicyRule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policySet/{policySetId}/rule": {
      "post": {
        "operationId": "policysetcontroller_CreateRule",
        "summary": "Create Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set to create the rule in."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRule"
                }
              }
            }
          }
        }
      }
    },
    "/policySet/{policySetId}/rule/{ruleId}": {
      "get": {
        "operationId": "policysetcontroller_GetPolicyRule",
        "summary": "Get Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyRule"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "policysetcontroller_UpdateRule",
        "summary": "Update Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "policysetcontroller_Delete",
        "summary": "Delete Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/policySet/{policySetId}/rule/{ruleId}/reorder/{newOrder}": {
      "put": {
        "operationId": "policysetcontroller_Reorder",
        "summary": "Reorder Policy Rule",
        "tags": [
          "Access Policy"
        ],
        "parameters": [
          {
            "name": "policySetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy set."
          },
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the policy rule."
          },
          {
            "name": "newOrder",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The new 1-based rule order/priority."
          }
        ],
        "responses": {
          "200": {
            "description": "Reordered"
          }
        }
      }
    },
    "/segmentGroup": {
      "get": {
        "operationId": "segmentgroup_GetAll",
        "summary": "List Segment Groups",
        "tags": [
          "Segment Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SegmentGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "segmentgroup_Create",
        "summary": "Create Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentGroup"
                }
              }
            }
          }
        }
      }
    },
    "/segmentGroup/{segmentGroupId}": {
      "get": {
        "operationId": "segmentgroup_Get",
        "summary": "Get Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "parameters": [
          {
            "name": "segmentGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the segment group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "segmentgroup_Update",
        "summary": "Update Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "parameters": [
          {
            "name": "segmentGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the segment group."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "segmentgroup_Delete",
        "summary": "Delete Segment Group",
        "tags": [
          "Segment Groups"
        ],
        "parameters": [
          {
            "name": "segmentGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the segment group."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/serverGroup": {
      "get": {
        "operationId": "servergroup_GetAll",
        "summary": "List Server Groups",
        "tags": [
          "Server Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServerGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "servergroup_Create",
        "summary": "Create Server Group",
        "tags": [
          "Server Groups"
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerGroup"
                }
              }
            }
          }
        }
      }
    },
    "/serverGroup/{serverGroupId}": {
      "get": {
        "operationId": "servergroup_Get",
        "summary": "Get Server Group",
        "tags": [
          "Server Groups"
        ],
        "parameters": [
          {
            "name": "serverGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the server group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerGroup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "servergroup_Update",
        "summary": "Update Server Group",
        "tags": [
          "Server Groups"
        ],
        "parameters": [
          {
            "name": "serverGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the server group."
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerGroup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "operationId": "servergroup_Delete",
        "summary": "Delete Server Group",
        "tags": [
          "Server Groups"
        ],
        "parameters": [
          {
            "name": "serverGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the server group."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oneApiOAuth2": {
        "type": "oauth2",
        "description": "OneAPI OAuth2 client-credentials flow via Zidentity. Token URL uses your organization's vanity domain: https://<vanityDomain>.zslogin.net/oauth2/v1/token. The token request also requires a fixed audience parameter (audience=https://api.zscaler.com) alongside client_id/client_secret -- configure this as an extra static token-request parameter on the integration if your platform version supports it.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://VANITY-DOMAIN.zslogin.net/oauth2/v1/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "AppConnector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the App Connector."
          },
          "name": {
            "type": "string",
            "description": "Name of the App Connector."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the App Connector."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the App Connector is enabled."
          },
          "appConnectorGroupId": {
            "type": "string",
            "description": "The unique identifier of the App Connector Group this App Connector belongs to."
          },
          "appConnectorGroupName": {
            "type": "string",
            "description": "The name of the App Connector Group this App Connector belongs to."
          },
          "provisioningKeyId": {
            "type": "string",
            "description": "The unique identifier of the provisioning key used to enroll the App Connector."
          },
          "provisioningKeyName": {
            "type": "string",
            "description": "The name of the provisioning key used to enroll the App Connector."
          },
          "controlChannelStatus": {
            "type": "string",
            "description": "The control channel connection status of the App Connector."
          },
          "currentVersion": {
            "type": "string",
            "description": "The current software version running on the App Connector."
          },
          "expectedVersion": {
            "type": "string",
            "description": "The software version the App Connector is expected to be running after upgrade."
          },
          "platform": {
            "type": "string",
            "description": "The platform the App Connector is running on."
          },
          "privateIp": {
            "type": "string",
            "description": "The private IP address of the App Connector."
          },
          "publicIp": {
            "type": "string",
            "description": "The public IP address of the App Connector."
          },
          "fingerprint": {
            "type": "string",
            "description": "The fingerprint of the App Connector."
          },
          "lastBrokerConnectTime": {
            "type": "string",
            "description": "Timestamp of the App Connector's last connection to the Zscaler broker."
          },
          "lastBrokerDisconnectTime": {
            "type": "string",
            "description": "Timestamp of the App Connector's last disconnection from the Zscaler broker."
          },
          "upgradeStatus": {
            "type": "string",
            "description": "The current upgrade status of the App Connector."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the App Connector belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the App Connector belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the App Connector was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the App Connector."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the App Connector was last modified."
          }
        }
      },
      "AppConnectorGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the App Connector Group."
          },
          "name": {
            "type": "string",
            "description": "Name of the App Connector Group."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the App Connector Group."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the App Connector Group is enabled."
          },
          "cityCountry": {
            "type": "string",
            "description": "The city and country of the App Connector Group."
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code of the App Connector Group's location."
          },
          "location": {
            "type": "string",
            "description": "The physical location of the App Connector Group."
          },
          "latitude": {
            "type": "string",
            "description": "The latitude for the App Connector Group's location."
          },
          "longitude": {
            "type": "string",
            "description": "The longitude for the App Connector Group's location."
          },
          "dnsQueryType": {
            "type": "string",
            "description": "Whether the App Connector Group supports IPv4 (IPV4), IPv6 (IPV6), or both (IPV4_IPV6)."
          },
          "geoLocationId": {
            "type": "string",
            "description": "The geographical location ID of the App Connector Group."
          },
          "upgradeDay": {
            "type": "string",
            "description": "The day of the week the App Connector Group is set to auto-upgrade."
          },
          "upgradeTimeInSecs": {
            "type": "string",
            "description": "The time of day, in seconds since midnight GMT, the App Connector Group is set to auto-upgrade."
          },
          "versionProfileId": {
            "type": "string",
            "description": "The version profile ID assigned to the App Connector Group."
          },
          "versionProfileName": {
            "type": "string",
            "description": "The version profile name assigned to the App Connector Group."
          },
          "overrideVersionProfile": {
            "type": "boolean",
            "description": "Whether the default version profile is overridden for the App Connector Group."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the App Connector Group belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the App Connector Group belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the App Connector Group was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the App Connector Group."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the App Connector Group was last modified."
          },
          "serverGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the server group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the server group."
                }
              }
            },
            "description": "Server groups associated with this App Connector Group."
          }
        },
        "required": [
          "name",
          "location",
          "latitude",
          "longitude"
        ]
      },
      "ApplicationSegment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the application segment."
          },
          "name": {
            "type": "string",
            "description": "Name of the application segment."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the application segment."
          },
          "domainNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of domains and IPs for the application segment."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the application segment is enabled."
          },
          "segmentGroupId": {
            "type": "string",
            "description": "The unique identifier of the segment group this application segment belongs to."
          },
          "segmentGroupName": {
            "type": "string",
            "description": "The name of the segment group this application segment belongs to."
          },
          "bypassType": {
            "type": "string",
            "description": "Indicates whether Access Policy evaluation is bypassed for the application segment (ALWAYS, NEVER, ON_ACCESS_POLICY)."
          },
          "isCnameEnabled": {
            "type": "boolean",
            "description": "Whether DNS resolution of CNAMEs is enabled for the application segment."
          },
          "ipAnchored": {
            "type": "boolean",
            "description": "Whether IP Anchoring is enabled for the application segment."
          },
          "healthCheckType": {
            "type": "string",
            "description": "The health check type configured for the application segment."
          },
          "healthReporting": {
            "type": "string",
            "description": "The health reporting mode for the application segment (NONE, ON_ACCESS, CONTINUOUS)."
          },
          "icmpAccessType": {
            "type": "string",
            "description": "Indicates the ICMP access type for the application segment."
          },
          "doubleEncrypt": {
            "type": "boolean",
            "description": "Whether double encryption is enabled for the application segment."
          },
          "passiveHealthEnabled": {
            "type": "boolean",
            "description": "Whether passive health checks are enabled for the application segment."
          },
          "tcpPortRanges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "TCP port ranges, expressed as a flat list of alternating from/to values."
          },
          "udpPortRanges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "UDP port ranges, expressed as a flat list of alternating from/to values."
          },
          "tcpPortRange": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "A TCP/UDP port range boundary for an application segment.",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Starting port number of the range."
                },
                "to": {
                  "type": "string",
                  "description": "Ending port number of the range."
                }
              }
            },
            "description": "TCP port ranges, expressed as from/to objects."
          },
          "udpPortRange": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "A TCP/UDP port range boundary for an application segment.",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "Starting port number of the range."
                },
                "to": {
                  "type": "string",
                  "description": "Ending port number of the range."
                }
              }
            },
            "description": "UDP port ranges, expressed as from/to objects."
          },
          "serverGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the server group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the server group."
                }
              }
            },
            "description": "Server groups associated with this application segment."
          },
          "defaultIdleTimeout": {
            "type": "string",
            "description": "Default idle timeout applied to the application segment."
          },
          "defaultMaxAge": {
            "type": "string",
            "description": "Default maximum age applied to the application segment."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the application segment belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the application segment belongs to."
          },
          "matchStyle": {
            "type": "string",
            "description": "The multimatch style for the application segment (EXCLUSIVE or INCLUSIVE)."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the application segment was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the application segment."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the application segment was last modified."
          }
        },
        "required": [
          "name",
          "domainNames",
          "segmentGroupId"
        ]
      },
      "PolicyRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the policy rule."
          },
          "name": {
            "type": "string",
            "description": "Name of the policy rule."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the policy rule."
          },
          "action": {
            "type": "string",
            "description": "The action of the rule, e.g. ALLOW, DENY, REQUIRE_APPROVAL, INJECT_CREDENTIALS, CHECK_CAPABILITIES, BYPASS, INTERCEPT, ISOLATE, REDIRECT_DEFAULT, REDIRECT_ALWAYS, REDIRECT_PREFERRED."
          },
          "actionId": {
            "type": "string",
            "description": "The unique identifier of the action associated with the rule, when the action references another object (e.g. an isolation profile)."
          },
          "policySetId": {
            "type": "string",
            "description": "The unique identifier of the policy set (policy type) this rule belongs to."
          },
          "policyType": {
            "type": "string",
            "description": "The type of policy this rule belongs to, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY, INSPECTION_POLICY, ISOLATION_POLICY, REDIRECTION_POLICY, CREDENTIAL_POLICY, CAPABILITIES_POLICY."
          },
          "operator": {
            "type": "string",
            "description": "How the rule's conditions are combined (AND or OR)."
          },
          "priority": {
            "type": "string",
            "description": "The rule's evaluation priority."
          },
          "ruleOrder": {
            "type": "string",
            "description": "The order in which the rule is evaluated relative to other rules in the same policy set."
          },
          "disabled": {
            "type": "string",
            "description": "Whether the rule is disabled (true/false as a string, per the API)."
          },
          "defaultRule": {
            "type": "boolean",
            "description": "Whether this is the policy set's default rule."
          },
          "customMsg": {
            "type": "string",
            "description": "A custom message shown to the end user when this rule is matched, when supported by the rule's action."
          },
          "conditions": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "A condition block combining one or more operands with an AND/OR operator.",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the condition."
                },
                "operator": {
                  "type": "string",
                  "description": "How the operands within this condition are combined (AND or OR)."
                },
                "negated": {
                  "type": "boolean",
                  "description": "Whether the condition's result is negated."
                },
                "operands": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "A single condition operand evaluated by an access policy rule.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the operand."
                      },
                      "objectType": {
                        "type": "string",
                        "description": "The object type the operand evaluates, e.g. APP, APP_GROUP, CLIENT_TYPE, POSTURE, TRUSTED_NETWORK, SAML, SCIM, SCIM_GROUP, IDP."
                      },
                      "lhs": {
                        "type": "string",
                        "description": "The key of the operand, e.g. an IDP, posture profile, or SCIM attribute ID."
                      },
                      "rhs": {
                        "type": "string",
                        "description": "The value to be matched for the LHS/object type combination, e.g. an application segment ID."
                      },
                      "idpId": {
                        "type": "string",
                        "description": "The unique identifier of the identity provider associated with this operand, when applicable."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the resource referenced by this operand."
                      },
                      "microtenantId": {
                        "type": "string",
                        "description": "The unique identifier of the microtenant this operand belongs to."
                      }
                    }
                  },
                  "description": "The operands evaluated by this condition."
                },
                "microtenantId": {
                  "type": "string",
                  "description": "The unique identifier of the microtenant this condition belongs to."
                }
              }
            },
            "description": "The conditions evaluated by this rule."
          },
          "appServerGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the server group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the server group."
                }
              }
            },
            "description": "Server groups this rule applies to."
          },
          "appConnectorGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the App Connector Group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the App Connector Group."
                }
              }
            },
            "description": "App Connector Groups this rule applies to."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant this rule belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant this rule belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the rule was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the rule."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the rule was last modified."
          }
        },
        "required": [
          "name",
          "policySetId"
        ]
      },
      "PolicySet": {
        "type": "object",
        "description": "A policy set (one per policy type, e.g. ACCESS_POLICY) and the rules it contains.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the policy set."
          },
          "name": {
            "type": "string",
            "description": "Name of the policy set."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the policy set."
          },
          "policyType": {
            "type": "string",
            "description": "The type of the policy set, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the policy set is enabled."
          },
          "sorted": {
            "type": "boolean",
            "description": "Whether the policy set's rules are sorted."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant this policy set belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant this policy set belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the policy set was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the policy set."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the policy set was last modified."
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the policy rule."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the policy rule."
                },
                "description": {
                  "type": "string",
                  "description": "Additional information about the policy rule."
                },
                "action": {
                  "type": "string",
                  "description": "The action of the rule, e.g. ALLOW, DENY, REQUIRE_APPROVAL, INJECT_CREDENTIALS, CHECK_CAPABILITIES, BYPASS, INTERCEPT, ISOLATE, REDIRECT_DEFAULT, REDIRECT_ALWAYS, REDIRECT_PREFERRED."
                },
                "actionId": {
                  "type": "string",
                  "description": "The unique identifier of the action associated with the rule, when the action references another object (e.g. an isolation profile)."
                },
                "policySetId": {
                  "type": "string",
                  "description": "The unique identifier of the policy set (policy type) this rule belongs to."
                },
                "policyType": {
                  "type": "string",
                  "description": "The type of policy this rule belongs to, e.g. ACCESS_POLICY, TIMEOUT_POLICY, CLIENT_FORWARDING_POLICY, INSPECTION_POLICY, ISOLATION_POLICY, REDIRECTION_POLICY, CREDENTIAL_POLICY, CAPABILITIES_POLICY."
                },
                "operator": {
                  "type": "string",
                  "description": "How the rule's conditions are combined (AND or OR)."
                },
                "priority": {
                  "type": "string",
                  "description": "The rule's evaluation priority."
                },
                "ruleOrder": {
                  "type": "string",
                  "description": "The order in which the rule is evaluated relative to other rules in the same policy set."
                },
                "disabled": {
                  "type": "string",
                  "description": "Whether the rule is disabled (true/false as a string, per the API)."
                },
                "defaultRule": {
                  "type": "boolean",
                  "description": "Whether this is the policy set's default rule."
                },
                "customMsg": {
                  "type": "string",
                  "description": "A custom message shown to the end user when this rule is matched, when supported by the rule's action."
                },
                "conditions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "A condition block combining one or more operands with an AND/OR operator.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the condition."
                      },
                      "operator": {
                        "type": "string",
                        "description": "How the operands within this condition are combined (AND or OR)."
                      },
                      "negated": {
                        "type": "boolean",
                        "description": "Whether the condition's result is negated."
                      },
                      "operands": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "A single condition operand evaluated by an access policy rule.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier of the operand."
                            },
                            "objectType": {
                              "type": "string",
                              "description": "The object type the operand evaluates, e.g. APP, APP_GROUP, CLIENT_TYPE, POSTURE, TRUSTED_NETWORK, SAML, SCIM, SCIM_GROUP, IDP."
                            },
                            "lhs": {
                              "type": "string",
                              "description": "The key of the operand, e.g. an IDP, posture profile, or SCIM attribute ID."
                            },
                            "rhs": {
                              "type": "string",
                              "description": "The value to be matched for the LHS/object type combination, e.g. an application segment ID."
                            },
                            "idpId": {
                              "type": "string",
                              "description": "The unique identifier of the identity provider associated with this operand, when applicable."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the resource referenced by this operand."
                            },
                            "microtenantId": {
                              "type": "string",
                              "description": "The unique identifier of the microtenant this operand belongs to."
                            }
                          }
                        },
                        "description": "The operands evaluated by this condition."
                      },
                      "microtenantId": {
                        "type": "string",
                        "description": "The unique identifier of the microtenant this condition belongs to."
                      }
                    }
                  },
                  "description": "The conditions evaluated by this rule."
                },
                "appServerGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the server group."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the server group."
                      }
                    }
                  },
                  "description": "Server groups this rule applies to."
                },
                "appConnectorGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the App Connector Group."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the App Connector Group."
                      }
                    }
                  },
                  "description": "App Connector Groups this rule applies to."
                },
                "microtenantId": {
                  "type": "string",
                  "description": "The unique identifier of the microtenant this rule belongs to."
                },
                "microtenantName": {
                  "type": "string",
                  "description": "The name of the microtenant this rule belongs to."
                },
                "creationTime": {
                  "type": "string",
                  "description": "Timestamp when the rule was created."
                },
                "modifiedBy": {
                  "type": "string",
                  "description": "ID of the admin who last modified the rule."
                },
                "modifiedTime": {
                  "type": "string",
                  "description": "Timestamp when the rule was last modified."
                }
              },
              "required": [
                "name",
                "policySetId"
              ]
            },
            "description": "The rules contained in this policy set."
          }
        }
      },
      "SegmentGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the segment group."
          },
          "name": {
            "type": "string",
            "description": "Name of the segment group."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the segment group."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the segment group is enabled."
          },
          "configSpace": {
            "type": "string",
            "description": "The configuration space of the segment group."
          },
          "policyMigrated": {
            "type": "boolean",
            "description": "Whether the segment group's policy has been migrated."
          },
          "tcpKeepAliveEnabled": {
            "type": "string",
            "description": "Whether TCP connection keep-alive is enabled (1) or disabled (0) for the segment group."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the segment group belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the segment group belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the segment group was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the segment group."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the segment group was last modified."
          },
          "applications": {
            "type": "array",
            "description": "The application segments associated with this segment group.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the application segment."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the application segment."
                },
                "domainNames": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Domain names/FQDNs for the application segment."
                },
                "enabled": {
                  "type": "boolean",
                  "description": "Whether the application segment is enabled."
                }
              }
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "ServerGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the server group."
          },
          "name": {
            "type": "string",
            "description": "Name of the server group."
          },
          "description": {
            "type": "string",
            "description": "Additional information about the server group."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the server group is enabled."
          },
          "ipAnchored": {
            "type": "boolean",
            "description": "Whether IP Anchoring is enabled for the server group."
          },
          "configSpace": {
            "type": "string",
            "description": "The configuration space of the server group."
          },
          "dynamicDiscovery": {
            "type": "boolean",
            "description": "Whether dynamic discovery of servers is enabled for the server group."
          },
          "extranetEnabled": {
            "type": "boolean",
            "description": "Whether the server group is extranet-enabled."
          },
          "microtenantId": {
            "type": "string",
            "description": "The unique identifier of the microtenant the server group belongs to."
          },
          "microtenantName": {
            "type": "string",
            "description": "The name of the microtenant the server group belongs to."
          },
          "creationTime": {
            "type": "string",
            "description": "Timestamp when the server group was created."
          },
          "modifiedBy": {
            "type": "string",
            "description": "ID of the admin who last modified the server group."
          },
          "modifiedTime": {
            "type": "string",
            "description": "Timestamp when the server group was last modified."
          },
          "appConnectorGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the App Connector Group."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the App Connector Group."
                }
              }
            },
            "description": "App Connector Groups assigned to this server group."
          },
          "servers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the application server."
                },
                "name": {
                  "type": "string",
                  "description": "Name of the application server."
                }
              }
            },
            "description": "Application servers that are members of this server group."
          },
          "applications": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier."
                },
                "name": {
                  "type": "string",
                  "description": "Name."
                }
              }
            },
            "description": "Application segments associated with this server group."
          }
        },
        "required": [
          "name"
        ]
      }
    }
  }
}
