{
  "openapi": "3.0.0",
  "info": {
    "title": "Cisco Webex",
    "description": "Cisco Webex platform API providing access to meetings, messaging, and collaboration features for Webex-enabled applications.\n\nAuthentication: Bearer token \u2014 use a Webex bot token or personal access token from developer.webex.com. Pass as Authorization: Bearer <token>.\n\nSource: https://developer.webex.com/docs/api/v1",
    "contact": {},
    "version": "latest",
    "x-vendor-api-version": "1.0",
    "x-itential-curated": "Trimmed to 8 of 10 upstream operations covering admin audit events, organization events, and room/space membership CRUD. Excludes the read-only license-tier reference lookups (GET /licenses, GET /licenses/{licenseId}), which have no write operations and are reference lookups rather than automatable CRUD. See the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "url": "https://webexapis.com/v1/",
      "variables": {}
    }
  ],
  "paths": {
    "/adminAudit/events": {
      "get": {
        "tags": [
          "Admin Audit Events"
        ],
        "summary": "List Admin Audit Events",
        "description": "List admin audit events in your organization. Several query parameters are available to filter the response.\n",
        "operationId": "ListAdminAuditEvents",
        "parameters": [
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "description": "List events in this organization, by ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "List events which occurred after a specific date and tim",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "List events which occurred before a specific date and time",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "description": "List events performed by this person, by ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "Limit the maximum number of events in the response. The maximum value is 200\nDefault: 100\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset from the first result that you want to fetch.\nDefault: 0\n",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with body content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEvents"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List Events",
        "description": "List events in your organization. Several query parameters are available to filter the response.\nLong result sets will be split into pages.\n",
        "operationId": "ListEvents",
        "parameters": [
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "description": "List events with a specific resource type. Possible values: messages, memberships, tabs, rooms, attachmentActions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "List events with a specific event type. Possible values: created, updated, deleted",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorId",
            "in": "query",
            "required": false,
            "description": "List events performed by this person, by ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "List events which occurred after a specific date and time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "List events which occurred before a specific date and time. If unspecified or set to a time in the future, lists events up to the present.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "description": "Limit the maximum number of events in the response. The maximum value is 200\nDefault: 100\n",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with body content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Events"
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get Event Details",
        "description": "Shows details for an event, by event ID.\nSpecify the event ID in the eventId parameter in the URI.\n",
        "operationId": "GetEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the event.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with body content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        }
      }
    },
    "/memberships": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "List memberships",
        "description": "Lists all room memberships. By default, lists memberships for rooms to which the authenticated user belongs.\nUse query parameters to filter the response.\nUse roomId to list memberships for a room, by ID.\nUse either personId or personEmail to filter the results.\n",
        "operationId": "ListMemberships",
        "parameters": [
          {
            "name": "roomId",
            "in": "query",
            "description": "List memberships associated with a room, by ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personId",
            "in": "query",
            "description": "List memberships associated with a person, by ID. \nThe roomId parameter is required when using this parameter.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personEmail",
            "in": "query",
            "description": "List memberships associated with a person, by email address. \nThe roomId parameter is required when using this parameter.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Limit the maximum number of memberships in the response.\nDefault: 100\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with body content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Memberships"
                }
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Memberships"
        ],
        "summary": "Create a membership",
        "description": "Add someone to a room by Person ID or email address; optionally making them a moderator.\n",
        "operationId": "CreateMembership",
        "parameters": [],
        "requestBody": {
          "description": "Body Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMembershipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful request with body content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/memberships/{membershipId}": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "Get Membership Details",
        "description": "Get details for a membership by ID.\nSpecify the membership ID in the membershipId URI parameter.\n",
        "operationId": "GetMembership",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The unique identifier for the membership.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request with body content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Memberships"
        ],
        "summary": "Update a Membership",
        "description": "Updates properties for a membership by ID.\nSpecify the membership ID in the membershipId URI parameter.\n",
        "operationId": "UpdateMembership",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The unique identifier for the membership.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Body Parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful request with body content.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Membership"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Memberships"
        ],
        "summary": "Delete a Membership",
        "description": "Deletes a membership by ID.\nSpecify the membership ID in the membershipId URI parameter.\nThe membership for the last moderator of a Team's General space may not be deleted; promote another user to team moderator first.\n",
        "operationId": "DeleteMembership",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "description": "The unique identifier for the membership.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful request without body content.",
            "headers": {}
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "AuditEvents": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "description": "items",
            "items": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time the event took place."
                },
                "actorOrgId": {
                  "type": "string",
                  "description": "The orgId of the person who made the change."
                },
                "id": {
                  "type": "string",
                  "description": "A unique identifier for the event."
                },
                "actorId": {
                  "type": "string",
                  "description": "The personId of the person who made the change."
                },
                "data": {
                  "type": "object",
                  "description": "data",
                  "properties": {
                    "actorOrgName": {
                      "type": "string",
                      "description": "The display name of the organization."
                    },
                    "targetName": {
                      "type": "string",
                      "description": "The name of the resource being acted upon."
                    },
                    "eventDescription": {
                      "type": "string",
                      "description": "A description for the event."
                    },
                    "actorName": {
                      "type": "string",
                      "description": "The name of the person who performed the action."
                    },
                    "actorEmail": {
                      "type": "string",
                      "description": "The email of the person who performed the action."
                    },
                    "adminRoles": {
                      "type": "array",
                      "description": "Admin roles for the person.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "trackingId": {
                      "type": "string",
                      "description": "A tracking identifier for the event."
                    },
                    "targetType": {
                      "type": "string",
                      "description": "The type of resource changed by the event."
                    },
                    "targetId": {
                      "type": "string",
                      "description": "The identifier for the resource changed by the event."
                    },
                    "eventCategory": {
                      "type": "string",
                      "description": "The category of resource changed by the event."
                    },
                    "actorUserAgent": {
                      "type": "string",
                      "description": "The browser user agent of the person who performed the action."
                    },
                    "actorIp": {
                      "type": "string",
                      "description": "The IP address of the person who performed the action."
                    },
                    "targetOrgId": {
                      "type": "string",
                      "description": "The orgId of the organization."
                    },
                    "actionText": {
                      "type": "string",
                      "description": "A more detailed description of the change made by the person."
                    },
                    "targetOrgName": {
                      "type": "string",
                      "description": "The name of the organization being acted upon."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "required": [
          "id",
          "resource",
          "appId",
          "actorId",
          "orgId",
          "created",
          "actorOrgId",
          "data"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the event."
          },
          "resource": {
            "type": "string",
            "description": "The type of resource in the event."
          },
          "appId": {
            "type": "string",
            "description": "The ID of the application for the event."
          },
          "actorId": {
            "type": "string",
            "description": "The personId of the person who made the change."
          },
          "orgId": {
            "type": "string",
            "description": "The ID of the organization for the event."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time of the event."
          },
          "actorOrgId": {
            "type": "string",
            "description": "The orgId of the person who made the change."
          },
          "data": {
            "type": "object",
            "description": "data",
            "required": [
              "id",
              "roomId",
              "roomType",
              "text",
              "personId",
              "personEmail",
              "created"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "Action ID."
              },
              "roomId": {
                "type": "string",
                "description": "Room ID where the event happened."
              },
              "roomType": {
                "type": "string",
                "description": "Room type where the event happened."
              },
              "text": {
                "type": "string",
                "description": "Text related to the event, in the case of a message."
              },
              "personId": {
                "type": "string",
                "description": "Person ID of the user who triggered the event."
              },
              "personEmail": {
                "type": "string",
                "description": "Person Email of the user who triggered the event."
              },
              "created": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time of the event."
              }
            }
          }
        }
      },
      "Events": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Membership": {
        "type": "object",
        "required": [
          "id",
          "roomId",
          "personId",
          "personEmail",
          "personDisplayName",
          "personOrgId",
          "isModerator",
          "isRoomHidden",
          "roomType",
          "isMonitor",
          "created"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the membership."
          },
          "roomId": {
            "type": "string",
            "description": "The room ID."
          },
          "personId": {
            "type": "string",
            "description": "The person ID"
          },
          "personEmail": {
            "type": "string",
            "description": "The email address of the person"
          },
          "personDisplayName": {
            "type": "string",
            "description": "The display name of the person"
          },
          "personOrgId": {
            "type": "string",
            "description": "The organization ID of the person"
          },
          "isModerator": {
            "type": "boolean",
            "description": "Whether or not the participant is a room moderator."
          },
          "isRoomHidden": {
            "type": "boolean",
            "description": "Whether or not the room is hidden in the Webex Teams clients"
          },
          "roomType": {
            "type": "string",
            "description": "The type of room the membership is associated with:\n  direct -> 1:1 room\n  group -> group room\n",
            "enum": [
              "direct",
              "group"
            ]
          },
          "isMonitor": {
            "type": "boolean",
            "description": "Whether or not the participant is a monitoring bot (deprecated)."
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the membership was created"
          }
        }
      },
      "Memberships": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Membership"
            }
          }
        }
      },
      "CreateMembershipRequest": {
        "type": "object",
        "required": [
          "roomId"
        ],
        "properties": {
          "roomId": {
            "type": "string",
            "description": "The room ID"
          },
          "personId": {
            "type": "string",
            "description": "The person ID"
          },
          "personEmail": {
            "type": "string",
            "description": "The email address of the person"
          },
          "isModerator": {
            "type": "boolean",
            "description": "Whether or not the participant is a room moderator"
          }
        }
      },
      "UpdateMembershipRequest": {
        "type": "object",
        "required": [
          "isModerator",
          "isRoomHidden"
        ],
        "properties": {
          "isRoomHidden": {
            "type": "boolean",
            "description": "Whether or not the room is hidden in the Webex Teams clients"
          },
          "isModerator": {
            "type": "boolean",
            "description": "Whether or not the participant is a room moderator"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message",
          "errors",
          "trackingId"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "errors": {
            "type": "object",
            "description": "API Error",
            "required": [
              "description"
            ],
            "properties": {
              "description": {
                "type": "string",
                "description": "Error description"
              }
            }
          },
          "trackingId": {
            "type": "string",
            "description": "Error tracking ID"
          }
        }
      }
    },
    "securitySchemes": {
      "httpBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "httpBearer": []
    }
  ],
  "tags": [
    {
      "name": "Admin Audit Events",
      "description": "Admin Audit Events are available to full administrators for certain events performed in Webex Control Hub."
    },
    {
      "name": "Events",
      "description": "Events are generated when actions take place within Webex Teams, such as when someone creates or deletes a message. Compliance Officers may use the Events API to retrieve events for all users within an organization."
    },
    {
      "name": "Memberships",
      "description": "Memberships represent a person's relationship to a room. Use this API to list members of any room that you're in or create memberships to invite someone to a room. Memberships can also be updated to make someone a moderator or deleted to remove them from the room.\r\n\r\nJust like in the Webex Teams app, you must be a member of the room in order to list its memberships or invite people.\r\n\r\nhttps://developer.webex.com/resource-memberships.html"
    }
  ]
}
