{
  "openapi": "3.1.0",
  "info": {
    "title": "SendGrid",
    "version": "latest",
    "description": "Twilio SendGrid's v3 REST API for transactional email sending, dynamic templates, marketing contacts/lists, suppression management, sender verification, and API key administration.",
    "x-vendor-api-version": "1.0.0-rc.13",
    "x-itential-curated": "Trimmed to 83 of 391 upstream operations covering Mail Send, Templates, API Keys, Suppressions, Marketing Contacts, Marketing Lists, and Verified Senders. See the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "url": "https://api.sendgrid.com",
      "description": "for global users and subusers"
    },
    {
      "url": "https://api.eu.sendgrid.com",
      "description": "for EU regional subusers"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v3/mail/batch": {
      "post": {
        "tags": [
          "Mail Batch"
        ],
        "summary": "Create a batch ID.",
        "description": "**This operation allows you to generate a new mail batch ID.**\n\n\nOnce a batch ID is created, you can associate it with a mail send by passing\nit in the request body of the [Mail Send operation](https://docs.sendgrid.com/api-reference/mail-send/mail-send).\nThis makes it possible to group multiple requests to the Mail Send operation\nby assigning them the same batch ID.\n\n\nA batch ID that's associated with a mail send can be used to access and modify the associated send. For example, you can pause or cancel a send using its batch ID. See the [Scheduled Sends API](https://www.twilio.com/docs/sendgrid/api-reference/cancel-scheduled-sends) for more information about pausing and cancelling a mail send.\n",
        "operationId": "CreateMailBatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/MailBatch2xx"
          },
          "400": {
            "$ref": "#/components/responses/MailBatch400"
          },
          "401": {
            "$ref": "#/components/responses/MailBatch401"
          },
          "403": {
            "$ref": "#/components/responses/MailBatch403"
          },
          "404": {
            "$ref": "#/components/responses/MailBatch404"
          },
          "405": {
            "$ref": "#/components/responses/MailBatch405"
          },
          "500": {
            "$ref": "#/components/responses/MailBatch500"
          }
        }
      }
    },
    "/v3/mail/batch/{batch_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/BatchId"
        }
      ],
      "get": {
        "tags": [
          "Mail Batch"
        ],
        "summary": "Validate a batch ID.",
        "description": "**This operation allows you to validate a mail batch ID.**\n\nIf you provide a valid batch ID, this operation will return a `200` status code and the batch ID itself.\nIf you provide an invalid batch ID, you will receive a `400` level status code and an error message.\nA batch ID does not need to be assigned to a send to be considered valid. A successful response means only that the batch ID has been created, but it does not indicate that the ID has been assigned to a send.",
        "operationId": "GetMailBatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MailBatch2xx"
          },
          "400": {
            "$ref": "#/components/responses/MailBatch400"
          },
          "401": {
            "$ref": "#/components/responses/MailBatch401"
          },
          "403": {
            "$ref": "#/components/responses/MailBatch403"
          },
          "405": {
            "$ref": "#/components/responses/MailBatch405"
          },
          "500": {
            "$ref": "#/components/responses/MailBatch500"
          }
        }
      }
    },
    "/v3/mail/send": {
      "post": {
        "tags": [
          "Mail Send"
        ],
        "summary": "Send Email with Twilio SendGrid.",
        "description": "*The Mail Send operation allows you to send email over SendGrid's v3 Web API*\n\nFor an overview of this API, including its features and limitations, please see the [Mail Send API overview page](https://www.twilio.com/docs/sendgrid/api-reference/mail-send)\n\nThe overview page also includes links to SendGrid's Email API quickstarts and helper libraries to get you working with this endpoint even faster.\n",
        "operationId": "SendMail",
        "parameters": [
          {
            "$ref": "#/components/parameters/MailBodyCompression"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostMailSend"
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "$ref": "#/components/responses/PostMailSend400"
          },
          "401": {
            "$ref": "#/components/responses/PostMailSend401"
          },
          "403": {
            "$ref": "#/components/responses/PostMailSend403"
          },
          "404": {
            "$ref": "#/components/responses/PostMailSend404"
          },
          "405": {
            "$ref": "#/components/responses/PostMailSend405"
          },
          "413": {
            "$ref": "#/components/responses/PostMailSend413"
          },
          "500": {
            "$ref": "#/components/responses/PostMailSend500"
          }
        }
      }
    },
    "/v3/templates": {
      "post": {
        "operationId": "CreateTemplate",
        "summary": "Create a transactional template.",
        "tags": [
          "Templates"
        ],
        "description": "**This endpoint allows you to create a transactional template.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name for the new transactional template.",
                    "maxLength": 100
                  },
                  "generation": {
                    "type": "string",
                    "description": "Defines whether the template supports dynamic replacement.",
                    "default": "legacy",
                    "$ref": "#/components/schemas/Generation"
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "example_name",
                  "generation": "dynamic"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplate"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "733ba07f-ead1-41fc-933a-3976baa23716",
                      "name": "example_name",
                      "generation": "legacy",
                      "updated_at": "2021-04-28 13:12:46",
                      "versions": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ListTemplate",
        "summary": "Retrieve paged transactional templates.",
        "tags": [
          "Templates"
        ],
        "description": "**This endpoint allows you to retrieve all transactional templates.**",
        "parameters": [
          {
            "name": "generations",
            "in": "query",
            "description": "Comma-delimited list specifying which generations of templates to return. Options are `legacy`, `dynamic` or `legacy,dynamic`.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "legacy",
              "$ref": "#/components/schemas/Generations"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of templates to be returned in each page of results",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "A token corresponding to a specific page of results, as provided by metadata",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "",
                      "items": {
                        "$ref": "#/components/schemas/TransactionalTemplatesTemplateLean"
                      }
                    },
                    "_metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "id": "fae7c985-eb92-4b47-9987-28ec29dbc698",
                          "name": "example_name",
                          "generation": "legacy",
                          "updated_at": "2020-11-12 12:00:09",
                          "versions": []
                        }
                      ],
                      "_metadata": {
                        "self": "https://api.sendgrid.com/v3/templates",
                        "count": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "error_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/templates/{template_id}": {
      "parameters": [
        {
          "name": "template_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "DuplicateTemplate",
        "summary": "Duplicate a transactional template.",
        "tags": [
          "Templates"
        ],
        "description": "**This endpoint allows you to duplicate a transactional template.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name for the new transactional template.",
                    "maxLength": 100
                  }
                },
                "example": {
                  "name": "example_name"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplate"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "733ba07f-ead1-41fc-933a-3976baa23716",
                      "name": "example_name",
                      "generation": "dynamic",
                      "updated_at": "2020-12-12 58:26:65",
                      "versions": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "GetTemplate",
        "summary": "Retrieve a single transactional template.",
        "tags": [
          "Templates"
        ],
        "description": "**This endpoint allows you to retrieve a single transactional template.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplate"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "40da60e6-66f3-4223-9406-ba58b7f55a62",
                      "name": "Duis in dolor",
                      "generation": "legacy",
                      "updated_at": "2020-12-12 58:26:65",
                      "versions": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "UpdateTemplate",
        "summary": "Edit a transactional template.",
        "tags": [
          "Templates"
        ],
        "description": "**This endpoint allows you to edit the name of a transactional template.**\n\nTo edit the template itself, [create a new transactional template version](https://docs.sendgrid.com/api-reference/transactional-templates-versions/create-a-new-transactional-template-version).",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the transactional template.",
                    "maxLength": 100
                  }
                },
                "example": {
                  "name": "new_example_name"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplate"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "733ba07f-ead1-41fc-933a-3976baa23716",
                      "name": "new_example_name",
                      "generation": "legacy",
                      "updated_at": "2021-04-28 13:12:46",
                      "versions": []
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteTemplate",
        "summary": "Delete a template.",
        "tags": [
          "Templates"
        ],
        "description": "**This endpoint allows you to delete a transactional template.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/templates/{template_id}/versions": {
      "parameters": [
        {
          "name": "template_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "CreateTemplateVersion",
        "summary": "Create a new transactional template version.",
        "tags": [
          "Templates Versions"
        ],
        "description": "**This endpoint allows you to create a new version of a template.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostPatchTransactionalTemplateVersion"
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplateVersionOutput"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "8aefe0ee-f12b-4575-b5b7-c97e21cb36f3",
                      "template_id": "ddb96bbc-9b92-425e-8979-99464621b543",
                      "active": 1,
                      "name": "example_version_name",
                      "html_content": "<%body%>",
                      "plain_content": "<%body%>",
                      "generate_plain_content": true,
                      "subject": "<%subject%>",
                      "updated_at": "2019-03-13 18:56:33",
                      "editor": "code"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/templates/{template_id}/versions/{version_id}": {
      "parameters": [
        {
          "name": "template_id",
          "in": "path",
          "description": " The ID of the original template",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "version_id",
          "in": "path",
          "description": "The ID of the template version",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "GetTemplateVersion",
        "summary": "Retrieve a specific transactional template version.",
        "tags": [
          "Templates Versions"
        ],
        "description": "**This endpoint allows you to retrieve a specific version of a template.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplateVersionOutput"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "8aefe0ee-f12b-4575-b5b7-c97e21cb36f3",
                      "template_id": "ddb96bbc-9b92-425e-8979-99464621b543",
                      "active": 1,
                      "name": "example_version_name",
                      "html_content": "<%body%>",
                      "plain_content": "<%body%>",
                      "generate_plain_content": true,
                      "subject": "<%subject%>",
                      "updated_at": "2019-03-13 18:56:33",
                      "editor": "code"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "UpdateTemplateVersion",
        "summary": "Edit a transactional template version.",
        "tags": [
          "Templates Versions"
        ],
        "description": "**This endpoint allows you to edit the content of your template version.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostPatchTransactionalTemplateVersion"
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplateVersionOutput"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "8aefe0ee-f12b-4575-b5b7-c97e21cb36f3",
                      "template_id": "ddb96bbc-9b92-425e-8979-99464621b543",
                      "active": 1,
                      "name": "example_version_name",
                      "html_content": "<%body%>",
                      "plain_content": "<%body%>",
                      "generate_plain_content": true,
                      "subject": "<%subject%>",
                      "updated_at": "2019-03-13 18:56:33",
                      "editor": "code"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteTemplateVersion",
        "summary": "Delete a transactional template version.",
        "tags": [
          "Templates Versions"
        ],
        "description": "**This endpoint allows you to delete a transactional template version.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/templates/{template_id}/versions/{version_id}/activate": {
      "parameters": [
        {
          "name": "template_id",
          "in": "path",
          "description": "The ID of the original template",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "version_id",
          "in": "path",
          "description": "The ID of the template version",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "ActivateTemplateVersion",
        "summary": "Activate a transactional template version.",
        "tags": [
          "Templates Versions"
        ],
        "description": "**This endpoint allows you to activate a version of one of your templates.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_templates"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalTemplateVersionOutput"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": "8aefe0ee-f12b-4575-b5b7-c97e21cb36f3",
                      "template_id": "ddb96bbc-9b92-425e-8979-99464621b543",
                      "active": 1,
                      "name": "example_version_name",
                      "html_content": "<%body%>",
                      "plain_content": "<%body%>",
                      "generate_plain_content": true,
                      "subject": "<%subject%>",
                      "updated_at": "2019-03-13 18:56:33",
                      "editor": "code"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/api_keys": {
      "post": {
        "operationId": "CreateApiKey",
        "summary": "Create API keys",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to create a new API Key for the user.**\n\nTo create your initial SendGrid API Key, you should [use the SendGrid App](https://app.sendgrid.com/settings/api_keys). Once you have created a first key with scopes to manage additional API keys, you can use this API for all other key management.\nA JSON request body containing a `name` property is required when making requests to this endpoint. If the number of maximum keys, 100, is reached, a `403` status will be returned.\nThough the `name` field is required, it does not need to be unique. A unique API key ID will be generated for each key you create and returned in the response body.\nIt is not necessary to pass a `scopes` field to the API when creating a key, but you should be aware that omitting the `scopes` field from your request will create a key with \"Full Access\" permissions by default.\nSee the [API Key Permissions List](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/authorization) for all available scopes. An API key's scopes can be updated after creation using the \"Update API keys\" endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_api_keys"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name you will use to describe this API Key."
                  },
                  "scopes": {
                    "type": "array",
                    "description": "The individual permissions that you are giving to this API Key.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "My API Key",
                  "scopes": [
                    "mail.send",
                    "alerts.create",
                    "alerts.read"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "api_key_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "api_key": "SG.xxxxxxxx.yyyyyyyy",
                      "api_key_id": "xxxxxxxx",
                      "name": "My API Key",
                      "scopes": [
                        "mail.send",
                        "alerts.create",
                        "alerts.read"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/ApiKeysError403"
          },
          "404": {
            "$ref": "#/components/responses/ApiKeysError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "get": {
        "operationId": "ListApiKey",
        "summary": "Retrieve all API Keys belonging to the authenticated user",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to retrieve all API Keys that belong to the authenticated user.**\n\nA successful response from this API will include all available API keys' names and IDs.\n\nFor security reasons, there is not a way to retrieve the key itself after it's created. If you lose your API key, you must create a new one. Only the \"Create API keys\" endpoint will return a key to you and only at the time of creation.\n\nAn `api_key_id` can be used to update or delete the key, as well as retrieve the key's details, such as its scopes.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_api_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "name": "API Key Name",
                          "api_key_id": "some-apikey-id"
                        },
                        {
                          "name": "API Key Name 2",
                          "api_key_id": "another-apikey-id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      }
    },
    "/v3/api_keys/{api_key_id}": {
      "parameters": [
        {
          "name": "api_key_id",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetApiKey",
        "summary": "Retrieve an existing API Key",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to retrieve a single API key using an `api_key_id`.**\n\nThe endpoint will return a key's name, ID, and scopes. If the API Key ID does not, exist a `404` status will be returned.\n\nSee the [API Key Permissions List](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/authorization) for all available scopes. An API key's scopes can be updated after creation using the \"Update API keys\" endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_api_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyScopesResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "name": "API Key Name",
                          "api_key_id": "some-apikey-id"
                        },
                        {
                          "name": "API Key Name 2",
                          "api_key_id": "another-apikey-id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/ApiKeysError403"
          },
          "404": {
            "$ref": "#/components/responses/ApiKeysError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "patch": {
        "operationId": "UpdateApiKeyName",
        "summary": "Update API key name",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to update the name of an existing API Key.**\n\nYou must pass this endpoint a JSON request body with a `name` property, which will be used to rename the key associated with the `api_key_id` passed in the URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_api_keys"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name of the API Key."
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "A New Hope"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "api_key_id": "qfTQ6KG0QBiwWdJ0-pCLCA",
                      "name": "A New Hope"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "put": {
        "operationId": "UpdateApiKey",
        "summary": "Update API key name and scopes",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to update the name and scopes of a given API key.**\n\nYou must pass this endpoint a JSON request body with a `name` field and a `scopes` array containing at least one scope. The `name` and `scopes` fields will be used to update the key associated with the `api_key_id` in the request URL.\n\nIf you need to update a key's scopes only, pass the `name` field with the key's existing name; the `name` will not be modified. If you need to update a key's name only, use the \"Update API key name\" endpoint.\n\nSee the [API Key Permissions List](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/authorization) for all available scopes.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_api_keys"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "Profiles key",
                  "scopes": [
                    "user.profile.read",
                    "user.profile.update"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "api_key_id": "qfTQ6KG0QBiwWdJ0-pCLCA",
                      "name": "Profiles Key",
                      "scopes": [
                        "user.profile.read",
                        "user.profile.update"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "delete": {
        "operationId": "DeleteApiKey",
        "summary": "Delete API keys",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to revoke an existing API Key using an `api_key_id`**\n\nAuthentications using a revoked API Key will fail after after some small propogation delay. If the API Key ID does not exist, a `404` status will be returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_api_keys"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      }
    },
    "/v3/asm/groups": {
      "post": {
        "operationId": "CreatAsmGroup",
        "summary": "Create a new suppression group",
        "tags": [
          "Unsubscribe Groups"
        ],
        "description": "**This endpoint allows you to create a new suppression group.**\n\nTo add an email address to the suppression group, [create a Suppression](https://docs.sendgrid.com/api-reference/suppressions-suppressions/add-suppressions-to-a-suppression-group).",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionGroupRequestBaseProps"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The ID of the suppression group."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the suppression group."
                    },
                    "description": {
                      "type": "string",
                      "description": "A brief description of the suppression group."
                    },
                    "is_default": {
                      "type": "boolean",
                      "description": "Indicates if this is the default suppression group."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "is_default"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 103,
                      "name": "Product Suggestions",
                      "description": "Suggestions for products our users might like.",
                      "is_default": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ListAsmGroup",
        "summary": "Retrieve all suppression groups associated with the user.",
        "tags": [
          "Unsubscribe Groups"
        ],
        "description": "**This endpoint allows you to retrieve a list of all suppression groups created by this user.**\n\nThis endpoint can also return information for multiple group IDs that you include in your request. To add a group ID to your request, simply append `?id=123456&id=123456`, with the appropriate group IDs.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the suppression group(s) you want to retrieve.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuppressionGroup"
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "id": 1234,
                        "name": "Unsubscribe Group",
                        "description": "An Unsubscribe Group",
                        "is_default": true,
                        "unsubscribes": 1234
                      },
                      {
                        "id": 1234,
                        "name": "Unsubscribe Group",
                        "description": "An Unsubscribe Group",
                        "is_default": true,
                        "unsubscribes": 1234
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/asm/groups/{group_id}": {
      "parameters": [
        {
          "name": "group_id",
          "in": "path",
          "description": "The ID of the suppression group you would like to retrieve.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetAsmGroup",
        "summary": "Get information on a single suppression group.",
        "tags": [
          "Unsubscribe Groups"
        ],
        "description": "**This endpoint allows you to retrieve a single suppression group.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of your suppression group. Required when creating a group.",
                      "maxLength": 30
                    },
                    "description": {
                      "type": "string",
                      "description": "A brief description of your suppression group. Required when creating a group.",
                      "maxLength": 100
                    },
                    "is_default": {
                      "type": "boolean",
                      "description": "Indicates if you would like this to be your default suppression group."
                    },
                    "id": {
                      "type": "integer",
                      "description": "The ID of the suppression group."
                    },
                    "unsubscribes": {
                      "type": "integer",
                      "description": "The number of unsubscribes, or suppressions, in this group."
                    }
                  },
                  "required": [
                    "id"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "description": "Our monthly newsletter.",
                      "id": 100,
                      "is_default": true,
                      "name": "Newsletters",
                      "unsubscribes": 400
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "UpdateAsmGroup",
        "summary": "Update a suppression group.",
        "tags": [
          "Unsubscribe Groups"
        ],
        "description": "**This endpoint allows you to update or change a suppression group.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "id": 103,
                  "name": "Item Suggestions",
                  "description": "Suggestions for items our users might like."
                },
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of your suppression group. Required when creating a group.",
                    "maxLength": 30
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of your suppression group. Required when creating a group.",
                    "maxLength": 100
                  },
                  "is_default": {
                    "type": "boolean",
                    "description": "Indicates if you would like this to be your default suppression group."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionGroup"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 103,
                      "name": "Item Suggestions",
                      "description": "Suggestions for items our users might like."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteAsmGroup",
        "summary": "Delete a Suppression Group",
        "tags": [
          "Unsubscribe Groups"
        ],
        "description": "**This endpoint allows you to delete a suppression group.**\n\nIf a recipient uses the \"one-click unsubscribe\" option on an email associated with a deleted group, that recipient will be added to the global suppression list.\n\nDeleting a suppression group will remove the suppression, meaning email will once again be sent to the previously suppressed addresses. This should be avoided unless a recipient indicates they wish to receive email from you again. You can use our [bypass filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions) to deliver messages to otherwise suppressed addresses when exceptions are required.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/asm/groups/{group_id}/suppressions": {
      "parameters": [
        {
          "name": "group_id",
          "in": "path",
          "description": "The id of the unsubscribe group that you are adding suppressions to.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "AddSuppressionToAsmGroup",
        "summary": "Add suppressions to a suppression group",
        "tags": [
          "Suppressions"
        ],
        "description": "**This endpoint allows you to add email addresses to an unsubscribe group.**\n\nIf you attempt to add suppressions to a group that has been deleted or does not exist, the suppressions will be added to the global suppressions list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostSuppressions"
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recipient_emails": {
                      "type": "array",
                      "description": "The email addresses you added to the unsubscribe group",
                      "items": {
                        "type": "string",
                        "format": "email"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "recipient_emails": [
                        "test1@example.com",
                        "test2@example.com"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ListSuppressionFromAsmGroup",
        "summary": "Retrieve all suppressions for a suppression group",
        "tags": [
          "Suppressions"
        ],
        "description": "**This endpoint allows you to retrieve all suppressed email addresses belonging to the given group.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "The list of email addresses belonging to the given suppression group.",
                  "items": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      "example@example.com",
                      "example2@example.com"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/asm/groups/{group_id}/suppressions/{email}": {
      "parameters": [
        {
          "name": "group_id",
          "in": "path",
          "description": "The id of the suppression group that you are removing an email address from.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "email",
          "in": "path",
          "description": "The email address that you want to remove from the suppression group.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "operationId": "DeleteSuppressionFromAsmGroup",
        "summary": "Delete a suppression from a suppression group",
        "tags": [
          "Suppressions"
        ],
        "description": "**This endpoint allows you to remove a suppressed email address from the given suppression group.**\n\nRemoving an address will remove the suppression, meaning email will once again be sent to the previously suppressed addresses. This should be avoided unless a recipient indicates they wish to receive email from you again. You can use our [bypass filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions) to deliver messages to otherwise suppressed addresses when exceptions are required.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/asm/groups/{group_id}/suppressions/search": {
      "parameters": [
        {
          "name": "group_id",
          "in": "path",
          "description": "The ID of the suppression group that you would like to search.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "SearchSuppressionFromAsmGroup",
        "summary": "Search for suppressions within a group",
        "tags": [
          "Suppressions"
        ],
        "description": "**This endpoint allows you to search a suppression group for multiple suppressions.**\n\nWhen given a list of email addresses and a group ID, this endpoint will only return the email addresses that have been unsubscribed from the given group.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostSuppressions"
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "The email address from your search that do exist in the suppression group.",
                  "items": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      "exists1@example.com",
                      "exists2@example.com"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/asm/suppressions": {
      "get": {
        "operationId": "ListAsmSuppression",
        "summary": "Retrieve all suppressions",
        "tags": [
          "Suppressions"
        ],
        "description": "**This endpoint allows you to retrieve a list of all suppressions.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The email address that was suppressed."
                      },
                      "group_id": {
                        "type": "integer",
                        "description": "The id of the suppression group that this email address belongs to."
                      },
                      "group_name": {
                        "type": "string",
                        "description": "The name of the suppression group that this email address belongs to."
                      },
                      "created_at": {
                        "type": "integer",
                        "description": "A UNIX timestamp indicating when the suppression was created."
                      }
                    },
                    "required": [
                      "email",
                      "group_id",
                      "group_name",
                      "created_at"
                    ]
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "email": "test1@example.com",
                        "group_id": 1,
                        "group_name": "Weekly News",
                        "created_at": 1410986704
                      },
                      {
                        "email": "test1@example.com",
                        "group_id": 2,
                        "group_name": "Daily News",
                        "created_at": 1411493671
                      },
                      {
                        "email": "test2@example.com",
                        "group_id": 2,
                        "group_name": "Daily News",
                        "created_at": 1411493671
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/asm/suppressions/{email}": {
      "parameters": [
        {
          "name": "email",
          "in": "path",
          "description": "The email address that you want to search suppression groups for.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetAsmSuppression",
        "summary": "Retrieve all suppression groups for an email address",
        "tags": [
          "Suppressions"
        ],
        "description": "**This endpoint returns a list of all groups from which the given email address has been unsubscribed.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suppressions": {
                      "type": "array",
                      "description": "The array of suppression groups.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "The description of the suppression group."
                          },
                          "id": {
                            "type": "integer",
                            "description": "The id of the suppression group."
                          },
                          "is_default": {
                            "type": "boolean",
                            "description": "Indicates if the suppression group  is set as the default."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the suppression group."
                          },
                          "suppressed": {
                            "type": "boolean",
                            "description": "Indicates if the given email address is suppressed for this group."
                          }
                        },
                        "required": [
                          "description",
                          "id",
                          "is_default",
                          "name",
                          "suppressed"
                        ]
                      }
                    }
                  },
                  "required": [
                    "suppressions"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "suppressions": [
                        {
                          "description": "Optional description.",
                          "id": 1,
                          "is_default": true,
                          "name": "Weekly News",
                          "suppressed": true
                        },
                        {
                          "description": "Some daily news.",
                          "id": 2,
                          "is_default": true,
                          "name": "Daily News",
                          "suppressed": true
                        },
                        {
                          "description": "An old group.",
                          "id": 2,
                          "is_default": false,
                          "name": "Old News",
                          "suppressed": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/suppression/blocks": {
      "get": {
        "operationId": "ListSuppressionBlock",
        "summary": "Retrieve all blocks",
        "tags": [
          "Blocks"
        ],
        "description": "**This endpoint allows you to retrieve a paginated list of all email addresses that are currently on your blocks list.**\n\nYou can use the `limit` query parameter to set the page size. If your list contains more items than the page size permits, you can make multiple requests. Use the `offset` query parameter to control the position in the list from which to start retrieving additional items.",
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "The start of the time range when a blocked email was created (inclusive). This is a unix timestamp.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The end of the time range when a blocked email was created (inclusive). This is a unix timestamp.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/PaginationCommonLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCommonOffset"
          },
          {
            "$ref": "#/components/parameters/EmailPartialMatch"
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlocksResponse"
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "created": 1443651154,
                        "email": "example@example.com",
                        "reason": "error dialing remote address: dial tcp 10.57.152.165:25: no route to host",
                        "status": "4.0.0"
                      },
                      {
                        "created": 1443651155,
                        "email": "example1@example.com",
                        "reason": "unable to resolve MX record for example.com: servfail",
                        "status": "4.0.0"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteSuppressionBlocks",
        "summary": "Delete blocks",
        "tags": [
          "Blocks"
        ],
        "description": "**This endpoint allows you to delete all email addresses on your blocks list.**\n\nThere are two options for deleting blocked emails: \n\n1. You can delete all blocked emails by setting `delete_all` to `true` in the request body. \n2. You can delete a selection of blocked emails by specifying the email addresses in the `emails` array of the request body.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delete_all": {
                    "type": "boolean",
                    "description": "Indicates if you want to delete all blocked email addresses."
                  },
                  "emails": {
                    "type": "array",
                    "description": "The specific blocked email addresses that you want to delete.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "delete_all": false,
                  "emails": [
                    "example1@example.com",
                    "example2@example.com"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/suppression/blocks/{email}": {
      "parameters": [
        {
          "name": "email",
          "in": "path",
          "description": "The email address of the specific block.",
          "required": true,
          "schema": {
            "type": "string",
            "format": "email"
          }
        }
      ],
      "get": {
        "operationId": "GetSuppressionBlock",
        "summary": "Retrieve a specific block",
        "tags": [
          "Blocks"
        ],
        "description": "**This endpoint allows you to retrieve a specific email address from your blocks list.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlocksResponse"
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "created": 1443651154,
                        "email": "example@example.com",
                        "reason": "error dialing remote address: dial tcp 10.57.152.165:25: no route to host",
                        "status": "4.0.0"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteSuppressionBlock",
        "summary": "Delete a specific block",
        "tags": [
          "Blocks"
        ],
        "description": "**This endpoint allows you to delete a specific email address from your blocks list.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/suppression/bounces": {
      "get": {
        "operationId": "ListSuppressionBounces",
        "summary": "Retrieve all bounces",
        "tags": [
          "Bounces"
        ],
        "description": "**This endpoint allows you to retrieve a paginated list of all your bounces.**\n\nYou can use the `limit` query parameter to set the page size. If your list contains more items than the page size permits, you can make multiple requests. Use the `offset` query parameter to control the position in the list from which to start retrieving additional items.",
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "Refers start of the time range in unix timestamp when a bounce was created (inclusive).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Refers end of the time range in unix timestamp when a bounce was created (inclusive).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/PaginationCommonLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCommonOffset"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "$ref": "#/components/parameters/EmailPartialMatch"
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BounceResponse"
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "created": 1250337600,
                        "email": "example@example.com",
                        "reason": "550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at  https://support.google.com/mail/answer/6596 o186si2389584ioe.63 - gsmtp ",
                        "status": "5.1.1"
                      },
                      {
                        "created": 1250337600,
                        "email": "example@example.com",
                        "reason": "550 5.1.1 <testemail2@testing.com>: Recipient address rejected: User unknown in virtual alias table ",
                        "status": "5.1.1"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteSuppressionBounces",
        "summary": "Delete bounces",
        "tags": [
          "Bounces"
        ],
        "description": "**This endpoint allows you to delete all emails on your bounces list.**\n\nThere are two options for deleting bounced emails: \n\n1. You can delete all bounced emails by setting `delete_all` to `true` in the request body. \n2. You can delete a selection of bounced emails by specifying the email addresses in the `emails` array of the request body. \n\n**WARNING:** You can not have both `emails` and `delete_all` set.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delete_all": {
                    "type": "boolean",
                    "description": "This parameter allows you to delete **every** email in your bounce list. This should not be used with the emails parameter."
                  },
                  "emails": {
                    "type": "array",
                    "description": "Delete multiple emails from your bounce list at the same time. This should not be used with the delete_all parameter.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "delete_all": false
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "field": null,
                          "message": "authorization required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/suppression/bounces/{email}": {
      "get": {
        "operationId": "GetSuppressionBounces",
        "summary": "Retrieve a Bounce",
        "tags": [
          "Bounces"
        ],
        "description": "**This endpoint allows you to retrieve a specific bounce by email address.**",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "The email address of the specific bounce you would like to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BounceResponse"
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "created": 1443651125,
                        "email": "bounce1@test.com",
                        "reason": "550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at  https://support.google.com/mail/answer/6596 o186si2389584ioe.63 - gsmtp ",
                        "status": "5.1.1"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteSuppressionBounce",
        "summary": "Delete a bounce",
        "tags": [
          "Bounces"
        ],
        "description": "**This endpoint allows you to remove an email address from your bounce list.**",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "The email address you would like to remove from the bounce list.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "field": null,
                          "message": "authorization required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/suppression/bounces/classifications": {
      "get": {
        "operationId": "ListSuppressionBouncesClassifications",
        "summary": "Retrieve bounce classification totals",
        "tags": [
          "Bounces"
        ],
        "description": "This endpoint will return the total number of bounces by classification in descending order for each day. You can retrieve the bounce classification totals in CSV format by specifying `\"text/csv\"` in the Accept header.",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Specifies the content type to be returned by this endpoint. You can choose to receive CSV-formatted data by passing \"text/csv\" in the header.",
            "required": true,
            "schema": {
              "default": "application/json",
              "type": "string",
              "$ref": "#/components/schemas/Accept"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The start of the time range, in YYYY-MM-DD format, when a bounce was created (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end of the time range, in YYYY-MM-DD format, when a bounce was created (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "stats": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "classification": {
                                  "type": "string",
                                  "$ref": "#/components/schemas/Classification"
                                },
                                "count": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "date": "2022-01-01",
                          "stats": [
                            {
                              "classification": "Unclassified",
                              "count": 35
                            },
                            {
                              "classification": "Invalid Address",
                              "count": 14
                            }
                          ]
                        },
                        {
                          "date": "2022-01-02",
                          "stats": [
                            {
                              "classification": "Unclassified",
                              "count": 23
                            },
                            {
                              "classification": "Content",
                              "count": 4
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/suppression/bounces/classifications/{classification}": {
      "get": {
        "operationId": "GetSuppressionBouncesClassifications",
        "summary": "Retrieve bounce classification over time by domain stats",
        "tags": [
          "Bounces"
        ],
        "description": "This endpoint will return the number of bounces for the classification specified in descending order for each day. You can retrieve the bounce classification totals in CSV format by specifying `\"text/csv\"` in the Accept header.",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Specifies the content type to be returned by this endpoint. You can choose to receive CSV-formatted data by passing \"text/csv\" in the header.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json",
              "$ref": "#/components/schemas/Accept1"
            }
          },
          {
            "name": "classification",
            "in": "path",
            "description": "The classification you want to filter by. Possible values are: `Content`, `Frequency or Volume Too High`, `Invalid Address`, `Mailbox Unavailable`, `Reputation`, `Technical Failure`, `Unclassified`.",
            "schema": {
              "type": "string",
              "$ref": "#/components/schemas/Classification1"
            },
            "required": true
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The start of the time range, in YYYY-MM-DD format, when a bounce was created (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end of the time range, in YYYY-MM-DD format, when a bounce was created (inclusive).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string"
                          },
                          "stats": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "domain": {
                                  "type": "string"
                                },
                                "count": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "date": "2022-01-01",
                          "stats": [
                            {
                              "domain": "example.com",
                              "count": 35
                            },
                            {
                              "domain": "one.example.com",
                              "count": 14
                            }
                          ]
                        },
                        {
                          "date": "2022-01-02",
                          "stats": [
                            {
                              "domain": "example.com",
                              "count": 23
                            },
                            {
                              "domain": "one.example.com",
                              "count": 4
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/asm/suppressions/global": {
      "post": {
        "operationId": "CreateGlobalSuppression",
        "summary": "Add recipient addresses to the global suppression group.",
        "tags": [
          "Global Suppressions"
        ],
        "description": "**This endpoint allows you to add one or more email addresses to the global suppressions group.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostSuppressions"
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recipient_emails": {
                      "type": "array",
                      "description": "The email addresses that are globally suppressed",
                      "items": {
                        "type": "string",
                        "format": "email"
                      }
                    }
                  },
                  "required": [
                    "recipient_emails"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "recipient_emails": [
                        "test1@example.com",
                        "test2@example.com"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/asm/suppressions/global/{email}": {
      "parameters": [
        {
          "name": "email",
          "in": "path",
          "description": "The email address of the global suppression you want to retrieve. Or, if you want to check if an email address is on the global suppressions list, enter that email address here.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetGlobalSuppression",
        "summary": "Retrieve a Global Suppression",
        "tags": [
          "Global Suppressions"
        ],
        "description": "**This endpoint allows you to retrieve a global suppression. You can also use this endpoint to confirm if an email address is already globally suppresed.**\n\nIf the email address you include in the URL path parameter `{email}` is already globally suppressed, the response will include that email address. If the address you enter for `{email}` is not globally suppressed, an empty JSON object `{}` will be returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Retrieve a Global Suppression response",
                  "type": "object",
                  "properties": {
                    "recipient_email": {
                      "type": "string",
                      "description": "The email address that is globally suppressed. This will be an empty object if the email address you included in your call is not globally suppressed.",
                      "format": "email"
                    }
                  },
                  "required": [
                    "recipient_email"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "recipient_email": "test@example.com"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteGlobalSuppression",
        "summary": "Delete a Global Suppression",
        "tags": [
          "Global Suppressions"
        ],
        "description": "**This endpoint allows you to remove an email address from the global suppressions group.**\n\nDeleting a suppression group will remove the suppression, meaning email will once again be sent to the previously suppressed addresses. This should be avoided unless a recipient indicates they wish to receive email from you again. You can use our [bypass filters](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#bypass-suppressions) to deliver messages to otherwise suppressed addresses when exceptions are required.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/suppression/invalid_emails": {
      "get": {
        "operationId": "ListInvalidEmail",
        "summary": "Retrieve all invalid emails",
        "tags": [
          "Invalid Emails"
        ],
        "description": "**This endpoint allows you to retrieve a paginated list of all invalid email addresses.**\n\nYou can use the `limit` query parameter to set the page size. If your list contains more items than the page size permits, you can make multiple requests. Use the `offset` query parameter to control the position in the list from which to start retrieving additional items.",
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "description": "Refers start of the time range in unix timestamp when an invalid email was created (inclusive).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Refers end of the time range in unix timestamp when an invalid email was created (inclusive).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/PaginationCommonLimit"
          },
          {
            "$ref": "#/components/parameters/PaginationCommonOffset"
          },
          {
            "name": "email",
            "in": "query",
            "description": "This parameter allows you to filter results by email address. Only invalid addresses matching an address passed in this parameter will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "The list of invalid email addresses.",
                  "items": {
                    "$ref": "#/components/schemas/InvalidEmail"
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "created": 1449953655,
                        "email": "user1@example.com",
                        "reason": "Mail domain mentioned in email address is unknown"
                      },
                      {
                        "created": 1449939373,
                        "email": "user2@example.com",
                        "reason": "Mail domain mentioned in email address is unknown"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteInvalidEmails",
        "summary": "Delete invalid emails",
        "tags": [
          "Invalid Emails"
        ],
        "description": "**This endpoint allows you to remove email addresses from your invalid email address list.**\n\nThere are two options for deleting invalid email addresses: \n\n1) You can delete all invalid email addresses by setting `delete_all` to true in the request body.\n2) You can delete some invalid email addresses by specifying certain addresses in an array in the request body.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delete_all": {
                    "type": "boolean",
                    "description": "Indicates if you want to remove all email address from the invalid emails list."
                  },
                  "emails": {
                    "type": "array",
                    "description": "The list of specific email addresses that you want to remove.",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "example": {
                  "delete_all": false,
                  "emails": [
                    "example1@example.com",
                    "example2@example.com"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/suppression/invalid_emails/{email}": {
      "parameters": [
        {
          "name": "email",
          "in": "path",
          "description": "The specific email address of the invalid email entry that you want to retrieve.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetInvalidEmail",
        "summary": "Retrieve a specific invalid email",
        "tags": [
          "Invalid Emails"
        ],
        "description": "**This endpoint allows you to retrieve a specific invalid email addresses.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "A specific invalid email.",
                  "minItems": 0,
                  "maxItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/InvalidEmail"
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "created": 1454433146,
                        "email": "test1@example.com",
                        "reason": "Mail domain mentioned in email address is unknown"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteInvalidEmail",
        "summary": "Delete a specific invalid email",
        "tags": [
          "Invalid Emails"
        ],
        "description": "**This endpoint allows you to remove a specific email address from the invalid email address list.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf_suppressions"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/suppression/spam_reports": {
      "get": {
        "operationId": "ListSpamReport",
        "summary": "Retrieve all spam reports",
        "tags": [
          "Spam Reports"
        ],
[...]
