{
  "openapi": "3.1.0",
  "info": {
    "title": "SendGrid",
    "version": "1.0.0-rc.13",
    "description": "Twilio SendGrid's v3 REST API for transactional email, marketing campaigns, and account management."
  },
  "servers": [
    {
      "url": "https://api.sendgrid.com",
      "description": "for global users and subusers"
    },
    {
      "url": "https://api.eu.sendgrid.com",
      "description": "for EU regional subusers"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v3/partners/accounts": {
      "get": {
        "operationId": "ListAccount",
        "summary": "Get all accounts",
        "tags": [
          "Account"
        ],
        "description": "Retrieves all accounts under the organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountProvisioningLastParam"
          },
          {
            "$ref": "#/components/parameters/AccountProvisioningCountParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AccountList",
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "description": "List of account objects.",
                      "items": {
                        "$ref": "#/components/schemas/AccountProvisioningAccount"
                      }
                    },
                    "pages": {
                      "$ref": "#/components/schemas/AccountProvisioningPagination"
                    }
                  }
                },
                "example": {
                  "accounts": [
                    {
                      "id": "sg2a2bcd3ef4ab5c67d8efab91c01de2fa",
                      "email": "test@test.com",
                      "created_at": "2006-01-02T15:04:05Z",
                      "updated_at": "2009-01-02T15:04:05Z"
                    },
                    {
                      "id": "sg2a2bcd3ef4ab5c67d8efab91c01de2fa",
                      "email": "testing@test.com",
                      "created_at": "2006-01-02T15:04:05Z",
                      "updated_at": "2009-01-02T15:04:05Z"
                    }
                  ],
                  "pages": {
                    "last": "sg2a2bcd3ef4ab5c67d8efab91c01de2fa"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "404": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      },
      "post": {
        "operationId": "CreateAccount",
        "summary": "Create an account",
        "description": "Creates a new account, with specified offering, under the organization.",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountProvisioningTestHeader"
          }
        ],
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAccountParams",
                "type": "object",
                "properties": {
                  "profile": {
                    "$ref": "#/components/schemas/AccountProvisioningProfile"
                  },
                  "offerings": {
                    "type": "array",
                    "description": "List of offering names to assign to account.",
                    "items": {
                      "$ref": "#/components/schemas/AccountProvisioningOfferingV1"
                    }
                  }
                },
                "required": [
                  "offerings"
                ]
              },
              "example": {
                "profile": {
                  "first_name": "Sender",
                  "last_name": "Wiz",
                  "company_name": "Twilio SendGrid",
                  "company_website": "https://sendgrid.com",
                  "email": "test@test.com",
                  "timezone": "Asia/Tokyo"
                },
                "offerings": [
                  {
                    "name": "org.ei.free.v1",
                    "type": "package",
                    "quantity": 1
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProvisioningAccountId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      }
    },
    "/v3/partners/accounts/{accountID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AccountProvisioningAccountId"
        }
      ],
      "delete": {
        "operationId": "DeleteAccount",
        "summary": "Delete an account",
        "description": "Delete a specific account under your organization by account ID. Note that this is an **irreversible** action that does the following:\n\n - Revokes API Keys and SSO so that the account user cannot log in or access SendGrid data.\n - Removes all offerings and configured SendGrid resources such as dedicated IPs.\n - Cancels billing effective immediately.",
        "tags": [
          "Account"
        ],
        "responses": {
          "204": {
            "description": "Account successfully deleted."
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "404": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      }
    },
    "/v3/partners/accounts/{accountID}/offerings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AccountProvisioningAccountId"
        }
      ],
      "get": {
        "operationId": "ListAccountOffering",
        "summary": "Get account offerings",
        "description": "Retrieves offering information about the specified account.",
        "tags": [
          "Offering"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProvisioningAssignedOfferingList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "404": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      },
      "put": {
        "operationId": "UpdateAccountOffering",
        "summary": "Update account offerings",
        "description": "Changes a package offering for the specified account. Please note that an account can have only one package offering. Also associates one or more add-on offerings such as Marketing Campaigns, Dedicated IP Addresses, and Expert Services to the specified account.",
        "tags": [
          "Offering"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "OfferingsToAdd",
                "type": "object",
                "properties": {
                  "offerings": {
                    "type": "array",
                    "description": "List of offerings to assign to account.",
                    "items": {
                      "$ref": "#/components/schemas/AccountProvisioningOfferingV1"
                    }
                  }
                },
                "required": [
                  "offerings"
                ]
              },
              "example": {
                "offerings": [
                  {
                    "name": "org.ei.free.v1",
                    "type": "package",
                    "quantity": 1
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProvisioningOfferingList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      }
    },
    "/v3/partners/accounts/{accountID}/sso": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AccountProvisioningAccountId"
        }
      ],
      "post": {
        "operationId": "AuthenticateAccount",
        "summary": "Authenticate an account with single sign on",
        "description": "Authenticates and logs in a user to Twilio Sendgrid as a specific admin identity configured for SSO by partner. Any additional teammates or subusers will need to log in directly via app.sendgrid.com",
        "tags": [
          "Account"
        ],
        "responses": {
          "303": {
            "description": "Successful redirect to app.sendgrid.com."
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "404": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      }
    },
    "/v3/partners/accounts/{accountID}/state": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AccountProvisioningAccountId"
        }
      ],
      "get": {
        "operationId": "GetAccountState",
        "summary": "Get an account's state",
        "description": "Retrieve the state of the specified account.",
        "tags": [
          "Account State"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProvisioningStateRead"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "404": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      },
      "put": {
        "operationId": "UpdateAccountState",
        "summary": "Update an account's state",
        "description": "Update the state of the specified account.",
        "tags": [
          "Account State"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountProvisioningStateWrite"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "State successfully updated"
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      }
    },
    "/v3/partners/offerings": {
      "get": {
        "operationId": "ListOffering",
        "summary": "Get all available offerings",
        "tags": [
          "Offering"
        ],
        "description": "Retrieves offerings available under the organization.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountProvisioningCatalog"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse401"
          },
          "403": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse403"
          },
          "404": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse500"
          },
          "502": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse502"
          },
          "503": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse503"
          },
          "504": {
            "$ref": "#/components/responses/AccountProvisioningErrorResponse504"
          }
        }
      }
    },
    "/v3/alerts": {
      "post": {
        "operationId": "CreateAlert",
        "summary": "Create a new Alert",
        "tags": [
          "Alerts"
        ],
        "description": "**This endpoint allows you to create a new alert.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "The type of alert you want to create. Can be either usage_limit or stats_notification.\nExample: usage_limit",
                    "$ref": "#/components/schemas/Type_alerts"
                  },
                  "email_to": {
                    "type": "string",
                    "description": "The email address the alert will be sent to.\nExample: test@example.com",
                    "format": "email",
                    "nullable": true
                  },
                  "frequency": {
                    "type": "string",
                    "description": "Required for stats_notification. How frequently the alert will be sent.\nExample: daily"
                  },
                  "percentage": {
                    "type": "integer",
                    "description": "Required for usage_limit. When this usage threshold is reached, the alert will be sent.\nExample: 90"
                  }
                },
                "required": [
                  "type",
                  "email_to"
                ],
                "example": {
                  "type": "stats_notification",
                  "email_to": "example@example.com",
                  "frequency": "daily"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "integer",
                      "description": "A Unix timestamp indicating when the alert was created."
                    },
                    "email_to": {
                      "type": "string",
                      "description": "The email address that the alert will be sent to.",
                      "format": "email"
                    },
                    "frequency": {
                      "type": "string",
                      "description": "If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, \"daily\", \"weekly\", or \"monthly\"."
                    },
                    "id": {
                      "type": "integer",
                      "description": "The ID of the alert."
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of alert."
                    },
                    "updated_at": {
                      "type": "integer",
                      "description": "A Unix timestamp indicating when the alert was last modified."
                    },
                    "percentage": {
                      "type": "integer",
                      "description": "If the alert is of type `usage_limit`, this indicates the percentage of email usage that must be reached before the alert will be sent."
                    }
                  },
                  "required": [
                    "created_at",
                    "email_to",
                    "id",
                    "type",
                    "updated_at"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "created_at": 1451520930,
                      "email_to": "test@example.com",
                      "frequency": "daily",
                      "id": 48,
                      "type": "stats_notification",
                      "updated_at": 1451520930
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse_alerts"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ListAlert",
        "summary": "Retrieve all alerts",
        "tags": [
          "Alerts"
        ],
        "description": "**This endpoint allows you to retrieve all of your alerts.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "The list of alerts.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "type": "integer",
                        "description": "A Unix timestamp indicating when the alert was created."
                      },
                      "email_to": {
                        "type": "string",
                        "description": "The email address that the alert will be sent to."
                      },
                      "id": {
                        "type": "integer",
                        "description": "The ID of the alert."
                      },
                      "percentage": {
                        "type": "integer",
                        "description": "If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent."
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of alert.",
                        "$ref": "#/components/schemas/Type1_alerts"
                      },
                      "updated_at": {
                        "type": "integer",
                        "description": "A Unix timestamp indicating when the alert was last modified."
                      },
                      "frequency": {
                        "type": "string",
                        "description": "If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, \"daily\", \"weekly\", or \"monthly\"."
                      }
                    },
                    "required": [
                      "created_at",
                      "email_to",
                      "id",
                      "type"
                    ]
                  }
                },
                "examples": {
                  "response": {
                    "value": [
                      {
                        "created_at": 1451498784,
                        "email_to": "example1@example.com",
                        "id": 46,
                        "percentage": 90,
                        "type": "usage_limit",
                        "updated_at": 1451498784
                      },
                      {
                        "created_at": 1451498812,
                        "email_to": "example2@example.com",
                        "frequency": "monthly",
                        "id": 47,
                        "type": "stats_notification",
                        "updated_at": 1451498812
                      },
                      {
                        "created_at": 1451520930,
                        "email_to": "example3@example.com",
                        "frequency": "daily",
                        "id": 48,
                        "type": "stats_notification",
                        "updated_at": 1451520930
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/alerts/{alert_id}": {
      "parameters": [
        {
          "name": "alert_id",
          "in": "path",
          "description": "The ID of the alert you would like to retrieve.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "GetAlert",
        "summary": "Retrieve a specific alert",
        "tags": [
          "Alerts"
        ],
        "description": "**This endpoint allows you to retrieve a specific alert.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "integer",
                      "description": "A Unix timestamp indicating when the alert was created."
                    },
                    "email_to": {
                      "type": "string",
                      "description": "The email address that the alert will be sent to."
                    },
                    "frequency": {
                      "type": "string",
                      "description": "If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: \"daily\", \"weekly\", or \"monthly\"."
                    },
                    "id": {
                      "type": "integer",
                      "description": "The ID of the alert."
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of alert.",
                      "$ref": "#/components/schemas/Type2"
                    },
                    "updated_at": {
                      "type": "integer",
                      "description": "A Unix timestamp indicating when the alert was last modified."
                    },
                    "percentage": {
                      "type": "integer",
                      "description": "If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent."
                    }
                  },
                  "required": [
                    "created_at",
                    "email_to",
                    "id",
                    "type",
                    "updated_at"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "created_at": 1451520930,
                      "email_to": "example@example.com",
                      "frequency": "daily",
                      "id": 48,
                      "type": "stats_notification",
                      "updated_at": 1451520930
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteAlert",
        "summary": "Delete an alert",
        "tags": [
          "Alerts"
        ],
        "description": "**This endpoint allows you to delete an alert.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "UpdateAlert",
        "summary": "Update an alert",
        "tags": [
          "Alerts"
        ],
        "description": "**This endpoint allows you to update an alert.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_to": {
                    "type": "string",
                    "description": "The new email address you want your alert to be sent to.\nExample: test@example.com"
                  },
                  "frequency": {
                    "type": "string",
                    "description": "The new frequency at which to send the stats_notification alert.\nExample: monthly"
                  },
                  "percentage": {
                    "type": "integer",
                    "description": "The new percentage threshold at which the usage_limit alert will be sent.\nExample: 90"
                  }
                },
                "example": {
                  "email_to": "example@example.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "integer",
                      "description": "A Unix timestamp indicating when the alert was created."
                    },
                    "email_to": {
                      "type": "string",
                      "description": "The email address that the alert will be sent to."
                    },
                    "frequency": {
                      "type": "string",
                      "description": "If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: \"daily\", \"weekly\", or \"monthly\"."
                    },
                    "id": {
                      "type": "integer",
                      "description": "The ID of the alert."
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of alert.",
                      "$ref": "#/components/schemas/Type3"
                    },
                    "updated_at": {
                      "type": "integer",
                      "description": "A Unix timestamp indicating when the alert was last modified."
                    },
                    "percentage": {
                      "type": "integer",
                      "description": "If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent."
                    }
                  },
                  "required": [
                    "created_at",
                    "email_to",
                    "id",
                    "type",
                    "updated_at"
                  ]
                },
                "examples": {
                  "response": {
                    "value": {
                      "created_at": 1451520930,
                      "email_to": "example@example.com",
                      "frequency": "daily",
                      "id": 48,
                      "type": "stats_notification",
                      "updated_at": 1451522691
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/api_keys": {
      "post": {
        "operationId": "CreateApiKey",
        "summary": "Create API keys",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to create a new API Key for the user.**\n\nTo create your initial SendGrid API Key, you should [use the SendGrid App](https://app.sendgrid.com/settings/api_keys). Once you have created a first key with scopes to manage additional API keys, you can use this API for all other key management.\nA JSON request body containing a `name` property is required when making requests to this endpoint. If the number of maximum keys, 100, is reached, a `403` status will be returned.\nThough the `name` field is required, it does not need to be unique. A unique API key ID will be generated for each key you create and returned in the response body.\nIt is not necessary to pass a `scopes` field to the API when creating a key, but you should be aware that omitting the `scopes` field from your request will create a key with \"Full Access\" permissions by default.\nSee the [API Key Permissions List](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/authorization) for all available scopes. An API key's scopes can be updated after creation using the \"Update API keys\" endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name you will use to describe this API Key."
                  },
                  "scopes": {
                    "type": "array",
                    "description": "The individual permissions that you are giving to this API Key.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "My API Key",
                  "scopes": [
                    "mail.send",
                    "alerts.create",
                    "alerts.read"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "api_key_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "api_key": "SG.xxxxxxxx.yyyyyyyy",
                      "api_key_id": "xxxxxxxx",
                      "name": "My API Key",
                      "scopes": [
                        "mail.send",
                        "alerts.create",
                        "alerts.read"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/ApiKeysError403"
          },
          "404": {
            "$ref": "#/components/responses/ApiKeysError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "get": {
        "operationId": "ListApiKey",
        "summary": "Retrieve all API Keys belonging to the authenticated user",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to retrieve all API Keys that belong to the authenticated user.**\n\nA successful response from this API will include all available API keys' names and IDs.\n\nFor security reasons, there is not a way to retrieve the key itself after it's created. If you lose your API key, you must create a new one. Only the \"Create API keys\" endpoint will return a key to you and only at the time of creation.\n\nAn `api_key_id` can be used to update or delete the key, as well as retrieve the key's details, such as its scopes.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "name": "API Key Name",
                          "api_key_id": "some-apikey-id"
                        },
                        {
                          "name": "API Key Name 2",
                          "api_key_id": "another-apikey-id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      }
    },
    "/v3/api_keys/{api_key_id}": {
      "parameters": [
        {
          "name": "api_key_id",
          "in": "path",
          "description": "",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetApiKey",
        "summary": "Retrieve an existing API Key",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to retrieve a single API key using an `api_key_id`.**\n\nThe endpoint will return a key's name, ID, and scopes. If the API Key ID does not, exist a `404` status will be returned.\n\nSee the [API Key Permissions List](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/authorization) for all available scopes. An API key's scopes can be updated after creation using the \"Update API keys\" endpoint.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyScopesResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "result": [
                        {
                          "name": "API Key Name",
                          "api_key_id": "some-apikey-id"
                        },
                        {
                          "name": "API Key Name 2",
                          "api_key_id": "another-apikey-id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/ApiKeysError403"
          },
          "404": {
            "$ref": "#/components/responses/ApiKeysError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "patch": {
        "operationId": "UpdateApiKeyName",
        "summary": "Update API key name",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to update the name of an existing API Key.**\n\nYou must pass this endpoint a JSON request body with a `name` property, which will be used to rename the key associated with the `api_key_id` passed in the URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name of the API Key."
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "A New Hope"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "api_key_id": "qfTQ6KG0QBiwWdJ0-pCLCA",
                      "name": "A New Hope"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "put": {
        "operationId": "UpdateApiKey",
        "summary": "Update API key name and scopes",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to update the name and scopes of a given API key.**\n\nYou must pass this endpoint a JSON request body with a `name` field and a `scopes` array containing at least one scope. The `name` and `scopes` fields will be used to update the key associated with the `api_key_id` in the request URL.\n\nIf you need to update a key's scopes only, pass the `name` field with the key's existing name; the `name` will not be modified. If you need to update a key's name only, use the \"Update API key name\" endpoint.\n\nSee the [API Key Permissions List](https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/authorization) for all available scopes.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "Profiles key",
                  "scopes": [
                    "user.profile.read",
                    "user.profile.update"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                },
                "examples": {
                  "response": {
                    "value": {
                      "api_key_id": "qfTQ6KG0QBiwWdJ0-pCLCA",
                      "name": "Profiles Key",
                      "scopes": [
                        "user.profile.read",
                        "user.profile.update"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      },
      "delete": {
        "operationId": "DeleteApiKey",
        "summary": "Delete API keys",
        "tags": [
          "API Keys"
        ],
        "description": "**This endpoint allows you to revoke an existing API Key using an `api_key_id`**\n\nAuthentications using a revoked API Key will fail after after some small propogation delay. If the API Key ID does not exist, a `404` status will be returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "$ref": "#/components/responses/ApiKeysError400"
          },
          "401": {
            "$ref": "#/components/responses/GlobalError401"
          },
          "403": {
            "$ref": "#/components/responses/GlobalError403"
          },
          "404": {
            "$ref": "#/components/responses/GlobalError404"
          },
          "500": {
            "$ref": "#/components/responses/GlobalError500"
          }
        }
      }
    },
    "/v3/whitelabel/dns/email": {
      "post": {
        "operationId": "EmailDnsRecord",
        "summary": "Email DNS records to a co-worker",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint is used to share DNS records with a colleagues**\n\nUse this endpoint to send SendGrid-generated DNS record information to a co-worker so they can enter it into your DNS provider to validate your domain and link branding. \n\nWhat type of records are sent will depend on whether you have chosen Automated Security or not. When using Automated Security, SendGrid provides you with three CNAME records. If you turn Automated Security off, you are instead given TXT and MX records.\n\nIf you pass a `link_id` to this endpoint, the generated email will supply the DNS records necessary to complete [Link Branding](https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-link-branding/) setup. If you pass a `domain_id` to this endpoint, the generated email will supply the DNS records needed to complete [Domain Authentication](https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-domain-authentication/). Passing both IDs will generate an email with the records needed to complete both setup steps.\n\nYou can retrieve all your domain IDs from the returned `id` fields for each domain using the \"List all authenticated domains\" endpoint. You can retrieve all of your link IDs using the \"Retrieve all branded links\" endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link_id": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The ID of the branded link."
                  },
                  "domain_id": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The ID of your SendGrid domain record."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email address to send the DNS information to."
                  },
                  "message": {
                    "type": "string",
                    "default": "Please set these DNS records in our hosting solution.",
                    "description": "A custom text block to include in the email body sent with the records."
                  }
                },
                "required": [
                  "link_id",
                  "domain_id",
                  "email"
                ],
                "example": {
                  "link_id": 29719392,
                  "domain_id": 46873408,
                  "email": "my_colleague@example.com",
                  "message": "DNS Record for verification"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/whitelabel/domains": {
      "get": {
        "operationId": "ListAuthenticatedDomain",
        "summary": "List all authenticated domains",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to retrieve a paginated list of all domains you have authenticated.**\n\nYou can use the `limit` query parameter to set the page size. If your list contains more items than the page size permits, you can make multiple requests. Use the `offset` query parameter to control the position in the list from which to start retrieving additional items.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "`limit` sets the page size, i.e. maximum number of items from the list to be returned for a single API request. If omitted, the default page size is used.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/PaginationCommonOffset"
          },
          {
            "name": "exclude_subusers",
            "in": "query",
            "description": "Exclude subuser domains from the result.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "The username associated with an authenticated domain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Search for authenticated domains.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainAuthentication200"
          }
        }
      },
      "post": {
        "operationId": "AuthenticateDomain",
        "summary": "Authenticate a domain",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to authenticate a domain.**\n\nIf you are authenticating a domain for a subuser, you have two options:\n1. Use the \"username\" parameter. This allows you to authenticate a domain on behalf of your subuser. This means the subuser is able to see and modify the authenticated domain.\n2. Use the Association workflow (see Associate Domain section). This allows you to authenticate a domain created by the parent to a subuser. This means the subuser will default to the assigned domain, but will not be able to see or modify that authenticated domain. However, if the subuser authenticates their own domain it will overwrite the assigned domain.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Domain being authenticated."
                  },
                  "subdomain": {
                    "type": "string",
                    "description": "The subdomain or custom return-path to use for this authenticated domain."
                  },
                  "username": {
                    "type": "string",
                    "description": "The username associated with this domain."
                  },
                  "ips": {
                    "type": "array",
                    "description": "The IP addresses that will be included in the custom SPF record for this authenticated domain.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "custom_spf": {
                    "type": "boolean",
                    "description": "Specify whether to use a custom SPF or allow SendGrid to manage your SPF. This option is only available to authenticated domains set up for manual security."
                  },
                  "default": {
                    "type": "boolean",
                    "description": "Whether to use this authenticated domain as the fallback if no authenticated domains match the sender's domain."
                  },
                  "automatic_security": {
                    "type": "boolean",
                    "description": "Whether to allow SendGrid to manage your SPF records, DKIM keys, and DKIM key rotation."
                  },
                  "custom_dkim_selector": {
                    "type": "string",
                    "description": "Add a custom DKIM selector. Accepts three letters or numbers."
                  },
                  "region": {
                    "type": "string",
                    "description": "The region of the domain. Allowed values are `global` and `eu`. The default value is `global`."
                  }
                },
                "required": [
                  "domain"
                ],
                "example": {
                  "domain": "example.com",
                  "subdomain": "news",
                  "username": "john@example.com",
                  "ips": [
                    "192.168.1.1",
                    "192.168.1.2"
                  ],
                  "custom_spf": true,
                  "default": true,
                  "automatic_security": false,
                  "custom_dkim_selector": "string",
                  "region": "global"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedDomain"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 302183,
                      "user_id": 1446226,
                      "subdomain": "example",
                      "domain": "example.com",
                      "username": "mbernier",
                      "ips": [],
                      "custom_spf": false,
                      "default": true,
                      "legacy": false,
                      "automatic_security": true,
                      "valid": false,
                      "dns": {
                        "mail_cname": {
                          "valid": false,
                          "type": "cname",
                          "host": "example.example.com",
                          "data": "u1446226.wl.sendgrid.net"
                        },
                        "dkim1": {
                          "valid": false,
                          "type": "cname",
                          "host": "s1._domainkey.example.com",
                          "data": "s1.domainkey.u1446226.wl.sendgrid.net"
                        },
                        "dkim2": {
                          "valid": false,
                          "type": "cname",
                          "host": "s2._domainkey.example.com",
                          "data": "s2.domainkey.u1446226.wl.sendgrid.net"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/whitelabel/domains/{domain_id}": {
      "parameters": [
        {
          "name": "domain_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "GetAuthenticatedDomain",
        "summary": "Retrieve an authenticated domain",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to retrieve a specific authenticated domain.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedDomain"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 45373692,
                      "user_id": 66036447,
                      "subdomain": "sub",
                      "domain": "example.com",
                      "username": "jdoe",
                      "ips": [
                        "127.0.0.1"
                      ],
                      "custom_spf": false,
                      "default": true,
                      "legacy": false,
                      "automatic_security": true,
                      "valid": true,
                      "dns": {
                        "mail_cname": {
                          "valid": true,
                          "type": "cname",
                          "host": "mail.example.com",
                          "data": "u7.wl.sendgrid.net"
                        },
                        "dkim1": {
                          "valid": true,
                          "type": "cname",
                          "host": "s1._domainkey.example.com",
                          "data": "s1._domainkey.u7.wl.sendgrid.net"
                        },
                        "dkim2": {
                          "valid": true,
                          "type": "cname",
                          "host": "s2._domainkey.example.com",
                          "data": "s2._domainkey.u7.wl.sendgrid.net"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "UpdateAuthenticatedDomain",
        "summary": "Update an authenticated domain",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to update the settings for an authenticated domain.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "default": {
                    "type": "boolean",
                    "default": false,
                    "description": "Indicates whether this is the default authenticated domain."
                  },
                  "custom_spf": {
                    "type": "boolean",
                    "default": false,
                    "description": "Indicates whether to generate a custom SPF record for manual security."
                  }
                },
                "example": {
                  "default": false,
                  "custom_spf": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainAuthentication200"
          }
        }
      },
      "delete": {
        "operationId": "DeleteAuthenticatedDomain",
        "summary": "Delete an authenticated domain.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to delete an authenticated domain.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/whitelabel/domains/{domain_id}/subuser": {
      "post": {
        "operationId": "AssociateSubuserWithDomain",
        "summary": "Associate an authenticated domain with a given user.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to associate a specific authenticated domain with a subuser.**\nAuthenticated domains can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's domain. To associate an authenticated domain with a subuser, the parent account must first authenticate and validate the domain. The parent may then associate the authenticated domain via the subuser management tools.\n\n\n[You can associate more than one domain with a subuser using the `v3/whitelabel/domains/{domain_id}/subuser:add` endpoint](https://www.twilio.com/docs/sendgrid/api-reference/domain-authentication/associate-an-authenticated-domain-with-a-subuser-multiple).",
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "description": "ID of the authenticated domain to associate with the subuser.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Username to associate with the authenticated domain."
                  }
                },
                "required": [
                  "username"
                ],
                "example": {
                  "username": "jdoe"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedDomainSpf"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 1,
                      "domain": "example.com",
                      "subdomain": "mail",
                      "username": "jdoe",
                      "user_id": 7,
                      "ips": [],
                      "custom_spf": true,
                      "default": false,
                      "legacy": false,
                      "automatic_security": false,
                      "valid": false,
                      "dns": {
                        "mail_server": {
                          "host": "mail.example.com",
                          "type": "mx",
                          "data": "sendgrid.net",
                          "valid": false
                        },
                        "subdomain_spf": {
                          "host": "mail.example.com",
                          "type": "txt",
                          "data": "v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all",
                          "valid": false
                        },
                        "domain_spf": {
                          "host": "example.com",
                          "type": "txt",
                          "data": "v=spf1 include:mail.example.com -all",
                          "valid": false
                        },
                        "dkim": {
                          "host": "s1._domainkey.example.com",
                          "type": "txt",
                          "data": "k=rsa; t=s; p=publicKey",
                          "valid": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DisassociateSubuserFromDomain",
        "summary": "Disassociate an authenticated domain from a given user for users with up to five associated domains.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to disassociate a specific authenticated domain from a subuser, for users with up to five associated domains.**\n\n\nThis functionality allows subusers to send mail using their parent's domain. Authenticated domains can be associated with (i.e. assigned to) subusers kknt, and a subuser can have up to five associated authenticated domains. \n\nYou can dissociate an authenticated domain from any subuser that has one or more authenticated domains using this endpoint.",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Username for the subuser to find associated authenticated domain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_id",
            "in": "path",
            "description": "ID of the authenticated domain to be disassociated with the subuser.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/whitelabel/domains/{domain_id}/subuser:add": {
      "parameters": [
        {
          "name": "domain_id",
          "in": "path",
          "description": "ID of the authenticated domain to associate with the subuser.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "AssociateSubuserWithDomainMultiple",
        "summary": "Associate an authenticated domain with a given user, for up to five domains.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to associate a specific authenticated domain with a subuser. It can be used to associate up to five authenticated domains.**\n\n\nThis functionality allows subusers to send mail using their parent's domain. Authenticated domains can be associated with (i.e. assigned to) subusers from a parent account. To associate an authenticated domain with a subuser, the parent account must first authenticate and validate the domain. The parent may then associate the authenticated domain via the subuser management tools.\n\n\nA subuser can have up to five associated authenticated domains. To see the domains that have already been associated with this user, you can [use the API to list the domains currently associated with the subuser](https://www.twilio.com/docs/sendgrid/api-reference/domain-authentication/list-the-authenticated-domain-associated-with-a-subuser-multiple).\n\n\nWhen selecting a domain to send email from, SendGrid checks for domains in the following order and chooses the first one that appears in the hierarchy: \n1. Domain assigned by the subuser that matches the email's `From` address domain. \n2. The subuser's default domain. \n3. Domain assigned by the parent user that matches the `From` address domain. \n4. Parent user's default domain. \n5. sendgrid.net",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Username to associate with the authenticated domain."
                  }
                },
                "required": [
                  "username"
                ],
                "example": {
                  "username": "jdoe"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedDomainSpf"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 1,
                      "domain": "example.com",
                      "subdomain": "mail",
                      "username": "jdoe",
                      "user_id": 7,
                      "ips": [],
                      "custom_spf": true,
                      "default": false,
                      "legacy": false,
                      "automatic_security": false,
                      "valid": false,
                      "dns": {
                        "mail_server": {
                          "host": "mail.example.com",
                          "type": "mx",
                          "data": "sendgrid.net",
                          "valid": false
                        },
                        "subdomain_spf": {
                          "host": "mail.example.com",
                          "type": "txt",
                          "data": "v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all",
                          "valid": false
                        },
                        "domain_spf": {
                          "host": "example.com",
                          "type": "txt",
                          "data": "v=spf1 include:mail.example.com -all",
                          "valid": false
                        },
                        "dkim": {
                          "host": "s1._domainkey.example.com",
                          "type": "txt",
                          "data": "k=rsa; t=s; p=publicKey",
                          "valid": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/whitelabel/domains/{id}/ips": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID of the domain to which you are adding an IP",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "AddIpToAuthenticatedDomain",
        "summary": "Add an IP to an authenticated domain",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to add an IP address to an authenticated domain.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ip": {
                    "type": "string",
                    "description": "IP to associate with the domain. Used for manually specifying IPs for custom SPF."
                  }
                },
                "required": [
                  "ip"
                ],
                "example": {
                  "ip": "192.168.0.1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedDomainSpf"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 1,
                      "domain": "example.com",
                      "subdomain": "mail",
                      "username": "john@example.com",
                      "user_id": 7,
                      "ips": [],
                      "custom_spf": true,
                      "default": false,
                      "legacy": false,
                      "automatic_security": false,
                      "valid": false,
                      "dns": {
                        "mail_server": {
                          "host": "mail.example.com",
                          "type": "mx",
                          "data": "sendgrid.net",
                          "valid": false
                        },
                        "subdomain_spf": {
                          "host": "mail.example.com",
                          "type": "txt",
                          "data": "v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all",
                          "valid": false
                        },
                        "domain_spf": {
                          "host": "example.com",
                          "type": "txt",
                          "data": "v=spf1 include:mail.example.com -all",
                          "valid": false
                        },
                        "dkim": {
                          "host": "s1._domainkey.example.com",
                          "type": "txt",
                          "data": "k=rsa; t=s; p=publicKey",
                          "valid": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/whitelabel/domains/{id}/ips/{ip}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID of the domain to delete the IP from.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "ip",
          "in": "path",
          "description": "IP to remove from the domain.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "operationId": "DeleteIpFromAuthenticatedDomain",
        "summary": "Remove an IP from an authenticated domain.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to remove an IP address from that domain's authentication.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedDomainSpf"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 1,
                      "domain": "example.com",
                      "subdomain": "mail",
                      "username": "mail@example.com",
                      "user_id": 7,
                      "ips": [],
                      "custom_spf": true,
                      "default": false,
                      "legacy": false,
                      "automatic_security": false,
                      "valid": false,
                      "dns": {
                        "mail_server": {
                          "host": "mail.example.com",
                          "type": "mx",
                          "data": "sendgrid.net",
                          "valid": false
                        },
                        "subdomain_spf": {
                          "host": "mail.example.com",
                          "type": "txt",
                          "data": "v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all",
                          "valid": false
                        },
                        "domain_spf": {
                          "host": "example.com",
                          "type": "txt",
                          "data": "v=spf1 include:mail.example.com -all",
                          "valid": false
                        },
                        "dkim": {
                          "host": "s1._domainkey.example.com",
                          "type": "txt",
                          "data": "k=rsa; t=s; p=publicKey",
                          "valid": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/whitelabel/domains/{id}/validate": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "ID of the domain to validate.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "ValidateAuthenticatedDomain",
        "summary": "Validate a domain authentication.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to validate an authenticated domain. If it fails, it will return an error message describing why the domain could not be validated.**",
        "parameters": [
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The ID of the authenticated domain."
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "Indicates if this is a valid authenticated domain."
                    },
                    "validation_results": {
                      "type": "object",
                      "description": "The individual DNS records that are checked when validating, including the reason for any invalid DNS records.",
                      "properties": {
                        "mail_cname": {
                          "type": "object",
                          "description": "The CNAME record for the authenticated domain.",
                          "properties": {
                            "valid": {
                              "type": "boolean",
                              "description": "Indicates if this DNS record is valid."
                            },
                            "reason": {
                              "description": "The reason this record is invalid.",
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "dkim1": {
                          "type": "object",
                          "description": "A DNS record for this authenticated domain.",
                          "properties": {
                            "valid": {
                              "type": "boolean",
                              "description": "Indicates if the DNS record is valid."
                            },
                            "reason": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "dkim2": {
                          "type": "object",
                          "description": "A DNS record for this authenticated domain.",
                          "properties": {
                            "valid": {
                              "type": "boolean",
                              "description": "Indicates if the DNS record is valid."
                            },
                            "reason": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "spf": {
                          "type": "object",
                          "description": "The SPF record for the authenticated domain.",
                          "properties": {
                            "valid": {
                              "type": "boolean",
                              "description": "Indicates if the SPF record is valid."
                            },
                            "reason": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 1,
                      "valid": true,
                      "validation_results": {
                        "mail_cname": {
                          "valid": false,
                          "reason": "Expected your MX record to be \"mx.sendgrid.net\" but found \"example.com\"."
                        },
                        "dkim1": {
                          "valid": true,
                          "reason": null
                        },
                        "dkim2": {
                          "valid": true,
                          "reason": null
                        },
                        "spf": {
                          "valid": true,
                          "reason": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "A message explaining the reason for the error."
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "message": "internal error getting TXT"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/whitelabel/domains/default": {
      "get": {
        "operationId": "ListDefaultAuthenticatedDomain",
        "summary": "Get the default authentication",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to retrieve the default authentication for a domain.**\n\nWhen creating or updating a domain authentication, you can set the domain as a default. The default domain will be used to send all mail. If you have multiple authenticated domains, the authenticated domain matching the domain of the From address will be used, and the default will be overridden.\n\nThis endpoint will return a default domain and its details only if a default is set. You are not required to set a default. If you do not set a default domain, this endpoint will return general information about your domain authentication status.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "The domain to find a default authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OnBehalfOf"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DomainAuthentication200"
          }
        }
      }
    },
    "/v3/whitelabel/domains/subuser": {
      "get": {
        "operationId": "ListAuthenticatedDomainWithUser",
        "summary": "List the authenticated domain associated with the given user.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to retrieve all of the authenticated domains that have been assigned to a specific subuser.**\n\nAuthenticated domains can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's domain. To associate an authenticated domain with a subuser, the parent account must first authenticate and validate the domain. The parent may then associate the authenticated domain via the subuser management tools.\n\n\nNote that if you used the [`/v3/whitelabel/domains/{domain_id}/subuser:add` endpoint]( https://www.twilio.com/docs/sendgrid/api-reference/domain-authentication/associate-an-authenticated-domain-with-a-subuser-multiple) to add multiple domains to the subuser, you can use the [`/v3/whitelabel/domains/subuser/all` endpoint](https://www.twilio.com/docs/sendgrid/api-reference/domain-authentication/list-the-authenticated-domain-associated-with-a-subuser-multiple) to list those associated domains.",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Username for the subuser to find associated authenticated domain.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedDomainSpf"
                },
                "examples": {
                  "response": {
                    "value": {
                      "id": 1,
                      "domain": "example.com",
                      "subdomain": "mail",
                      "username": "mail@example.com",
                      "user_id": 7,
                      "ips": [],
                      "custom_spf": true,
                      "default": false,
                      "legacy": false,
                      "automatic_security": false,
                      "valid": false,
                      "dns": {
                        "mail_server": {
                          "host": "mail.example.com",
                          "type": "mx",
                          "data": "sendgrid.net",
                          "valid": false
                        },
                        "subdomain_spf": {
                          "host": "mail.example.com",
                          "type": "txt",
                          "data": "v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all",
                          "valid": false
                        },
                        "domain_spf": {
                          "host": "example.com",
                          "type": "txt",
                          "data": "v=spf1 include:mail.example.com -all",
                          "valid": false
                        },
                        "dkim": {
                          "host": "s1._domainkey.example.com",
                          "type": "txt",
                          "data": "k=rsa; t=s; p=publicKey",
                          "valid": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DisassociateAuthenticatedDomainFromUser",
        "summary": "Disassociate an authenticated domain from a given user.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to disassociate a specific authenticated domain from a subuser.**\n\nAuthenticated domains can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's domain. To associate an authenticated domain with a subuser, the parent account must first authenticate and validate the domain. The parent may then associate the authenticated domain via the subuser management tools.\n\n\nNote that if you used the [`/v3/whitelabel/domains/{domain_id}/subuser:add` endpoint](https://www.twilio.com/docs/sendgrid/api-reference/domain-authentication/associate-an-authenticated-domain-with-a-subuser-multiple) to add multiple domains to the subuser, you should use the [`/v3/whitelabel/domains/{domain_id}/subuser` endpoint](https://www.twilio.com/docs/sendgrid/api-reference/domain-authentication/disassociate-an-authenticated-domain-from-a-subuser-multiple) to disassociate those domains.",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Username for the subuser to find associated authenticated domain.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/v3/whitelabel/domains/subuser/all": {
      "get": {
        "operationId": "ListAllAuthenticatedDomainWithUser",
        "summary": "List all the authenticated domains associated with the given user.",
        "tags": [
          "Domain Authentication"
        ],
        "description": "**This endpoint allows you to retrieve all of the authenticated domains that have been assigned to a specific subuser.**\n\n\nThis functionality allows subusers to send mail using their parent's domain. Authenticated domains can be associated with (i.e. assigned to) subusers from a parent account, and a subuser can have up to five associated domains. \n\nTo associate an authenticated domain with a subuser, the parent account must first authenticate and validate the domain. The parent may then associate the authenticated domain via the subuser management tools.\n\n\nWhen selecting a domain to send email from, SendGrid checks for domains in the following order and chooses the first one that appears in the hierarchy: \n1. Domain assigned by the subuser that matches the email's `From` address domain. \n2. The subuser's default domain. \n3. Domain assigned by the parent user that matches the `From` address domain. \n4. Parent user's default domain. \n5. sendgrid.net",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "Username for the subuser to find associated authenticated domains.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "description": "The ID of the authenticated domain."
                      },
                      "user_id": {
                        "type": "number",
                        "description": "The ID of the user that this domain is associated with."
                      },
                      "subdomain": {
                        "type": "string",
                        "description": "The subdomain or custom return-path to use for this authenticated domain."
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain to be authenticated."
                      },
                      "username": {
                        "type": "string",
                        "description": "The username that this domain will be associated with."
                      },
                      "ips": {
                        "type": "array",
                        "description": "The IPs to be included in the custom SPF record for this authenticated domain.",
                        "items": {
                          "type": "string"
                        }
                      },
                      "custom_spf": {
                        "type": "boolean",
                        "description": "Indicates whether this authenticated domain uses custom SPF."
                      },
                      "default": {
                        "type": "boolean",
                        "description": "Indicates if this is the default authenticated domain."
                      },
                      "legacy": {
                        "type": "boolean",
                        "description": "Indicates if this authenticated domain was created using the legacy whitelabel tool. If it is a legacy whitelabel, it will still function, but you'll need to create a new authenticated domain if you need to update it."
                      },
                      "automatic_security": {
                        "type": "boolean",
                        "description": "Indicates if this authenticated domain uses automated security."
                      },
                      "valid": {
                        "type": "boolean",
                        "description": "Indicates if this is a valid authenticated domain."
                      },
                      "dns": {
                        "type": "object",
                        "description": "The DNS records used to authenticate the sending domain.",
                        "required": [
                          "mail_cname",
                          "dkim1",
                          "dkim2"
                        ],
                        "properties": {
                          "mail_cname": {
                            "type": "object",
                            "description": "The CNAME for your sending domain that points to sendgrid.net.",
                            "required": [
                              "valid",
                              "type",
[...]
