{
  "openapi": "3.0.3",
  "info": {
    "title": "OpsRamp",
    "version": "2.0.0",
    "description": "Authentication: OAuth 2.0 (client credentials grant). OpsRamp is a SaaS IT operations management platform providing unified resource/device monitoring, alerting, incident (ticket) management, and third-party integration management across hybrid IT environments.",
    "x-vendor-api-version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.opsramp.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2ClientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.opsramp.com/tenancy/auth/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "rm_discoveredService": {
        "title": "discoveredService",
        "type": "object",
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "Manual",
              "Disabled",
              "Auto"
            ],
            "example": "Auto",
            "default": "Auto"
          },
          "logonAs": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "Running",
              "Stopped",
              "Paused",
              "Start Pending",
              "Stop Pending",
              "Continue Pending"
            ]
          },
          "monitored": {
            "type": "boolean"
          },
          "serviceStatus": {
            "type": "string"
          }
        }
      },
      "rm_taggable": {
        "title": "taggable",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "resourceName": {
            "type": "string"
          },
          "hostName": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          }
        }
      },
      "rm_customAttributeValue": {
        "title": "customAttributeValue",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "customAttribute": {
            "type": "object",
            "description": "The custom attribute object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "organization": {
                "$ref": "#/components/schemas/rm_organization"
              }
            }
          },
          "value": {
            "type": "string",
            "description": "Values of the custom attributes values.\n"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "rm_customAttribute": {
        "title": "customAttribute",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "customAttributeValue": {
            "$ref": "#/components/schemas/rm_customAttributeValue"
          },
          "taggable": {
            "$ref": "#/components/schemas/rm_taggable"
          },
          "tagSource": {
            "type": "string"
          }
        }
      },
      "rm_response": {
        "title": "response",
        "type": "object",
        "properties": {
          "failedEntities": {
            "type": "object"
          },
          "failedCount": {
            "type": "integer"
          },
          "successCount": {
            "type": "integer"
          }
        }
      },
      "rm_organization": {
        "title": "organization",
        "type": "object",
        "description": "The tenant to which custom attribute is associated",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Tenant Id"
          },
          "uniqueId": {
            "type": "string",
            "description": "Tenant unique Id"
          },
          "name": {
            "type": "string",
            "description": "Tenant name"
          },
          "activated": {
            "type": "boolean",
            "description": "Is tenant active"
          }
        }
      },
      "rm_customAttributeTypes": {
        "title": "customAttributeTypes",
        "type": "object",
        "description": "Custom Attribute type",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Custom attribute Id"
          },
          "name": {
            "type": "string",
            "description": "Custon attribute bame"
          },
          "description": {
            "type": "string"
          },
          "customAttributeValues": {
            "type": "array",
            "description": "Values of Custom Attribute",
            "items": {
              "$ref": "#/components/schemas/rm_customAttributeValue"
            }
          },
          "organization": {
            "$ref": "#/components/schemas/rm_organization"
          }
        }
      },
      "rm_resource": {
        "title": "resource",
        "type": "object",
        "description": "OpsRamp basic resource object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Resource uuid"
          },
          "name": {
            "type": "string",
            "description": "Resource Name"
          },
          "createdDate": {
            "type": "string",
            "description": "Resource created date"
          },
          "updatedDate": {
            "type": "string",
            "description": "Last updated date Resourc"
          },
          "entityType": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "resourceName": {
            "type": "string"
          },
          "hostName": {
            "type": "string"
          },
          "aliasName": {
            "type": "string"
          }
        }
      },
      "rm_deviceGroup": {
        "title": "deviceGroup",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Unique name for the device group. The device group is identified with this name.\n"
          },
          "entityType": {
            "type": "string",
            "description": "Type of resources in a group. Example: DEVICE_GROUP, SNS\n"
          },
          "kbArticlesIds": {
            "type": "array",
            "description": "Knowledge base articleId to be attached to resouce groupId.",
            "items": {
              "type": "integer"
            }
          },
          "filterCriteria": {
            "$ref": "#/components/schemas/rm_policy"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "parent": {
            "type": "object",
            "description": "Add a device group as child under an existing device group (parent). This field is mandatory while adding a child device group to parent device group.",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "rm_policy": {
        "title": "deviceManagementPolicy",
        "type": "object",
        "properties": {
          "matchType": {
            "type": "string",
            "description": "(Optional) The type of match:\n-To match all the filter conditions, provide matchType: ALL.\n- To match any one of the filter conditions, provide matchType: ANY.",
            "enum": [
              "ALL",
              "ANY"
            ]
          },
          "rules": {
            "type": "array",
            "description": "(Optional) Filter devices with specific attributes:\n- Attribute name of device. Example: Name, Operating System. Attribute names change with device types.\n- Matching parameter. Supported operators are: Equals, Contains, Not Contains, Starts with, Ends with, Regex. Learn more about Regex.\n- Type of resource",
            "items": {
              "$ref": "#/components/schemas/rm_rule"
            }
          },
          "actions": {
            "type": "array",
            "description": "- Supported actions\n   - ASSIGN MONITORINGTEMPLATE\n   - ASSIGN KNOWLEDGEARTICLE\n   - Assign Availability Rule\n   - ASSIGN CUSTOMATTRIBUTES\n   - Assign Jobs\n   - ASSIGN CREDENTIALSET\n\n- Supported values for items for given action\n  -  For Assign Availability Rule  , item value is AND\n  -  For ASSIGN CUSTOMATTRIBUTES, item value is tagName[value='tagValue']\n  -  For all others this is  number in string eg  \"12345\"\n- Scenarios for Custom attributes item values in response payload\n   - New TagName : New Tag created with given Name and Tag Value, and Assigned. - Id of New Tag Value added to response\n   - Old TagName and New Tag Value : New Tag Value added to Tag and Assigned - Id of New Tag Value added to response.\n   - Old TagName and Old TagValue : Both the details are verfied and Assigned - Id of TagValue added to Response",
            "items": {
              "$ref": "#/components/schemas/rm_action"
            }
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Name of the policy.\n"
          },
          "resourceType": {
            "type": "string",
            "description": "Type of resource.\nExample: DEVICE, VOLUME, VPN, XENSERVER"
          },
          "executionOrder": {
            "type": "integer"
          },
          "clientMatchingType": {
            "type": "string",
            "x-stoplight": {
              "id": "jofa8bkhibhjz"
            },
            "enum": [
              "EXCLUDE",
              "INCLUDE",
              "ALL"
            ],
            "default": "ALL",
            "example": "ALL",
            "description": "- The clientMatchingType field is optional and when not passed defaults to the following   \"clientMatchingType\": \"ALL\"\n- The clientMatchingType field is applicable at partner-level DMP only.\n- If clientMatchingType EXCLUDE/INCLUDE, then the clients field is mandatory.\n- On policy update, if clientMatchingType is not passed then clientMatchingType will be updated to ALL and client selection will be removed."
          },
          "clients": {
            "type": "array",
            "x-stoplight": {
              "id": "vf3zkc9tjqmor"
            },
            "items": {}
          },
          "searchQuery": {
            "type": "string",
            "description": "Search query string for filtering resources.\n"
          },
          "parentPolicy": {
            "type": "integer",
            "description": "ID of the parent policy from which this policy is being cloned. This numerical field can be given as part of payload to create a child policy.\n"
          },
          "uid": {
            "type": "string",
            "description": "Unique identifier string for the policy.\n"
          },
          "createdDate": {
            "type": "string",
            "description": "Policy created date.\n"
          },
          "updatedDate": {
            "type": "string",
            "description": "Policy last updated date.\n"
          },
          "systemQuery": {
            "type": "string",
            "description": "System-generated query string for additional filtering criteria. System-generated query string containing the parent policy query. User-defined search query will append to this system query with AND condition as present in UI.\n"
          },
          "completeSearchQuery": {
            "type": "string",
            "description": "Combined search query including both user-defined and system-generated criteria.\n"
          },
          "parentPolicyUID": {
            "type": "string",
            "description": "Unique identifier string of the parent policy\n"
          },
          "customized": {
            "type": "boolean",
            "description": "Indicates whether the policy has been customized from its parent.\n"
          },
          "globalPolicy": {
            "type": "boolean",
            "description": "Indicates whether this is a global policy or tenant-specific.\n"
          }
        }
      },
      "rm_rule": {
        "title": "rule",
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "resourceType": {
            "type": "string"
          },
          "filterType": {
            "type": "string"
          },
          "isNativeAttribute": {
            "type": "boolean"
          }
        }
      },
      "rm_action": {
        "title": "action",
        "type": "object",
        "description": "Refers to the actions performed on the filtered resources. Select at least one of the following actions:\n- Assign Monitoring Templates\n- Assign Knowledge Base Articles\n- Assign Availability Rule\n- Assign Custom Attributes\n- Assign Jobs\n- Assign Credentials\n\nExamples: \"ASSIGN MONITORINGTEMPLATE\" and \"ASSIGN KNOWLEDGEARTICLE\"",
        "properties": {
          "action": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object",
                  "description": "Template configuration parameters. These would be mandatory attributes in case the template has been configured to have configuration parameters for the \"ASSIGN MONITORINGTEMPLATE\" action."
                },
                "instances": {
                  "type": "object"
                }
              }
            }
          },
          "forceAssignOrUnassign": {
            "type": "boolean"
          }
        }
      },
      "rm_httpResponse": {
        "title": "httpResponse",
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "entity": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "length": {
            "type": "integer"
          },
          "headers": {
            "type": "object"
          },
          "cookies": {
            "type": "object"
          },
          "links": {
            "type": "array",
            "items": {}
          },
          "stringHeaders": {
            "type": "object"
          },
          "allowedMethods": {
            "type": "array",
            "items": {}
          },
          "statusInfo": {
            "type": "object",
            "properties": {
              "family": {
                "type": "string"
              },
              "statusCode": {
                "type": "integer"
              },
              "reasonPhrase": {
                "type": "string"
              }
            }
          },
          "actualEntity": {
            "type": "string"
          }
        }
      },
      "rm_warranty": {
        "title": "warranty",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "warrantyExpireDate": {
            "type": "string",
            "description": "Warranty expire date\n"
          },
          "deviceId": {
            "type": "string"
          },
          "purchaseDate": {
            "type": "string",
            "description": "Warranty purchase date\n"
          }
        },
        "required": [
          "warrantyExpireDate",
          "purchaseDate"
        ]
      },
      "rm_resourceNote": {
        "title": "resourceNote",
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "description": "Subject of the resource note.\n"
          },
          "description": {
            "type": "string",
            "description": "Description of the resource note.\n"
          },
          "expiryDateType": {
            "type": "integer",
            "description": "Type of expiry. Supported Values: Never Expire, Validity Period:\n- expiryDateType=1 to create resource note that would never expire.\n- expiryDateType=2 to create resource note with a validity period.\n\nBoth startTime and endTime are mandatory to create a note with a validity period.",
            "minimum": 1,
            "maximum": 3
          },
          "startTime": {
            "type": "string",
            "description": "Start time of resource note.\n"
          },
          "expiryTime": {
            "type": "string",
            "description": "Expiry time of resource note.\n"
          },
          "id": {
            "type": "integer"
          },
          "createdTime": {
            "type": "string"
          },
          "updatedTime": {
            "type": "string"
          },
          "createdBy": {
            "$ref": "#/components/schemas/rm_user"
          }
        }
      },
      "rm_user": {
        "title": "user",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "loginName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "changePassword": {
            "type": "boolean"
          },
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "rm_resourceFull": {
        "title": "resourceFull",
        "type": "object",
        "properties": {
          "agentInstalled": {
            "type": "boolean"
          },
          "aliasName": {
            "type": "string"
          },
          "appRoles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "assetManagedTime": {
            "format": "date-time",
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "ami": {
                "type": "string"
              },
              "instanceId": {
                "type": "string"
              },
              "instanceState": {
                "type": "string"
              },
              "instanceType": {
                "type": "string"
              },
              "launchDate": {
                "type": "string"
              },
              "monitoringState": {
                "type": "string"
              },
              "network": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "aliasIp": {
                      "type": "string"
                    },
                    "ip": {
                      "type": "string"
                    },
                    "mac": {
                      "type": "string"
                    }
                  }
                }
              },
              "owner": {
                "type": "string"
              },
              "privateDns": {
                "type": "string"
              },
              "privateIp": {
                "type": "string"
              },
              "provider": {
                "type": "string"
              },
              "publicIp": {
                "type": "string"
              },
              "zone": {
                "type": "string"
              }
            }
          },
          "bios": {
            "type": "object",
            "properties": {
              "biosName": {
                "type": "string"
              },
              "biosVersion": {
                "type": "string"
              },
              "smBiosMajorVersion": {
                "type": "string"
              },
              "smBiosMinorVersion": {
                "type": "string"
              },
              "smBiosPresent": {
                "type": "string"
              },
              "smBiosVersion": {
                "type": "string"
              },
              "systemManufacturer": {
                "type": "string"
              },
              "systemModel": {
                "type": "string"
              },
              "systemSerial": {
                "type": "string"
              }
            }
          },
          "classCode": {
            "type": "string"
          },
          "client": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "uniqueId": {
                "type": "string"
              }
            }
          },
          "clientId": {
            "type": "integer"
          },
          "clientUniqueId": {
            "type": "string"
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "consoles": {
            "type": "array",
            "items": {}
          },
          "cpus": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dataWidth": {
                  "type": "integer"
                },
                "family": {
                  "type": "string"
                },
                "l2CacheSize": {
                  "type": "integer"
                },
                "manufacturer": {
                  "type": "string"
                },
                "maxClockSpeed": {
                  "type": "integer"
                },
                "numberOfCores": {
                  "type": "integer"
                },
                "powerManagementSupported": {
                  "type": "boolean"
                },
                "processor": {
                  "type": "string"
                },
                "processorName": {
                  "type": "string"
                },
                "processorVersion": {
                  "type": "string"
                }
              }
            }
          },
          "createdDate": {
            "format": "date-time",
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "devicePath": {
            "type": "string"
          },
          "deviceType": {
            "type": "string"
          },
          "dns": {
            "type": "string"
          },
          "extResourceId": {
            "type": "string"
          },
          "firstAssetManagedTime": {
            "format": "date-time",
            "type": "string"
          },
          "gatewayProfileId": {
            "type": "string"
          },
          "generalInfo": {
            "type": "object",
            "properties": {
              "agentDeploytime": {
                "format": "date-time",
                "type": "string"
              },
              "aliasName": {
                "type": "string"
              },
              "assetManagedTime": {
                "type": "string"
              },
              "createdTime": {
                "format": "date-time",
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "dns": {
                "type": "string"
              },
              "encodingType": {
                "type": "string"
              },
              "firstAssetManagedTime": {
                "type": "string"
              },
              "hostName": {
                "type": "string"
              },
              "keyboardType": {
                "type": "string"
              },
              "make": {
                "type": "string"
              },
              "osArchitecture": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "osName": {
                "type": "string"
              },
              "physicalMemory": {
                "type": "string"
              },
              "resourceName": {
                "type": "string"
              },
              "resourceType": {
                "type": "string"
              },
              "updatedTime": {
                "format": "date-time",
                "type": "string"
              },
              "dnsName": {
                "type": "string",
                "description": "dnsName is duplicate of dns. Both represents same property.This has been introduced for naming consistenc for search parameters."
              }
            }
          },
          "history": {
            "type": "object",
            "properties": {
              "decommissionReason": {
                "type": "string"
              }
            }
          },
          "id": {
            "type": "string"
          },
          "hostName": {
            "type": "string"
          },
          "installedApp": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "integration": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "ipAddress": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string"
              },
              "clientId": {
                "type": "integer"
              },
              "id": {
                "type": "integer"
              },
              "mspId": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "locationOffset": {
            "type": "integer"
          },
          "logicalDisks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string"
                },
                "fileSystem": {
                  "type": "string"
                },
                "free": {
                  "type": "integer"
                },
                "freeDiskCriticalThreshold": {
                  "type": "integer"
                },
                "freeDiskWarningThreshold": {
                  "type": "integer"
                },
                "monitor": {
                  "type": "boolean"
                },
                "name": {
                  "type": "string"
                },
                "total": {
                  "type": "integer"
                },
                "utilizationCriticalThreshold": {
                  "type": "integer"
                },
                "utilizationWarningThreshold": {
                  "type": "integer"
                }
              }
            }
          },
          "macAddress": {
            "type": "string"
          },
          "make": {
            "type": "string"
          },
          "managementProfile": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "metricTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "availabilityMetric": {
                  "type": "boolean"
                },
                "displayName": {
                  "type": "string"
                },
                "metricName": {
                  "type": "string"
                },
                "thresholdType": {
                  "type": "string"
                },
                "unit": {
                  "type": "string"
                }
              }
            }
          },
          "model": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "networkCards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dhcpEnabled": {
                  "type": "boolean"
                },
                "id": {
                  "type": "integer"
                },
                "ipAddress": {
                  "type": "string"
                },
                "linkMode": {
                  "type": "string"
                },
                "macAddress": {
                  "type": "string"
                },
                "networkName": {
                  "type": "string"
                }
              }
            }
          },
          "osArchitecture": {
            "type": "string"
          },
          "osName": {
            "type": "string"
          },
          "physicalDisks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "interfaceType": {
                  "type": "string"
                },
                "manufacturer": {
                  "type": "string"
                },
                "mediaType": {
                  "type": "string"
                },
                "model": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "partitions": {
                  "type": "integer"
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "ami": {
                "type": "string"
              },
              "instanceId": {
                "type": "string"
              },
              "instanceState": {
                "type": "string"
              },
              "instanceType": {
                "type": "string"
              },
              "launchDate": {
                "type": "string"
              },
              "monitoringState": {
                "type": "string"
              },
              "owner": {
                "type": "string"
              },
              "privateDns": {
                "type": "string"
              },
              "privateIp": {
                "type": "string"
              },
              "provider": {
                "type": "string"
              },
              "publicIp": {
                "type": "string"
              },
              "zone": {
                "type": "string"
              }
            }
          },
          "resourceName": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "systemUID": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "totalLocations": {
            "type": "integer"
          },
          "ts": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "updatedDate": {
            "format": "date-time",
            "type": "string"
          },
          "videoCards": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "bitsPerPixel": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "ram": {
                  "type": "string"
                },
                "resolution": {
                  "type": "string"
                },
                "version": {
                  "type": "string"
                }
              }
            }
          },
          "wsusSettings": {
            "type": "string"
          },
          "identity": {
            "type": "string"
          }
        }
      },
      "rm_serviceGroup": {
        "title": "serviceGroup",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Unique name for the service group. The service group is identified with this name.\n"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "childType": {
            "type": "string",
            "description": "Child service group type.\n\nExample: DEVICE, SERVICEGROUP, SNS, SQS"
          },
          "frequency": {
            "type": "integer",
            "description": "(Optional)\n"
          },
          "thresholdType": {
            "type": "string",
            "description": "(Optional) Define the availability status for a service group with below threshold types:\n- count: Define availability of a service group based on the number of resources in the group.\nFor example, if 10 resources are down.\n- percentage: Percentage of resources or services that should be considered to determine the availability.\n\nBelow are the supported availability statuses:\n- Down: If resources or services down are greater than or equal to a specific value(count/percentage), then service is considered as Down.\n- Degraded: If resource or services down are less than a specific value(count/percentage), then service is considered as Degraded.\n- OK: If all resources or services are Up, then service is considered as OK.\n\nFor example, a user wants to define availability status as Down if 5 resources are down, then the values are provided as:\n`\"thresholdType\": \"count\",\"thresholdLimit\": 5`."
          },
          "thresholdLimit": {
            "type": "integer",
            "description": "(Optional) Provide a specific threshold value to determine count or percentage. only numeric values are accepted; decimal values will be rounded to the lower value(floor).  The range is between 1 to 100.\n"
          },
          "monitorNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "include": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "(Optional)\n- To generate an alert when the threshold limits are breached, provide type: alert.\n- To display the availability status without generating an alert, provide type: default."
          },
          "alertType": {
            "type": "integer",
            "description": "(Optional) Provide specific alertType value to set service availability monitor:\n- Service Availability Monitor will be set to Available, If alertType = 2.\n- Service Availability Monitor will be set to Any critical alert, If alertType = 0.\n- Service Availability Monitor will be set to Critical alert, If alertType = 1."
          },
          "alert": {
            "type": "boolean",
            "description": "(Optional) Generate an alert when the threshold limits are breached.\n"
          },
          "metrics": {
            "type": "array",
            "items": {}
          },
          "filterCriteria": {
            "$ref": "#/components/schemas/rm_policy"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Add a service group as a child under an existing service group (parent). This field is required for adding a service group to a parent service group.\n"
              }
            }
          },
          "kbArticlesIds": {
            "type": "array",
            "description": "Assign knowledge base articles to a device group.Note: To fetch a knowledge base article ID:\n1. Log into OpsRamp.\n2. Click Knowledge Base.\n3. Select the required article and then copy the article ID.\n4. Provide the article ID in \"kbArticleIds\" field.\nExample: \"kbArticleIds\": [22089].",
            "items": {
              "type": "integer"
            }
          },
          "depth": {
            "type": "number"
          },
          "client": {
            "$ref": "#/components/schemas/rm_clientProps"
          }
        }
      },
      "rm_availablility": {
        "title": "availablility",
        "type": "object",
        "properties": {
          "totalAvailability": {
            "type": "number"
          },
          "totalDowntime": {
            "type": "integer"
          },
          "totalLogList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "startTs": {
                  "type": "integer"
                },
                "endTs": {
                  "type": "integer"
                },
                "actStartTs": {
                  "type": "integer"
                },
                "state": {
                  "type": "integer"
                },
                "rca": {
                  "type": "boolean"
                },
                "schStartTs": {
                  "type": "integer"
                },
                "schEndTs": {
                  "type": "integer"
                }
              }
            }
          },
          "downTimeList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "startTs": {
                  "type": "integer"
                },
                "endTs": {
                  "type": "integer"
                },
                "actStartTs": {
                  "type": "integer"
                },
                "state": {
                  "type": "integer"
                },
                "rca": {
                  "type": "boolean"
                },
                "schStartTs": {
                  "type": "integer"
                },
                "schEndTs": {
                  "type": "integer"
                }
              }
            }
          },
          "noOfOccurences": {
            "type": "integer"
          },
          "noOfPauseOccurences": {
            "type": "integer"
          },
          "degradedTimeList": {
            "type": "array",
            "items": {}
          },
          "noOfDegradedOccurences": {
            "type": "integer"
          },
          "totalDegradedTime": {
            "type": "integer"
          },
          "currentState": {
            "type": "string"
          },
          "totalPauseTime": {
            "type": "integer"
          },
          "pauseTimeList": {
            "type": "array",
            "items": {}
          }
        }
      },
      "rm_site": {
        "title": "site",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Site name.\n"
          },
          "clientId": {
            "type": "integer"
          },
          "mspId": {
            "type": "integer"
          },
          "parent": {
            "type": "object",
            "description": "(Optional) Parent site. Required if creating a sub-site under a parent site:\n",
            "properties": {
              "id": {
                "description": "Parent site id\n",
                "type": "integer"
              },
              "name": {
                "type": "string",
                "description": "Parent site name\n"
              },
              "description": {
                "type": "string"
              },
              "address": {
                "type": "string"
              }
            }
          },
          "description": {
            "type": "string",
            "description": "(Optional) Summary of the site.\n"
          },
          "address": {
            "type": "string",
            "description": "(Optional) Site address.\n"
          },
          "state": {
            "type": "string",
            "description": "(Optional) Site state.\n"
          },
          "city": {
            "type": "string",
            "description": "(Optional) Site city.\n"
          },
          "country": {
            "type": "string"
          },
          "zip": {
            "type": "string",
            "description": "(Optional) Zip code.\n"
          },
          "primaryContact": {
            "$ref": "#/components/schemas/rm_user"
          },
          "phoneNumber": {
            "type": "string",
            "description": "(Optional) Site phone number for communication.\n"
          },
          "phoneExtension": {
            "type": "string",
            "description": "(Optional) Site phone extension number.\n"
          },
          "filterCriteria": {
            "$ref": "#/components/schemas/rm_policy"
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uniqueId": {
                  "type": "string"
                },
                "hostName": {
                  "type": "string"
                },
                "ipAddress": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                },
                "resourceName": {
                  "type": "string"
                },
                "resourceType": {
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "ipAddress": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "metaData": {
                  "type": "object"
                },
                "resourceType": {
                  "type": "string"
                },
                "hostName": {
                  "type": "string"
                },
                "resourceName": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "rm_device": {
        "title": "device",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "AliasName": {
            "type": "string"
          },
          "HostName": {
            "type": "string"
          },
          "ResourceName": {
            "type": "string"
          }
        }
      },
      "rm_siteResources": {
        "type": "array",
        "description": "",
        "minItems": 1,
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "uuid": "c7ee6551-ddc2-41ae-97bd-85066f22be1e",
              "name": "location1"
            },
            {
              "uuid": "c722b5fc-bb86-40e3-8993-d59fd584c360",
              "name": "location2"
            }
          ]
        },
        "items": {
          "type": "object",
          "properties": {
            "uuid": {
              "type": "string",
              "minLength": 1,
              "description": "UUID of the resource"
            },
            "name": {
              "type": "string",
              "minLength": 1,
              "description": "Hostname of the resource"
            }
          }
        }
      },
      "rm_auditRecordings": {
        "type": "object",
        "title": "remoteConsoles",
        "properties": {
          "results": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "resourceId": {
                  "type": "string",
                  "minLength": 1
                },
                "userId": {
                  "type": "string",
                  "minLength": 1
                },
                "gatewayId": {
                  "type": "string",
                  "minLength": 1
                },
                "ticketId": {
                  "type": "string",
                  "minLength": 1
                },
                "startTime": {
                  "type": "string",
                  "minLength": 1
                },
                "endTime": {
                  "type": "string",
                  "minLength": 1
                },
                "consoleProtocol": {
                  "type": "string",
                  "minLength": 1
                },
                "url": {
                  "type": "string",
                  "minLength": 1
                },
                "notes": {
                  "type": "string",
                  "minLength": 1
                },
                "playbackCodec": {
                  "type": "string",
                  "minLength": 1
                },
                "recStatus": {
                  "type": "string",
                  "minLength": 1
                },
                "hostName ": {
                  "type": "string",
                  "description": "resource Host Name"
                },
                "IpAddress": {
                  "type": "string",
                  "description": "resource Ip Address"
                },
                "gatewayIp": {
                  "type": "string",
                  "description": "Gateway IP to which management profile is attached"
                },
                "loginName": {
                  "type": "string",
                  "description": "user loname"
                }
              }
            }
          },
          "totalResults": {
            "type": "number"
          },
          "orderBy": {
            "type": "string",
            "minLength": 1
          },
          "pageNo": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          },
          "nextPage": {
            "type": "boolean"
          },
          "nextPageNo": {
            "type": "number"
          },
          "previousPageNo": {
            "type": "number"
          },
          "descendingOrder": {
            "type": "boolean"
          }
        }
      },
      "rm_listRemoteConsoles": {
        "description": "",
        "type": "object",
        "title": "remoteConsoles",
        "properties": {
          "results": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "consoleConnector": {
                  "type": "string",
                  "minLength": 1
                },
                "consoleAuthType": {
                  "type": "string",
                  "minLength": 1
                },
                "consoleProtocol": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                }
              }
            }
          },
          "totalResults": {
            "type": "number"
          },
          "pageNo": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          },
          "nextPage": {
            "type": "boolean"
          },
          "nextPageNo": {
            "type": "number"
          },
          "previousPageNo": {
            "type": "number"
          },
          "descendingOrder": {
            "type": "boolean"
          }
        },
        "required": [
          "totalResults",
          "pageNo",
          "pageSize",
          "totalPages",
          "nextPage",
          "nextPageNo",
          "previousPageNo",
          "descendingOrder"
        ]
      },
      "rm_remoteConsole": {
        "type": "array",
        "description": "",
        "minItems": 1,
        "uniqueItems": true,
        "title": "remoteConsole",
        "items": {
          "type": "object",
          "properties": {
            "consoleConnector": {
              "type": "string",
              "minLength": 1
            },
            "consoleAuthType": {
              "type": "string",
              "minLength": 1
            },
            "consoleProtocol": {
              "type": "string",
              "minLength": 1
            },
            "ipAddress": {
              "type": "string",
              "minLength": 1
            },
            "port": {
              "type": "string",
              "minLength": 1
            },
            "userName": {
              "type": "string",
              "minLength": 1
            },
            "name": {
              "type": "string",
              "minLength": 1
            }
          }
        }
      },
      "rm_syntheticResource": {
        "type": "object",
        "description": "",
        "x-examples": {
          "example-1": {
            "value": {
              "checkType": "HTTP",
              "locationUuids": [
                "string"
              ],
              "name": "string",
              "extResourceId": "string",
              "hostName": "string",
              "resourceType": "string",
              "metaData": {},
              "resourceName": "string",
              "url": "string",
              "sslCertKeyPath": "string",
              "uploadStream": "string",
              "downloadFilePath": "string",
              "credential": {
                "userName": "string",
                "password": "string",
                "securityLevel": "basic",
                "oauthClientKey": "string",
                "oauthClientSecret": "string",
                "oauthAccessTokenUrl": "string",
                "oauthGrantType": "string"
              },
              "sslCertPath": "string",
              "script": "string",
              "credentials": [
                {
                  "credentialType": "HTTP_PROXY",
                  "password": "string",
                  "securityLevel": "basic",
                  "userName": "string"
                }
              ]
            }
          }
        },
        "additionalProperties": false,
        "properties": {
          "checkType": {
            "type": "string",
            "minLength": 1,
            "enum": [
              "HTTP",
              "HTTPS",
              "DNS",
              "IMAP",
              "PING",
              "RTT",
              "POP3",
              "SCRIPT",
              "SMTP",
              "SSL",
              "TCP",
              "UDP",
              "FTP",
              "SIP"
            ]
          },
          "locationUuids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "extResourceId": {
            "type": "string",
            "minLength": 1
          },
          "hostName": {
            "type": "string",
            "minLength": 1
          },
          "resourceType": {
            "type": "string",
            "minLength": 1
          },
          "metaData": {
            "type": "object"
          },
          "resourceName": {
            "type": "string",
            "minLength": 1
          },
          "url": {
            "type": "string",
            "minLength": 1
          },
          "sslCertKeyPath": {
            "type": "string",
            "minLength": 1
          },
          "uploadStream": {
            "type": "string",
            "minLength": 1
          },
          "downloadFilePath": {
            "type": "string",
            "minLength": 1
          },
          "credential": {
            "type": "object",
            "properties": {
              "userName": {
                "type": "string",
                "minLength": 1
              },
              "password": {
                "type": "string",
                "minLength": 1
              },
              "securityLevel": {
                "type": "string",
                "minLength": 1,
                "enum": [
                  "basic",
                  "ntlm",
                  "oauth2"
                ]
              },
              "oauthClientKey": {
                "type": "string",
                "minLength": 1
              },
              "oauthClientSecret": {
                "type": "string",
                "minLength": 1
              },
              "oauthAccessTokenUrl": {
                "type": "string",
                "minLength": 1
              },
              "oauthGrantType": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          "sslCertPath": {
            "type": "string",
            "minLength": 1
          },
          "script": {
            "type": "string",
            "minLength": 1
          },
          "credentials": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "credentialType": {
                  "type": "string",
                  "minLength": 1,
                  "enum": [
                    "HTTP_PROXY",
                    "HTTP",
                    "FTP",
                    "POP3",
                    "IMAP",
                    "RTT",
                    "SMTP"
                  ]
                },
                "password": {
                  "type": "string",
                  "minLength": 1
                },
                "securityLevel": {
                  "type": "string",
                  "minLength": 1,
                  "enum": [
                    "basic",
                    "ntlm",
                    "oauth2"
                  ]
                },
                "userName": {
                  "type": "string",
                  "minLength": 1
                }
              }
            }
          }
        },
        "required": [
          "checkType",
          "locationUuids",
          "resourceType",
          "resourceName",
          "url"
        ]
      },
      "rm_genericResource": {
        "type": "object",
        "description": "",
        "additionalProperties": false,
        "properties": {
          "hostName": {
            "type": "string",
            "minLength": 1,
            "description": "The resource hostname"
          },
          "resourceName": {
            "type": "string",
            "minLength": 1,
            "description": "The Resource Nam"
          },
          "resourceType": {
            "type": "string",
            "minLength": 1,
            "description": "Resources based on a resource type. Use Get Device Types API to get a list of supported resource types supported by OpsRamp"
          },
          "extResourceId": {
            "type": "string",
            "minLength": 1
          },
          "dnsName": {
            "type": "string",
            "minLength": 1,
            "description": "Resource Domain service name"
          },
          "aliasName": {
            "type": "string",
            "minLength": 1,
            "description": "Other name of resource"
          },
          "os": {
            "type": "string",
            "minLength": 1
          },
          "serialNumber": {
            "type": "string",
            "minLength": 1
          },
          "make": {
            "type": "string",
            "minLength": 1
          },
          "model": {
            "type": "string",
            "minLength": 1
          },
          "managementProfile": {
            "type": "string",
            "minLength": 1,
            "description": "Agent/Gateway profile ID"
          },
          "systemUID": {
            "type": "string"
          },
          "providerUID": {
            "type": "string"
          },
          "providerType": {
            "type": "string",
            "enum": [
              "GOOGLE",
              "VMWARE",
              "AZURE",
              "AWS",
              null
            ],
            "description": "Resource provider i..e ( Resource discovered from eg GOOGLE,VMWARE,AZURE,AWS )"
          },
          "resourceNetworkInterface": {
            "type": "array",
            "description": "Network interfaces of the resource",
            "items": {
              "$ref": "#/components/schemas/rm_resourceInterface"
            }
          },
          "description": {
            "type": "string"
          },
          "oobInterfaceCards": {
            "type": "array",
            "description": "OOB interface details",
            "items": {
              "$ref": "#/components/schemas/rm_oobInterface"
            }
          }
        },
        "required": [
          "resourceName",
          "resourceType"
        ]
      },
      "rm_resourceInterface": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "ipAddressType": "STATIC",
            "macAddress": "00:0C:29:B8:C8:8F",
            "default": 0,
            "ipAddress": "172.22.221.90"
          }
        },
        "properties": {
          "ipAddressType": {
            "type": "string",
            "minLength": 1,
            "enum": [
              "STATIC",
              "DHCP"
            ]
          },
          "macAddress": {
            "type": "string",
            "minLength": 1
          },
          "default": {
            "type": "number"
          },
          "ipAddress": {
            "type": "string",
            "minLength": 1,
            "format": "ipv4"
          }
        }
      },
      "rm_OpsManagedResource": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/rm_genericResource"
          },
          {
            "$ref": "#/components/schemas/rm_syntheticResource"
          }
        ],
        "description": "",
        "x-examples": {
          "example-1": {
            "value": {
              "id": "string",
              "name": "string",
              "createdDate": "string",
              "updatedDate": "string",
              "entityType": "string",
              "resourceType": "string",
              "resourceName": "string",
              "hostName": "string",
              "aliasName": "string"
            }
          }
        }
      },
      "rm_managedResource": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "readOnly": true
          },
          "hostName": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string",
            "minLength": 1
          },
          "identity": {
            "type": "string",
            "minLength": 1
          },
          "createdDate": {
            "type": "string",
            "minLength": 1
          },
          "updatedDate": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "minLength": 1
          },
          "nativeType": {
            "type": "string",
            "minLength": 1,
            "description": "vendor defined native Type of resource.\n\nExample: AWS EventBridge Event bus, Azure IoT Central\n    "
          },
          "state": {
            "type": "string",
            "minLength": 1
          },
          "source": {
            "type": "string",
            "minLength": 1
          },
          "status": {
            "type": "string",
            "minLength": 1
          },
          "aliasName": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "uniqueItems": true,
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "value": {
                  "type": "string",
                  "minLength": 1
                },
                "tagSource": {
                  "type": "string",
                  "minLength": 1
                }
              }
            }
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "resourceName": {
            "type": "string",
            "minLength": 1
          },
          "consoles": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "properties": {
            "$ref": "#/components/schemas/rm_props"
          },
          "clientUniqueId": {
            "type": "string",
            "minLength": 1
          },
          "resourceType": {
            "type": "string",
            "minLength": 1
          },
          "frequency": {
            "type": "number"
          },
          "paused": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          },
          "validateSSL": {
            "type": "boolean"
          },
          "port": {
            "type": "number"
          },
          "encrypted": {
            "type": "boolean"
          },
          "timeout": {
            "type": "number"
          },
          "ts": {
            "type": "number"
          },
          "clientId": {
            "type": "number"
          },
          "locationOffset": {
            "type": "number"
          },
          "totalLocations": {
            "type": "number"
          },
          "receiverHostPort": {
            "type": "number"
          },
          "topologyEnabled": {
            "type": "boolean"
          },
          "device": {
            "type": "boolean"
          },
          "excludeIndexing": {
            "type": "boolean"
          },
          "cloudInstance": {
            "type": "boolean"
          },
          "saId": {
            "type": "number"
          },
          "checkType": {
            "type": "string",
            "enum": [
              "HTTP",
              "HTTPS",
              "DNS",
              "IMAP",
              "PING",
              "RTT",
              "POP3",
              "SCRIPT",
              "SMTP",
              "SSL",
              "TCP",
              "UDP",
              "FTP"
            ],
            "readOnly": true
          },
          "host": {
            "type": "string"
          },
          "locationUuids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "credential": {
            "$ref": "#/components/schemas/rm_syntheticCredential"
          },
          "credentials": {
            "$ref": "#/components/schemas/rm_syntheticCredentailsSet"
          },
          "managementProfile": {
            "$ref": "#/components/schemas/rm_mgmtProfile"
          },
          "components": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bios": {
            "$ref": "#/components/schemas/rm_bios"
          },
          "cpus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rm_cpu"
            }
          },
          "generalInfo": {
            "$ref": "#/components/schemas/rm_genericResourceInfo"
          },
          "installedApp": {
            "$ref": "#/components/schemas/rm_monitoringApp"
          },
          "metricTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rm_metricType"
            }
          },
          "networkCardDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rm_networkCardDetail"
            }
          },
          "discoveryProfile": {
            "$ref": "#/components/schemas/rm_disovery"
          },
          "location": {
            "$ref": "#/components/schemas/rm_location"
          },
          "appRoles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "agentInstalled": {
            "type": "boolean",
            "default": false,
            "description": "Agent installed resource or not."
          },
          "agentStatus": {
            "type": "string",
            "enum": [
              "OFFLINE",
              "ONLINE"
            ],
            "example": "OFFLINE",
            "description": "Agent live status."
          },
          "agentLastConnectedTime": {
            "type": "string",
            "description": "Agent's last connected timestamp based on the resource site timezone."
          },
          "accountLastDiscoveredTime": {
            "type": "string",
            "description": "\nIndicates the last discovery of the cloud account, based on the resource site's timezone.\n\nNote: \n\nApplicable for public cloud platforms such as AWS, Azure, Google Cloud, Alibaba, Meraki, and Cradlepoint.\n"
          }
        },
        "required": [
          "id"
        ]
      },
      "rm_syntheticCredential": {
        "description": "",
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "minLength": 1
          },
          "securityLevel": {
            "type": "string",
            "minLength": 1
          },
          "oauthClientKey": {
            "type": "string",
            "minLength": 1
          },
          "oauthClientSecret": {
            "type": "string",
            "minLength": 1
          },
          "oauthAccessTokenUrl": {
            "type": "string",
            "minLength": 1
          },
          "oauthGrantType": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_syntheticCredentailsSet": {
        "type": "array",
        "description": "",
        "minItems": 1,
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "credentialType": "HTTP_PROXY",
              "password": "string",
              "securityLevel": "basic",
              "userName": "string"
            }
          ]
        },
        "items": {
          "type": "object",
          "properties": {
            "credentialType": {
              "type": "string",
              "minLength": 1
            },
            "password": {
              "type": "string",
              "minLength": 1
            },
            "securityLevel": {
              "type": "string",
              "minLength": 1
            },
            "userName": {
              "type": "string",
              "minLength": 1
            }
          }
        }
      },
      "rm_metricType": {
        "type": "object",
        "description": "",
        "x-examples": {
          "example-1": {
            "id": 0,
            "metricName": "resource.availability",
            "displayName": "Availability",
            "unit": "COUNTER",
            "availabilityMetric": false,
            "thresholdType": "STATIC",
            "factor": 0,
            "displayByComponent": false,
            "displayOrder": 0,
            "topMetric": false,
            "timeSeries": true,
            "tenantId": 0,
            "version": 0
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "metricName": {
            "type": "string",
            "minLength": 1
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "unit": {
            "type": "string",
            "minLength": 1
          },
          "availabilityMetric": {
            "type": "boolean"
          },
          "thresholdType": {
            "type": "string",
            "minLength": 1
          },
          "factor": {
            "type": "number"
          },
          "displayByComponent": {
            "type": "boolean"
          },
          "displayOrder": {
            "type": "number"
          },
          "topMetric": {
            "type": "boolean"
          },
          "timeSeries": {
            "type": "boolean"
          },
          "tenantId": {
            "type": "number"
          },
          "version": {
            "type": "number"
          }
        },
        "readOnly": true
      },
      "rm_networkCardDetail": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 270873,
            "networkName": "vmnic0",
            "status": "DOWN",
            "ifName": "",
            "ifAlias": "",
            "ifDescription": "",
            "ifType": "OTHER",
            "ifTxType": "IFTXTYPE_AUTO",
            "ipAddress": "",
            "macAddress": "00:0C:29:0A:16:43",
            "dhcpEnabled": false,
            "speed": "0 Bps",
            "linkMode": "MGNT_MODE_LINK",
            "confLinkSpeed": "0 Bps",
            "adminStatus": "DOWN",
            "operationalStatus": "DOWN"
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "networkName": {
            "type": "string",
            "minLength": 1
          },
          "status": {
            "type": "string",
            "minLength": 1
          },
          "ifName": {
            "type": "string"
          },
          "ifAlias": {
            "type": "string"
          },
          "ifDescription": {
            "type": "string"
          },
          "ifType": {
            "type": "string",
            "minLength": 1
          },
          "ifTxType": {
            "type": "string",
            "minLength": 1
          },
          "ipAddress": {
            "type": "string"
          },
          "macAddress": {
            "type": "string",
            "minLength": 1
          },
          "dhcpEnabled": {
            "type": "boolean"
          },
          "speed": {
            "type": "string",
            "minLength": 1
          },
          "linkMode": {
            "type": "string",
            "minLength": 1
          },
          "confLinkSpeed": {
            "type": "string",
            "minLength": 1
          },
          "adminStatus": {
            "type": "string",
            "minLength": 1
          },
          "operationalStatus": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_syntheticApp": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "installedApp": {
              "integration": {
                "id": "SYNTHETICS",
                "name": "Synthetics",
                "multipleInstallations": false,
                "integrationId": 7807708,
                "provisionUserWithTenantPrefix": false,
                "subCategory": "Web Services",
                "subCategoryJson": {
                  "name": "Web Services",
                  "displayName": "Web Services"
                },
                "managePermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE"
                ],
                "editPermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE",
                  "INTEGRATION_EDIT",
                  "DEVICE_CREATE"
                ],
                "scanPermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE",
                  "INTEGRATION_EDIT",
                  "DEVICE_CREATE",
                  "INTEGRATION_SCAN"
                ],
                "viewPermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE",
                  "INTEGRATION_EDIT",
                  "DEVICE_CREATE",
                  "INTEGRATION_SCAN",
                  "INTEGRATION_VIEW",
                  "DEVICE_VIEW"
                ]
              }
            }
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "multipleInstallations": {
            "type": "boolean"
          },
          "integrationId": {
            "type": "integer"
          },
          "provisionUserWithTenantPrefix": {
            "type": "boolean"
          },
          "subCategory": {
            "type": "string"
          },
          "subCategoryJson": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            }
          },
          "managePermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "editPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scanPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "viewPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "rm_monitoringApp": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": "INTG-fe6ff403-53ef-41d9-99c4-f4df54d37e50",
            "displayName": "vcenter",
            "integration": {
              "id": "VMWARE",
              "name": "VMware",
              "multipleInstallations": true
            },
            "installedBy": "vasu_admin",
            "installedTime": "2020-01-29T10:20:47+0000",
            "status": "enabled"
          }
        },
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "integration": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "multipleInstallations": {
                "type": "boolean"
              }
            }
          },
          "installedBy": {
            "type": "string",
            "minLength": 1
          },
          "installedTime": {
            "type": "string",
            "minLength": 1
          },
          "status": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_genericResourceInfo": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "172.26.105.12",
            "osName": "VMware ESXi 6.0.0 build-3620759",
            "osVersion": "",
            "make": "VMware, Inc.",
            "hostName": "",
            "dns": "",
            "resourceType": "VMWAREHOST",
            "resourcePath": "VMWareHost",
            "domainRole": "",
            "macAddress": "",
            "keyboardType": "US104",
            "encodingType": "UTF8",
            "physicalMemory": "8191.0",
            "managementGatewayProfileName": "TestPro",
            "resourceName": "172.26.105.12",
            "aliasName": "",
            "createdTime": "2020-01-29T10:21:49+0000",
            "updatedTime": "2020-01-29T10:21:44+0000",
            "assetManagedTime": "2020-01-29T10:21:49+0000",
            "firstAssetManagedTime": "2020-01-29T10:21:49+0000"
          }
        },
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "osName": {
            "type": "string",
            "minLength": 1
          },
          "osVersion": {
            "type": "string"
          },
          "make": {
            "type": "string",
            "minLength": 1
          },
          "hostName": {
            "type": "string"
          },
          "dns": {
            "type": "string"
          },
          "resourceType": {
            "type": "string",
            "minLength": 1
          },
          "resourcePath": {
            "type": "string",
            "minLength": 1
          },
          "domainRole": {
            "type": "string"
          },
          "macAddress": {
            "type": "string"
          },
          "keyboardType": {
            "type": "string",
            "minLength": 1
          },
          "encodingType": {
            "type": "string",
            "minLength": 1
          },
          "physicalMemory": {
            "type": "string",
            "minLength": 1
          },
          "managementGatewayProfileName": {
            "type": "string",
            "minLength": 1
          },
          "resourceName": {
            "type": "string"
          },
          "aliasName": {
            "type": "string"
          },
          "createdTime": {
            "type": "string",
            "minLength": 1
          },
          "updatedTime": {
            "type": "string",
            "minLength": 1
          },
          "assetManagedTime": {
            "type": "string",
            "minLength": 1
          },
          "firstAssetManagedTime": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_cpu": {
        "description": "",
        "type": "object",
        "properties": {
          "processor": {
            "type": "string",
            "minLength": 1
          },
          "processorName": {
            "type": "string",
            "minLength": 1
          },
          "manufacturer": {
            "type": "string",
            "minLength": 1
          },
          "powerManagementSupported": {
            "type": "boolean"
          },
          "l2CacheSize": {
            "type": "number"
          },
          "maxClockSpeed": {
            "type": "number"
          },
          "dataWidth": {
            "type": "number"
          },
          "numberOfCores": {
            "type": "number"
          }
        }
      },
      "rm_mgmtProfile": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 5923,
            "name": "TestPro",
            "description": "",
            "type": "Gateway"
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "id"
        ]
      },
      "rm_bios": {
        "description": "",
        "type": "object",
        "properties": {
          "biosVersion": {
            "type": "string",
            "minLength": 1
          },
          "systemSerial": {
            "type": "string",
            "minLength": 1
          },
          "systemModel": {
            "type": "string",
            "minLength": 1
          },
          "systemManufacturer": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_disovery": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 2933,
            "name": "vcenterpro",
            "scanNow": false
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "scanNow": {
            "type": "boolean"
          }
        }
      },
      "rm_props": {
        "description": "",
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "minLength": 1
          },
          "uniqueId": {
            "type": "string"
          },
          "physical_location_name": {
            "type": "string"
          },
          "vMotion": {
            "type": "boolean"
          },
          "ftmMode": {
            "type": "boolean"
          },
          "perfLevelInfo": {
            "type": "string",
            "minLength": 1
          },
          "licenceData": {
            "type": "object",
            "properties": {
              "licenseExpiry": {
                "type": "string",
                "minLength": 1
              },
              "licenseName": {
                "type": "string",
                "minLength": 1
              },
              "licenseVersion": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          "zone": {
            "type": "string"
          },
          "policy": {
            "type": "string"
          },
          "arn": {
            "type": "string"
          },
          "vpcId": {
            "type": "string"
          }
        }
      },
      "rm_location": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "clientId": {
            "type": "number"
          },
          "mspId": {
            "type": "number"
          },
          "city": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_caUpdateModel": {
        "title": "caUpdateModel",
        "type": "object",
        "properties": {
          "entities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "entityType": {
                  "type": "string",
                  "enum": [
                    "RESOURCE",
                    "NON_MON_RESOURCES"
                  ],
                  "example": "RESOURCE"
                }
              },
              "required": [
                "id",
                "entityType"
              ]
            }
          },
          "ca": {
            "type": "object",
            "required": [
              "currentValues",
              "updatedValues"
            ],
            "properties": {
              "currentValues": {
                "type": "object",
                "required": [
                  "attributeId",
                  "valueId"
                ],
                "properties": {
                  "attributeId": {
                    "type": "string"
                  },
                  "valueId": {
                    "type": "string"
                  }
                }
              },
              "updatedValues": {
                "type": "object",
                "required": [
                  "attributeId",
                  "valueId"
                ],
                "properties": {
                  "attributeId": {
                    "type": "string"
                  },
                  "valueId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "required": [
          "ca"
        ]
      },
      "rm_oobInterface": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "resourceName": "string",
            "macAddress": "string",
            "url": "string",
            "oobVersion": "string",
            "description": "string",
            "accessInfo": "string",
            "accessInfoIpV4": "string",
            "remoteAccessType": "string",
            "port": 0,
            "make": "string",
            "model": "string"
          }
        },
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "macAddress": {
            "type": "string",
            "minLength": 1
          },
          "url": {
            "type": "string",
            "minLength": 1
          },
          "oobVersion": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "accessInfo": {
            "type": "string",
            "minLength": 1
          },
          "accessInfoIpV4": {
            "type": "string",
            "minLength": 1
          },
          "remoteAccessType": {
            "type": "string",
            "minLength": 1
          },
          "port": {
            "type": "number"
          },
          "make": {
            "type": "string",
            "minLength": 1
          },
          "model": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "name",
          "macAddress",
          "url",
          "oobVersion",
          "description",
          "accessInfo",
          "accessInfoIpV4",
          "remoteAccessType",
          "port",
          "make",
          "model"
        ]
      },
      "rm_clientProps": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uniqueId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "activated": {
            "type": "boolean"
          },
          "offlineAlertstoThirdPartyTool": {
            "type": "boolean"
          },
          "uuid": {
            "type": "string"
          },
          "addOns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "featureFlags": {
            "type": "object",
            "properties": {}
          },
          "webConsoles": {
            "type": "boolean"
          }
        }
      },
      "al_firstResponse": {
        "description": "",
        "type": "object",
        "title": "firstResponse",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "enabledMode": {
            "type": "string",
            "minLength": 1
          },
          "organizationMatchingType": {
            "type": "string"
          },
          "matchingType": {
            "type": "string"
          },
          "filterCriteria": {
            "type": "object",
            "properties": {
              "filterBased": {
                "type": "boolean"
              },
              "matchingType": {
                "type": "string",
                "minLength": 1,
                "enum": [
                  "ANY",
                  "ALL"
                ],
                "default": "ANY",
                "example": "ANY"
              },
              "rules": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "filterType": {
                      "type": "string",
                      "minLength": 1,
                      "enum": [
                        "nativeAttributes",
                        "customAttributes",
                        "alertCustomAttributes"
                      ],
                      "example": "nativeAttributes"
                    },
                    "entityName": {
                      "type": "string",
                      "minLength": 1,
                      "enum": [
                        "dns_name",
                        "resource_name",
                        "alias_name",
                        "ip_address",
                        "resource_type",
                        "agent_installed",
                        "operating_system",
                        "make",
                        "model",
                        "alert_source",
                        "alert_metric",
                        "alert_component",
                        "device_group",
                        "service_group",
                        "site",
                        "application",
                        "alert_subject",
                        "alert_description",
                        "host_name",
                        "alert_occur_freq"
                      ]
                    },
                    "operator": {
                      "type": "string",
                      "minLength": 1,
                      "enum": [
                        "Contains",
                        "Starts With",
                        "Starts with",
                        "Not Contains",
                        "Equals",
                        "Not Equals",
                        "Ends With",
                        "Regex",
                        "Less than or equals to"
                      ],
                      "example": "Contains"
                    },
                    "entityValue": {
                      "type": "string",
                      "minLength": 1
                    },
                    "alertOccurrenceFreqCondition": {
                      "type": "object",
                      "description": "Alert Frequency counter to invoke First Response policy",
                      "properties": {
                        "alertOccurrenceFrequencey": {
                          "type": "string",
                          "description": "Alerts triggered  "
                        },
                        "alertOccurrenceFreqDuration": {
                          "type": "string",
                          "description": "Frequency duration\n"
                        },
                        "alertOccurrenceFreqDurationType": {
                          "type": "string",
                          "description": "Duration unit\n",
                          "enum": [
                            "hours",
                            "days",
                            "weeks"
                          ],
                          "example": "hours"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "attributeActions": {
            "type": "object",
            "properties": {
              "continuousLearning": {
                "type": "boolean"
              },
              "suppress": {
                "type": "object",
                "properties": {
                  "learnedConfiguration": {
                    "type": "boolean"
                  },
                  "suppressDuration": {
                    "type": "number",
                    "enum": [
                      5,
                      10,
                      20,
                      30,
                      60,
                      120,
                      240,
                      360,
                      480,
                      720,
                      1440,
                      2880,
                      4320
                    ],
                    "example": 5
                  }
                }
              },
              "runProcess": {
                "type": "object",
                "description": "Can only be used for client level policy",
                "properties": {
                  "learnedConfiguration": {
                    "type": "boolean"
                  },
                  "processIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "patternActions": {
            "type": "object",
            "description": "Can only be used for client level policy",
            "properties": {
              "seasonalityTimeFrame": {
                "type": "string",
                "minLength": 1,
                "description": "This property will be applicable only when seasonalAlerts is set to true. D represents Days. M reresents Months.",
                "enum": [
                  "7D",
                  "10D",
                  "30D",
                  "60D",
                  "90D",
                  "3M"
                ],
                "example": "90D"
              },
              "suppress": {
                "type": "object",
                "properties": {
                  "seasonalAlerts": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "loginName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "updatedBy": {
            "type": "object",
            "properties": {
              "loginName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "createdTime": {
            "type": "string"
          },
          "updatedTime": {
            "type": "string"
          }
        }
      },
      "al_alertPrediction": {
        "description": "",
        "type": "object",
        "title": "alertPrediction",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "The name of the alert prediction policy."
          },
          "id": {
            "type": "string",
            "description": "uuid of the policy."
          },
          "seasonalityTimeFrame": {
            "type": "string",
            "minLength": 1,
            "default": "90D",
            "enum": [
              "10D",
              "30D",
              "60D",
              "90D",
              "7D"
            ],
            "example": "90D",
            "description": "Learning based on the data for last N days."
          },
          "enabledMode": {
            "type": "string",
            "description": "To enable an alert prediction policy, set \"enabledMode\": \"ON\". To disable an alert prediction policy, set \"enabledMode: \"OFF\""
          },
          "filterCriteria": {
            "type": "object",
            "description": "Determine if the alert prediction policy should consider the below filter rules.",
            "properties": {
              "filterBased": {
                "type": "string",
                "description": "Enable filter based rules."
              },
              "matchingType": {
                "type": "string",
                "minLength": 1,
                "description": "Match ALL or ANY of the rules to filter for resources whose alerts will match this policy."
              },
              "rules": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "type": "object",
[...]
