{
  "openapi": "3.0.3",
  "info": {
    "title": "OpsRamp",
    "version": "latest",
    "description": "Authentication: OAuth 2.0 (client credentials grant). OpsRamp is a SaaS IT operations management platform providing unified resource/device monitoring, alerting, incident management, and third-party integration management across hybrid IT environments.",
    "x-vendor-api-version": "2.0.0",
    "x-itential-curated": "Trimmed to 33 of 211 upstream operations across resources/devices (create, get, update, delete, search, decommission), device groups, sites, alerts (create, search, get, comment, act on), incidents/tickets (create, get, update, search, act on, note), and installed/available integrations (search, get, update, uninstall, install) automation. See the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "url": "https://api.opsramp.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2ClientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.opsramp.com/tenancy/auth/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "rm_deviceGroup": {
        "title": "deviceGroup",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Unique name for the device group. The device group is identified with this name.\n"
          },
          "entityType": {
            "type": "string",
            "description": "Type of resources in a group. Example: DEVICE_GROUP, SNS\n"
          },
          "kbArticlesIds": {
            "type": "array",
            "description": "Knowledge base articleId to be attached to resouce groupId.",
            "items": {
              "type": "integer"
            }
          },
          "filterCriteria": {
            "$ref": "#/components/schemas/rm_policy"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "parent": {
            "type": "object",
            "description": "Add a device group as child under an existing device group (parent). This field is mandatory while adding a child device group to parent device group.",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          }
        }
      },
      "rm_policy": {
        "title": "deviceManagementPolicy",
        "type": "object",
        "properties": {
          "matchType": {
            "type": "string",
            "description": "(Optional) The type of match:\n-To match all the filter conditions, provide matchType: ALL.\n- To match any one of the filter conditions, provide matchType: ANY.",
            "enum": [
              "ALL",
              "ANY"
            ]
          },
          "rules": {
            "type": "array",
            "description": "(Optional) Filter devices with specific attributes:\n- Attribute name of device. Example: Name, Operating System. Attribute names change with device types.\n- Matching parameter. Supported operators are: Equals, Contains, Not Contains, Starts with, Ends with, Regex. Learn more about Regex.\n- Type of resource",
            "items": {
              "$ref": "#/components/schemas/rm_rule"
            }
          },
          "actions": {
            "type": "array",
            "description": "- Supported actions\n   - ASSIGN MONITORINGTEMPLATE\n   - ASSIGN KNOWLEDGEARTICLE\n   - Assign Availability Rule\n   - ASSIGN CUSTOMATTRIBUTES\n   - Assign Jobs\n   - ASSIGN CREDENTIALSET\n\n- Supported values for items for given action\n  -  For Assign Availability Rule  , item value is AND\n  -  For ASSIGN CUSTOMATTRIBUTES, item value is tagName[value='tagValue']\n  -  For all others this is  number in string eg  \"12345\"\n- Scenarios for Custom attributes item values in response payload\n   - New TagName : New Tag created with given Name and Tag Value, and Assigned. - Id of New Tag Value added to response\n   - Old TagName and New Tag Value : New Tag Value added to Tag and Assigned - Id of New Tag Value added to response.\n   - Old TagName and Old TagValue : Both the details are verfied and Assigned - Id of TagValue added to Response",
            "items": {
              "$ref": "#/components/schemas/rm_action"
            }
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Name of the policy.\n"
          },
          "resourceType": {
            "type": "string",
            "description": "Type of resource.\nExample: DEVICE, VOLUME, VPN, XENSERVER"
          },
          "executionOrder": {
            "type": "integer"
          },
          "clientMatchingType": {
            "type": "string",
            "x-stoplight": {
              "id": "jofa8bkhibhjz"
            },
            "enum": [
              "EXCLUDE",
              "INCLUDE",
              "ALL"
            ],
            "default": "ALL",
            "example": "ALL",
            "description": "- The clientMatchingType field is optional and when not passed defaults to the following   \"clientMatchingType\": \"ALL\"\n- The clientMatchingType field is applicable at partner-level DMP only.\n- If clientMatchingType EXCLUDE/INCLUDE, then the clients field is mandatory.\n- On policy update, if clientMatchingType is not passed then clientMatchingType will be updated to ALL and client selection will be removed."
          },
          "clients": {
            "type": "array",
            "x-stoplight": {
              "id": "vf3zkc9tjqmor"
            },
            "items": {}
          },
          "searchQuery": {
            "type": "string",
            "description": "Search query string for filtering resources.\n"
          },
          "parentPolicy": {
            "type": "integer",
            "description": "ID of the parent policy from which this policy is being cloned. This numerical field can be given as part of payload to create a child policy.\n"
          },
          "uid": {
            "type": "string",
            "description": "Unique identifier string for the policy.\n"
          },
          "createdDate": {
            "type": "string",
            "description": "Policy created date.\n"
          },
          "updatedDate": {
            "type": "string",
            "description": "Policy last updated date.\n"
          },
          "systemQuery": {
            "type": "string",
            "description": "System-generated query string for additional filtering criteria. System-generated query string containing the parent policy query. User-defined search query will append to this system query with AND condition as present in UI.\n"
          },
          "completeSearchQuery": {
            "type": "string",
            "description": "Combined search query including both user-defined and system-generated criteria.\n"
          },
          "parentPolicyUID": {
            "type": "string",
            "description": "Unique identifier string of the parent policy\n"
          },
          "customized": {
            "type": "boolean",
            "description": "Indicates whether the policy has been customized from its parent.\n"
          },
          "globalPolicy": {
            "type": "boolean",
            "description": "Indicates whether this is a global policy or tenant-specific.\n"
          }
        }
      },
      "rm_rule": {
        "title": "rule",
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "resourceType": {
            "type": "string"
          },
          "filterType": {
            "type": "string"
          },
          "isNativeAttribute": {
            "type": "boolean"
          }
        }
      },
      "rm_action": {
        "title": "action",
        "type": "object",
        "description": "Refers to the actions performed on the filtered resources. Select at least one of the following actions:\n- Assign Monitoring Templates\n- Assign Knowledge Base Articles\n- Assign Availability Rule\n- Assign Custom Attributes\n- Assign Jobs\n- Assign Credentials\n\nExamples: \"ASSIGN MONITORINGTEMPLATE\" and \"ASSIGN KNOWLEDGEARTICLE\"",
        "properties": {
          "action": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object",
                  "description": "Template configuration parameters. These would be mandatory attributes in case the template has been configured to have configuration parameters for the \"ASSIGN MONITORINGTEMPLATE\" action."
                },
                "instances": {
                  "type": "object"
                }
              }
            }
          },
          "forceAssignOrUnassign": {
            "type": "boolean"
          }
        }
      },
      "rm_user": {
        "title": "user",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "loginName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "changePassword": {
            "type": "boolean"
          },
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "rm_site": {
        "title": "site",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Site name.\n"
          },
          "clientId": {
            "type": "integer"
          },
          "mspId": {
            "type": "integer"
          },
          "parent": {
            "type": "object",
            "description": "(Optional) Parent site. Required if creating a sub-site under a parent site:\n",
            "properties": {
              "id": {
                "description": "Parent site id\n",
                "type": "integer"
              },
              "name": {
                "type": "string",
                "description": "Parent site name\n"
              },
              "description": {
                "type": "string"
              },
              "address": {
                "type": "string"
              }
            }
          },
          "description": {
            "type": "string",
            "description": "(Optional) Summary of the site.\n"
          },
          "address": {
            "type": "string",
            "description": "(Optional) Site address.\n"
          },
          "state": {
            "type": "string",
            "description": "(Optional) Site state.\n"
          },
          "city": {
            "type": "string",
            "description": "(Optional) Site city.\n"
          },
          "country": {
            "type": "string"
          },
          "zip": {
            "type": "string",
            "description": "(Optional) Zip code.\n"
          },
          "primaryContact": {
            "$ref": "#/components/schemas/rm_user"
          },
          "phoneNumber": {
            "type": "string",
            "description": "(Optional) Site phone number for communication.\n"
          },
          "phoneExtension": {
            "type": "string",
            "description": "(Optional) Site phone extension number.\n"
          },
          "filterCriteria": {
            "$ref": "#/components/schemas/rm_policy"
          },
          "devices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uniqueId": {
                  "type": "string"
                },
                "hostName": {
                  "type": "string"
                },
                "ipAddress": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                },
                "resourceName": {
                  "type": "string"
                },
                "resourceType": {
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "ipAddress": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "metaData": {
                  "type": "object"
                },
                "resourceType": {
                  "type": "string"
                },
                "hostName": {
                  "type": "string"
                },
                "resourceName": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "rm_genericResource": {
        "type": "object",
        "description": "",
        "additionalProperties": false,
        "properties": {
          "hostName": {
            "type": "string",
            "minLength": 1,
            "description": "The resource hostname"
          },
          "resourceName": {
            "type": "string",
            "minLength": 1,
            "description": "The Resource Nam"
          },
          "resourceType": {
            "type": "string",
            "minLength": 1,
            "description": "Resources based on a resource type. Use Get Device Types API to get a list of supported resource types supported by OpsRamp"
          },
          "extResourceId": {
            "type": "string",
            "minLength": 1
          },
          "dnsName": {
            "type": "string",
            "minLength": 1,
            "description": "Resource Domain service name"
          },
          "aliasName": {
            "type": "string",
            "minLength": 1,
            "description": "Other name of resource"
          },
          "os": {
            "type": "string",
            "minLength": 1
          },
          "serialNumber": {
            "type": "string",
            "minLength": 1
          },
          "make": {
            "type": "string",
            "minLength": 1
          },
          "model": {
            "type": "string",
            "minLength": 1
          },
          "managementProfile": {
            "type": "string",
            "minLength": 1,
            "description": "Agent/Gateway profile ID"
          },
          "systemUID": {
            "type": "string"
          },
          "providerUID": {
            "type": "string"
          },
          "providerType": {
            "type": "string",
            "enum": [
              "GOOGLE",
              "VMWARE",
              "AZURE",
              "AWS",
              null
            ],
            "description": "Resource provider i..e ( Resource discovered from eg GOOGLE,VMWARE,AZURE,AWS )"
          },
          "resourceNetworkInterface": {
            "type": "array",
            "description": "Network interfaces of the resource",
            "items": {
              "$ref": "#/components/schemas/rm_resourceInterface"
            }
          },
          "description": {
            "type": "string"
          },
          "oobInterfaceCards": {
            "type": "array",
            "description": "OOB interface details",
            "items": {
              "$ref": "#/components/schemas/rm_oobInterface"
            }
          }
        },
        "required": [
          "resourceName",
          "resourceType"
        ]
      },
      "rm_resourceInterface": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "ipAddressType": "STATIC",
            "macAddress": "00:0C:29:B8:C8:8F",
            "default": 0,
            "ipAddress": "172.22.221.90"
          }
        },
        "properties": {
          "ipAddressType": {
            "type": "string",
            "minLength": 1,
            "enum": [
              "STATIC",
              "DHCP"
            ]
          },
          "macAddress": {
            "type": "string",
            "minLength": 1
          },
          "default": {
            "type": "number"
          },
          "ipAddress": {
            "type": "string",
            "minLength": 1,
            "format": "ipv4"
          }
        }
      },
      "rm_syntheticCredential": {
        "description": "",
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "minLength": 1
          },
          "securityLevel": {
            "type": "string",
            "minLength": 1
          },
          "oauthClientKey": {
            "type": "string",
            "minLength": 1
          },
          "oauthClientSecret": {
            "type": "string",
            "minLength": 1
          },
          "oauthAccessTokenUrl": {
            "type": "string",
            "minLength": 1
          },
          "oauthGrantType": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_syntheticCredentailsSet": {
        "type": "array",
        "description": "",
        "minItems": 1,
        "uniqueItems": true,
        "x-examples": {
          "example-1": [
            {
              "credentialType": "HTTP_PROXY",
              "password": "string",
              "securityLevel": "basic",
              "userName": "string"
            }
          ]
        },
        "items": {
          "type": "object",
          "properties": {
            "credentialType": {
              "type": "string",
              "minLength": 1
            },
            "password": {
              "type": "string",
              "minLength": 1
            },
            "securityLevel": {
              "type": "string",
              "minLength": 1
            },
            "userName": {
              "type": "string",
              "minLength": 1
            }
          }
        }
      },
      "rm_metricType": {
        "type": "object",
        "description": "",
        "x-examples": {
          "example-1": {
            "id": 0,
            "metricName": "resource.availability",
            "displayName": "Availability",
            "unit": "COUNTER",
            "availabilityMetric": false,
            "thresholdType": "STATIC",
            "factor": 0,
            "displayByComponent": false,
            "displayOrder": 0,
            "topMetric": false,
            "timeSeries": true,
            "tenantId": 0,
            "version": 0
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "metricName": {
            "type": "string",
            "minLength": 1
          },
          "displayName": {
            "type": "string",
            "minLength": 1
          },
          "unit": {
            "type": "string",
            "minLength": 1
          },
          "availabilityMetric": {
            "type": "boolean"
          },
          "thresholdType": {
            "type": "string",
            "minLength": 1
          },
          "factor": {
            "type": "number"
          },
          "displayByComponent": {
            "type": "boolean"
          },
          "displayOrder": {
            "type": "number"
          },
          "topMetric": {
            "type": "boolean"
          },
          "timeSeries": {
            "type": "boolean"
          },
          "tenantId": {
            "type": "number"
          },
          "version": {
            "type": "number"
          }
        },
        "readOnly": true
      },
      "rm_networkCardDetail": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 270873,
            "networkName": "vmnic0",
            "status": "DOWN",
            "ifName": "",
            "ifAlias": "",
            "ifDescription": "",
            "ifType": "OTHER",
            "ifTxType": "IFTXTYPE_AUTO",
            "ipAddress": "",
            "macAddress": "00:0C:29:0A:16:43",
            "dhcpEnabled": false,
            "speed": "0 Bps",
            "linkMode": "MGNT_MODE_LINK",
            "confLinkSpeed": "0 Bps",
            "adminStatus": "DOWN",
            "operationalStatus": "DOWN"
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "networkName": {
            "type": "string",
            "minLength": 1
          },
          "status": {
            "type": "string",
            "minLength": 1
          },
          "ifName": {
            "type": "string"
          },
          "ifAlias": {
            "type": "string"
          },
          "ifDescription": {
            "type": "string"
          },
          "ifType": {
            "type": "string",
            "minLength": 1
          },
          "ifTxType": {
            "type": "string",
            "minLength": 1
          },
          "ipAddress": {
            "type": "string"
          },
          "macAddress": {
            "type": "string",
            "minLength": 1
          },
          "dhcpEnabled": {
            "type": "boolean"
          },
          "speed": {
            "type": "string",
            "minLength": 1
          },
          "linkMode": {
            "type": "string",
            "minLength": 1
          },
          "confLinkSpeed": {
            "type": "string",
            "minLength": 1
          },
          "adminStatus": {
            "type": "string",
            "minLength": 1
          },
          "operationalStatus": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_syntheticApp": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "installedApp": {
              "integration": {
                "id": "SYNTHETICS",
                "name": "Synthetics",
                "multipleInstallations": false,
                "integrationId": 7807708,
                "provisionUserWithTenantPrefix": false,
                "subCategory": "Web Services",
                "subCategoryJson": {
                  "name": "Web Services",
                  "displayName": "Web Services"
                },
                "managePermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE"
                ],
                "editPermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE",
                  "INTEGRATION_EDIT",
                  "DEVICE_CREATE"
                ],
                "scanPermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE",
                  "INTEGRATION_EDIT",
                  "DEVICE_CREATE",
                  "INTEGRATION_SCAN"
                ],
                "viewPermission": [
                  "INTEGRATION_MANAGE",
                  "DEVICE_MANAGE",
                  "INTEGRATION_EDIT",
                  "DEVICE_CREATE",
                  "INTEGRATION_SCAN",
                  "INTEGRATION_VIEW",
                  "DEVICE_VIEW"
                ]
              }
            }
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "multipleInstallations": {
            "type": "boolean"
          },
          "integrationId": {
            "type": "integer"
          },
          "provisionUserWithTenantPrefix": {
            "type": "boolean"
          },
          "subCategory": {
            "type": "string"
          },
          "subCategoryJson": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            }
          },
          "managePermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "editPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scanPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "viewPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "rm_genericResourceInfo": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "name": "172.26.105.12",
            "osName": "VMware ESXi 6.0.0 build-3620759",
            "osVersion": "",
            "make": "VMware, Inc.",
            "hostName": "",
            "dns": "",
            "resourceType": "VMWAREHOST",
            "resourcePath": "VMWareHost",
            "domainRole": "",
            "macAddress": "",
            "keyboardType": "US104",
            "encodingType": "UTF8",
            "physicalMemory": "8191.0",
            "managementGatewayProfileName": "TestPro",
            "resourceName": "172.26.105.12",
            "aliasName": "",
            "createdTime": "2020-01-29T10:21:49+0000",
            "updatedTime": "2020-01-29T10:21:44+0000",
            "assetManagedTime": "2020-01-29T10:21:49+0000",
            "firstAssetManagedTime": "2020-01-29T10:21:49+0000"
          }
        },
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "osName": {
            "type": "string",
            "minLength": 1
          },
          "osVersion": {
            "type": "string"
          },
          "make": {
            "type": "string",
            "minLength": 1
          },
          "hostName": {
            "type": "string"
          },
          "dns": {
            "type": "string"
          },
          "resourceType": {
            "type": "string",
            "minLength": 1
          },
          "resourcePath": {
            "type": "string",
            "minLength": 1
          },
          "domainRole": {
            "type": "string"
          },
          "macAddress": {
            "type": "string"
          },
          "keyboardType": {
            "type": "string",
            "minLength": 1
          },
          "encodingType": {
            "type": "string",
            "minLength": 1
          },
          "physicalMemory": {
            "type": "string",
            "minLength": 1
          },
          "managementGatewayProfileName": {
            "type": "string",
            "minLength": 1
          },
          "resourceName": {
            "type": "string"
          },
          "aliasName": {
            "type": "string"
          },
          "createdTime": {
            "type": "string",
            "minLength": 1
          },
          "updatedTime": {
            "type": "string",
            "minLength": 1
          },
          "assetManagedTime": {
            "type": "string",
            "minLength": 1
          },
          "firstAssetManagedTime": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_cpu": {
        "description": "",
        "type": "object",
        "properties": {
          "processor": {
            "type": "string",
            "minLength": 1
          },
          "processorName": {
            "type": "string",
            "minLength": 1
          },
          "manufacturer": {
            "type": "string",
            "minLength": 1
          },
          "powerManagementSupported": {
            "type": "boolean"
          },
          "l2CacheSize": {
            "type": "number"
          },
          "maxClockSpeed": {
            "type": "number"
          },
          "dataWidth": {
            "type": "number"
          },
          "numberOfCores": {
            "type": "number"
          }
        }
      },
      "rm_mgmtProfile": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 5923,
            "name": "TestPro",
            "description": "",
            "type": "Gateway"
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "id"
        ]
      },
      "rm_bios": {
        "description": "",
        "type": "object",
        "properties": {
          "biosVersion": {
            "type": "string",
            "minLength": 1
          },
          "systemSerial": {
            "type": "string",
            "minLength": 1
          },
          "systemModel": {
            "type": "string",
            "minLength": 1
          },
          "systemManufacturer": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_disovery": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 2933,
            "name": "vcenterpro",
            "scanNow": false
          }
        },
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "scanNow": {
            "type": "boolean"
          }
        }
      },
      "rm_props": {
        "description": "",
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "minLength": 1
          },
          "uniqueId": {
            "type": "string"
          },
          "physical_location_name": {
            "type": "string"
          },
          "vMotion": {
            "type": "boolean"
          },
          "ftmMode": {
            "type": "boolean"
          },
          "perfLevelInfo": {
            "type": "string",
            "minLength": 1
          },
          "licenceData": {
            "type": "object",
            "properties": {
              "licenseExpiry": {
                "type": "string",
                "minLength": 1
              },
              "licenseName": {
                "type": "string",
                "minLength": 1
              },
              "licenseVersion": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          "zone": {
            "type": "string"
          },
          "policy": {
            "type": "string"
          },
          "arn": {
            "type": "string"
          },
          "vpcId": {
            "type": "string"
          }
        }
      },
      "rm_location": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "clientId": {
            "type": "number"
          },
          "mspId": {
            "type": "number"
          },
          "city": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "rm_oobInterface": {
        "description": "",
        "type": "object",
        "x-examples": {
          "example-1": {
            "resourceName": "string",
            "macAddress": "string",
            "url": "string",
            "oobVersion": "string",
            "description": "string",
            "accessInfo": "string",
            "accessInfoIpV4": "string",
            "remoteAccessType": "string",
            "port": 0,
            "make": "string",
            "model": "string"
          }
        },
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "macAddress": {
            "type": "string",
            "minLength": 1
          },
          "url": {
            "type": "string",
            "minLength": 1
          },
          "oobVersion": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "accessInfo": {
            "type": "string",
            "minLength": 1
          },
          "accessInfoIpV4": {
            "type": "string",
            "minLength": 1
          },
          "remoteAccessType": {
            "type": "string",
            "minLength": 1
          },
          "port": {
            "type": "number"
          },
          "make": {
            "type": "string",
            "minLength": 1
          },
          "model": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "name",
          "macAddress",
          "url",
          "oobVersion",
          "description",
          "accessInfo",
          "accessInfoIpV4",
          "remoteAccessType",
          "port",
          "make",
          "model"
        ]
      },
      "al_alerted": {
        "type": "object",
        "description": "",
        "properties": {
          "uniqueId": {
            "type": "string",
            "minLength": 1,
            "description": "Alert uuid"
          },
          "currentState": {
            "type": "string",
            "minLength": 1,
            "description": "Alert current state"
          },
          "serviceName": {
            "type": "string",
            "minLength": 1,
            "description": "Alert Metric"
          },
          "subject": {
            "type": "string",
            "minLength": 1,
            "description": "Alert Subject"
          },
          "app": {
            "type": "string",
            "minLength": 1,
            "description": "Event source name which generates alert, For eg External monitoring tool like SCOM"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "Alert description details"
          },
          "oldState": {
            "type": "string",
            "minLength": 1,
            "description": "Alert previous state from current sta"
          },
          "problemArea": {
            "type": "string",
            "minLength": 1
          },
          "acknowledged": {
            "type": "boolean",
            "description": "Alert akcnowledged"
          },
          "suppressed": {
            "type": "boolean",
            "description": "Alert suppressed"
          },
          "permanentlySuppressed": {
            "type": "boolean"
          },
          "closed": {
            "type": "boolean"
          },
          "ticketed": {
            "type": "boolean",
            "description": "Alert has incident created"
          },
          "clientUniqueId": {
            "type": "string",
            "minLength": 1,
            "description": "Tenant   uuid"
          },
          "alertType": {
            "type": "string",
            "minLength": 1,
            "enum": [
              "Agent",
              "Appliance",
              "Monitoring",
              "Scheduled Maintenance",
              "Forecast",
              "Change Detection",
              "MONITORING",
              "Maintenance"
            ],
            "example": "Monitoring",
            "description": "OpsRamp Alerting type"
          },
          "component": {
            "type": "string",
            "minLength": 1,
            "description": "Component from which alert got generated"
          },
          "alertTime": {
            "type": "string",
            "minLength": 1,
            "description": "Time when alert was generated at source"
          },
          "device": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "hostName": {
                "type": "string",
                "minLength": 1
              },
              "ipAddress": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "minLength": 1
              },
              "aliasName": {
                "type": "string"
              },
              "resourceName": {
                "type": "string"
              },
              "resourceType": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          "resource": {
            "type": "object",
            "description": "Resource Object details",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1,
                "description": "Resource "
              },
              "hostName": {
                "type": "string",
                "minLength": 1,
                "description": "Resource hostname"
              },
              "ipAddress": {
                "type": "string",
                "description": "Resource IP address"
              },
              "dns": {
                "type": "string",
                "description": "Resource DNS"
              },
              "type": {
                "type": "string",
                "minLength": 1
              },
              "state": {
                "type": "string",
                "minLength": 1,
                "description": "Resource state"
              },
              "make": {
                "type": "string",
                "description": "Make of the Resource"
              },
              "osName": {
                "type": "string",
                "description": "Resource OS"
              },
              "description": {
                "type": "string"
              },
              "source": {
                "type": "string",
                "minLength": 1
              },
              "agentInstalled": {
                "type": "boolean",
                "description": "Agent installed resource"
              },
              "status": {
                "type": "string",
                "minLength": 1
              },
              "aliasName": {
                "type": "string",
                "description": "Resource Alias name"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "resourceName": {
                "type": "string"
              },
              "generalInfo": {
                "type": "object",
                "description": "Resource generalInfo object details",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "hostName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "resourceType": {
                    "type": "string",
                    "minLength": 1
                  },
                  "resourcePath": {
                    "type": "string",
                    "minLength": 1
                  },
                  "resourceName": {
                    "type": "string"
                  },
                  "aliasName": {
                    "type": "string"
                  },
                  "createdTime": {
                    "type": "string",
                    "minLength": 1
                  },
                  "updatedTime": {
                    "type": "string"
                  },
                  "assetManagedTime": {
                    "type": "string",
                    "minLength": 1
                  },
                  "firstAssetManagedTime": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              },
              "consoles": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "clientUniqueId": {
                "type": "string",
                "minLength": 1
              },
              "resourceType": {
                "type": "string",
                "minLength": 1
              },
              "resourcePath": {
                "type": "string",
                "minLength": 1
              },
              "alternateIp": {
                "type": "string"
              },
              "frequency": {
                "type": "number"
              },
              "paused": {
                "type": "boolean"
              },
              "deleted": {
                "type": "boolean"
              },
              "validateSSL": {
                "type": "boolean"
              },
              "port": {
                "type": "number"
              },
              "encrypted": {
                "type": "boolean"
              },
              "timeout": {
                "type": "number"
              },
              "ts": {
                "type": "number"
              },
              "clientId": {
                "type": "number"
              },
              "locationOffset": {
                "type": "number"
              },
              "totalLocations": {
                "type": "number"
              },
              "receiverHostPort": {
                "type": "number"
              },
              "topologyEnabled": {
                "type": "boolean"
              },
              "device": {
                "type": "boolean"
              },
              "excludeIndexing": {
                "type": "boolean"
              },
              "cloudInstance": {
                "type": "boolean"
              },
              "saId": {
                "type": "number"
              },
              "extResourceId": {
                "type": "string",
                "description": "Unique cloud resource identifier. Mandatory for cloud resources like Azure cloud resource to reconcile with scheduled cloud resource discov."
              }
            }
          },
          "monitorName": {
            "type": "string",
            "minLength": 1,
            "description": "Applied monitor name for monitori"
          },
          "repeatCount": {
            "type": "string",
            "minLength": 1,
            "description": "Count of the alerts occured with similar state"
          },
          "tenantId": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "minLength": 1
          },
          "priority": {
            "type": "string",
            "minLength": 1,
            "enum": [
              "P0",
              "P1",
              "P2",
              "P3",
              "P4",
              "P5",
              "N/A"
            ],
            "description": "Alert priority"
          },
          "elapsedTimeString": {
            "type": "string",
            "minLength": 1
          },
          "createdDate": {
            "type": "string",
            "minLength": 1
          },
          "updatedTime": {
            "type": "string",
            "minLength": 1
          },
          "rba": {
            "type": "boolean",
            "description": "Run book automation applied"
          },
          "tenantName": {
            "type": "string",
            "minLength": 1
          },
          "rtype": {
            "type": "string",
            "minLength": 1
          },
          "entityType": {
            "type": "string",
            "minLength": 1
          },
          "mspName": {
            "type": "string",
            "minLength": 1
          },
          "extAlertId": {
            "type": "string"
          },
          "managedByOpsRamp": {
            "type": "boolean"
          },
          "actedTs": {
            "type": "number"
          },
          "metricTime": {
            "type": "number"
          },
          "eventType": {
            "type": "string",
            "minLength": 1,
            "enum": [
              "ALERT",
              "RCA",
              "Inference",
              "Alert",
              "INFERENCE"
            ],
            "example": "ALERT"
          },
          "inferenceId": {
            "type": "number"
          },
          "ignoreRecoveryNoise": {
            "type": "boolean"
          },
          "availability": {
            "type": "boolean"
          },
          "snoozeDuration": {
            "type": "number"
          },
          "metric": {
            "type": "string",
            "minLength": 1
          },
          "isRecoveryAlert": {
            "type": "boolean"
          },
          "inferenceAlert": {
            "type": "boolean"
          },
          "statusHistory": {
            "type": "object",
            "description": "Alert history",
            "properties": {
              "createdBy": {
                "type": "string",
                "minLength": 1
              },
              "createdTime": {
                "type": "string",
                "minLength": 1
              },
              "ticketedBy": {
                "type": "string"
              },
              "ticketedTime": {
                "type": "string"
              }
            }
          },
          "clientTechnology": {
            "type": "string",
            "minLength": 1
          },
          "customFields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "currentState",
          "serviceName",
          "subject",
          "app"
        ],
        "readOnly": true
      },
      "tk_user": {
        "title": "user",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "loginName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "tk_group": {
        "title": "group",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "userCount": {
            "type": "integer"
          }
        }
      },
      "tk_resource": {
        "title": "resource",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "metaData": {
            "type": "object"
          },
          "resourceType": {
            "type": "string"
          },
          "hostName": {
            "type": "string"
          },
          "resourceName": {
            "type": "string"
          },
          "aliasName": {
            "type": "string"
          }
        }
      },
      "tk_customField": {
        "title": "customField",
        "type": "object",
        "description": "User-defined fields. User can create additional fields to attach more information related to the change request. Create a custom field and use the get change request custom fields get the list of the customized fields for change request.",
        "properties": {
          "classCode": {
            "type": "string",
            "description": "Ticket Ty",
            "enum": [
              "SERVICEREQUEST",
              "ACSTICKET",
              "CHANGE",
              "TASK",
              "INCIDENT",
              "PROBLEM"
            ],
            "default": "INCIDENT",
            "example": "INCIDENT"
          },
          "displayLabel": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "fieldType": {
            "type": "string",
            "description": "Type of Custom Fields Area",
            "enum": [
              "TYPE_CUSTOM_FIELD",
              "TYPE_DROPDOWN",
              "TYPE_TEXT",
              "TYPE_TEXTAREA",
              "TYPE_NUMBER",
              "TYPE_DATE",
              "TYPE_DATETIME",
              "TYPE_CHECKBOX"
            ]
          },
          "mandatory": {
            "type": "boolean"
          },
          "editable": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "defaultValue": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tk_fieldOptions"
            }
          },
          "selectedOption": {
            "$ref": "#/components/schemas/tk_fieldOptions"
          },
          "customField": {
            "type": "boolean"
          },
          "removeOptions": {
            "type": "array",
            "description": "This is only used during updating a custom field.",
            "items": {
              "$ref": "#/components/schemas/tk_fieldOptions"
            }
          },
          "visibleToBusinessUsers": {
            "type": "boolean",
            "description": "Enable visibility to bussiness users"
          },
          "active": {
            "type": "boolean",
            "description": "Enable field visibility"
          },
          "intgEventUUId": {
            "type": "string",
            "description": "Integration Outbound Search Event UUID (If field type is TYPE_CUSTOM_FIELD then intgEventUUId is mandatory)"
          }
        },
        "required": [
          "classCode",
          "displayLabel",
          "fieldType"
        ]
      },
      "tk_status": {
        "title": "status",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "reasonsEnabled": {
            "type": "boolean"
          },
          "reasonsDefined": {
            "type": "boolean"
          }
        }
      },
      "tk_client": {
        "title": "client",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uniqueId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "activated": {
            "type": "boolean"
          },
          "updatedTime": {
            "type": "string"
          },
          "createdTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "tk_slaDetails": {
        "title": "slaDetails",
        "type": "object",
        "properties": {
          "resolutionTime": {
            "type": "integer"
          },
          "responseTime": {
            "type": "integer"
          },
          "responseBreach": {
            "type": "boolean"
          },
          "resolutionBreach": {
            "type": "boolean"
          },
          "responseBreachDate": {
            "type": "string"
          },
          "resolutionBreachDate": {
            "type": "string"
          },
          "slaPolicy": {
            "$ref": "#/components/schemas/tk_slaPolicy"
          }
        }
      },
      "tk_statusHistory": {
        "title": "statusHistory",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "timeSpent": {
            "type": "integer"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "$ref": "#/components/schemas/tk_user"
          },
          "reason": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "tk_businessImpact": {
        "title": "businessImpact",
        "type": "object",
        "description": "Incident ticket type attributes",
        "properties": {
          "uniqueId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Business impact name."
          },
          "description": {
            "type": "string",
            "description": "Short summary describing the business impact."
          },
          "createdBy": {
            "$ref": "#/components/schemas/tk_user"
          },
          "updatedBy": {
            "$ref": "#/components/schemas/tk_user"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "tk_incident": {
        "title": "incident",
        "type": "object",
        "description": "",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "description": "Ticket subject.\n",
            "type": "string"
          },
          "description": {
            "description": "Ticket description.\n",
            "type": "string"
          },
          "alertIds": {
            "type": "array",
            "description": "The list of alert ids attached to the incident.",
            "items": {
              "type": "number"
            }
          },
          "allowedStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tk_status"
            }
          },
          "assignedUser": {
            "$ref": "#/components/schemas/tk_user"
          },
          "assigneeGroup": {
            "$ref": "#/components/schemas/tk_group"
          },
          "attachedArticles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                }
              }
            }
          },
          "attachedRequests": {
            "description": "Attach service requests to an incident. Use the search service requests to get list of service requests in a client.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "attachments": {
            "description": "Attach files related to the change request. Convert attachment files to byte stream with base64-encoding. The file size limit of an attachment is 50 MB.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "businessImpact": {
            "$ref": "#/components/schemas/tk_businessImpact"
          },
          "category": {
            "description": "Add the change request under a category. Use the get API to get the list of categories.",
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "cc": {
            "description": "Cc email.",
            "type": "string"
          },
          "changePlan": {
            "description": "Description of the change plan.\n",
            "type": "string"
          },
          "changeType": {
            "description": "Normal or Emergency depending on the Priority of a change request. For example, create a change type Emergency for change requests that must be processed immediately or if Priority of a request is High.",
            "type": "string"
          },
          "changeRequest": {
            "description": "This property is getting deprecated soon. Use linkedTicket property to attach change request or problem to an incident."
          },
          "linkedTicket": {
            "description": "Attach a problem or change request related to the incident. Only change request or problem can be attached to an incident.",
            "type": "object",
            "properties": {
              "uniqueId": {
                "type": "string"
              },
              "ticketType": {
                "type": "string",
                "enum": [
                  "CHANGE",
                  "PROBLEM"
                ]
              }
            }
          },
          "channelId": {
            "type": "string"
          },
          "client": {
            "$ref": "#/components/schemas/tk_client"
          },
          "closedsummary": {
            "type": "string"
          },
          "createdDate": {
            "format": "date-time",
            "type": "string"
          },
          "createdUser": {
            "$ref": "#/components/schemas/tk_user"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tk_customField"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for incident type tickets."
          },
          "extTicketId": {
            "description": "Attach third party ticket ID.",
            "type": "string"
          },
          "knowledgeArticleIds": {
            "description": "Attach knowledge base articles related to the change request for further reference. To get a knowledge base article ID:\n1. Log into OpsRamp.\n2. Click Knowledge Base.\n3. Select the required article and then copy the article ID.\n4. Provide the article ID in \"knowledgeArticleIds\" field.\n\nExample: \"knowledgeArticleIds\": 25, 16.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "location": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "oldPriority": {
            "type": "string"
          },
          "oldStatus": {
            "type": "string"
          },
          "parentId": {
            "type": "string",
            "description": "Attach incident. Provide the incident ID as an attachment."
          },
          "participantUsers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "loginName": {
                  "type": "string"
                }
              }
            }
          },
          "plannedEnd": {
            "format": "date-time",
            "type": "string"
          },
          "plannedStart": {
            "format": "date-time",
            "type": "string"
          },
          "policy": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "policyType": {
                "type": "string"
              },
              "createdDate": {
                "type": "string"
              },
              "updatedDate": {
                "type": "string"
              },
              "executionOrder": {
                "type": "integer"
              },
              "active": {
                "type": "boolean"
              }
            }
          },
          "priority": {
            "description": "Ticket priority with supported priority values: Low, Normal, High, Urgent, and Very Low.\n",
            "type": "string"
          },
          "priorityUpdatedBy": {
            "$ref": "#/components/schemas/tk_user"
          },
          "priorityUpdatedDate": {
            "format": "date-time",
            "type": "string"
          },
          "problem": {
            "description": "Attach a problem or change request related to the incident. Only a single change request or problem can be attached to an incident.",
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "reOpenCount": {
            "type": "integer"
          },
          "requester": {
            "$ref": "#/components/schemas/tk_user"
          },
          "resolutionsummary": {
            "type": "string"
          },
          "resolveDate": {
            "type": "string",
            "format": "date-time"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tk_resource"
            }
          },
          "rollbackPlan": {
            "description": "Description of roll back plan.\n",
            "type": "string"
          },
          "schedule": {
            "type": "object",
            "description": "Time bound tickets schedule.",
            "properties": {
              "startTime": {
                "type": "string",
                "description": "Schedule start time.\n"
              },
              "endTime": {
                "type": "string",
                "description": "Schedule end time.\n"
              },
              "type": {
                "type": "string",
                "description": "Schedule type.\n"
              },
              "timezone": {
                "type": "string",
                "description": "Schedule time zone. The list of timezones are shown below.\nExample: \"timezone\": \"America/Los_Angeles\""
              },
              "pattern": {
                "description": "Recurrence pattern.\n",
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Recurrence pattern type.\n",
                    "enum": [
                      "daily",
                      "weekly",
                      "monthly"
                    ]
                  },
                  "dayFrequency": {
                    "type": "string",
                    "description": "Day on which the time bound request should occur.\n",
                    "enum": [
                      "everyday",
                      "every weekday"
                    ]
                  },
                  "weekDays": {
                    "type": "string",
                    "description": "Weekdays on which the time bound request should occur.\n",
                    "enum": [
                      "SUN",
                      "MON",
                      "TUE",
                      "WED",
                      "THU",
                      "FRI",
                      "SAT"
                    ]
                  },
                  "dayOfMonth": {
                    "type": "integer",
                    "description": "Day of the month on which time bound request should occur.\n",
                    "minimum": 1,
                    "maximum": 31
                  },
                  "weekIndex": {
                    "type": "string",
                    "description": "Weekdays on which the time bound request should occur every month.\n",
                    "enum": [
                      "FIRST",
                      "SECOND",
                      "THIRD",
                      "FOURTH",
                      "LAST"
                    ]
                  },
                  "dayOfWeek": {
                    "type": "string",
                    "description": "Weekdays on which the time bound request should occur every month.\n",
                    "enum": [
                      "SUN",
                      "MON",
                      "TUE",
                      "WED",
                      "THU",
                      "FRI",
                      "SAT"
                    ]
                  }
                }
              }
            }
          },
          "serviceRestoreDate": {
            "type": "string",
            "format": "date-time"
          },
          "slaDetails": {
            "$ref": "#/components/schemas/tk_slaDetails"
          },
          "source": {
            "type": "string"
          },
          "sourceEntityType": {
            "type": "string"
          },
          "sourceEntityTypeId": {
            "type": "string"
          },
          "sourcePolicyType": {
            "type": "string"
          },
          "sourcePolicyTypeId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusFlow": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/tk_statusHistory"
            }
          },
          "statusUpdatedBy": {
            "$ref": "#/components/schemas/tk_user"
          },
          "statusUpdatedDate": {
            "format": "date-time",
            "type": "string"
          },
          "subCategory": {
            "description": "Add the change request under a sub-category. Use get categories to get the list of sub-categories.",
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "string"
          },
          "testPlan": {
            "description": "Description of test plan.\n",
            "type": "string"
          },
          "ticketArisedTime": {
            "type": "string"
          },
          "toEmail": {
            "type": "string",
            "description": "Email address of the user. An email notification is sent to the user."
          },
          "updatedDate": {
            "format": "date-time",
            "type": "string"
          },
          "urgency": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "workEnd": {
            "format": "date-time",
            "type": "string"
          },
          "workStart": {
            "format": "date-time",
            "type": "string"
          },
          "notifyRoster": {
            "type": "object",
            "description": "Roster defined for incident ticket type only",
            "properties": {
              "id": {
                "type": "string",
                "description": "Roster schedule."
              },
              "name": {
                "type": "string",
                "description": "Roster"
              },
              "description": {
                "type": "string",
                "description": "Roster Description"
              }
            }
          },
          "intAppNamesAndExtTicketIds": {
            "type": "object",
            "description": "Object containing the mapping between integration application names and external ticket IDs.",
            "properties": {
              "extEntityId": {
                "type": "string",
                "description": "External ticket ID associated with the integration application."
              },
              "intAppName": {
                "type": "string",
                "description": "Name of the integration application."
              }
            }
          }
        }
      },
      "tk_slaPolicy": {
        "title": "slaPolicy",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "timezone": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "label": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "businessSchedule": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "shiftType": {
                "type": "integer"
              },
              "startTime": {
                "type": "string"
              },
              "endTime": {
                "type": "string"
              },
              "sunday": {
                "type": "boolean"
              },
              "monday": {
                "type": "boolean"
              },
              "tuesday": {
                "type": "boolean"
              },
              "wednesday": {
                "type": "boolean"
              },
              "thursday": {
                "type": "boolean"
              },
              "friday": {
                "type": "boolean"
              },
              "saturday": {
                "type": "boolean"
              }
            }
          },
          "requestType": {
            "type": "string"
          },
          "withinBussinessHours": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "priority": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "responseBreachTime": {
            "type": "integer"
          },
          "resolutionBreachTime": {
            "type": "integer"
          },
          "responseReminders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reminderTime": {
                  "type": "integer"
                },
                "percentage": {
                  "type": "integer"
                },
                "cc": {
                  "type": "string"
                }
              }
            }
          },
          "resolutionReminders": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reminderTime": {
                  "type": "integer"
                },
                "cc": {
                  "type": "string"
                }
              }
            }
          },
          "createdBy": {
            "$ref": "#/components/schemas/tk_user"
          },
          "updatedBy": {
            "$ref": "#/components/schemas/tk_user"
          }
        }
      },
      "tk_resetFields": {
        "title": "resetFields",
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "tk_closureReason": {
        "title": "closureReason",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "tk_ticketedActionReqs": {
        "title": "ticketedActionReqs",
        "oneOf": [
          {
            "$ref": "#/components/schemas/tk_resetFields"
          },
          {
            "$ref": "#/components/schemas/tk_closureReason"
          }
        ]
      },
      "tk_resetResponse": {
        "type": "object",
        "description": "",
        "x-examples": {},
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "minLength": 1
          },
          "message": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "status",
          "message"
        ],
        "readOnly": true
      },
      "tk_ticketedActionsRes": {
        "title": "ticketedActionsRes",
        "x-examples": {},
        "anyOf": [
          {
            "$ref": "#/components/schemas/tk_resetResponse"
          },
          {
            "$ref": "#/components/schemas/tk_incident"
          }
        ]
      },
      "tk_fieldOptions": {
        "title": "fieldOptions",
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ig_rule": {
        "title": "rule",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "filterType": {
            "type": "string",
            "description": "Filtered resource type.\n- AWS example: AUTO_SCALING, CLOUDFRONT, DYNAMO_DB, ANY_DEVICE, ELASTICACHE, ELASTICMAPREDUCE, KINESIS, LAMBDA, LOAD_BALANCER, MACHINE_LEARNING, RDS, REDSHIFT.\n- Azure example: EBS, WEBSITE, SQL_SERVER, SQL_DATABASE, RESOURCE_GROUP, REDIS_CACHE, DOCUMENT_DB.\n- Google example: ANY_CLOUD_RESOURCE, ANY_DEVICE, EBS, GCE_CLUSTER, SQL_SERVER, SQL_DATABASE, GCE_TOPIC, GCE_SUBSCRIPTION, GCE_ROUTER, VPN."
          },
          "key": {
            "type": "string",
            "description": "Unique attribute name to filter the resource type.",
            "example": "Name, Region Name, Zone Name, Name, Subject, Description."
          },
          "value": {
            "type": "string",
            "description": "Unique information of the resource."
          },
          "operator": {
            "type": "string",
            "description": "Operating values to filter the resource type.",
            "example": "Contains",
            "enum": [
              "Contains",
              "Not Contains",
              "Equals",
              "Not Equals",
              "Starts with",
              "Ends with",
              "Regex"
            ]
          },
          "resourceType": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          }
        }
      },
      "ig_policy": {
        "title": "policy",
        "type": "object",
        "description": "Set of functions formed together as a policy and attached with the discovery profile. Rules to filter the resources to which the discovery profile is attached",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "matchType": {
            "type": "string"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ig_rule"
            }
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ig_action"
            }
          },
          "entityType": {
            "type": "string"
          },
          "executionOrder": {
            "type": "integer"
          }
        }
      },
      "ig_credential": {
        "title": "credential",
        "description": "Credential details of cloud/saas-apps",
        "type": "object",
        "properties": {
          "credentialName": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "credentialType": {
            "type": "string",
            "enum": [
              "SAAS_APPLICATION",
              "AWS",
              "AZURE",
              "ALIBABA",
              "GOOGLE"
            ],
            "default": "AWS",
            "example": "AWS",
            "description": "Type of cloud"
          },
          "SubscriptionId": {
            "type": "string",
            "description": "Azure"
          },
          "AzureType": {
            "type": "string",
            "description": "Azure"
          },
          "TenantId": {
            "type": "string",
            "description": "Azure"
          },
          "ClientID": {
            "type": "string",
            "description": "Azure"
          },
          "SecretKey": {
            "type": "string",
            "description": "Azure"
          },
          "Name": {
            "type": "string"
          },
          "autoMonitorable": {
            "type": "boolean",
            "description": "If true, the integration will be auto monitored."
          },
          "frequency": {
            "type": "integer",
            "description": "Frequency in minutes to monitor the integration."
          },
          "AWSType": {
            "type": "string",
            "description": "AWS "
          },
          "Regions": {
            "type": "string",
            "description": "AWS "
          },
          "AccountNumber": {
            "type": "string",
            "description": "AWS "
          },
          "AccessKey": {
            "type": "string",
            "description": "AWS "
          },
          "SecurityKey": {
            "type": "string",
            "description": "AWS "
          },
          "AssumeRoleARN": {
            "type": "string",
            "description": "AWS "
          },
          "ExternalId": {
            "type": "string",
            "description": "AWS "
          },
          "ManagementCertificate": {
            "type": "string",
            "description": "Azure"
          },
          "KeystorePassword": {
            "type": "string",
            "description": "Azure"
          },
          "ServiceAccountEmail": {
            "type": "string",
            "description": "Google"
          },
          "ProjectId": {
            "type": "string",
            "description": "Google"
          },
          "ServiceAccountManagementCertificate": {
            "type": "string",
            "description": "Google"
          },
          "ManagementCertificatePassPhrase": {
            "type": "string",
            "description": "Google"
          },
          "appName": {
            "type": "string"
          },
          "office365AccountNumber": {
            "type": "string",
            "description": "Office 365 attributes"
          },
          "office365ClientID": {
            "type": "string",
            "description": "Office 365 attributes"
          },
          "office365TenantId": {
            "type": "string",
            "description": "Office 365 attributes"
          },
          "office365SecurityKey": {
            "type": "string",
            "description": "Office 365 attributes"
          },
          "velocloudAccountNumber": {
            "type": "string",
            "description": "velo  cloud attributes"
          },
          "velocloudHostName": {
            "type": "string",
            "description": "velo  cloud attributes"
          },
          "velocloudUserName": {
            "type": "string",
            "description": "vattributes"
          },
          "velocloudSecurityKey": {
            "type": "string",
            "description": "velo security key"
          },
          "velocloudPassword": {
            "type": "string",
            "description": "veattributes"
          },
          "zoomAccountNumber": {
            "type": "string",
            "description": "zoom attributes"
          },
          "zoomClientID": {
            "type": "string",
            "description": "zoom attributes"
          },
          "zoomSecurityKey": {
            "type": "string",
            "description": "zoom attributes"
          },
          "apigeeUserName": {
            "type": "string",
            "description": "zoom attributes"
          },
          "apigeeedgeSecurityKey": {
            "type": "string",
            "description": "apigee attributes"
          },
          "apigeePassword": {
            "type": "string",
            "description": "apigee attributes"
          },
          "organization": {
            "type": "string",
            "description": "apigee attributes"
          },
          "organizationType": {
            "type": "string",
            "description": "apigee attributes"
          },
          "apigeeAuthEndPoint": {
            "type": "string",
            "description": "apigee attributes"
          },
          "apigeeedgeAccountNumber": {
            "type": "string",
            "description": "apigee attributes"
          },
          "megaportAccountNumber": {
            "type": "string",
            "description": "megaport attributes"
          },
          "megaportUserName": {
            "type": "string",
            "description": "megaport attributes"
          },
          "megaportPassword": {
            "type": "string",
            "description": "megaport attributes"
          },
          "megaportSecurityKey": {
            "type": "string",
            "description": "megaport attributes"
          },
          "citrixcvdaAccountNumber": {
            "type": "string",
            "description": "CVDA Account Number"
          },
          "citrixcvdaClientID": {
            "type": "string",
            "description": "CVDA Client ID"
          },
          "citrixcvdaSecurityKey": {
            "type": "string",
            "description": "CVDA Security Key"
          },
          "citrixcvdaRegion": {
            "type": "string",
            "description": "CVDA Region"
          },
          "cloudflareAccountNumber": {
            "type": "string",
            "description": "Cloudflare Account Number"
          },
          "cloudflareSecurityKey": {
            "type": "string",
            "description": "Cloudflare Security Key"
          },
          "junipermistAccountNumber": {
            "type": "string",
            "description": "Juniper Mist Account Number"
          },
          "junipermistSecurityKey": {
            "type": "string",
            "description": "Juniper Mist Security Key"
          },
          "ociRegionsList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of OCI regions to be monitored."
          },
          "ociAccountNumber": {
            "type": "string",
            "description": "OCI Account Number"
          },
          "ociUserOCID": {
            "type": "string",
            "description": "OCI User OCID"
          },
          "ociSecurityKey": {
            "type": "string",
            "description": "OCI Security Key"
          },
          "ociPrivateKey": {
            "type": "string",
            "description": "OCI Private Key"
          }
        }
      },
      "ig_credential-Set": {
        "title": "Private cloud credential set",
        "type": "object",
        "description": "vmware details",
        "properties": {
          "name": {
            "type": "string"
          },
          "autoMonitorable": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "description": "VmWare"
          },
          "uniqueId": {
            "type": "string",
            "description": "uuid"
          },
          "description": {
            "type": "string",
            "description": "VMware details description"
          },
          "port": {
            "type": "integer",
            "description": "Port no"
          },
          "secure": {
            "type": "boolean"
          }
        }
      },
      "ig_discoveryProfile": {
        "title": "discoveryProfile",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Discovery profile name.\n"
          },
          "discoveryStatusUid": {
            "type": "string"
          },
          "scanNow": {
            "type": "boolean"
          },
          "installedIntegrationId": {
            "type": "string"
          },
          "credentialSet": {
            "type": "string",
            "description": "Credential set to be assigned to the discovery profile.\n"
          },
          "policy": {
            "$ref": "#/components/schemas/ig_policy"
          },
          "schedule": {
            "$ref": "#/components/schemas/ig_schedule"
          },
          "scheduleJobString": {
            "type": "string",
            "description": "System-generated string that defines the discovery job schedule, typically in cron or structured time format."
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string"
                }
              }
            }
          },
          "mgmtProfileUuid": {
            "type": "string"
          },
          "nativeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ig_schedule": {
        "title": "schedule",
        "type": "object",
        "description": "Define the discovery time of resources:",
        "properties": {
          "patternType": {
            "type": "string",
            "description": "Discovery schedule pattern type.",
            "example": "HOURLY, DAILY, WEEKLY, MONTHLY, MINUTES."
          },
          "pattern": {
            "type": "string",
            "description": "Pattern of the schedule. Example: If pattern type is WEEKLY, then pattern is MON, WED.\n"
          },
          "startTime": {
            "type": "string",
            "description": "Define start time of discovery.\n"
          }
        }
      },
      "ig_action": {
        "title": "action",
        "type": "object",
        "properties": {
          "action": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object"
                },
                "instances": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "ig_integration": {
        "title": "integration",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ASSET-INVENTORY"
          },
          "name": {
            "type": "string",
            "example": "Asset Inventory"
          },
          "description": {
            "type": "string",
            "example": "See detailed list of resources."
          },
          "multipleInstallations": {
            "type": "boolean",
            "example": false
          },
          "metaData": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "required": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "properties": {
                    "type": "object",
                    "properties": {
                      "client": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "options": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "opsqlQuery": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "uischema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "elements": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "logoBase64": {
                "type": "string",
                "nullable": true
              },
              "queryBuilder": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "groupBy": {
                    "type": "boolean"
                  },
                  "entityType": {
                    "type": "string"
                  },
                  "controlMode": {
                    "type": "string"
                  }
                }
              },
              "additional_props": {
                "type": "object",
                "properties": {
                  "validationFields": {
                    "type": "object",
                    "properties": {
                      "client": {
                        "type": "object",
                        "properties": {
                          "entityType": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "supportedFormats": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "logoBase64": {
            "type": "string",
            "nullable": true
          },
          "integrationId": {
            "type": "integer"
          },
          "provisionUserWithTenantPrefix": {
            "type": "boolean"
          },
          "subCategory": {
            "type": "string"
          },
          "subCategoryJson": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            }
          },
          "managePermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "editPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scanPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "viewPermission": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manifest": {
            "$ref": "#/components/schemas/ig_manifest"
          }
        }
      },
      "ig_logo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "file": {
            "type": "string",
            "description": "Base64 code file of the logo.\n"
          }
        }
      },
      "ig_alertSource": {
        "title": "alertSource",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "techUid": {
            "type": "string"
          }
        },
        "description": "Source of alert. Applicable only when installing category is Monitoring. Default Alert Source is taken as Custom."
      },
      "ig_integrationInstall": {
        "title": "integrationInstall",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "description": "Name used to identify the integration.\n"
          },
          "batchExpConfig": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "allClients": {
                "type": "boolean"
              },
              "clients": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "322ff0e9-32f2-477a-b3ba-899d5d8cb2ef"
                    },
                    "name": {
                      "type": "string",
                      "example": "ITC Client"
                    }
                  }
                }
              },
              "categoryType": {
                "type": "string"
              },
              "exportIntegration": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "recurringType": {
                "type": "string"
              },
              "startHours": {
                "type": "string"
              },
              "startMinutes": {
                "type": "string"
              },
              "dayOfMonth": {
                "type": "string",
                "description": "Use ordinal day format."
              },
              "dayOfWeek": {
                "type": "string"
              },
              "scheduleType": {
                "type": "string"
              },
              "createdTime": {
                "type": "string",
                "format": "date-time"
              },
              "updatedTime": {
                "type": "string",
                "format": "date-time"
              },
              "createdBy": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "loginName": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  }
                }
              },
              "updatedBy": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "loginName": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  }
                }
              },
              "isFailureExportNotification": {
                "type": "boolean"
              },
              "exportIntegrationIds": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "client": {
                "type": "string"
              }
            }
          },
          "exportConfig": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "clients": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              },
              "categoryType": {
                "type": "string"
              },
              "http_endpoint": {
                "type": "string",
                "format": "uri"
              },
              "use_ssl": {
                "type": "boolean"
              },
              "type": {
                "type": "string"
              },
              "auth_header": {
                "type": "object",
                "properties": {
                  "Authorization": {
                    "type": "string"
                  }
                }
[...]
