{
  "openapi": "3.0.3",
  "info": {
    "title": "dbt Cloud",
    "version": "latest",
    "x-vendor-api-version": "v2 2.0.0 / v3 3.0.0",
    "x-itential-curated": "Trimmed to 29 of 207 upstream operations (v2 API 2.0.0 + v3 API 3.0.0 combined), covering Jobs, Runs, Projects, Environments, and Connections CRUD/execution for automation. See the repo README for the full breakdown and the full v2/v3 specs.",
    "description": "dbt Cloud is the managed service for running dbt (data build tool) transformation jobs, orchestrating analytics engineering pipelines, and managing dbt projects, environments, and warehouse connections."
  },
  "servers": [
    {
      "url": "https://cloud.getdbt.com/",
      "description": "Production (US)"
    },
    {
      "url": "https://{account_prefix}.us1.dbt.com/",
      "description": "Production (US)",
      "variables": {
        "account_prefix": {
          "default": "ab123",
          "description": "Your unique account prefix. Can be found on your account settings page."
        }
      }
    },
    {
      "url": "https://emea.dbt.com/",
      "description": "Production (Europe)"
    },
    {
      "url": "https://au.dbt.com/",
      "description": "Production (AU)"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "paths": {
    "/api/v3/accounts/{account_id}/projects/": {
      "get": {
        "operationId": "List Projects",
        "description": "List Projects",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response. Available: repository, connection, group_permissions, docs_job, freshness_job."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "name__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string",
              "default": "id"
            },
            "description": "Field to order results by. Prefix with '-' for descending order."
          },
          {
            "in": "query",
            "name": "pk",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pk__gt",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pk__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "enum": [
                    "active",
                    "deleted",
                    "all"
                  ]
                }
              ],
              "default": "active"
            },
            "description": "Filters by soft deletion state.\n            <ul>\n                <li>\n                    <strong>\"active\"</strong> / <strong>1</strong>: Only active resources\n                </li>\n                <li>\n                    <strong>\"deleted\"</strong> / <strong>2</strong>: Only deleted resources\n                </li>\n                <li>\n                    <strong>\"all\"</strong>: All resources\n                </li>\n            </ul>\n            "
          }
        ],
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Create Project",
        "description": "Create a new Project",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/accounts/{account_id}/projects/{id}/": {
      "get": {
        "operationId": "Retrieve Project",
        "description": "Retrieve a Project",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response. Available: repository, connection, group_permissions, docs_job, freshness_job."
          }
        ],
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Update Project",
        "description": "Update a Project",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "Destroy Project",
        "description": "Delete Project",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/api/v3/accounts/{account_id}/projects/{project_id}/environments/": {
      "get": {
        "operationId": "List Environments",
        "description": "List Environments",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "credentials_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "dbt_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dbt_version__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "deployment_type",
            "schema": {
              "type": "string",
              "enum": [
                "production",
                "staging"
              ]
            }
          },
          {
            "in": "query",
            "name": "deployment_type__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "production",
                  "staging"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "id__gt",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response. Available: project, connection, credentials, repository."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string",
              "default": "id"
            },
            "description": "Field to order results by. Prefix with '-' for descending order."
          },
          {
            "in": "query",
            "name": "pk",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pk__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "project_id__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "enum": [
                    "active",
                    "deleted",
                    "all"
                  ]
                }
              ],
              "default": "active"
            },
            "description": "Filters by soft deletion state.\n            <ul>\n                <li>\n                    <strong>\"active\"</strong> / <strong>1</strong>: Only active resources\n                </li>\n                <li>\n                    <strong>\"deleted\"</strong> / <strong>2</strong>: Only deleted resources\n                </li>\n                <li>\n                    <strong>\"all\"</strong>: All resources\n                </li>\n            </ul>\n            "
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Environments"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentV3ListEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Create Environment",
        "description": "Create a new Environment",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Environments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentV3Request"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentV3Request"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentV3Request"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentV3Enveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/accounts/{account_id}/projects/{project_id}/environments/{id}/": {
      "get": {
        "operationId": "Retrieve Environment",
        "description": "Retrieve an Environment",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response. Available: project, connection, credentials, repository."
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Environments"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentV3Enveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Update Environment",
        "description": "Replace an Environment. This is a full replace operation \u2014 all fields must be provided. Any omitted fields will be reset to their default values (typically null). To avoid unintentionally clearing fields such as credentials_id or connection_id, first retrieve the environment with a GET request and include all current values in the update payload.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Environments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentV3Request"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentV3Request"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentV3Request"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentV3Enveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "Destroy Environment",
        "description": "Delete an Environment",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Environments"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/api/v3/accounts/{account_id}/projects/{project_id}/connections/": {
      "get": {
        "operationId": "List Connections",
        "description": "List Connections",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "adapter_version",
            "schema": {
              "type": "string",
              "enum": [
                "apache_spark_v0",
                "databricks_spark_v0",
                "databricks_v0",
                "trino_v0",
                "snowflake_v0",
                "bigquery_v0",
                "bigquery_v1",
                "postgres_v0",
                "redshift_v0",
                "salesforce_v0",
                "synapse_v0",
                "fabric_v0",
                "athena_v0",
                "teradata_v0"
              ]
            }
          },
          {
            "in": "query",
            "name": "has_catalog_ingestion_enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "has_cost_insights_enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "has_cost_management_enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "has_platform_metadata_credentials",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string",
              "default": "id"
            },
            "description": "Field to order results by. Prefix with '-' for descending order."
          },
          {
            "in": "query",
            "name": "pk",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "enum": [
                    "active",
                    "deleted",
                    "all"
                  ]
                }
              ],
              "default": "active"
            },
            "description": "Filters by soft deletion state.\n            <ul>\n                <li>\n                    <strong>\"active\"</strong> / <strong>1</strong>: Only active resources\n                </li>\n                <li>\n                    <strong>\"deleted\"</strong> / <strong>2</strong>: Only deleted resources\n                </li>\n                <li>\n                    <strong>\"all\"</strong>: All resources\n                </li>\n            </ul>\n            "
          }
        ],
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseConnectionV3ListEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Create Connection",
        "description": "Create a new Connection",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseConnectionV3Request"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BaseConnectionV3Request"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BaseConnectionV3Request"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseConnectionV3Enveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v3/accounts/{account_id}/projects/{project_id}/connections/{id}/": {
      "get": {
        "operationId": "Retrieve Connection",
        "description": "Retrieve a Connection",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response."
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseConnectionV3Enveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Update Connection",
        "description": "Update a Connection",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseConnectionV3Request"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/BaseConnectionV3Request"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BaseConnectionV3Request"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "deprecated": true,
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseConnectionV3Enveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "Destroy Connection",
        "description": "Delete a Connection",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Connections"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "deprecated": true,
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/jobs/": {
      "get": {
        "operationId": "List Jobs",
        "description": "List jobs for the given account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "dbt_version__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "environment_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "A list of related objects to include in the response. Valid values are `environment`, `custom_environment_variables`, `most_recent_run`, `most_recent_completed_run`, and `fusion_readiness`."
          },
          {
            "in": "query",
            "name": "is_fusion_ready",
            "schema": {
              "type": "boolean"
            },
            "description": "Filters jobs by fusion readiness. When true, returns conformant or override-ready jobs. When false, returns non-ready jobs."
          },
          {
            "in": "query",
            "name": "is_system",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "name__icontains",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string"
            },
            "description": "Field to order the results by. Use `-` to reverse the order."
          },
          {
            "in": "query",
            "name": "pk",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "description": "Filters the results to a specific Project"
          },
          {
            "in": "query",
            "name": "project_id__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "enum": [
                    "active",
                    "deleted",
                    "all"
                  ]
                }
              ],
              "default": "active"
            },
            "description": "Filters by soft deletion state.\n            <ul>\n                <li>\n                    <strong>\"active\"</strong> / <strong>1</strong>: Only active resources\n                </li>\n                <li>\n                    <strong>\"deleted\"</strong> / <strong>2</strong>: Only deleted resources\n                </li>\n                <li>\n                    <strong>\"all\"</strong>: All resources\n                </li>\n            </ul>\n            "
          },
          {
            "in": "query",
            "name": "triggers_schedule",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanReadableJobDefinitionListEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Create Job",
        "description": "Create a new job.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HumanReadableJobDefinitionRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/HumanReadableJobDefinitionRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/HumanReadableJobDefinitionRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanReadableJobDefinitionEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/jobs/{id}/": {
      "get": {
        "operationId": "Retrieve Job",
        "description": "Retrieve the details of a job.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "A list of related objects to include in the response. Valid values are `environment`, `custom_environment_variables`, `most_recent_run`, `most_recent_completed_run`, and `fusion_readiness`."
          }
        ],
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanReadableJobDefinitionEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Update Job",
        "description": "Update a job.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HumanReadableJobDefinitionRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/HumanReadableJobDefinitionRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/HumanReadableJobDefinitionRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HumanReadableJobDefinitionEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "Destroy Job",
        "description": "Delete a job",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/jobs/{job_id}/run/": {
      "post": {
        "operationId": "Trigger Job Run",
        "description": "Use this endpoint to kick off a run for a job. When this endpoint returns a successful response, a new run will be enqueued for the account. Users can poll the Get run endpoint to poll the run until it completes. After the run has completed, users can use the Get run artifact endpoint to download artifacts generated by the run.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "job_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerRunRequestRequest"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TriggerRunRequestRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TriggerRunRequestRequest"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponseEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/jobs/{job_id}/rerun/": {
      "post": {
        "operationId": "Retry Failed Job",
        "description": "Use this endpoint to retry a failed run for a job from the point of failure, if the run failed. Otherwise trigger a new run. When this endpoint returns a successful response, a new run will be enqueued for the account. Users can poll the Get run endpoint to poll the run until it completes. After the run has completed, users can use the Get run artifact endpoint to download artifacts generated by the run.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "job_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Jobs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponseEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/runs/": {
      "get": {
        "operationId": "List Runs",
        "description": "List runs for an account.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "created_at__range",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "in": "query",
            "name": "dbt_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dbt_version__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "deferring_run_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "environment_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "finished_at__range",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "in": "query",
            "name": "has_docs_generated",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "has_sources_generated",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "id__gt",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "A list of related objects to include in the response. Valid values are `trigger`, `job`, `audit`, and `debug_logs`. If `debug_logs` is not provided, then the included debug logs will be truncated to the last 1,000 lines of the debug log output file."
          },
          {
            "in": "query",
            "name": "job_definition_id",
            "schema": {
              "type": "integer"
            },
            "description": "Filters the results to a specific Job"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Pagination limit"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string",
              "default": "id"
            },
            "description": "Field to order the results by. Use `-` to reverse the order. Options are `id`, `created_at`, and `finished_at`"
          },
          {
            "in": "query",
            "name": "pk",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "pk__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "project_id",
            "schema": {
              "type": "integer"
            },
            "description": "Filters the results to a specific Project"
          },
          {
            "in": "query",
            "name": "project_id__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "enum": [
                    "active",
                    "deleted",
                    "all"
                  ]
                }
              ],
              "default": "all"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "integer"
            },
            "description": "Filters the results to a specific run status"
          },
          {
            "in": "query",
            "name": "status__in",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "description": "Filters the results to a specific set of run statuses. `1: Queued`, `2: Starting`, `3: Running`, `10: Success`, `20: Error`, `30: Cancelled`"
          }
        ],
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponseListEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/runs/{id}/": {
      "get": {
        "operationId": "Retrieve Run",
        "description": "Retrieve details of a run.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "A list of related objects to include in the response. Valid values are `trigger`, `job`, `environment`, `repository`, `run_steps`, `run_retries`, `used_repo_cache`, `repo_cache_restore`, `audit`, and `debug_logs`. If `debug_logs` is not provided, then the included debug logs will be truncated to the last 1,000 lines of the debug log output file."
          }
        ],
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponseEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/runs/{run_id}/artifacts/": {
      "get": {
        "operationId": "List Run Artifacts",
        "description": "Retrieve the list of artifacts generated for a run.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response."
          },
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOfStringsEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/runs/{run_id}/artifacts/{remainder}": {
      "get": {
        "operationId": "Retrieve Run Artifact",
        "description": "Use this endpoint to fetch artifacts from a completed run. Once a run has been completed, you can use this endpoint to download the `manifest.json`, `run_results.json`, or `catalog.json` files from dbt platform. These artifacts contain information about the models in your dbt project, timing information around their execution, and a status message indicating the result of the model build. \n\nFor dbt Fusion job runs, you can also use this endpoint to fetch the per-step OpenTelemetry (OTel) telemetry artifact at `metadata/telemetry-<step>-otel.parquet`. You'll receive it as `application/x-parquet`, and it contains node outcomes, test outcomes, and timing for the step. \n\nBy default, you get artifacts from the last step in the run. To fetch artifacts from other run steps, use the `step` query parameter below.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response."
          },
          {
            "in": "path",
            "name": "remainder",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "step",
            "schema": {
              "type": "integer"
            },
            "description": "The index of the Step in the Run to query for artifacts. The first step in the run has the index `1`. If the `step` parameter is omitted, then this endpoint will return the artifacts compiled for the last step in the run."
          }
        ],
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "A run artifact file"
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/runs/{run_id}/cancel/": {
      "post": {
        "operationId": "Cancel Run",
        "description": "Cancel a run.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponseEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/v2/accounts/{account_id}/runs/{run_id}/retry/": {
      "get": {
        "operationId": "Retrieve Run Failure Details",
        "description": "Use this endpoint to get details about a retryable run that has failed.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_related",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of related objects to include in the response."
          },
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunFailureDetailsEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "Retry Run",
        "description": "Use this endpoint to retry a failed run. When this endpoint returns a successful response, a new run will be enqueued. Users can poll the Get Run endpoint until it completes. After the run has completed, users can use the Get Run Artifact endpoint to download artifacts generated by the run.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "run_id",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "tags": [
          "Runs"
        ],
        "security": [
          {
            "BearerAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponseEnveloped"
                }
              }
            },
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Personal Access Token or Service Token, sent with a non-standard `Token` prefix (not `Bearer`): `Authorization: Token <your_token>`."
      }
    },
    "schemas": {
      "ProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "The name of the project"
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the project is associated with"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "The description of the project"
          },
          "connection_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active connection"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active repository"
          },
          "semantic_layer_config_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active semantic layer configuration"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "dbt_project_subdirectory": {
            "type": "string",
            "minLength": 1,
            "description": "The path in the associated repository where a dbt project can be found"
          },
          "docs_job_id": {
            "type": "integer",
            "format": "int64",
            "description": "The job used for docs generation"
          },
          "freshness_job_id": {
            "type": "integer",
            "format": "int64",
            "description": "The job used for source freshness generation"
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type24eEnum"
              }
            ],
            "description": "The type of the project\n\n* `0` - DEFAULT\n* `1` - HYBRID"
          }
        },
        "required": [
          "account_id",
          "name",
          "state",
          "type"
        ]
      },
      "BaseConnectionV3Enveloped": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BaseConnectionV3Response"
          },
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        },
        "required": [
          "data",
          "status"
        ]
      },
      "HumanReadableDateStrategyTypeEnum": {
        "enum": [
          "every_day",
          "days_of_week",
          "custom_cron",
          "interval_cron"
        ],
        "type": "string",
        "description": "* `every_day` - every_day\n* `days_of_week` - days_of_week\n* `custom_cron` - custom_cron\n* `interval_cron` - interval_cron"
      },
      "PostgresCredentials": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64"
          },
          "project_id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "$ref": "#/components/schemas/ConnectionTypeEnum"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "threads": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "default_schema": {
            "type": "string"
          },
          "target_name": {
            "type": "string"
          },
          "adapter_version": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AdapterVersionEnum"
              }
            ],
            "description": "The version of the adapter used to create this connection. Can use instead of adapter_id.\n\n* `apache_spark_v0` - apache_spark_v0\n* `databricks_spark_v0` - databricks_spark_v0\n* `databricks_v0` - databricks_v0\n* `trino_v0` - trino_v0\n* `snowflake_v0` - snowflake_v0\n* `bigquery_v0` - bigquery_v0\n* `bigquery_v1` - bigquery_v1\n* `postgres_v0` - postgres_v0\n* `redshift_v0` - redshift_v0\n* `salesforce_v0` - salesforce_v0\n* `synapse_v0` - synapse_v0\n* `fabric_v0` - fabric_v0\n* `athena_v0` - athena_v0\n* `teradata_v0` - teradata_v0"
          }
        },
        "required": [
          "account_id",
          "default_schema",
          "state",
          "target_name",
          "threads",
          "type",
          "username"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the project"
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the project is associated with"
          },
          "description": {
            "type": "string",
            "description": "The description of the project"
          },
          "connection_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active connection"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active repository"
          },
          "semantic_layer_config_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active semantic layer configuration"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "dbt_project_subdirectory": {
            "type": "string",
            "description": "The path in the associated repository where a dbt project can be found"
          },
          "docs_job_id": {
            "type": "integer",
            "format": "int64",
            "description": "The job used for docs generation"
          },
          "freshness_job_id": {
            "type": "integer",
            "format": "int64",
            "description": "The job used for source freshness generation"
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type24eEnum"
              }
            ],
            "description": "The type of the project\n\n* `0` - DEFAULT\n* `1` - HYBRID"
          }
        },
        "required": [
          "account_id",
          "name",
          "state",
          "type"
        ]
      },
      "Type24eEnum": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "description": "* `0` - DEFAULT\n* `1` - HYBRID"
      },
      "Type76eEnum": {
        "enum": [
          "development",
          "deployment"
        ],
        "type": "string",
        "description": "* `development` - DEVELOPMENT\n* `deployment` - DEPLOYMENT"
      },
      "BaseConnectionV3Request": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the connection is associated with"
          },
          "project_id": {
            "type": "integer",
            "format": "int64",
            "description": "The project the connection is associated with"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "The name of the connection"
          },
          "type": {
            "$ref": "#/components/schemas/ConnectionTypeEnum"
          },
          "adapter_version": {
            "$ref": "#/components/schemas/AdapterVersionEnum"
          },
          "created_by_id": {
            "type": "integer",
            "format": "int64"
          },
          "created_by_service_token_id": {
            "type": "integer",
            "format": "int64"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "private_link_endpoint_id": {
            "type": "string",
            "minLength": 1
          },
          "oauth_configuration_id": {
            "type": "integer",
            "format": "int64",
            "description": "The OAuth Configuration associated with this connection. When set,developer credentials leveraging OAuth may be created."
          }
        },
        "required": [
          "account_id",
          "name",
          "project_id",
          "state",
          "type"
        ]
      },
      "EnvironmentV3ListEnveloped": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvironmentV3Response"
            }
          },
          "extra": {
            "$ref": "#/components/schemas/Extra"
          },
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        },
        "required": [
          "data",
          "extra",
          "status"
        ]
      },
      "JobTypeEnum": {
        "enum": [
          "ci",
          "scheduled",
          "other",
          "merge",
          "exposure_sync",
          "adaptive",
          "hybrid"
        ],
        "type": "string",
        "description": "* `ci` - ci\n* `scheduled` - scheduled\n* `other` - other\n* `merge` - merge\n* `exposure_sync` - exposure_sync\n* `adaptive` - adaptive\n* `hybrid` - hybrid"
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of the project"
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the project is associated with"
          },
          "description": {
            "type": "string",
            "description": "The description of the project"
          },
          "connection_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active connection"
          },
          "repository_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active repository"
          },
          "semantic_layer_config_id": {
            "type": "integer",
            "format": "int64",
            "description": "The active semantic layer configuration"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "default": 1,
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "dbt_project_subdirectory": {
            "type": "string",
            "description": "The path in the associated repository where a dbt project can be found"
          },
          "docs_job_id": {
            "type": "integer",
            "format": "int64",
            "description": "The job used for docs generation"
          },
          "freshness_job_id": {
            "type": "integer",
            "format": "int64",
            "description": "The job used for source freshness generation"
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type24eEnum"
              }
            ],
            "default": 0,
            "description": "The type of the project\n\n* `0` - DEFAULT\n* `1` - HYBRID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "connection": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BaseConnectionV3"
              }
            ],
            "readOnly": true
          },
          "environments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvironmentV3"
            },
            "readOnly": true
          },
          "repository": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RepositoryV3"
              }
            ],
            "readOnly": true
          },
          "group_permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupPermission"
            },
            "readOnly": true
          },
          "docs_job": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JobDefinitionV2"
              }
            ],
            "readOnly": true
          },
          "freshness_job": {
            "allOf": [
              {
                "$ref": "#/components/schemas/JobDefinitionV2"
              }
            ],
            "readOnly": true
          },
          "fusion_readiness": {
            "readOnly": true
          },
          "default_version": {
            "type": "string",
            "readOnly": true,
            "description": "The default dbt version for new environments in this project. Only populated when the project is fetched directly; null when the project is included as a nested object on another resource."
          }
        },
        "required": [
          "connection",
          "created_at",
          "default_version",
          "docs_job",
          "environments",
          "freshness_job",
          "fusion_readiness",
          "group_permissions",
          "id",
          "repository",
          "updated_at"
        ]
      },
      "ResponseStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "default": 200,
            "description": "HTTP status code"
          },
          "is_success": {
            "type": "boolean",
            "description": "Whether the request was successful or not"
          },
          "user_message": {
            "type": "string",
            "description": "End-user friendly success or error message"
          },
          "developer_message": {
            "type": "string",
            "description": "Developer friendly success or error message"
          }
        },
        "required": [
          "developer_message",
          "is_success",
          "user_message"
        ]
      },
      "JobDefinitionTriggers": {
        "type": "object",
        "properties": {
          "github_webhook": {
            "type": "boolean"
          },
          "schedule": {
            "type": "boolean"
          },
          "git_provider_webhook": {
            "type": "boolean"
          },
          "on_merge": {
            "type": "boolean"
          },
          "custom_branch_only": {
            "type": "boolean",
            "description": "(Deprecated)"
          }
        },
        "required": [
          "github_webhook",
          "schedule"
        ]
      },
      "EnvironmentV3": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the environment is associated with"
          },
          "project_id": {
            "type": "integer",
            "format": "int64",
            "description": "The project the environment is associated with"
          },
          "credentials_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the associated credentials. Null for development environments. Must be included when updating a deployment environment or the value will be reset to null."
          },
          "connection_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the associated connection. Must be included when updating an environment or the value will be reset to null."
          },
          "extended_attributes_id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "The name of the environment"
          },
          "dbt_version": {
            "type": "string",
            "description": "The default dbt Version to use for this environment"
          },
          "type": {
            "$ref": "#/components/schemas/Type76eEnum"
          },
          "use_custom_branch": {
            "type": "boolean"
          },
          "custom_branch": {
            "type": "string"
          },
          "supports_docs": {
            "type": "boolean"
          },
          "deployment_type": {
            "$ref": "#/components/schemas/DeploymentTypeEnum"
          },
          "enable_model_query_history": {
            "type": "boolean",
            "default": false
          },
          "enable_dbt_state": {
            "type": "boolean",
            "default": false
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "primary_profile_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the primary profile for this environment"
          }
        },
        "required": [
          "account_id",
          "dbt_version",
          "name",
          "project_id",
          "state",
          "supports_docs",
          "type",
          "use_custom_branch"
        ]
      },
      "EnvironmentV3Enveloped": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EnvironmentV3Response"
          },
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        },
        "required": [
          "data",
          "status"
        ]
      },
      "Extra": {
        "type": "object",
        "properties": {
          "filters": {
            "type": "object",
            "additionalProperties": {},
            "description": "Filters applied to the request"
          },
          "order_by": {
            "type": "string",
            "description": "Ordering applied to the request"
          },
          "pagination": {
            "$ref": "#/components/schemas/CustomPagination"
          }
        },
        "required": [
          "filters",
          "order_by",
          "pagination"
        ]
      },
      "JobDefinitionV2": {
        "type": "object",
        "properties": {
          "environment_id": {
            "type": "integer",
            "format": "int64"
          },
          "account_id": {
            "type": "integer",
            "format": "int64"
          },
          "project_id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "The name of the job"
          },
          "description": {
            "type": "string"
          },
          "generate_docs": {
            "type": "boolean",
            "description": "When true, `dbt docs generate` will be run at the end of all runs for this Job"
          },
          "run_generate_sources": {
            "type": "boolean"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "dbt_version": {
            "type": "string",
            "description": "When set, overrides the dbt_version specified in the Job's Environment"
          },
          "triggers": {
            "$ref": "#/components/schemas/JobDefinitionTriggers"
          },
          "settings": {
            "$ref": "#/components/schemas/JobDefinitionSettings"
          },
          "execution": {
            "$ref": "#/components/schemas/JobDefinitionExecution"
          },
          "schedule": {
            "$ref": "#/components/schemas/JobDefinitionSchedule"
          },
          "execute_steps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of dbt commands to run"
          },
          "job_type": {
            "$ref": "#/components/schemas/JobTypeEnum"
          },
          "triggers_on_draft_pr": {
            "type": "boolean",
            "default": false
          },
          "run_compare_changes": {
            "type": "boolean",
            "default": false
          },
          "compare_changes_flags": {
            "type": "string",
            "default": "--select state:modified",
            "description": "dbt syntax flags to be used for compare changes"
          },
          "run_lint": {
            "type": "boolean",
            "default": false
          },
          "errors_on_lint_failure": {
            "type": "boolean",
            "default": true
          },
          "deferring_environment_id": {
            "type": "integer",
            "format": "int64"
          },
          "deferring_job_definition_id": {
            "type": "integer",
            "format": "int64"
          },
          "cost_optimization_features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of cost optimization features to enable for this job.\n            <br/><br/>\n            <b>Valid values:</b>\n            <ul>\n              <li>\"state_aware_orchestration\" - Enable orchestration that adapts to state changes (Private beta, requires fusion)</li>\n              <li>\"efficient_testing\" - Aggregate generic tests into a single query and reuse redundant tests (Private beta, requires fusion)</li>\n              <li>\"dbt_state\" - Enable orchestration that adapts to state changes (does not require fusion)</li>\n              <li>\"inherit_environment\" - Inherit this job's dbt State setting from its environment. Must be sent on its own; it cannot be combined with any other value.</li>\n            </ul>\n            <b>Example:</b> [\"dbt_state\"]\n            "
          }
        },
        "required": [
          "account_id",
          "environment_id",
          "execution",
          "generate_docs",
          "name",
          "project_id",
          "run_generate_sources",
          "settings",
          "state"
        ]
      },
      "JobDefinitionExecution": {
        "type": "object",
        "properties": {
          "timeout_seconds": {
            "type": "integer"
          }
        },
        "required": [
          "timeout_seconds"
        ]
      },
      "AdapterVersionEnum": {
        "enum": [
          "apache_spark_v0",
          "databricks_spark_v0",
          "databricks_v0",
          "trino_v0",
          "snowflake_v0",
          "bigquery_v0",
          "bigquery_v1",
          "postgres_v0",
          "redshift_v0",
          "salesforce_v0",
          "synapse_v0",
          "fabric_v0",
          "athena_v0",
          "teradata_v0"
        ],
        "type": "string",
        "description": "* `apache_spark_v0` - apache_spark_v0\n* `databricks_spark_v0` - databricks_spark_v0\n* `databricks_v0` - databricks_v0\n* `trino_v0` - trino_v0\n* `snowflake_v0` - snowflake_v0\n* `bigquery_v0` - bigquery_v0\n* `bigquery_v1` - bigquery_v1\n* `postgres_v0` - postgres_v0\n* `redshift_v0` - redshift_v0\n* `salesforce_v0` - salesforce_v0\n* `synapse_v0` - synapse_v0\n* `fabric_v0` - fabric_v0\n* `athena_v0` - athena_v0\n* `teradata_v0` - teradata_v0"
      },
      "RepositoryV3": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the repo is associated with"
          },
          "project_id": {
            "type": "integer",
            "format": "int64",
            "description": "The project the repo is associated with"
          },
          "full_name": {
            "type": "string",
            "description": "The name of the repo\u26a0\ufe0f If not set to the correct values, CI jobs may not trigger and the branch link from the dbt Cloud IDE may not work.For example, if the remote URL is 'git://github.com/your_org/your_repo_name.git',the correct full_name is 'your_org/your_repo_name'."
          },
          "remote_backend": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RemoteBackendEnum"
              }
            ],
            "description": "The associated git provider\u26a0\ufe0f If not set to the correct values, CI jobs may not trigger and the branch link from the dbt Cloud IDE may not work.\n\n* `ado` - ado\n* `github` - github\n* `managed` - managed\n* `gitlab` - gitlab\n* `manual_config` - manual_config"
          },
          "git_clone_strategy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitCloneStrategyEnum"
              }
            ],
            "description": "The strategy to use when cloning the repo\n\n* `azure_active_directory_app` - azure_active_directory_app\n* `deploy_key` - deploy_key\n* `deploy_token` - deploy_token\n* `github_app` - github_app\n* `git_token` - git_token"
          },
          "deploy_key_id": {
            "type": "integer",
            "format": "int64"
          },
          "repository_credentials_id": {
            "type": "integer",
            "format": "int64"
          },
          "github_installation_id": {
            "type": "integer",
            "format": "int64"
          },
          "github_webhook_id": {
            "type": "integer",
            "format": "int64"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "private_link_endpoint_id": {
            "type": "string"
          },
          "git_provider_id": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "account_id",
          "state"
        ]
      },
      "BaseConnectionV3Response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the connection is associated with"
          },
          "project_id": {
            "type": "integer",
            "format": "int64",
            "description": "The project the connection is associated with"
          },
          "name": {
            "type": "string",
            "description": "The name of the connection"
          },
          "type": {
            "$ref": "#/components/schemas/ConnectionTypeEnum"
          },
          "adapter_version": {
            "$ref": "#/components/schemas/AdapterVersionEnum"
          },
          "created_by_id": {
            "type": "integer",
            "format": "int64"
          },
          "created_by_service_token_id": {
            "type": "integer",
            "format": "int64"
          },
          "state": {
            "example": 1,
            "type": "integer",
            "default": 1,
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "private_link_endpoint_id": {
            "type": "string"
          },
          "oauth_redirect_uri": {
            "type": "string",
            "readOnly": true,
            "description": "If OAuth is enabled for this connection, this field is used internally by dbt Cloud"
          },
          "oauth_configuration_id": {
            "type": "integer",
            "format": "int64",
            "description": "The OAuth Configuration associated with this connection. When set,developer credentials leveraging OAuth may be created."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "required": [
          "created_at",
          "id",
          "oauth_redirect_uri",
          "updated_at"
        ]
      },
      "GitCloneStrategyEnum": {
        "enum": [
          "azure_active_directory_app",
          "deploy_key",
          "deploy_token",
          "github_app",
          "git_token"
        ],
        "type": "string",
        "description": "* `azure_active_directory_app` - azure_active_directory_app\n* `deploy_key` - deploy_key\n* `deploy_token` - deploy_token\n* `github_app` - github_app\n* `git_token` - git_token"
      },
      "BaseConnectionV3ListEnveloped": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseConnectionV3Response"
            }
          },
          "extra": {
            "$ref": "#/components/schemas/Extra"
          },
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        },
        "required": [
          "data",
          "extra",
          "status"
        ]
      },
      "EnvironmentV3Response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the environment is associated with"
          },
          "project_id": {
            "type": "integer",
            "format": "int64",
            "description": "The project the environment is associated with"
          },
          "credentials_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the associated credentials. Null for development environments. Must be included when updating a deployment environment or the value will be reset to null."
          },
          "connection_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the associated connection. Must be included when updating an environment or the value will be reset to null."
          },
          "extended_attributes_id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "default": "New Environment",
            "description": "The name of the environment"
          },
          "dbt_version": {
            "type": "string",
            "default": "latest",
            "description": "The default dbt Version to use for this environment"
          },
          "raw_dbt_version": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type76eEnum"
              }
            ],
            "default": "deployment"
          },
          "use_custom_branch": {
            "type": "boolean",
            "default": false
          },
          "custom_branch": {
            "type": "string"
          },
          "supports_docs": {
            "type": "boolean",
            "default": false
          },
          "deployment_type": {
            "$ref": "#/components/schemas/DeploymentTypeEnum"
          },
          "is_deferrable": {
            "type": "boolean",
            "readOnly": true
          },
          "enable_model_query_history": {
            "type": "boolean",
            "default": false
          },
          "enable_dbt_state": {
            "type": "boolean",
            "default": false
          },
          "state": {
            "example": 1,
            "type": "integer",
            "default": 1,
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "project": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Project"
              }
            ],
            "readOnly": true
          },
          "primary_profile_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the primary profile for this environment"
          },
          "credentials": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PostgresCredentials"
              }
            ],
            "readOnly": true
          },
          "fusion_readiness": {
            "readOnly": true
          }
        },
        "required": [
          "created_at",
          "credentials",
          "fusion_readiness",
          "id",
          "is_deferrable",
          "project",
          "raw_dbt_version",
          "updated_at"
        ]
      },
      "ProjectEnveloped": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProjectResponse"
          },
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        },
        "required": [
          "data",
          "status"
        ]
      },
      "CustomPagination": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of items in the current page"
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of items"
          }
        },
        "required": [
          "count",
          "total_count"
        ]
      },
      "JobDefinitionSchedule": {
        "type": "object",
        "properties": {
          "cron": {
            "type": "string",
            "description": "Cron syntax schedule for the job string"
          },
          "date": {
            "$ref": "#/components/schemas/HumanReadableDateStrategyTypeEnum"
          },
          "time": {
            "$ref": "#/components/schemas/HumanReadableTimeStrategTypeEnum"
          }
        },
        "required": [
          "cron",
          "date",
          "time"
        ]
      },
      "RemoteBackendEnum": {
        "enum": [
          "ado",
          "github",
          "managed",
          "gitlab",
          "manual_config"
        ],
        "type": "string",
        "description": "* `ado` - ado\n* `github` - github\n* `managed` - managed\n* `gitlab` - gitlab\n* `manual_config` - manual_config"
      },
      "JobDefinitionSettings": {
        "type": "object",
        "properties": {
          "threads": {
            "type": "integer",
            "description": "The maximum number of models to run in parallel in a single dbt run"
          },
          "target_name": {
            "type": "string",
            "description": "Informational field that can be consumed in dbt project code with `{{ target.name }}`"
          }
        },
        "required": [
          "target_name",
          "threads"
        ]
      },
      "ConnectionTypeEnum": {
        "enum": [
          "postgres",
          "redshift",
          "snowflake",
          "bigquery",
          "adapter"
        ],
        "type": "string",
        "description": "* `postgres` - postgres\n* `redshift` - redshift\n* `snowflake` - snowflake\n* `bigquery` - bigquery\n* `adapter` - adapter"
      },
      "ProjectListEnveloped": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectResponse"
            }
          },
          "extra": {
            "$ref": "#/components/schemas/Extra"
          },
          "status": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        },
        "required": [
          "data",
          "extra",
          "status"
        ]
      },
      "EnvironmentV3Request": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "The account the environment is associated with"
          },
          "project_id": {
            "type": "integer",
            "format": "int64",
            "description": "The project the environment is associated with"
          },
          "credentials_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the associated credentials. Null for development environments. Must be included when updating a deployment environment or the value will be reset to null."
          },
          "connection_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the associated connection. Must be included when updating an environment or the value will be reset to null."
          },
          "extended_attributes_id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "The name of the environment"
          },
          "dbt_version": {
            "type": "string",
            "minLength": 1,
            "description": "The default dbt Version to use for this environment"
          },
          "type": {
            "$ref": "#/components/schemas/Type76eEnum"
          },
          "use_custom_branch": {
            "type": "boolean"
          },
          "custom_branch": {
            "type": "string",
            "minLength": 1
          },
          "supports_docs": {
            "type": "boolean"
          },
          "deployment_type": {
            "$ref": "#/components/schemas/DeploymentTypeEnum"
          },
          "enable_model_query_history": {
            "type": "boolean",
            "default": false
          },
          "enable_dbt_state": {
            "type": "boolean",
            "default": false
          },
          "state": {
            "example": 1,
            "type": "integer",
            "description": "A value of 1 means this entity is active and a value of 2 means this entity is deleted"
          },
          "primary_profile_id": {
            "type": "integer",
            "format": "int64",
            "description": "The id of the primary profile for this environment"
          }
        },
        "required": [
          "account_id",
          "dbt_version",
          "name",
          "project_id",
          "state",
[...]
