{
  "openapi": "3.0.1",
  "info": {
    "title": "Cisco Meraki Dashboard",
    "version": "latest",
    "x-vendor-api-version": "1.48.0",
    "description": "Cisco Meraki Dashboard API provides programmatic access to Meraki network infrastructure management including devices, networks, clients, and configurations.\n\nAuthentication: Bearer token \u2014 the current Meraki Dashboard API v1 standard. Pass as Authorization: Bearer <API_KEY>, using your Meraki Dashboard API key.\n\nSource: https://developer.cisco.com/meraki/api-v1/",
    "x-itential-curated": "Trimmed to 357 of 729 upstream operations covering common CRUD for network automation: organizations, networks, devices (claim/inventory/management), admins, config templates, action batches, and per-network wireless (SSIDs), appliance (VLANs/firewall/VPN), switch (ports/VLANs), VLAN profiles, group policies, firmware upgrades, alerts, webhooks, and settings. See the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "url": "https://api.meraki.com/api/v1",
      "description": "Per-instance."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/devices/{serial}": {
      "get": {
        "description": "Return a single device",
        "operationId": "getDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "Serial",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the device"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the device"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the device"
                    },
                    "address": {
                      "type": "string",
                      "description": "Physical address of the device"
                    },
                    "notes": {
                      "type": "string",
                      "description": "Notes for the device, limited to 255 characters"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of tags assigned to the device"
                    },
                    "networkId": {
                      "type": "string",
                      "description": "ID of the network the device belongs to"
                    },
                    "serial": {
                      "type": "string",
                      "description": "Serial number of the device"
                    },
                    "model": {
                      "type": "string",
                      "description": "Model of the device"
                    },
                    "mac": {
                      "type": "string",
                      "description": "MAC address of the device"
                    },
                    "lanIp": {
                      "type": "string",
                      "description": "LAN IP address of the device"
                    },
                    "firmware": {
                      "type": "string",
                      "description": "Firmware version of the device"
                    },
                    "floorPlanId": {
                      "type": "string",
                      "description": "The floor plan to associate to this device. null disassociates the device from the floorplan."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Additional property name"
                          },
                          "value": {
                            "type": "string",
                            "description": "Additional property value"
                          }
                        }
                      },
                      "description": "Additional device information"
                    },
                    "beaconIdParams": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "The UUID to be used in the beacon identifier"
                        },
                        "major": {
                          "type": "integer",
                          "description": "The major number to be used in the beacon identifier"
                        },
                        "minor": {
                          "type": "integer",
                          "description": "The minor number to be used in the beacon identifier"
                        }
                      },
                      "description": "Beacon Id parameters with an identifier and major and minor versions"
                    }
                  }
                },
                "example": {
                  "name": "My AP",
                  "lat": 37.4180951010362,
                  "lng": -122.098531723022,
                  "address": "1600 Pennsylvania Ave",
                  "notes": "My AP's note",
                  "tags": [
                    " recently-added "
                  ],
                  "networkId": "N_24329156",
                  "serial": "Q234-ABCD-5678",
                  "model": "MR34",
                  "mac": "00:11:22:33:44:55",
                  "lanIp": "1.2.3.4",
                  "firmware": "wireless-25-14",
                  "floorPlanId": "g_2176982374",
                  "details": [
                    {
                      "name": "Catalyst serial",
                      "value": "123ABC"
                    }
                  ],
                  "beaconIdParams": {
                    "uuid": "00000000-0000-0000-0000-000000000000",
                    "major": 5,
                    "minor": 3
                  }
                }
              }
            }
          }
        },
        "summary": "Return a single device",
        "tags": [
          "devices",
          "configure"
        ]
      },
      "put": {
        "description": "Update the attributes of a device",
        "operationId": "updateDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "Serial",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of a device"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of tags of a device"
                  },
                  "lat": {
                    "type": "number",
                    "format": "float",
                    "description": "The latitude of a device"
                  },
                  "lng": {
                    "type": "number",
                    "format": "float",
                    "description": "The longitude of a device"
                  },
                  "address": {
                    "type": "string",
                    "description": "The address of a device"
                  },
                  "notes": {
                    "type": "string",
                    "description": "The notes for the device. String. Limited to 255 characters."
                  },
                  "moveMapMarker": {
                    "type": "boolean",
                    "description": "Whether or not to set the latitude and longitude of a device based on the new address. Only applies when lat and lng are not specified."
                  },
                  "switchProfileId": {
                    "type": "string",
                    "description": "The ID of a switch template to bind to the device (for available switch templates, see the 'Switch Templates' endpoint). Use null to unbind the switch device from the current profile. For a device to be bindable to a switch template, it must (1) be a switch, and (2) belong to a network that is bound to a configuration template."
                  },
                  "floorPlanId": {
                    "type": "string",
                    "description": "The floor plan to associate to this device. null disassociates the device from the floorplan."
                  }
                },
                "example": {
                  "name": "My AP",
                  "tags": [
                    " recently-added "
                  ],
                  "lat": 37.4180951010362,
                  "lng": -122.098531723022,
                  "address": "1600 Pennsylvania Ave",
                  "notes": "My AP's note",
                  "moveMapMarker": true,
                  "switchProfileId": "1234",
                  "floorPlanId": "g_2176982374"
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the device"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude of the device"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude of the device"
                    },
                    "address": {
                      "type": "string",
                      "description": "Physical address of the device"
                    },
                    "notes": {
                      "type": "string",
                      "description": "Notes for the device, limited to 255 characters"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of tags assigned to the device"
                    },
                    "networkId": {
                      "type": "string",
                      "description": "ID of the network the device belongs to"
                    },
                    "serial": {
                      "type": "string",
                      "description": "Serial number of the device"
                    },
                    "model": {
                      "type": "string",
                      "description": "Model of the device"
                    },
                    "mac": {
                      "type": "string",
                      "description": "MAC address of the device"
                    },
                    "lanIp": {
                      "type": "string",
                      "description": "LAN IP address of the device"
                    },
                    "firmware": {
                      "type": "string",
                      "description": "Firmware version of the device"
                    },
                    "floorPlanId": {
                      "type": "string",
                      "description": "The floor plan to associate to this device. null disassociates the device from the floorplan."
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Additional property name"
                          },
                          "value": {
                            "type": "string",
                            "description": "Additional property value"
                          }
                        }
                      },
                      "description": "Additional device information"
                    },
                    "beaconIdParams": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "description": "The UUID to be used in the beacon identifier"
                        },
                        "major": {
                          "type": "integer",
                          "description": "The major number to be used in the beacon identifier"
                        },
                        "minor": {
                          "type": "integer",
                          "description": "The minor number to be used in the beacon identifier"
                        }
                      },
                      "description": "Beacon Id parameters with an identifier and major and minor versions"
                    }
                  }
                },
                "example": {
                  "name": "My AP",
                  "lat": 37.4180951010362,
                  "lng": -122.098531723022,
                  "address": "1600 Pennsylvania Ave",
                  "notes": "My AP's note",
                  "tags": [
                    " recently-added "
                  ],
                  "networkId": "N_24329156",
                  "serial": "Q234-ABCD-5678",
                  "model": "MR34",
                  "mac": "00:11:22:33:44:55",
                  "lanIp": "1.2.3.4",
                  "firmware": "wireless-25-14",
                  "floorPlanId": "g_2176982374",
                  "details": [
                    {
                      "name": "Catalyst serial",
                      "value": "123ABC"
                    }
                  ],
                  "beaconIdParams": {
                    "uuid": "00000000-0000-0000-0000-000000000000",
                    "major": 5,
                    "minor": 3
                  }
                }
              }
            }
          }
        },
        "summary": "Update the attributes of a device",
        "tags": [
          "devices",
          "configure"
        ]
      }
    },
    "/devices/{serial}/blinkLeds": {
      "post": {
        "description": "Blink the LEDs on a device",
        "operationId": "blinkDeviceLeds",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "Serial",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "duration": {
                    "type": "integer",
                    "description": "The duration in seconds. Must be between 5 and 120. Default is 20 seconds"
                  },
                  "period": {
                    "type": "integer",
                    "description": "The period in milliseconds. Must be between 100 and 1000. Default is 160 milliseconds"
                  },
                  "duty": {
                    "type": "integer",
                    "description": "The duty cycle as the percent active. Must be between 10 and 90. Default is 50."
                  }
                },
                "example": {
                  "duration": 20,
                  "period": 160,
                  "duty": 50
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "duration": {
                      "type": "integer",
                      "description": "The duration in seconds. Will be between 5 and 120. Default is 20 seconds"
                    },
                    "period": {
                      "type": "integer",
                      "description": "The period in milliseconds. Will be between 100 and 1000. Default is 160 milliseconds"
                    },
                    "duty": {
                      "type": "integer",
                      "description": "The duty cycle as the percent active. Will be between 10 and 90. Default is 50"
                    }
                  }
                },
                "example": {
                  "duration": 20,
                  "period": 160,
                  "duty": 50
                }
              }
            }
          }
        },
        "summary": "Blink the LEDs on a device",
        "tags": [
          "devices",
          "liveTools"
        ]
      }
    },
    "/devices/{serial}/clients": {
      "get": {
        "description": "List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.",
        "operationId": "getDeviceClients",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "Serial",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. The maximum lookback period is 31 days from today.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.",
            "schema": {
              "type": "number",
              "format": "float",
              "maximum": 2678400
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the client"
                      },
                      "mac": {
                        "type": "string",
                        "description": "The MAC address of the client"
                      },
                      "description": {
                        "type": "string",
                        "description": "Short description of the client"
                      },
                      "mdnsName": {
                        "type": "string",
                        "description": "The client's MDNS name"
                      },
                      "dhcpHostname": {
                        "type": "string",
                        "description": "The client's DHCP hostname"
                      },
                      "user": {
                        "type": "string",
                        "description": "The client user's name"
                      },
                      "ip": {
                        "type": "string",
                        "description": "The IP address of the client"
                      },
                      "vlan": {
                        "type": "string",
                        "description": "The client-assigned name of the VLAN the client is connected to"
                      },
                      "namedVlan": {
                        "type": "string",
                        "description": "The owner-assigned name of the VLAN the client is connected to"
                      },
                      "switchport": {
                        "type": "string",
                        "description": "The name of the switchport with clients on it, if the device is a switch"
                      },
                      "adaptivePolicyGroup": {
                        "type": "string",
                        "description": "A description of the adaptive policy group"
                      },
                      "usage": {
                        "type": "object",
                        "properties": {
                          "sent": {
                            "type": "number",
                            "format": "float",
                            "description": "Usage sent by the client"
                          },
                          "recv": {
                            "type": "number",
                            "format": "float",
                            "description": "Usage received by the client"
                          }
                        },
                        "description": "Client usage data for sent and received"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": "k74272e",
                    "mac": "22:33:44:55:66:77",
                    "description": "Miles's phone",
                    "mdnsName": "Miles's phone",
                    "dhcpHostname": "MilesPhone",
                    "user": "milesmeraki",
                    "ip": "1.2.3.4",
                    "vlan": "100",
                    "namedVlan": "My VLAN",
                    "switchport": "My switch port",
                    "adaptivePolicyGroup": "101",
                    "usage": {
                      "sent": 138.0,
                      "recv": 61.0
                    }
                  }
                ]
              }
            }
          }
        },
        "summary": "List the clients of a device, up to a maximum of a month ago",
        "tags": [
          "devices",
          "monitor",
          "clients"
        ]
      }
    },
    "/devices/{serial}/managementInterface": {
      "get": {
        "description": "Return the management interface settings for a device",
        "operationId": "getDeviceManagementInterface",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "Serial",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ddnsHostnames": {
                      "type": "object",
                      "properties": {
                        "activeDdnsHostname": {
                          "type": "string",
                          "description": "Active dynamic DNS hostname."
                        },
                        "ddnsHostnameWan1": {
                          "type": "string",
                          "description": "WAN 1 dynamic DNS hostname."
                        },
                        "ddnsHostnameWan2": {
                          "type": "string",
                          "description": "WAN 2 dynamic DNS hostname."
                        }
                      },
                      "description": "Dynamic DNS hostnames."
                    },
                    "wan1": {
                      "type": "object",
                      "properties": {
                        "wanEnabled": {
                          "type": "string",
                          "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                        },
                        "usingStaticIp": {
                          "type": "boolean",
                          "description": "Configure the interface to have static IP settings or use DHCP."
                        },
                        "staticIp": {
                          "type": "string",
                          "description": "The IP the device should use on the WAN."
                        },
                        "staticSubnetMask": {
                          "type": "string",
                          "description": "The subnet mask for the WAN."
                        },
                        "staticGatewayIp": {
                          "type": "string",
                          "description": "The IP of the gateway on the WAN."
                        },
                        "staticDns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Up to two DNS IPs."
                        },
                        "vlan": {
                          "type": "integer",
                          "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                        }
                      },
                      "description": "WAN 1 settings"
                    },
                    "wan2": {
                      "type": "object",
                      "properties": {
                        "wanEnabled": {
                          "type": "string",
                          "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                        },
                        "usingStaticIp": {
                          "type": "boolean",
                          "description": "Configure the interface to have static IP settings or use DHCP."
                        },
                        "staticIp": {
                          "type": "string",
                          "description": "The IP the device should use on the WAN."
                        },
                        "staticSubnetMask": {
                          "type": "string",
                          "description": "The subnet mask for the WAN."
                        },
                        "staticGatewayIp": {
                          "type": "string",
                          "description": "The IP of the gateway on the WAN."
                        },
                        "staticDns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Up to two DNS IPs."
                        },
                        "vlan": {
                          "type": "integer",
                          "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                        }
                      },
                      "description": "WAN 2 settings (only for MX devices)"
                    }
                  }
                },
                "example": {
                  "ddnsHostnames": {
                    "activeDdnsHostname": "mx1-sample.dynamic-m.com",
                    "ddnsHostnameWan1": "mx1-sample-1.dynamic-m.com",
                    "ddnsHostnameWan2": "mx1-sample-2.dynamic-m.com"
                  },
                  "wan1": {
                    "wanEnabled": "not configured",
                    "usingStaticIp": true,
                    "staticIp": "1.2.3.4",
                    "staticSubnetMask": "255.255.255.0",
                    "staticGatewayIp": "1.2.3.1",
                    "staticDns": [
                      "1.2.3.2",
                      "1.2.3.3"
                    ],
                    "vlan": 7
                  },
                  "wan2": {
                    "wanEnabled": "enabled",
                    "usingStaticIp": false,
                    "staticIp": "1.2.3.4",
                    "staticSubnetMask": "255.255.255.0",
                    "staticGatewayIp": "1.2.3.1",
                    "staticDns": [
                      "1.2.3.2",
                      "1.2.3.3"
                    ],
                    "vlan": 2
                  }
                }
              }
            }
          }
        },
        "summary": "Return the management interface settings for a device",
        "tags": [
          "devices",
          "configure",
          "managementInterface"
        ]
      },
      "put": {
        "description": "Update the management interface settings for a device",
        "operationId": "updateDeviceManagementInterface",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "Serial",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wan1": {
                    "type": "object",
                    "properties": {
                      "wanEnabled": {
                        "type": "string",
                        "enum": [
                          "disabled",
                          "enabled",
                          "not configured"
                        ],
                        "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                      },
                      "usingStaticIp": {
                        "type": "boolean",
                        "description": "Configure the interface to have static IP settings or use DHCP."
                      },
                      "staticIp": {
                        "type": "string",
                        "description": "The IP the device should use on the WAN."
                      },
                      "staticGatewayIp": {
                        "type": "string",
                        "description": "The IP of the gateway on the WAN."
                      },
                      "staticSubnetMask": {
                        "type": "string",
                        "description": "The subnet mask for the WAN."
                      },
                      "staticDns": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Up to two DNS IPs."
                      },
                      "vlan": {
                        "type": "integer",
                        "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                      }
                    },
                    "description": "WAN 1 settings"
                  },
                  "wan2": {
                    "type": "object",
                    "properties": {
                      "wanEnabled": {
                        "type": "string",
                        "enum": [
                          "disabled",
                          "enabled",
                          "not configured"
                        ],
                        "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                      },
                      "usingStaticIp": {
                        "type": "boolean",
                        "description": "Configure the interface to have static IP settings or use DHCP."
                      },
                      "staticIp": {
                        "type": "string",
                        "description": "The IP the device should use on the WAN."
                      },
                      "staticGatewayIp": {
                        "type": "string",
                        "description": "The IP of the gateway on the WAN."
                      },
                      "staticSubnetMask": {
                        "type": "string",
                        "description": "The subnet mask for the WAN."
                      },
                      "staticDns": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Up to two DNS IPs."
                      },
                      "vlan": {
                        "type": "integer",
                        "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                      }
                    },
                    "description": "WAN 2 settings (only for MX devices)"
                  }
                },
                "example": {
                  "wan1": {
                    "wanEnabled": "not configured",
                    "usingStaticIp": true,
                    "staticIp": "1.2.3.4",
                    "staticGatewayIp": "1.2.3.1",
                    "staticSubnetMask": "255.255.255.0",
                    "staticDns": [
                      "1.2.3.2",
                      "1.2.3.3"
                    ],
                    "vlan": 7
                  },
                  "wan2": {
                    "wanEnabled": "enabled",
                    "usingStaticIp": false,
                    "staticIp": "1.2.3.4",
                    "staticGatewayIp": "1.2.3.1",
                    "staticSubnetMask": "255.255.255.0",
                    "staticDns": [
                      "1.2.3.2",
                      "1.2.3.3"
                    ],
                    "vlan": 2
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ddnsHostnames": {
                      "type": "object",
                      "properties": {
                        "activeDdnsHostname": {
                          "type": "string",
                          "description": "Active dynamic DNS hostname."
                        },
                        "ddnsHostnameWan1": {
                          "type": "string",
                          "description": "WAN 1 dynamic DNS hostname."
                        },
                        "ddnsHostnameWan2": {
                          "type": "string",
                          "description": "WAN 2 dynamic DNS hostname."
                        }
                      },
                      "description": "Dynamic DNS hostnames."
                    },
                    "wan1": {
                      "type": "object",
                      "properties": {
                        "wanEnabled": {
                          "type": "string",
                          "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                        },
                        "usingStaticIp": {
                          "type": "boolean",
                          "description": "Configure the interface to have static IP settings or use DHCP."
                        },
                        "staticIp": {
                          "type": "string",
                          "description": "The IP the device should use on the WAN."
                        },
                        "staticSubnetMask": {
                          "type": "string",
                          "description": "The subnet mask for the WAN."
                        },
                        "staticGatewayIp": {
                          "type": "string",
                          "description": "The IP of the gateway on the WAN."
                        },
                        "staticDns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Up to two DNS IPs."
                        },
                        "vlan": {
                          "type": "integer",
                          "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                        }
                      },
                      "description": "WAN 1 settings"
                    },
                    "wan2": {
                      "type": "object",
                      "properties": {
                        "wanEnabled": {
                          "type": "string",
                          "description": "Enable or disable the interface (only for MX devices). Valid values are 'enabled', 'disabled', and 'not configured'."
                        },
                        "usingStaticIp": {
                          "type": "boolean",
                          "description": "Configure the interface to have static IP settings or use DHCP."
                        },
                        "staticIp": {
                          "type": "string",
                          "description": "The IP the device should use on the WAN."
                        },
                        "staticSubnetMask": {
                          "type": "string",
                          "description": "The subnet mask for the WAN."
                        },
                        "staticGatewayIp": {
                          "type": "string",
                          "description": "The IP of the gateway on the WAN."
                        },
                        "staticDns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Up to two DNS IPs."
                        },
                        "vlan": {
                          "type": "integer",
                          "description": "The VLAN that management traffic should be tagged with. Applies whether usingStaticIp is true or false."
                        }
                      },
                      "description": "WAN 2 settings (only for MX devices)"
                    }
                  }
                },
                "example": {
                  "ddnsHostnames": {
                    "activeDdnsHostname": "mx1-sample.dynamic-m.com",
                    "ddnsHostnameWan1": "mx1-sample-1.dynamic-m.com",
                    "ddnsHostnameWan2": "mx1-sample-2.dynamic-m.com"
                  },
                  "wan1": {
                    "wanEnabled": "not configured",
                    "usingStaticIp": true,
                    "staticIp": "1.2.3.4",
                    "staticSubnetMask": "255.255.255.0",
                    "staticGatewayIp": "1.2.3.1",
                    "staticDns": [
                      "1.2.3.2",
                      "1.2.3.3"
                    ],
                    "vlan": 7
                  },
                  "wan2": {
                    "wanEnabled": "enabled",
                    "usingStaticIp": false,
                    "staticIp": "1.2.3.4",
                    "staticSubnetMask": "255.255.255.0",
                    "staticGatewayIp": "1.2.3.1",
                    "staticDns": [
                      "1.2.3.2",
                      "1.2.3.3"
                    ],
                    "vlan": 2
                  }
                }
              }
            }
          }
        },
        "summary": "Update the management interface settings for a device",
        "tags": [
          "devices",
          "configure",
          "managementInterface"
        ]
      }
    },
    "/devices/{serial}/reboot": {
      "post": {
        "description": "Reboot a device. This endpoint has a sustained rate limit of one request every 60 seconds.",
        "operationId": "rebootDevice",
        "parameters": [
          {
            "name": "serial",
            "in": "path",
            "description": "Serial",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Shows the success of the reboot"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Reboot a device",
        "tags": [
          "devices",
          "liveTools"
        ]
      }
    },
    "/networks/{networkId}": {
      "get": {
        "description": "Return a network",
        "operationId": "getNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Network ID"
                    },
                    "organizationId": {
                      "type": "string",
                      "description": "Organization ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Network name"
                    },
                    "productTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of the product types that the network supports"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "Timezone of the network"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Network tags"
                    },
                    "enrollmentString": {
                      "type": "string",
                      "description": "Enrollment string for the network"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL to the network Dashboard UI"
                    },
                    "notes": {
                      "type": "string",
                      "description": "Notes for the network"
                    },
                    "isBoundToConfigTemplate": {
                      "type": "boolean",
                      "description": "If the network is bound to a config template"
                    }
                  }
                },
                "example": {
                  "id": "N_24329156",
                  "organizationId": "2930418",
                  "name": "Main Office",
                  "productTypes": [
                    "appliance",
                    "switch",
                    "wireless"
                  ],
                  "timeZone": "America/Los_Angeles",
                  "tags": [
                    "tag1",
                    "tag2"
                  ],
                  "enrollmentString": "my-enrollment-string",
                  "url": "https://n1.meraki.com//n//manage/nodes/list",
                  "notes": "Additional description of the network",
                  "isBoundToConfigTemplate": false
                }
              }
            }
          }
        },
        "summary": "Return a network",
        "tags": [
          "networks",
          "configure"
        ]
      },
      "put": {
        "description": "Update a network",
        "operationId": "updateNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the network"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "The timezone of the network. For a list of allowed timezones, please see the 'TZ' column in the table in <a target='_blank' href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>this article.</a>"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of tags to be applied to the network"
                  },
                  "enrollmentString": {
                    "type": "string",
                    "description": "A unique identifier which can be used for device enrollment or easy access through the Meraki SM Registration page or the Self Service Portal. Please note that changing this field may cause existing bookmarks to break."
                  },
                  "notes": {
                    "type": "string",
                    "description": "Add any notes or additional information about this network here."
                  }
                },
                "example": {
                  "name": "Main Office",
                  "timeZone": "America/Los_Angeles",
                  "tags": [
                    "tag1",
                    "tag2"
                  ],
                  "enrollmentString": "my-enrollment-string",
                  "notes": "Additional description of the network"
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Network ID"
                    },
                    "organizationId": {
                      "type": "string",
                      "description": "Organization ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Network name"
                    },
                    "productTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of the product types that the network supports"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "Timezone of the network"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Network tags"
                    },
                    "enrollmentString": {
                      "type": "string",
                      "description": "Enrollment string for the network"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL to the network Dashboard UI"
                    },
                    "notes": {
                      "type": "string",
                      "description": "Notes for the network"
                    },
                    "isBoundToConfigTemplate": {
                      "type": "boolean",
                      "description": "If the network is bound to a config template"
                    }
                  }
                },
                "example": {
                  "id": "N_24329156",
                  "organizationId": "2930418",
                  "name": "Main Office",
                  "productTypes": [
                    "appliance",
                    "switch",
                    "wireless"
                  ],
                  "timeZone": "America/Los_Angeles",
                  "tags": [
                    "tag1",
                    "tag2"
                  ],
                  "enrollmentString": "my-enrollment-string",
                  "url": "https://n1.meraki.com//n//manage/nodes/list",
                  "notes": "Additional description of the network",
                  "isBoundToConfigTemplate": false
                }
              }
            }
          }
        },
        "summary": "Update a network",
        "tags": [
          "networks",
          "configure"
        ]
      },
      "delete": {
        "description": "Delete a network",
        "operationId": "deleteNetwork",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          }
        },
        "summary": "Delete a network",
        "tags": [
          "networks",
          "configure"
        ]
      }
    },
    "/networks/{networkId}/alerts/history": {
      "get": {
        "description": "Return the alert history for this network",
        "operationId": "getNetworkAlertsHistory",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
            "description": "A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "occurredAt": {
                        "type": "string",
                        "description": "time when the event occurred"
                      },
                      "alertTypeId": {
                        "type": "string",
                        "description": "type of alert"
                      },
                      "alertType": {
                        "type": "string",
                        "description": "user friendly alert type"
                      },
                      "device": {
                        "type": "object",
                        "properties": {
                          "serial": {
                            "type": "string",
                            "description": "device serial"
                          }
                        },
                        "description": "info related to the device that caused the alert"
                      },
                      "destinations": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "object",
                            "properties": {
                              "sentAt": {
                                "type": "string",
                                "description": "time when the alert was sent to the user(s) for this channel"
                              }
                            },
                            "description": "email destinations for this alert"
                          },
                          "push": {
                            "type": "object",
                            "properties": {
                              "sentAt": {
                                "type": "string",
                                "description": "time when the alert was sent to the user(s) for this channel"
                              }
                            },
                            "description": "push destinations for this alert"
                          },
                          "sms": {
                            "type": "object",
                            "properties": {
                              "sentAt": {
                                "type": "string",
                                "description": "time when the alert was sent to the user(s) for this channel"
                              }
                            },
                            "description": "sms destinations for this alert"
                          },
                          "webhook": {
                            "type": "object",
                            "properties": {
                              "sentAt": {
                                "type": "string",
                                "description": "time when the alert was sent to the user(s) for this channel"
                              }
                            },
                            "description": "webhook destinations for this alert"
                          }
                        },
                        "description": "the destinations this alert is configured to be delivered to"
                      },
                      "alertData": {
                        "type": "object",
                        "description": "relevant data about the event that caused the alert"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "occurredAt": "2022-07-11T22:35:34Z",
                    "alertTypeId": "settings_changed",
                    "alertType": "Settings changed",
                    "device": {
                      "serial": "Q3CG-G6W8-BEVR"
                    },
                    "destinations": {
                      "email": {
                        "sentAt": "2022-07-11T22:40:34Z"
                      },
                      "push": {
                        "sentAt": "2022-07-11T22:40:34Z"
                      },
                      "sms": {
                        "sentAt": "2022-07-11T22:40:34Z"
                      },
                      "webhook": {
                        "sentAt": "2022-07-11T22:40:34Z"
                      }
                    }
                  }
                ]
              }
            },
            "headers": {
              "Link": {
                "schema": {
                  "type": "string"
                },
                "description": "A comma-separated list of first, last, prev, and next relative links used for subsequent paginated requests."
              }
            }
          }
        },
        "summary": "Return the alert history for this network",
        "tags": [
          "networks",
          "monitor",
          "alerts",
          "history"
        ]
      }
    },
    "/networks/{networkId}/alerts/settings": {
      "get": {
        "description": "Return the alert configuration for this network",
        "operationId": "getNetworkAlertsSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "defaultDestinations": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "A list of emails that will receive the alert(s)."
                        },
                        "allAdmins": {
                          "type": "boolean",
                          "description": "If true, then all network admins will receive emails."
                        },
                        "snmp": {
                          "type": "boolean",
                          "description": "If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network."
                        },
                        "httpServerIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "A list of HTTP server IDs to send a Webhook to"
                        }
                      },
                      "description": "The network-wide destinations for all alerts on the network."
                    },
                    "alerts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of alert"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "A boolean depicting if the alert is turned on or off"
                          },
                          "alertDestinations": {
                            "type": "object",
                            "properties": {
                              "emails": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of emails that will receive information about the alert"
                              },
                              "smsNumbers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of phone numbers that will receive text messages about the alert. Only available for sensors status alerts."
                              },
                              "allAdmins": {
                                "type": "boolean",
                                "description": "If true, then all network admins will receive emails for this alert"
                              },
                              "snmp": {
                                "type": "boolean",
                                "description": "If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network"
                              },
                              "httpServerIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of HTTP server IDs to send a Webhook to for this alert"
                              }
                            },
                            "description": "A hash of destinations for this specific alert"
                          },
                          "filters": {
                            "type": "object",
                            "properties": {
                              "conditions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "Type of condition"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "description": "Unit"
                                    },
                                    "duration": {
                                      "type": "integer",
                                      "description": "Duration"
                                    },
                                    "direction": {
                                      "type": "string",
                                      "enum": [
                                        "+",
                                        "-"
                                      ],
                                      "description": "Direction"
                                    },
                                    "threshold": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "Threshold"
                                    }
                                  }
                                },
                                "description": "Conditions"
                              },
                              "failureType": {
                                "type": "string",
                                "description": "Failure Type"
                              },
                              "lookbackWindow": {
                                "type": "integer",
                                "description": "Loopback Window (in sec)"
                              },
                              "minDuration": {
                                "type": "integer",
                                "description": "Min Duration"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name"
                              },
                              "period": {
                                "type": "integer",
                                "description": "Period"
                              },
                              "priority": {
                                "type": "string",
                                "description": "Priority"
                              },
                              "regex": {
                                "type": "string",
                                "description": "Regex"
                              },
                              "selector": {
                                "type": "string",
                                "description": "Selector"
                              },
                              "serials": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Serials"
                              },
                              "ssidNum": {
                                "type": "integer",
                                "description": "SSID Number"
                              },
                              "tag": {
                                "type": "string",
                                "description": "Tag"
                              },
                              "threshold": {
                                "type": "integer",
                                "description": "Threshold"
                              },
                              "timeout": {
                                "type": "integer",
                                "description": "Timeout"
                              }
                            },
                            "description": "A hash of specific configuration data for the alert. Only filters specific to the alert will be updated."
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      "description": "Alert-specific configuration for each type. Only alerts that pertain to the network can be updated."
                    },
                    "muting": {
                      "type": "object",
                      "properties": {
                        "byPortSchedules": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "If true, then wireless unreachable alerts will be muted when caused by a port schedule"
                            }
                          },
                          "description": "Mute wireless unreachable alerts based on switch port schedules"
                        }
                      },
                      "description": "Mute alerts under certain conditions"
                    }
                  }
                },
                "example": {
                  "defaultDestinations": {
                    "emails": [
                      "miles@meraki.com"
                    ],
                    "allAdmins": true,
                    "snmp": true,
                    "httpServerIds": [
                      "aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M="
                    ]
                  },
                  "alerts": [
                    {
                      "type": "gatewayDown",
                      "enabled": true,
                      "alertDestinations": {
                        "emails": [
                          "miles@meraki.com"
                        ],
                        "smsNumbers": [
                          "+15555555555"
                        ],
                        "allAdmins": false,
                        "snmp": false,
                        "httpServerIds": [
                          "aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M="
                        ]
                      },
                      "filters": {
                        "conditions": [
                          {
                            "type": "temperature",
                            "unit": "celsius",
                            "duration": 0,
                            "direction": "+",
                            "threshold": 72.5
                          }
                        ],
                        "failureType": "802.1X auth fail",
                        "lookbackWindow": 360,
                        "minDuration": 60,
                        "name": "Filter",
                        "period": 1800,
                        "priority": "",
                        "regex": "[a-z]",
                        "selector": "{\"smartSensitivity\":\"medium\",\"smartEnabled\":false,\"eventReminderPeriodSecs\":10800}",
                        "serials": [
                          "Q234-ABCD-0001",
                          "Q234-ABCD-0002",
                          "Q234-ABCD-0003"
                        ],
                        "ssidNum": 1,
                        "tag": "tag1",
                        "threshold": 30,
                        "timeout": 60
                      }
                    }
                  ],
                  "muting": {
                    "byPortSchedules": {
                      "enabled": true
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Return the alert configuration for this network",
        "tags": [
          "networks",
          "configure",
          "alerts",
          "settings"
        ]
      },
      "put": {
        "description": "Update the alert configuration for this network",
        "operationId": "updateNetworkAlertsSettings",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "defaultDestinations": {
                    "type": "object",
                    "properties": {
                      "emails": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "A list of emails that will receive the alert(s)."
                      },
                      "allAdmins": {
                        "type": "boolean",
                        "description": "If true, then all network admins will receive emails."
                      },
                      "snmp": {
                        "type": "boolean",
                        "description": "If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network."
                      },
                      "httpServerIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "A list of HTTP server IDs to send a Webhook to"
                      }
                    },
                    "description": "The network-wide destinations for all alerts on the network."
                  },
                  "alerts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of alert"
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "A boolean depicting if the alert is turned on or off"
                        },
                        "alertDestinations": {
                          "type": "object",
                          "properties": {
                            "emails": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "A list of emails that will receive information about the alert"
                            },
                            "smsNumbers": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "A list of phone numbers that will receive text messages about the alert. Only available for sensors status alerts."
                            },
                            "allAdmins": {
                              "type": "boolean",
                              "description": "If true, then all network admins will receive emails for this alert"
                            },
                            "snmp": {
                              "type": "boolean",
                              "description": "If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network"
                            },
                            "httpServerIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "A list of HTTP server IDs to send a Webhook to for this alert"
                            }
                          },
                          "description": "A hash of destinations for this specific alert"
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "conditions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Type of condition"
                                  },
                                  "unit": {
                                    "type": "string",
                                    "description": "Unit"
                                  },
                                  "duration": {
                                    "type": "integer",
                                    "description": "Duration"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "enum": [
                                      "+",
                                      "-"
                                    ],
                                    "description": "Direction"
                                  },
                                  "threshold": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "Threshold"
                                  }
                                }
                              },
                              "description": "Conditions"
                            },
                            "failureType": {
                              "type": "string",
                              "description": "Failure Type"
                            },
                            "lookbackWindow": {
                              "type": "integer",
                              "description": "Loopback Window (in sec)"
                            },
                            "minDuration": {
                              "type": "integer",
                              "description": "Min Duration"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "period": {
                              "type": "integer",
                              "description": "Period"
                            },
                            "priority": {
                              "type": "string",
                              "description": "Priority"
                            },
                            "regex": {
                              "type": "string",
                              "description": "Regex"
                            },
                            "selector": {
                              "type": "string",
                              "description": "Selector"
                            },
                            "serials": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Serials"
                            },
                            "ssidNum": {
                              "type": "integer",
                              "description": "SSID Number"
                            },
                            "tag": {
                              "type": "string",
                              "description": "Tag"
                            },
                            "threshold": {
                              "type": "integer",
                              "description": "Threshold"
                            },
                            "timeout": {
                              "type": "integer",
                              "description": "Timeout"
                            }
                          },
                          "description": "A hash of specific configuration data for the alert. Only filters specific to the alert will be updated."
                        }
                      },
                      "required": [
                        "type"
                      ]
                    },
                    "description": "Alert-specific configuration for each type. Only alerts that pertain to the network can be updated."
                  },
                  "muting": {
                    "type": "object",
                    "properties": {
                      "byPortSchedules": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "If true, then wireless unreachable alerts will be muted when caused by a port schedule"
                          }
                        },
                        "description": "Mute wireless unreachable alerts based on switch port schedules"
                      }
                    },
                    "description": "Mute alerts under certain conditions"
                  }
                },
                "example": {
                  "defaultDestinations": {
                    "emails": [
                      "miles@meraki.com"
                    ],
                    "allAdmins": true,
                    "snmp": true,
                    "httpServerIds": [
                      "aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M="
                    ]
                  },
                  "alerts": [
                    {
                      "type": "gatewayDown",
                      "enabled": true,
                      "alertDestinations": {
                        "emails": [
                          "miles@meraki.com"
                        ],
                        "smsNumbers": [
                          "+15555555555"
                        ],
                        "allAdmins": false,
                        "snmp": false,
                        "httpServerIds": [
                          "aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M="
                        ]
                      },
                      "filters": {
                        "conditions": [
                          {
                            "type": "temperature",
                            "unit": "celsius",
                            "duration": 0,
                            "direction": "+",
                            "threshold": 72.5
                          }
                        ],
                        "failureType": "802.1X auth fail",
                        "lookbackWindow": 360,
                        "minDuration": 60,
                        "name": "Filter",
                        "period": 1800,
                        "priority": "",
                        "regex": "[a-z]",
                        "selector": "{\"smartSensitivity\":\"medium\",\"smartEnabled\":false,\"eventReminderPeriodSecs\":10800}",
                        "serials": [
                          "Q234-ABCD-0001",
                          "Q234-ABCD-0002",
                          "Q234-ABCD-0003"
                        ],
                        "ssidNum": 1,
                        "tag": "tag1",
                        "threshold": 30,
                        "timeout": 60
                      }
                    }
                  ],
                  "muting": {
                    "byPortSchedules": {
                      "enabled": true
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "defaultDestinations": {
                      "type": "object",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "A list of emails that will receive the alert(s)."
                        },
                        "allAdmins": {
                          "type": "boolean",
                          "description": "If true, then all network admins will receive emails."
                        },
                        "snmp": {
                          "type": "boolean",
                          "description": "If true, then an SNMP trap will be sent if there is an SNMP trap server configured for this network."
                        },
                        "httpServerIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "A list of HTTP server IDs to send a Webhook to"
                        }
                      },
                      "description": "The network-wide destinations for all alerts on the network."
                    },
                    "alerts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of alert"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "A boolean depicting if the alert is turned on or off"
                          },
                          "alertDestinations": {
                            "type": "object",
                            "properties": {
                              "emails": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of emails that will receive information about the alert"
                              },
                              "smsNumbers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of phone numbers that will receive text messages about the alert. Only available for sensors status alerts."
                              },
                              "allAdmins": {
                                "type": "boolean",
                                "description": "If true, then all network admins will receive emails for this alert"
                              },
                              "snmp": {
                                "type": "boolean",
                                "description": "If true, then an SNMP trap will be sent for this alert if there is an SNMP trap server configured for this network"
                              },
                              "httpServerIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of HTTP server IDs to send a Webhook to for this alert"
                              }
                            },
                            "description": "A hash of destinations for this specific alert"
                          },
                          "filters": {
                            "type": "object",
                            "properties": {
                              "conditions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "Type of condition"
                                    },
                                    "unit": {
                                      "type": "string",
                                      "description": "Unit"
                                    },
                                    "duration": {
                                      "type": "integer",
                                      "description": "Duration"
                                    },
                                    "direction": {
                                      "type": "string",
                                      "enum": [
                                        "+",
                                        "-"
                                      ],
                                      "description": "Direction"
                                    },
                                    "threshold": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "Threshold"
                                    }
                                  }
                                },
                                "description": "Conditions"
                              },
                              "failureType": {
                                "type": "string",
                                "description": "Failure Type"
                              },
                              "lookbackWindow": {
                                "type": "integer",
                                "description": "Loopback Window (in sec)"
                              },
                              "minDuration": {
                                "type": "integer",
                                "description": "Min Duration"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name"
                              },
                              "period": {
                                "type": "integer",
                                "description": "Period"
                              },
                              "priority": {
                                "type": "string",
                                "description": "Priority"
                              },
                              "regex": {
                                "type": "string",
                                "description": "Regex"
                              },
                              "selector": {
                                "type": "string",
                                "description": "Selector"
                              },
                              "serials": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Serials"
                              },
                              "ssidNum": {
                                "type": "integer",
                                "description": "SSID Number"
                              },
                              "tag": {
                                "type": "string",
                                "description": "Tag"
                              },
                              "threshold": {
                                "type": "integer",
                                "description": "Threshold"
                              },
                              "timeout": {
                                "type": "integer",
                                "description": "Timeout"
                              }
                            },
                            "description": "A hash of specific configuration data for the alert. Only filters specific to the alert will be updated."
                          }
                        },
                        "required": [
                          "type"
                        ]
                      },
                      "description": "Alert-specific configuration for each type. Only alerts that pertain to the network can be updated."
                    },
                    "muting": {
                      "type": "object",
                      "properties": {
                        "byPortSchedules": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "If true, then wireless unreachable alerts will be muted when caused by a port schedule"
                            }
                          },
                          "description": "Mute wireless unreachable alerts based on switch port schedules"
                        }
                      },
                      "description": "Mute alerts under certain conditions"
                    }
                  }
                },
                "example": {
                  "defaultDestinations": {
                    "emails": [
                      "miles@meraki.com"
                    ],
                    "allAdmins": true,
                    "snmp": true,
                    "httpServerIds": [
                      "aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M="
                    ]
                  },
                  "alerts": [
                    {
                      "type": "gatewayDown",
                      "enabled": true,
                      "alertDestinations": {
                        "emails": [
                          "miles@meraki.com"
                        ],
                        "smsNumbers": [
                          "+15555555555"
                        ],
                        "allAdmins": false,
                        "snmp": false,
                        "httpServerIds": [
                          "aHR0cHM6Ly93d3cuZXhhbXBsZS5jb20vd2ViaG9va3M="
                        ]
                      },
                      "filters": {
                        "conditions": [
                          {
                            "type": "temperature",
                            "unit": "celsius",
                            "duration": 0,
                            "direction": "+",
                            "threshold": 72.5
                          }
                        ],
                        "failureType": "802.1X auth fail",
                        "lookbackWindow": 360,
                        "minDuration": 60,
                        "name": "Filter",
                        "period": 1800,
                        "priority": "",
                        "regex": "[a-z]",
                        "selector": "{\"smartSensitivity\":\"medium\",\"smartEnabled\":false,\"eventReminderPeriodSecs\":10800}",
                        "serials": [
                          "Q234-ABCD-0001",
                          "Q234-ABCD-0002",
                          "Q234-ABCD-0003"
                        ],
                        "ssidNum": 1,
                        "tag": "tag1",
                        "threshold": 30,
                        "timeout": 60
                      }
                    }
                  ],
                  "muting": {
                    "byPortSchedules": {
                      "enabled": true
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Update the alert configuration for this network",
        "tags": [
          "networks",
          "configure",
          "alerts",
          "settings"
        ]
      }
    },
    "/networks/{networkId}/appliance/clients/{clientId}/security/events": {
      "get": {
        "description": "List the security events for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.",
        "operationId": "getNetworkApplianceClientSecurityEvents",
        "parameters": [
          {
            "name": "networkId",
            "in": "path",
            "description": "Network ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "clientId",
            "in": "path",
            "description": "Client ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "t0",
            "in": "query",
            "description": "The beginning of the timespan for the data. Data is gathered after the specified t0 value. The maximum lookback period is 791 days from today.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t1",
            "in": "query",
            "description": "The end of the timespan for the data. t1 can be a maximum of 791 days after t0.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timespan",
            "in": "query",
            "description": "The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 31 days.",
            "schema": {
              "type": "number",
              "format": "float",
              "maximum": 68342400
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "The number of entries per page returned. Acceptable range is 3 - 1000. Default is 100.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startingAfter",
            "in": "query",
            "description": "A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endingBefore",
            "in": "query",
[...]
