{
  "openapi": "3.0.0",
  "info": {
    "title": "EasyPost",
    "description": "Authentication: HTTP Basic Auth (API key as username, blank password). EasyPost is a multi-carrier shipping API for rating, label purchase, address verification, package tracking, customs, insurance, and pickup scheduling across supported carriers.",
    "version": "latest",
    "x-vendor-api-version": "2026-09-12",
    "x-itential-curated": "Trimmed to 81 of 110 upstream operations covering common CRUD for shipping automation: addresses, parcels, customs info/items, shipments (create/buy/rate/label/refund/insure), trackers, insurance, claims, pickups, batches, orders, end shippers, carrier accounts/types, scan forms, webhooks, events, and user/child-account management. Excluded: EasyPost's own billing/Stripe funding flow, referral/reseller administration, reporting, carrier-specific OAuth registration flows, beta/Luma rate-prediction endpoints, and the standalone ReadyDocs product. See the repo README for the full breakdown and the full spec."
  },
  "servers": [
    {
      "url": "https://api.easypost.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Basics",
      "description": "[https://docs.easypost.com/](https://docs.easypost.com/)"
    },
    {
      "name": "Basics > Addresses",
      "description": "[https://docs.easypost.com/docs/addresses](https://docs.easypost.com/docs/addresses)\n\n[<code>Address</code>](https://docs.easypost.com/docs/addresses#address-object)\u00a0objects represent people, places, and organizations and are used in multiple contexts across the EasyPost API. For example, a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0requires both a\u00a0`to_address`\u00a0and\u00a0`from_address`\u00a0to calculate rates and generate postage."
    },
    {
      "name": "Basics > Insurance",
      "description": "[https://docs.easypost.com/docs/insurance](https://docs.easypost.com/docs/insurance)\n\nAn\u00a0[<code>Insurance</code>](https://docs.easypost.com/docs/insurance#insurance-object)\u00a0object represents insurance for packages purchased both via the EasyPost API as well as shipments purchased through third parties and later registered with EasyPost. An\u00a0`Insurance`\u00a0object is created automatically whenever you\u00a0[buy a&nbsp;<code>Shipment</code>](https://docs.easypost.com/docs/shipments#buy-a-shipment)\u00a0through EasyPost and pass insurance options during the call,or in a later call to\u00a0[insure a&nbsp;<code>Shipment</code>](https://docs.easypost.com/docs/shipments/shipping-insurance#insure-a-shipment)."
    },
    {
      "name": "Basics > Insurance > Claims",
      "description": "[https://docs.easypost.com/docs/insurance/claims](https://docs.easypost.com/docs/insurance/claims)\n\nThe\u00a0`Claims API`\u00a0allows shippers to automate submitting and managing insurance claims for lost, damaged, or stolen packages. This endpoint streamlines claim submissions and provides an automated experience. Claims can be submitted via the\u00a0[EasyPost Dashboard](https://app.easypost.com/account/settings?tab=api-keys), a\u00a0[Claim Submission Form](https://app.easypost.com/claim-form), or the\u00a0[Claims API](https://docs.easypost.com/docs/insurance/claims#create-a-claim)."
    },
    {
      "name": "Basics > Parcels",
      "description": "[https://docs.easypost.com/docs/parcels](https://docs.easypost.com/docs/parcels)\n\n[<code>Parcel</code>](https://docs.easypost.com/docs/parcels#parcel-object)\u00a0objects represent the physical container being shipped."
    },
    {
      "name": "Basics > Rates",
      "description": "[https://docs.easypost.com/docs/shipments/rates](https://docs.easypost.com/docs/shipments/rates)\n\nAfter a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0is successfully created, it will automatically fetch\u00a0[<code>Rates</code>](https://docs.easypost.com/docs/shipments/rates#rate-object). You can limit the\u00a0[<code>CarrierAccounts</code>](https://docs.easypost.com/docs/carrier-accounts)\u00a0to use for rating by passing the\u00a0`carrier_accounts`\u00a0parameter upon\u00a0`Shipment`\u00a0creation."
    },
    {
      "name": "Basics > Shipments",
      "description": "[https://docs.easypost.com/docs/shipments](https://docs.easypost.com/docs/shipments)\n\nThe workhorse of the EasyPost API, a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments#shipment-object)\u00a0is made up of a \"to\" and \"from\"\u00a0[<code>Address</code>](https://docs.easypost.com/docs/addresses), the\u00a0[<code>Parcel</code>](https://docs.easypost.com/docs/parcels)\u00a0being shipped, and any\u00a0[<code>Forms</code>](https://docs.easypost.com/docs/shipments/forms)\u00a0required for international deliveries. Once created, a\u00a0`Shipment`\u00a0object is used to retrieve shipping\u00a0[<code>Rates</code>](https://docs.easypost.com/docs/shipments/rates)\u00a0and purchase a label.\n\nA\u00a0`Shipment`\u00a0created with a valid\u00a0`to_address`,\u00a0`from_address`, and\u00a0`parcel`\u00a0will automatically populate its\u00a0`rates`\u00a0attribute."
    },
    {
      "name": "Basics > Shipments > Form",
      "description": "[https://docs.easypost.com/docs/shipments/forms](https://docs.easypost.com/docs/shipments/forms)\n\nAfter a\u00a0[<code>Shipment</code>&nbsp;is created](https://docs.easypost.com/docs/shipments#create-a-shipment), you can create various associated\u00a0[<code>Form</code>](https://docs.easypost.com/docs/shipments/forms#form-object)\u00a0objects for that\u00a0`Shipment`, such as a return packing slip, QR codes, and other international shipping forms. For more information about how to use forms with your shipments, please check our\u00a0[forms guide](https://docs.easypost.com/guides/form-guide)."
    },
    {
      "name": "Basics > Shipments > Luma",
      "description": "[https://docs.easypost.com/docs/luma](https://docs.easypost.com/docs/luma)\n\nThe Luma API enables shippers to buy labels, leveraging the rate shopping rules configured within the\u00a0[EasyPost Dashboard](https://app.easypost.com/login). By using predefined rulesets, Luma automates the rate selection process based on criteria such as transit time, cost, carrier preferences, and delivery confidence levels."
    },
    {
      "name": "Basics > Shipments > Options",
      "description": "[https://docs.easypost.com/docs/shipments/options](https://docs.easypost.com/docs/shipments/options)"
    },
    {
      "name": "Basics > Shipments > Rate",
      "description": "[https://docs.easypost.com/docs/shipments/rates](https://docs.easypost.com/docs/shipments/rates)\n\nAfter a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0is successfully created, it will automatically fetch\u00a0[<code>Rates</code>](https://docs.easypost.com/docs/shipments/rates#rate-object). You can limit the\u00a0[<code>CarrierAccounts</code>](https://docs.easypost.com/docs/carrier-accounts)\u00a0to use for rating by passing the\u00a0`carrier_accounts`\u00a0parameter upon\u00a0`Shipment`\u00a0creation."
    },
    {
      "name": "Basics > Shipments > Return",
      "description": "[https://docs.easypost.com/docs/shipments/returns](https://docs.easypost.com/docs/shipments/returns)\n\nIf you are shipping merchandise or other frequently-returned products, you may wish to generate return labels to include with your shipment, for you customer's convenience. EasyPost offers a simple way to submit the same parameters as your initial shipment, but with an additional flag set, that will generate you a return label to receive any return shipments at your original from address."
    },
    {
      "name": "Basics > Shipments > Shipping Insurance",
      "description": "[https://docs.easypost.com/docs/shipments/shipping-insurance](https://docs.easypost.com/docs/shipments/shipping-insurance)\n\nShipping insurance can be purchased for any\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0by specifying the value of the shipment's contents. The cost is 1.0% of the declared value, with a minimum charge of $1.00. All claims are processed and paid within 10 days."
    },
    {
      "name": "Basics > Shipments > Shipping Refund",
      "description": "[https://docs.easypost.com/docs/shipments/shipping-refund](https://docs.easypost.com/docs/shipments/shipping-refund)\n\nUSPS shipping labels can be refunded if requested within 30 days of generation. The processing time is at least 15 days, after which the funds will return to your EasyPost balance. EasyPost fees will also be refunded. To qualify, a shipment must not have been scanned by the USPS."
    },
    {
      "name": "Basics > Shipments > SmartRate",
      "description": "[https://docs.easypost.com/docs/shipments/shipping-smartrate](https://docs.easypost.com/docs/shipments/shipping-smartrate)\n\nThe Shipping SmartRate API provides shippers with highly accurate, shipment-level transit time predictions that can save money, improve on-time delivery, and provide end customers with reliable delivery estimates."
    },
    {
      "name": "Basics > Shipments > TaxIdentifier",
      "description": "[https://docs.easypost.com/docs/shipments/tax-identifiers](https://docs.easypost.com/docs/shipments/tax-identifiers)\n\n[<code>TaxIdentifiers</code>](https://docs.easypost.com/docs/shipments/tax-identifiers#taxidentifier-object)\u00a0are identifying numbers or IDs that are used to charge a specific party when dealing with the importing or exporting of good across international borders."
    },
    {
      "name": "Basics > Shipments > EndShipper",
      "description": "[https://docs.easypost.com/docs/endshippers](https://docs.easypost.com/docs/endshippers)\n\n**Important**: This endpoint only works for users of the EndShipper API. If you feel this is applicable for your use case, please contact\u00a0[sales](https://www.easypost.com/talk-to-easypost).\n\nThe EndShipper API is for platforms purchasing postage on behalf of their users, the EndShipper. Platforms\u00a0must\u00a0assert the EndShipper details, as the EndShipper is ultimately responsible for what is in the box. Multiple labels purchased for the same EndShipper\u00a0must\u00a0use the same\u00a0[<code>EndShipper</code>](https://docs.easypost.com/docs/endshippers#endshipper-object)\u00a0object."
    },
    {
      "name": "Basics > Trackers",
      "description": "[https://docs.easypost.com/docs/trackers](https://docs.easypost.com/docs/trackers)\n\nThe\u00a0[<code>Tracker</code>](https://docs.easypost.com/docs/trackers#tracker-object)\u00a0object contains tracking information for a package. A\u00a0`Tracker`\u00a0is created automatically when a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments#buy-a-shipment)\u00a0is purchased through EasyPost. For labels not purchased via EasyPost, a\u00a0`Tracker`\u00a0can still be created directly through the API."
    },
    {
      "name": "Advanced",
      "description": "https://www.easypost.com/docs/"
    },
    {
      "name": "Advanced > Batches",
      "description": "[https://docs.easypost.com/docs/batches](https://docs.easypost.com/docs/batches)\n\nThe\u00a0[<code>Batch</code>](https://docs.easypost.com/docs/batches#batch-object)\u00a0object allows you to perform operations on multiple\u00a0[<code>Shipments</code>](https://docs.easypost.com/docs/shipments)\u00a0at once. This includes\u00a0[scheduling a&nbsp;<code>Pickup</code>](https://docs.easypost.com/docs/pickups#create-a-pickup),\u00a0[creating a&nbsp;<code>ScanForm</code>](https://docs.easypost.com/docs/scan-form#create-a-scanform), and consolidating labels. Operations performed on\u00a0`Batches`\u00a0are asynchronous and take advantage of our\u00a0[webhook](https://docs.easypost.com/docs/events)\u00a0infrastructure.\n\n**Note:** `batches_buy` is not in the main documentation and doesn't work with the in-place created batch.\n\nIf looking to create a batch with more shipments, use the add X shipments to batch collection."
    },
    {
      "name": "Advanced > Carrier Metadata",
      "description": "[https://docs.easypost.com/docs/carrier-metadata](https://docs.easypost.com/docs/carrier-metadata)\n\nThe Carrier Metadata endpoint returns information about all the carriers available on the EasyPost platform. This information may include service levels, predefined packages, shipment options, supported features, and more that are available per carrier. This metadata can be useful during onboarding and integration or when determining the ideal carrier mix for your setup."
    },
    {
      "name": "Advanced > CustomsInfo",
      "description": "[https://docs.easypost.com/docs/customs-infos](https://docs.easypost.com/docs/customs-infos)\n\n[<code>CustomsInfo</code>](https://docs.easypost.com/docs/customs-infos#customsinfo-object)\u00a0objects contain\u00a0[<code>CustomsItem</code>&nbsp;](https://docs.easypost.com/docs/customs-items)\u00a0objects and all necessary information for the generation of customs forms required for international shipping.\n\nPlease see the\u00a0[<code>Shipments</code>&nbsp;documentation](https://docs.easypost.com/docs/shipments)\u00a0for examples of including a\u00a0`CustomsInfo`\u00a0object in a\u00a0`Shipment`.\u00a0\n\n**Note:**\u00a0the maximum number of items that can be included in customs info with UPS is 100."
    },
    {
      "name": "Advanced > CustomsItem",
      "description": "[https://docs.easypost.com/docs/customs-items](https://docs.easypost.com/docs/customs-items)\n\nA\u00a0[<code>CustomsItem</code>](https://docs.easypost.com/docs/customs-items#customsitems-object)\u00a0object describes goods for international shipment and should be created then included in a\u00a0[<code>CustomInfo</code>](https://docs.easypost.com/docs/customs-infos)\u00a0object."
    },
    {
      "name": "Advanced > EndShipper",
      "description": "[https://docs.easypost.com/docs/endshippers](https://docs.easypost.com/docs/endshippers)\n\n**Important**: This endpoint only works for users of the EndShipper API. If you feel this is applicable for your use case, please contact\u00a0[sales](https://www.easypost.com/talk-to-easypost).\n\nThe EndShipper API is for platforms purchasing postage on behalf of their users, the EndShipper. Platforms\u00a0must\u00a0assert the EndShipper details, as the EndShipper is ultimately responsible for what is in the box. Multiple labels purchased for the same EndShipper\u00a0must\u00a0use the same\u00a0[<code>EndShipper</code>](https://docs.easypost.com/docs/endshippers#endshipper-object)\u00a0object."
    },
    {
      "name": "Advanced > Events",
      "description": "[https://docs.easypost.com/docs/events](https://docs.easypost.com/docs/events)\n\nWebhook\u00a0[<code>Events</code>](https://docs.easypost.com/docs/events#event-object)\u00a0are triggered by changes in objects you've created via the API. Every time an\u00a0`Event`\u00a0related to one of your objects is created, EasyPost guarantees at least one POST request will be sent to each of the\u00a0[webhook URLs set up for your account](https://docs.easypost.com/docs/webhooks). For this reason, we strongly encourage your webhook handler to be idempotent. See the\u00a0[webhooks guide](https://docs.easypost.com/guides/webhooks-guide)\u00a0for more information."
    },
    {
      "name": "Advanced > Orders",
      "description": "[https://docs.easypost.com/docs/orders](https://docs.easypost.com/docs/orders)\n\n**Note:** Users are encouraged to integrate with the SHIPMENTS endpoint rather than with this ORDERS endpoint, unless they require very specific FedEx, UPS, or DHL Express Multi-parcel rates/labels support.\n\nThe\u00a0[<code>Order</code>](https://docs.easypost.com/docs/orders#order-object)\u00a0object represents a collection of packages and is intended only for multi-parcel shipping; please use\u00a0[<code>Shipments</code>](https://docs.easypost.com/docs/shipments)\u00a0for single-parcel shipping. Like a single\u00a0`Shipment`, each\u00a0`Order`\u00a0consists of a\u00a0[<code>to_address</code>](https://docs.easypost.com/docs/addresses)\u00a0and\u00a0[<code>from_address</code>](https://docs.easypost.com/docs/addresses), to be used for each\u00a0`Shipment`\u00a0within the\u00a0`Order`. These\u00a0`Address`\u00a0objects will be copied to each\u00a0`Shipment`, so there is no need to specify them multiple times. Each\u00a0`Shipment`\u00a0must then specify its\u00a0[<code>Parcel</code>](https://docs.easypost.com/docs/parcels),\u00a0[<code>Options</code>](https://docs.easypost.com/docs/shipments/options), and\u00a0[<code>CustomsInfo</code>](https://docs.easypost.com/docs/customs-infos).\n\n### Additional Notes\n\n`orders_create` uses an inline setup\n\n`orders_create2` uses the current shipment to and from address with predefined packages\n\nBoth set the environment variable `ORDER_ID`, which can be accessed by orders_retrieve"
    },
    {
      "name": "Advanced > Pickup",
      "description": "[https://docs.easypost.com/docs/pickups](https://docs.easypost.com/docs/pickups)\n\nThe\u00a0[<code>Pickup</code>](https://docs.easypost.com/docs/pickups#pickup-object)\u00a0object is used to schedule a pickup from a carrier at a residence or place of business.\n\nOnce a\u00a0`Pickup`\u00a0is successfully created,\u00a0[<code>PickupRates</code>](https://docs.easypost.com/docs/pickups#pickuprate-object)\u00a0will be automatically fetched for each specified\u00a0[<code>CarrierAccount</code>](https://docs.easypost.com/docs/carrier-accounts)\u00a0that supports scheduled pickups. A\u00a0`PickupRate`\u00a0must then be selected and purchased to successfully schedule the pickup.\n\n### Additional Notes\n\nUse `pickup_create_batch` when trying to create a pickup with batches, and use `pickup_create_shipment` when trying to create a pickup with shipments, with each one referencing the previously created batch or shipment in the previous folders."
    },
    {
      "name": "Advanced > ReadyDocs",
      "description": "[https://docs.easypost.com/docs/readydocs](https://docs.easypost.com/docs/readydocs)\n\nReadyDocs is a document-generation API that enables customers to create standardized packing slips using predefined templates.\n\nReadyDocs provides a library of approximately 140 packing slip templates, including generic templates that can be used for customer orders. Documents are generated programmatically by submitting order and shipment data to the ReadyDocs API.\n\n**Note:** ReadyDocs is a subscription-based feature, and usage is metered. Requests are authenticated using an EasyPost API key."
    },
    {
      "name": "Advanced > Reports",
      "description": "[https://docs.easypost.com/docs/reports](https://docs.easypost.com/docs/reports)\n\nA\u00a0[<code>Report</code>](https://docs.easypost.com/docs/reports#report-object)\u00a0contains a CSV that is a log of all the objects created within a certain time frame."
    },
    {
      "name": "Advanced > ScanForms",
      "description": "[https://docs.easypost.com/docs/scan-form](https://docs.easypost.com/docs/scan-form)\n\nA\u00a0[<code>ScanForm</code>](https://docs.easypost.com/docs/scan-form#scanform-object)\u00a0can be created to speed up and simplify the carrier pickup process. The\u00a0`ScanForm`\u00a0is one document that can be scanned to mark all included tracking codes as \"Accepted for Shipment\" by the carrier.\n\n### Additional Notes\n\nMake sure that all of the batch shipments have been purchased before attempting to create the scanform, as it will throw an error if not true."
    },
    {
      "name": "Advanced > Webhook",
      "description": "[https://docs.easypost.com/docs/webhooks](https://docs.easypost.com/docs/webhooks)\n\nEach\u00a0[<code>Webhook</code>](https://docs.easypost.com/docs/webhooks#webhook-object)\u00a0contains the\u00a0`url`\u00a0that EasyPost notifies when an object in the system updates."
    },
    {
      "name": "Account Management"
    },
    {
      "name": "Account Management > API Keys",
      "description": "[https://docs.easypost.com/docs/api-keys](https://docs.easypost.com/docs/api-keys)\n\nWhen performing operations on\u00a0[<code>API Keys</code>](https://docs.easypost.com/docs/api-keys#api-keys-object)\u00a0for a specific user, you must be authenticated using a\u00a0[Production API Key](https://docs.easypost.com/docs/authentication)."
    },
    {
      "name": "Account Management > Carrier Accounts",
      "description": "[https://docs.easypost.com/docs/carrier-accounts](https://docs.easypost.com/docs/carrier-accounts)\n\nA\u00a0[<code>CarrierAccount</code>](https://docs.easypost.com/docs/carrier-accounts#carrieraccount-object)\u00a0encapsulates your credentials with the carrier. The\u00a0`CarrierAccount`\u00a0object provides CRUD operations for all\u00a0`CarrierAccounts`."
    },
    {
      "name": "Account Management > Carrier Types",
      "description": "[https://docs.easypost.com/docs/carrier-types](https://docs.easypost.com/docs/carrier-types)\n\nThe\u00a0[<code>CarrierType</code>](https://docs.easypost.com/docs/carrier-types#carriertype-object)\u00a0object provides an interface for determining the valid fields of a\u00a0[<code>CarrierAccount</code>](https://docs.easypost.com/docs/carrier-accounts). The list of\u00a0`CarrierType`\u00a0objects only changes when a new carrier is added to EasyPost."
    },
    {
      "name": "Account Management > Users",
      "description": "[https://docs.easypost.com/docs/users](https://docs.easypost.com/docs/users)\n\nThe User object can be used to manage your own account and to create child accounts. Only a Production mode API key can be used to make requests against the Users API."
    },
    {
      "name": "Account Management > Users > Billing",
      "description": "[https://docs.easypost.com/docs/users/billing](https://docs.easypost.com/docs/users/billing)\n\nThe\u00a0`Billing`\u00a0functions enable account billing management by\u00a0[adding](https://docs.easypost.com/docs/users/billing#create-credit-card)\u00a0or\u00a0[deleting](https://docs.easypost.com/docs/users/billing#delete-a-payment-method)\u00a0payment methods (credit cards and bank accounts), listing\u00a0[available payment methods](https://docs.easypost.com/docs/users/billing#retrieve-payment-methods), and\u00a0[funding wallets](https://docs.easypost.com/docs/users/billing#add-funds-to-your-wallet-one-time-charge)."
    },
    {
      "name": "Account Management > Users > Billing > Partner White Label (Referrals)",
      "description": "[https://docs.easypost.com/docs/users/referral-customers](https://docs.easypost.com/docs/users/referral-customers)\n\nA\u00a0[<code>ReferralCustomer</code>](https://docs.easypost.com/docs/users/referral-customers)\u00a0is a white label\u00a0[<code>User</code>](https://docs.easypost.com/docs/users)\u00a0that can have its own billing methods."
    },
    {
      "name": "Account Management > Users > Billing > Partner White Label (Referrals) > Referral Users",
      "description": "[https://docs.easypost.com/docs/users/referral-customers](https://docs.easypost.com/docs/users/referral-customers)"
    },
    {
      "name": "Account Management > Users > Billing > Partner White Label (Referrals) > Billing",
      "description": "[https://docs.easypost.com/docs/users/billing](https://docs.easypost.com/docs/users/billing)"
    },
    {
      "name": "Account Management > Users > Brand",
      "description": "[https://docs.easypost.com/docs/users/brand](https://docs.easypost.com/docs/users/brand)"
    }
  ],
  "paths": {
    "/v2/addresses": {
      "get": {
        "tags": [
          "Basics > Addresses"
        ],
        "summary": "Retrieve All Addresses",
        "description": "[https://docs.easypost.com/docs/addresses#retrieve-all-addresses](https://docs.easypost.com/docs/addresses#retrieve-all-addresses)\n\nA list of all\u00a0`Address`\u00a0objects associated with the given\u00a0[<code>API Key</code>](https://docs.easypost.com/docs/api-keys)\u00a0can also be retrieved. See the\u00a0[Pagination](https://docs.easypost.com/docs/pagination)\u00a0section of our docs for more details on retrieving all records when multiple pages are available.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveAllAddresses"
      },
      "post": {
        "tags": [
          "Basics > Addresses"
        ],
        "summary": "Create a Strictly Verified Address",
        "description": "[https://docs.easypost.com/docs/addresses#verify-an-address](https://docs.easypost.com/docs/addresses#verify-an-address)\n\n**Important:**\u00a0Address verification is triggered when the\u00a0`verify`\u00a0or\u00a0`verify_strict`\u00a0parameter is included in the request,\u00a0**even if the value is**\u00a0**`false`**. To prevent verification, omit these parameters entirely.\n\nVerifying an\u00a0`Address`\u00a0before shipping is a great way to reduce issues with delivery.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string"
                      },
                      "street2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "zip": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "federal_tax_id": {
                        "type": "string"
                      },
                      "residential": {
                        "type": "boolean"
                      },
                      "carrier_facility": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "address"
                ],
                "description": "No individual field is strictly required by the API itself (partial addresses are accepted for verification purposes), but street1, city, state, zip and country are needed for a deliverable address."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createAStrictlyVerifiedAddress"
      }
    },
    "/v2/addresses/create_and_verify": {
      "post": {
        "tags": [
          "Basics > Addresses"
        ],
        "summary": "Create and Verify Address",
        "description": "[https://docs.easypost.com/docs/addresses#verify-an-address](https://docs.easypost.com/docs/addresses#verify-an-address)\n\n**Important:**\u00a0Address verification is triggered when the\u00a0`verify`\u00a0or\u00a0`verify_strict`\u00a0parameter is included in the request,\u00a0**even if the value is**\u00a0**`false`**. To prevent verification, omit these parameters entirely.\n\nVerifying an\u00a0`Address`\u00a0before shipping is a great way to reduce issues with delivery.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string"
                      },
                      "street2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "zip": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "federal_tax_id": {
                        "type": "string"
                      },
                      "residential": {
                        "type": "boolean"
                      },
                      "carrier_facility": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "address"
                ],
                "description": "No individual field is strictly required by the API itself (partial addresses are accepted for verification purposes), but street1, city, state, zip and country are needed for a deliverable address."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createAndVerifyAddress"
      }
    },
    "/v2/addresses/{ADDRESS_ID}/verify": {
      "parameters": [
        {
          "name": "ADDRESS_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Addresses"
        ],
        "summary": "Verify Address",
        "description": "[https://docs.easypost.com/docs/addresses#verify-an-address](https://docs.easypost.com/docs/addresses#verify-an-address)\n\n**Important:**\u00a0Address verification is triggered when the\u00a0`verify`\u00a0or\u00a0`verify_strict`\u00a0parameter is included in the request,\u00a0**even if the value is**\u00a0**`false`**. To prevent verification, omit these parameters entirely.\n\nVerifying an\u00a0`Address`\u00a0before shipping is a great way to reduce issues with delivery.",
        "parameters": [
          {
            "name": "ADDRESS_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "verifyAddress"
      }
    },
    "/v2/addresses/{ADDRESS_ID}": {
      "parameters": [
        {
          "name": "ADDRESS_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Addresses"
        ],
        "summary": "Retrieve Address",
        "description": "[https://docs.easypost.com/docs/addresses#retrieve-an-address](https://docs.easypost.com/docs/addresses#retrieve-an-address)\n\nAn\u00a0`Address`\u00a0can be retrieved by its\u00a0`id`.",
        "parameters": [
          {
            "name": "ADDRESS_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveAddress"
      }
    },
    "/v2/claims": {
      "get": {
        "tags": [
          "Basics > Insurance > Claims"
        ],
        "summary": "Retrieve All Claims",
        "description": "[https://docs.easypost.com/docs/insurance/claims#retrieve-all-claims](https://docs.easypost.com/docs/insurance/claims#retrieve-all-claims)\n\nRetrieve a list of claims.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveAllClaims"
      },
      "post": {
        "tags": [
          "Basics > Insurance > Claims"
        ],
        "summary": "Create Claim",
        "description": "[https://docs.easypost.com/docs/insurance/claims#create-a-claim](https://docs.easypost.com/docs/insurance/claims#create-a-claim)\n\nCreate a new claim for a shipment. This endpoint accepts the necessary information to create and validate a claim and store the details.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claim": {
                    "type": "object",
                    "properties": {
                      "tracking_code": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "description": "e.g. \"loss\", \"damage\", \"loss_and_damage\"."
                      },
                      "amount": {
                        "type": "number"
                      },
                      "description": {
                        "type": "string"
                      },
                      "contact_email": {
                        "type": "string"
                      },
                      "recipient_name": {
                        "type": "string"
                      },
                      "salvage": {
                        "type": "boolean"
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "tracking_code",
                      "type",
                      "amount",
                      "description"
                    ]
                  }
                },
                "required": [
                  "claim"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createClaim"
      }
    },
    "/v2/claims/{CLAIM_ID}": {
      "parameters": [
        {
          "name": "CLAIM_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Insurance > Claims"
        ],
        "summary": "Retrieve Claim",
        "description": "[https://docs.easypost.com/docs/insurance/claims#retrieve-a-claim](https://docs.easypost.com/docs/insurance/claims#retrieve-a-claim)\n\nRetrieve details of a specific claim using the\u00a0`id`.",
        "parameters": [
          {
            "name": "CLAIM_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveClaim"
      }
    },
    "/v2/claims/{CLAIM_ID}/cancel": {
      "parameters": [
        {
          "name": "CLAIM_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Basics > Insurance > Claims"
        ],
        "summary": "Cancel Claim",
        "description": "[https://docs.easypost.com/docs/insurance/claims#cancel-a-claim](https://docs.easypost.com/docs/insurance/claims#cancel-a-claim)\n\nCancel an existing claim using the\u00a0`id`.",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "CLAIM_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "cancelClaim"
      }
    },
    "/v2/insurances": {
      "get": {
        "tags": [
          "Basics > Insurance"
        ],
        "summary": "Retrieve All Insurance",
        "description": "[https://docs.easypost.com/docs/insurance#retrieve-all-insurances](https://docs.easypost.com/docs/insurance#retrieve-all-insurances)\n\nA list of all\u00a0`Insurance`\u00a0objects associated with the given\u00a0[<code>API Key</code>](https://docs.easypost.com/docs/api-keys)\u00a0can also be retrieved. See the\u00a0[Pagination](https://docs.easypost.com/docs/pagination)\u00a0section of our docs for more details on retrieving all records when multiple pages are available.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveAllInsurance"
      },
      "post": {
        "tags": [
          "Basics > Insurance"
        ],
        "summary": "Create Insurance",
        "description": "[https://docs.easypost.com/docs/insurance#create-an-insurance](https://docs.easypost.com/docs/insurance#create-an-insurance)\n\nAn\u00a0`Insurance`\u00a0created via this endpoint must belong to a shipment purchased outside of EasyPost. Insurance for a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0created within EasyPost must be created via the\u00a0[<code>Shipment</code>&nbsp;buy](https://docs.easypost.com/docs/shipments#buy-a-shipment)\u00a0or\u00a0[<code>Shipment</code>&nbsp;insure](https://docs.easypost.com/docs/shipments/shipping-insurance#insure-a-shipment)\u00a0endpoints. When creating Insurance for a non-EasyPost shipment, you must provide tracking_code, carrier, and amount information.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "insurance": {
                    "type": "object",
                    "properties": {
                      "shipment_id": {
                        "type": "string",
                        "description": "Use with an existing EasyPost shipment, or supply tracking_code/carrier/from_address/to_address instead."
                      },
                      "tracking_code": {
                        "type": "string"
                      },
                      "carrier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "from_address": {
                        "type": "object",
                        "properties": {
                          "street1": {
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "federal_tax_id": {
                            "type": "string"
                          },
                          "residential": {
                            "type": "boolean"
                          },
                          "carrier_facility": {
                            "type": "string"
                          }
                        }
                      },
                      "to_address": {
                        "type": "object",
                        "properties": {
                          "street1": {
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "federal_tax_id": {
                            "type": "string"
                          },
                          "residential": {
                            "type": "boolean"
                          },
                          "carrier_facility": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "amount"
                    ]
                  }
                },
                "required": [
                  "insurance"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createInsurance"
      }
    },
    "/v2/insurances/{INSURANCE_ID}": {
      "parameters": [
        {
          "name": "INSURANCE_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Insurance"
        ],
        "summary": "Retrieve Insurance",
        "description": "[https://docs.easypost.com/docs/insurance#retrieve-an-insurance](https://docs.easypost.com/docs/insurance#retrieve-an-insurance)\n\nRetrieve an\u00a0`Insurance`\u00a0by its\u00a0`id`.",
        "parameters": [
          {
            "name": "INSURANCE_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveInsurance"
      }
    },
    "/v2/insurances/{INSURANCE_ID}/refund": {
      "parameters": [
        {
          "name": "INSURANCE_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Basics > Insurance"
        ],
        "summary": "Refund Insurance",
        "description": "[https://docs.easypost.com/docs/insurance#refund-an-insurance](https://docs.easypost.com/docs/insurance#refund-an-insurance)\n\nRefunding\u00a0`Insurance`\u00a0is only available for standalone insurance purchased through EasyPost. The tracking status for the insurance must be either\u00a0`pre_transit`,\u00a0`cancelled`, or\u00a0`unknown`\u00a0in order to be eligible.",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "INSURANCE_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "refundInsurance"
      }
    },
    "/v2/parcels": {
      "post": {
        "tags": [
          "Basics > Parcels"
        ],
        "summary": "Create Parcel",
        "description": "[https://docs.easypost.com/docs/parcels#create-a-parcel](https://docs.easypost.com/docs/parcels#create-a-parcel)\n\nInclude the\u00a0`weight`, and either a\u00a0`predefined_package`\u00a0or\u00a0`length`,\u00a0`width`\u00a0and\u00a0`height`\u00a0if applicable.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parcel": {
                    "type": "object",
                    "properties": {
                      "length": {
                        "type": "number",
                        "description": "Inches. Required together with width/height unless predefined_package is set."
                      },
                      "width": {
                        "type": "number",
                        "description": "Inches. Required together with length/height unless predefined_package is set."
                      },
                      "height": {
                        "type": "number",
                        "description": "Inches. Required together with length/width unless predefined_package is set."
                      },
                      "weight": {
                        "type": "number",
                        "description": "Ounces."
                      },
                      "predefined_package": {
                        "type": "string",
                        "description": "Carrier-specific flat-rate package type, used instead of length/width/height."
                      }
                    },
                    "required": [
                      "weight"
                    ]
                  }
                },
                "required": [
                  "parcel"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createParcel"
      }
    },
    "/v2/parcels/{PARCEL_ID}": {
      "parameters": [
        {
          "name": "PARCEL_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Parcels"
        ],
        "summary": "Retrieve Parcel",
        "description": "[https://docs.easypost.com/docs/parcels#retrieve-a-parcel](https://docs.easypost.com/docs/parcels#retrieve-a-parcel)\n\nRetrieve a\u00a0`Parcel`\u00a0by its\u00a0`id`. In general, you should not need to use this in your automated solution. A\u00a0`Parcel`\u00a0object's\u00a0`id`\u00a0can be inlined into the creation call to other objects. This allows you to only create one\u00a0`Parcel`\u00a0for each package you will be using.",
        "parameters": [
          {
            "name": "PARCEL_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveParcel"
      }
    },
    "/v2/rates/{RATE_ID}": {
      "parameters": [
        {
          "name": "RATE_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Rates"
        ],
        "summary": "Retrieve Rate",
        "description": "[https://docs.easypost.com/docs/shipments/rates#retrieve-rates-for-a-shipment](https://docs.easypost.com/docs/shipments/rates#retrieve-rates-for-a-shipment)\n\nYou can retrieve\u00a0`Rates`\u00a0without creating a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0object using this endpoint. This endpoint is ideal when wanting to display or compare rates without creating\u00a0`Shipment`\u00a0objects. The\u00a0`Rate`\u00a0objects returned by this endpoint do not include IDs.",
        "parameters": [
          {
            "name": "RATE_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveRate"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/forms": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Basics > Shipments > Form"
        ],
        "summary": "Create Form",
        "description": "[https://docs.easypost.com/docs/shipments/forms#create-form](https://docs.easypost.com/docs/shipments/forms#create-form)\n\nPlease see\u00a0the [Forms Guide](https://docs.easypost.com/guides/form-guide)\u00a0for request parameters.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "form": {
                    "type": "return_packing_slip",
                    "barcode": "RMA12345678900",
                    "line_items": [
                      {
                        "product": {
                          "title": "Square Reader",
                          "barcode": "855658003251"
                        },
                        "units": 8
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createForm"
      }
    },
    "/v2/shipments": {
      "get": {
        "tags": [
          "Basics > Shipments"
        ],
        "summary": "Retrieve All Shipments",
        "description": "[https://docs.easypost.com/docs/shipments#retrieve-all-shipments](https://docs.easypost.com/docs/shipments#retrieve-all-shipments)\n\nA list of all\u00a0`Shipment`\u00a0objects associated with the given\u00a0[<code>API Key</code>](https://docs.easypost.com/docs/api-keys)\u00a0can also be retrieved. See the\u00a0[Pagination](https://docs.easypost.com/docs/pagination)\u00a0section of our docs for more details on retrieving all records when multiple pages are available.",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveAllShipments"
      },
      "post": {
        "tags": [
          "Basics > Shipments"
        ],
        "summary": "One-Call Buy Shipment",
        "description": "[https://docs.easypost.com/docs/shipments#buy-a-shipment-without-rating-one-call-buy](https://docs.easypost.com/docs/shipments#buy-a-shipment-without-rating-one-call-buy)\n\nThe one-call buy method enables shipment creation and label purchase in a single API call. This approach is suitable when the desired service level is already known, or a flat-rate agreement is in place with the carrier.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipment": {
                    "type": "object",
                    "properties": {
                      "to_address": {
                        "type": "object",
                        "properties": {
                          "street1": {
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "federal_tax_id": {
                            "type": "string"
                          },
                          "residential": {
                            "type": "boolean"
                          },
                          "carrier_facility": {
                            "type": "string"
                          }
                        }
                      },
                      "from_address": {
                        "type": "object",
                        "properties": {
                          "street1": {
                            "type": "string"
                          },
                          "street2": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "zip": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "company": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "federal_tax_id": {
                            "type": "string"
                          },
                          "residential": {
                            "type": "boolean"
                          },
                          "carrier_facility": {
                            "type": "string"
                          }
                        }
                      },
                      "parcel": {
                        "type": "object",
                        "properties": {
                          "length": {
                            "type": "number",
                            "description": "Inches. Required together with width/height unless predefined_package is set."
                          },
                          "width": {
                            "type": "number",
                            "description": "Inches. Required together with length/height unless predefined_package is set."
                          },
                          "height": {
                            "type": "number",
                            "description": "Inches. Required together with length/width unless predefined_package is set."
                          },
                          "weight": {
                            "type": "number",
                            "description": "Ounces."
                          },
                          "predefined_package": {
                            "type": "string",
                            "description": "Carrier-specific flat-rate package type, used instead of length/width/height."
                          }
                        }
                      },
                      "customs_info": {
                        "type": "object"
                      },
                      "service": {
                        "type": "string"
                      },
                      "carrier_accounts": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "reference": {
                        "type": "string"
                      },
                      "insurance": {
                        "type": "number"
                      },
                      "options": {
                        "type": "object"
                      }
                    },
                    "required": [
                      "to_address",
                      "from_address",
                      "parcel"
                    ]
                  }
                },
                "required": [
                  "shipment"
                ],
                "description": "One-call buy requires to_address, from_address and parcel; include \"service\" and/or \"carrier_accounts\" to pin the rate purchased, otherwise the lowest available rate is bought."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "oneCallBuyShipment"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/rerate": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Basics > Shipments > Rate"
        ],
        "summary": "Regenerate Shipment Rates",
        "description": "[https://docs.easypost.com/docs/shipments/rates#regenerate-rates-for-a-shipment](https://docs.easypost.com/docs/shipments/rates#regenerate-rates-for-a-shipment)\n\nYou can regenerate the\u00a0`Rates`\u00a0of a\u00a0`Shipment`\u00a0at any time. This is ideal when shipments aren't bought the same day as they were created and you want the most up-to-date rates available. This operation respects the\u00a0`carrier_accounts`\u00a0attribute.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carrier_accounts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "regenerateShipmentRates"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/insure": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Basics > Shipments > Shipping Insurance"
        ],
        "summary": "Insure Shipment",
        "description": "[https://docs.easypost.com/docs/shipments/shipping-insurance#insure-a-shipment](https://docs.easypost.com/docs/shipments/shipping-insurance#insure-a-shipment)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "insurance": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "amount"
                    ]
                  }
                },
                "required": [
                  "insurance"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "insureShipment"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/refund": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Basics > Shipments > Shipping Refund"
        ],
        "summary": "Refund Shipment",
        "description": "[https://docs.easypost.com/docs/shipments/shipping-refund#refund-a-shipment](https://docs.easypost.com/docs/shipments/shipping-refund#refund-a-shipment)\n\nRefunding a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0is available for many carriers supported by EasyPost.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "carrier": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "refundShipment"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/smartrate": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Shipments > SmartRate"
        ],
        "summary": "Retrieve SmartRates of Shipment",
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveSmartratesOfShipment"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/smartrate/delivery_date": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Shipments > SmartRate"
        ],
        "summary": "Retrieve Estimated Delivery Date",
        "parameters": [
          {
            "name": "planned_ship_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "yyyy-mm-dd"
          },
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveEstimatedDeliveryDate"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/smartrate/precision_shipping": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Shipments > SmartRate"
        ],
        "summary": "Precision Shipping",
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "precisionShipping"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/buy": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Basics > Shipments"
        ],
        "summary": "Buy Shipment",
        "description": "[https://docs.easypost.com/docs/shipments#buy-a-shipment](https://docs.easypost.com/docs/shipments#buy-a-shipment)\n\nTo purchase a\u00a0`Shipment`, specify the\u00a0[<code>Rate</code>](https://docs.easypost.com/docs/shipments/rates)\u00a0to buy. This operation returns the\u00a0`tracking_code`\u00a0and\u00a0`postage_label`\u00a0attributes.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rate": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Rate ID from the shipment's rates array."
                      }
                    },
                    "required": [
                      "id"
                    ]
                  }
                },
                "required": [
                  "rate"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "buyShipment"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Shipments"
        ],
        "summary": "Retrieve Shipment",
        "description": "[https://docs.easypost.com/docs/shipments#retrieve-a-shipment](https://docs.easypost.com/docs/shipments#retrieve-a-shipment)\n\nA\u00a0`Shipment`\u00a0can be retrieved by either its\u00a0`id`\u00a0or\u00a0`reference`. However, it is recommended to use EasyPost's provided identifiers because uniqueness on\u00a0`reference`\u00a0is not enforced.",
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveShipment"
      }
    },
    "/v2/shipments/{SHIPMENT_ID}/label": {
      "parameters": [
        {
          "name": "SHIPMENT_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Shipments"
        ],
        "summary": "Convert Shipment Label",
        "description": "[https://docs.easypost.com/docs/shipments#converting-the-label-format-of-a-shipment](https://docs.easypost.com/docs/shipments#converting-the-label-format-of-a-shipment)\n\nA\u00a0`Shipment`'s\u00a0[<code>PostageLabel</code>](https://docs.easypost.com/docs/shipments#postage-label-object)\u00a0can be converted from PNG to other formats. To convert a\u00a0`PostageLabel`, the original must be a PNG. Converting labels works best when they are 4x6 labels converted from PNG to ZPL.",
        "parameters": [
          {
            "name": "SHIPMENT_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "convertShipmentLabel"
      }
    },
    "/v2/trackers": {
      "get": {
        "tags": [
          "Basics > Trackers"
        ],
        "summary": "Retrieve All Trackers",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveAllTrackers"
      },
      "post": {
        "tags": [
          "Basics > Trackers"
        ],
        "summary": "Create Tracker",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tracker": {
                    "type": "object",
                    "properties": {
                      "tracking_code": {
                        "type": "string"
                      },
                      "carrier": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "tracking_code"
                    ]
                  }
                },
                "required": [
                  "tracker"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createTracker"
      }
    },
    "/v2/trackers/{TRACKER_ID}": {
      "parameters": [
        {
          "name": "TRACKER_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Basics > Trackers"
        ],
        "summary": "Retrieve Tracker",
        "parameters": [
          {
            "name": "TRACKER_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveTracker"
      }
    },
    "/v2/trackers/batch": {
      "post": {
        "tags": [
          "Basics > Trackers"
        ],
        "summary": "Create Tracker Batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "trackers": [
                    {
                      "tracking_code": "EZ1000000001",
                      "carrier": "USPS"
                    },
                    {
                      "tracking_code": "EZ1000000002",
                      "carrier": "UPS"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createTrackerBatch"
      }
    },
    "/v2/batches": {
      "get": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Retrieve All Batches",
        "description": "[https://docs.easypost.com/docs/batches#retrieve-all-batches](https://docs.easypost.com/docs/batches#retrieve-all-batches)\n\nA list of all\u00a0`Batch`\u00a0objects associated with the given\u00a0[<code>API Key</code>](https://docs.easypost.com/docs/api-keys)\u00a0can also be retrieved. See the\u00a0[Pagination](https://docs.easypost.com/docs/pagination)\u00a0section of our docs for more details on retrieving all records when multiple pages are available.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveAllBatches"
      },
      "post": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Create Batch",
        "description": "[https://docs.easypost.com/docs/batches#create-a-batch](https://docs.easypost.com/docs/batches#create-a-batch)\n\nA\u00a0`Batch`\u00a0can be created with or without\u00a0[<code>Shipments</code>](https://docs.easypost.com/docs/shipments). When created with\u00a0`Shipments`, the initial\u00a0`state`\u00a0will be \"creating\". Once the\u00a0`state`\u00a0changes to \"created\", a webhook\u00a0[<code>Event</code>](https://docs.easypost.com/docs/events)\u00a0will be sent. When created with no\u00a0[<code>Shipments</code>](https://docs.easypost.com/docs/shipments), the initial state will be \"created\" and webhook will be sent.\n\n**Note:**\u00a0It is recommended to keep each batch under 1,000 shipments. This best practice helps avoid timeout errors during the batch buying process.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "batch": {
                    "type": "object",
                    "properties": {
                      "shipments": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "batch"
                ],
                "description": "No fields are required \u2014 a Batch can be created empty and shipments added afterward."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createBatch"
      }
    },
    "/v2/batches/{BATCH_ID}/add_shipments": {
      "parameters": [
        {
          "name": "BATCH_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Add Shipments to Batch",
        "description": "[https://docs.easypost.com/docs/batches#add-shipments-to-a-batch](https://docs.easypost.com/docs/batches#add-shipments-to-a-batch)\n\n[Shipments](https://docs.easypost.com/docs/shipments)\u00a0can be added to a\u00a0`Batch`\u00a0throughout its life cycle. Just remember that the state change of a\u00a0`Batch`\u00a0is asynchronous and will fire a webhook\u00a0[Event](https://docs.easypost.com/docs/events)\u00a0when the state change is completed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "shipments": [
                    {
                      "id": "shp_..."
                    },
                    {
                      "id": "shp_..."
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "BATCH_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "addShipmentsToBatch"
      }
    },
    "/v2/batches/{BATCH_ID}/remove_shipments": {
      "parameters": [
        {
          "name": "BATCH_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Remove Shipments from Batch",
        "description": "[https://docs.easypost.com/docs/batches#remove-shipments-from-a-batch](https://docs.easypost.com/docs/batches#remove-shipments-from-a-batch)\n\nThere could be times when a\u00a0[<code>Shipment</code>](https://docs.easypost.com/docs/shipments)\u00a0needs to be removed from the\u00a0`Batch`\u00a0during its life cycle. Removing a\u00a0`Shipment`\u00a0does not remove it from the consolidated label or\u00a0[<code>ScanForm</code>](https://docs.easypost.com/docs/scan-form).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "shipments": [
                    {
                      "id": "shp_..."
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "BATCH_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "removeShipmentsFromBatch"
      }
    },
    "/v2/batches/{BATCH_ID}/buy": {
      "parameters": [
        {
          "name": "BATCH_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Buy Batch",
        "description": "[https://docs.easypost.com/docs/batches#buy-a-batch](https://docs.easypost.com/docs/batches#buy-a-batch)\n\nOnce you have added all of your\u00a0[<code>Shipments</code>](https://docs.easypost.com/docs/shipments)\u00a0to a\u00a0`Batch`, issue a buy request to enqueue a background job to purchase the shipments and generate all necessary labels.",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "BATCH_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "buyBatch"
      }
    },
    "/v2/batches/{BATCH_ID}/label": {
      "parameters": [
        {
          "name": "BATCH_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Batch Labels",
        "description": "[https://docs.easypost.com/docs/batches#batch-labels](https://docs.easypost.com/docs/batches#batch-labels)\n\nOne of the advantages of processing\u00a0[<code>Shipments</code>](https://docs.easypost.com/docs/shipments)\u00a0in batches is the ability to consolidate the\u00a0`PostageLabel`\u00a0into one file. This can only be done once for each batch, and all\u00a0`Shipments`\u00a0must have a status of \"postage_purchased\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "file_format": "PDF"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "BATCH_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "batchLabels"
      }
    },
    "/v2/batches/{BATCH_ID}/scan_form": {
      "parameters": [
        {
          "name": "BATCH_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Manifest Batch",
        "description": "[https://docs.easypost.com/docs/batches#manifesting-scan-form](https://docs.easypost.com/docs/batches#manifesting-scan-form)\n\nA\u00a0[<code>ScanForm</code>](https://docs.easypost.com/docs/scan-form)\u00a0can be created for a\u00a0`Batch`\u00a0by its\u00a0`id`.",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "name": "BATCH_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "manifestBatch"
      }
    },
    "/v2/batches/{BATCH_ID}": {
      "parameters": [
        {
          "name": "BATCH_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Advanced > Batches"
        ],
        "summary": "Retrieve Batch",
        "description": "[https://docs.easypost.com/docs/batches#retrieve-batch](https://docs.easypost.com/docs/batches#retrieve-batch)\n\nA\u00a0`Batch`\u00a0can be retrieved by either its\u00a0`id`\u00a0or\u00a0`reference`. However it is recommended to use EasyPost's provided identifiers because uniqueness on\u00a0`reference`\u00a0is not enforced.",
        "parameters": [
          {
            "name": "BATCH_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveBatch"
      }
    },
    "/v2/metadata/carriers": {
      "get": {
        "tags": [
          "Advanced > Carrier Metadata"
        ],
        "summary": "Retrieve Carrier Metadata",
        "description": "[https://docs.easypost.com/docs/carrier-metadata](https://docs.easypost.com/docs/carrier-metadata)\n\nRetrieve all\u00a0`CarrierMetadata`\u00a0for all carriers on the EasyPost platform. Optionally, filter the response by specifying a list of carriers or metadata types.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveCarrierMetadata"
      }
    },
    "/v2/customs_infos": {
      "post": {
        "tags": [
          "Advanced > CustomsInfo"
        ],
        "summary": "Create Customs Info",
        "description": "[https://docs.easypost.com/docs/customs-infos#create-a-customsinfo](https://docs.easypost.com/docs/customs-infos#create-a-customsinfo)\n\nA\u00a0`CustomsInfo`\u00a0object contains all administrative information for processing customs, as well as a list of\u00a0[<code>CustomsItems</code>](https://docs.easypost.com/docs/customs-items). When creating a\u00a0`CustomsInfo`, you may store the\u00a0`id`\u00a0from the response for use later in\u00a0[<code>Shipment</code>&nbsp;creation](https://docs.easypost.com/docs/shipments#create-a-shipment).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customs_info": {
                    "type": "object",
                    "properties": {
                      "customs_certify": {
                        "type": "boolean"
                      },
                      "customs_signer": {
                        "type": "string"
                      },
                      "contents_type": {
                        "type": "string"
                      },
                      "contents_explanation": {
                        "type": "string"
                      },
                      "restriction_type": {
                        "type": "string"
                      },
                      "eel_pfc": {
                        "type": "string"
                      },
                      "customs_items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string"
                            },
                            "quantity": {
                              "type": "integer"
                            },
                            "weight": {
                              "type": "number",
                              "description": "Ounces."
                            },
                            "value": {
                              "type": "number"
                            },
                            "hs_tariff_number": {
                              "type": "string"
                            },
                            "origin_country": {
                              "type": "string"
                            },
                            "code": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "contents_type",
                      "customs_items"
                    ]
                  }
                },
                "required": [
                  "customs_info"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "createCustomsInfo"
      }
    },
    "/v2/customs_infos/{CUSTOMS_INFO_ID}": {
      "parameters": [
        {
          "name": "CUSTOMS_INFO_ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Advanced > CustomsInfo"
        ],
        "summary": "Retrieve Customs Info",
        "description": "[https://docs.easypost.com/docs/customs-infos#retrieve-a-customsinfo](https://docs.easypost.com/docs/customs-infos#retrieve-a-customsinfo)\n\nA\u00a0`CustomsInfo`\u00a0can be retrieved by its\u00a0`id`.",
        "parameters": [
          {
            "name": "CUSTOMS_INFO_ID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "retrieveCustomsInfo"
      }
    },
    "/v2/customs_items": {
      "post": {
        "tags": [
          "Advanced > CustomsItem"
        ],
        "summary": "Create Customs Item",
        "description": "[https://docs.easypost.com/docs/customs-items#create-a-customsitem](https://docs.easypost.com/docs/customs-items#create-a-customsitem)\n\nA\u00a0`CustomsItem`\u00a0contains information relating to each product within the package. When creating a\u00a0`CustomsItem`, you may store the\u00a0`id`\u00a0from the response for use later in\u00a0[<code>CustomsInfo</code>&nbsp;creation](https://docs.easypost.com/docs/customs-infos#create-a-customsinfo).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customs_item": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "integer"
                      },
                      "weight": {
                        "type": "number",
                        "description": "Ounces."
                      },
                      "value": {
                        "type": "number"
                      },
                      "hs_tariff_number": {
                        "type": "string"
[...]
