{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Graph - Send Mail",
    "description": "Send an email message on behalf of a user using the Microsoft Graph API.",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0",
      "description": "Microsoft Graph v1.0"
    }
  ],
  "security": [
    {
      "azureaadv2": ["Mail.Send"]
    }
  ],
  "paths": {
    "/users/{user-id}/sendMail": {
      "post": {
        "tags": ["Mail"],
        "summary": "Send mail",
        "description": "Send the message specified in the request body. The message is saved in the Sent Items folder by default.",
        "operationId": "user_sendMail",
        "externalDocs": {
          "description": "Microsoft Graph API reference",
          "url": "https://learn.microsoft.com/graph/api/user-sendmail?view=graph-rest-1.0"
        },
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "The unique identifier of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The message to send",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/sendMailRequestBody"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - message queued for delivery"
          }
        },
        "security": [
          {
            "azureaadv2": ["Mail.Send"]
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "azureaadv2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "Mail.Send": "Send mail as a user"
            }
          }
        }
      }
    },
    "schemas": {
      "sendMailRequestBody": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "saveToSentItems": {
            "type": "boolean",
            "description": "Whether to save the message in Sent Items. Default is true.",
            "default": true,
            "nullable": true
          }
        }
      },
      "message": {
        "type": "object",
        "description": "A message in a mailbox",
        "properties": {
          "subject": {
            "type": "string",
            "description": "The subject of the message"
          },
          "body": {
            "$ref": "#/components/schemas/itemBody"
          },
          "toRecipients": {
            "type": "array",
            "description": "The To: recipients for the message",
            "items": {
              "$ref": "#/components/schemas/recipient"
            }
          },
          "ccRecipients": {
            "type": "array",
            "description": "The Cc: recipients for the message",
            "items": {
              "$ref": "#/components/schemas/recipient"
            }
          },
          "bccRecipients": {
            "type": "array",
            "description": "The Bcc: recipients for the message",
            "items": {
              "$ref": "#/components/schemas/recipient"
            }
          },
          "replyTo": {
            "type": "array",
            "description": "The email addresses to use when replying",
            "items": {
              "$ref": "#/components/schemas/recipient"
            }
          },
          "importance": {
            "type": "string",
            "description": "The importance of the message",
            "enum": ["low", "normal", "high"]
          },
          "isDeliveryReceiptRequested": {
            "type": "boolean",
            "description": "Indicates whether a delivery receipt is requested",
            "nullable": true
          },
          "isReadReceiptRequested": {
            "type": "boolean",
            "description": "Indicates whether a read receipt is requested",
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "description": "File attachments for the message",
            "items": {
              "$ref": "#/components/schemas/attachment"
            }
          }
        }
      },
      "itemBody": {
        "type": "object",
        "description": "The body of a message",
        "properties": {
          "contentType": {
            "type": "string",
            "description": "The type of the content",
            "enum": ["text", "html"]
          },
          "content": {
            "type": "string",
            "description": "The content of the item"
          }
        }
      },
      "recipient": {
        "type": "object",
        "description": "A recipient of a message",
        "properties": {
          "emailAddress": {
            "$ref": "#/components/schemas/emailAddress"
          }
        }
      },
      "emailAddress": {
        "type": "object",
        "description": "The name and email address of a contact or message recipient",
        "properties": {
          "address": {
            "type": "string",
            "description": "The email address of the contact"
          },
          "name": {
            "type": "string",
            "description": "The display name of the contact"
          }
        }
      },
      "attachment": {
        "type": "object",
        "description": "A file attachment on a message",
        "properties": {
          "@odata.type": {
            "type": "string",
            "description": "The OData type, e.g. #microsoft.graph.fileAttachment"
          },
          "name": {
            "type": "string",
            "description": "The attachment's file name"
          },
          "contentType": {
            "type": "string",
            "description": "The MIME type of the attachment"
          },
          "contentBytes": {
            "type": "string",
            "description": "The base64-encoded contents of the file",
            "format": "base64"
          }
        }
      }
    }
  }
}
