{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "tmunzer@juniper.net",
      "name": "Thomas Munzer"
    },
    "description": "Juniper Mist Cloud API provides programmatic access to Mist AI-driven wireless, wired, and WAN infrastructure management, including sites, devices, clients, and analytics.\n\nAuthentication: Bearer token \u2014 generate a Mist API token from Organization \u2192 Settings \u2192 API Token in the Mist dashboard. Pass as Authorization: Token <api_token>.\n\nSource: https://www.mist.com/documentation/mist-api/",
    "license": {
      "name": "MIT",
      "url": "https://raw.githubusercontent.com/tmunzer/Mist-OAS3.0/main/LICENSE"
    },
    "title": "Juniper Mist",
    "version": "latest",
    "x-vendor-api-version": "2509.1.1",
    "x-logo": {
      "altText": "Juniper-MistAI",
      "backgroundColor": "#FFFFFF",
      "url": "https://www.mist.com/wp-content/uploads/logo.png"
    },
    "x-itential-curated": "Trimmed to 137 of 1011 upstream operations covering common CRUD for automation: organizations, sites, site groups, device inventory/claim/read/update, configuration templates (network, gateway, AP, RF, site), device profiles, networks, WLANs, wireless policy (WxRules, WxTags, WxTunnels), PSKs, WAN services and service policies, VPNs, and org/site settings. See the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "description": "An organization usually represents a customer - which has inventories, licenses. An Organization can contain multiple sites. A site usually represents a deployment at the same location (a campus, an office).",
      "name": "Orgs"
    },
    {
      "description": "AP Templates are defining Wi-Fi and AP settings that can be assigned to Access Points based on different types of rules.\n\nAP Templates must be assigned to one or multiple sites to be used.",
      "name": "Orgs AP Templates"
    },
    {
      "description": "While Templates / RF Templates / Network Templates / Gateway Templates provides powerful ways to control how a Device\\'s configuration is derived for a Site. There are cases where you\\'d like another level of control at the Org Level.\nA Device Profile contains a subset of Device\\'s configurations you\\'d like a device to have. It will be merged at runtime when we\\'re provisioning an AP.",
      "name": "Orgs Device Profiles"
    },
    {
      "description": "Devices are any Network device managed or monitored by Juniper Mist. It can be * Wireless Access Points * Juniper Switch (EX, QFX) * Juniper WAN Gateway (SRX, SSR) * Mist Edges * Other or 3rd party devices, like Cradlepoint Devices",
      "name": "Orgs Devices"
    },
    {
      "description": "Gateway Template is applied to a site for gateway(s) in a site.\n\nWhen Templates are not used, Site Setting holds settings for multiple device types and they can differ to set device_type specific configs, use this whatever is defined under `gateway` will overwrite/shadow the one at root-level",
      "name": "Orgs Gateway Templates"
    },
    {
      "description": "The Org Inventory allows administrators to view and manage all devices registered (claimed) to the Organization.",
      "name": "Orgs Inventory"
    },
    {
      "description": "Licenses are a type of service or access that customers can purchase for various features or services offered by a company.\n\nSubscriptions can have different statuses, such as active, expired, exceeded, or trial, depending on their validity and usage. The status of a subscription determines whether it is currently active and valid, has expired, has exceeded the allowed usage limit, or is in a trial period.\n\nLicenses can be activated using an activation code, and the activation process confirms the inputted code and activates the subscription.",
      "name": "Orgs Licenses"
    },
    {
      "description": "A Network Template is a configuration template that allows for the consistent and standardized configuration of switches across an organization's network infrastructure.\n\nIt includes settings such as radius and ntp servers, shared elements like iot or corporate networks, and port profiles for specific devices.\n\nSwitch templates can be applied at the site level, and they make the initial setup of switches easy and adaptable to specific site or switch settings.",
      "name": "Orgs Network Templates"
    },
    {
      "description": "A Network refers to a group or segment of users that are defined for use across the entire organization.",
      "name": "Orgs Networks"
    },
    {
      "description": "A multi PSK (Pre-Shared Key) is a feature that allows the use of multiple PSKs for securing network connections.\n\nIt provides a simple and comprehensive way to onboard client devices without relying on client mac addresses.\n\nEach psk has its own key name, which can be used for user-level accountability, key rotation, and visibility in the management platform. It supports the creation, rotation, and auto-expiration of PSKs, and allows vlan assignment and role assignment for dynamic per-user policies.\n\nMulti PSKs create virtual broadcast domains and can be used for end-user onboarding via authenticated sso login.\n\nMist supports three methods of Org PSKs lookup: * local * radius * cloud",
      "name": "Orgs Psks"
    },
    {
      "description": "Rf Templates are a feature in Juniper Mist wireless assurance that allow for uniform radio configurations to be applied across all sites in an organization.\n\nThese templates can be customized to include model-specific exceptions and settings for different use cases.\n\nRF Templates enable the management of radio bands, channel width, transmission power, and ap antenna gain.\n\nThey provide a centralized way to configure and apply these settings to all access points within an organization.",
      "name": "Orgs RF Templates"
    },
    {
      "description": "A Service refers to the applications that network users will connect to. These applications represent traffic destinations and are essential for defining network policies and security configurations.\n\nApplications can be defined manually in the Juniper Mist cloud portal. They can be categorized as: * Custom Applications: Defined using IP prefixes, protocols, and port ranges. * Predefined Applications: Selected from a list of common applications (e.g., Social Media, Microsoft Teams). * URL Categories: Used to define applications based on specific URLs.",
      "name": "Orgs Services"
    },
    {
      "description": "Services Policies are a security policy that defines who can access applications, they are used to control access to applications and ensure proper traffic management within a network.\n\nIt determines the source network or users that are allowed or denied access to specific applications or destinations.\n\nThe policy also includes options such as traffic steering profiles, which define the paths that the traffic should follow.\n\nService policies can be defined at the organization level or within a wan edge template or hub profile.",
      "name": "Orgs Service Policies"
    },
    {
      "description": "API Calls to manage the Mist Organization Settings",
      "name": "Orgs Setting"
    },
    {
      "description": "Site groups are a group of sites under the same Org. It's many-to-many mapping to sites",
      "name": "Orgs Sitegroups"
    },
    {
      "description": "API Calls to Create or Get the Organization Sites.\n\n\nUse the [Site Settings](https://www.juniper.net/documentation/us/en/software/mist/api/http/api/sites/setting/overview) to configure or update the Site information.",
      "name": "Orgs Sites"
    },
    {
      "description": "Site templates are pre-configured sets of attributes and settings that can be applied to one or more sites in a Mist Organization.\n\nThese templates allow for quick and consistent configuration of sites by grouping common attributes together.\n\nThey can include settings such as Auto-Upgrade features, wan edge configurations, switch configurations and other network parameters.\n\nBy applying a site template, the same configuration can be easily replicated across multiple sites, simplifying network management and ensuring consistency.",
      "name": "Orgs Site Templates"
    },
    {
      "description": "A WLAN template is a collection of WLAN policies, Tunneling Policies, and WxLAN policies. \nIt is used for creating and managing WLAN configurations at an organizational level. \n\n\nWLAN templates allow for modular and scalable configuration by grouping together the settings for multiple SSIDs. \nThese templates can be applied to specific sites, site groups, or the entire organization, making it easier to manage and automate configuration across multiple locations. \n\n\nWLAN templates are especially useful for organizations with multiple sites or plans for future expansion.",
      "name": "Orgs WLAN Templates"
    },
    {
      "description": "VPNs endpoints are used to create the WAN Assurance Overlay configuration between a Hub and one\nor multiple WAN Edge Gateways.\n\n\nWhen configuring the Hub and Spokes from the Mist UI, the UI is automatically creating or updating\nthe VPNs objects based on the configuration. \nWhen the configuration is directly done with the APIs, the VPN object must be manually managed.",
      "name": "Orgs VPNs"
    },
    {
      "description": "An Org Wlan is a wireless local area network that is configured at the Org level and applied to a WLAN template.\n\nIt allows for the creation and management of wireless network settings, such as SSIDs (service set identifiers), authentication settings, VLAN configurations, etc...\n\nOrg WLANs are created and managed at the org level and can only be referenced and used within the WLAN Templates.",
      "name": "Orgs Wlans"
    },
    {
      "description": "ORg WxRules are a set of rules, restrictions, and settings that can be applied to WLANs within a specific WLAN Template.\n\nThese policies determine how the devices and traffic are treated by the network and can be used to control access, define VLANs, and apply labels to users and resources.",
      "name": "Orgs WxRules"
    },
    {
      "description": "Wxtags are tags or groups that can be created and used within the Org.\n\nThey are used to classify users and resources and can be applied to Access Points, WLAN configurations or WxRules within that site.\n\nOrg WxTags are created and managed at the org level and can only be referenced and used within the org level configuration.",
      "name": "Orgs WxTags"
    },
    {
      "description": "A WxLan Tunnel (WxTunnel) are used  to create a secure connection between Juniper Mist Access Points and third-party VPN concentrators using protocols such as L2TPv3 or dmvpn.\n\nThese tunnels allow for the aggregation of ethernet interfaces on access points, support dynamic or static tunnels, and provide options for IPSec encryption.",
      "name": "Orgs WxTunnels"
    },
    {
      "description": "A site represents a project, a deployment. For MSP, it can be as small as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps, Wlans, Policies, Zones.",
      "name": "Sites"
    },
    {
      "description": "Mist provides many ways (device_type specific template, site template, device profile, per-device) to configure devices for different kind of scenarios.\n\nThe precedence goes from most specific to least specific\n\nDevice > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template > Site Template > Site Setting",
      "name": "Sites Devices"
    },
    {
      "description": "A multi PSK (Pre-Shared Key) is a feature that allows the use of multiple PSKs for securing network connections.\n\nIt provides a simple and comprehensive way to onboard client devices without relying on client mac addresses.\n\nEach psk has its own key name, which can be used for user-level accountability, key rotation, and visibility in the management platform. It supports the creation, rotation, and auto-expiration of psks, and allows vlan assignment and role assignment for dynamic per-user policies.\n\nMulti PSKs create virtual broadcast domains and can be used for end-user onboarding via authenticated sso login.\n\nMist supports two methods of Site PSKs lookup: * local * radius",
      "name": "Sites Psks"
    },
    {
      "description": "Site settings refer to the configuration and management of of site within a Mist Organization.\n\nThese settings include access point settings, firmware upgrade schedules, and various features such as location services, occupancy analytics, and engagement analytics.",
      "name": "Sites Setting"
    },
    {
      "description": "A Site Wlan is a wireless local area network that is configured and applied to a specific site within an organization.\n\nIt allows for the creation and management of wireless network settings, such as SSIDs (service set identifiers), authentication settings, VLAN configurations, etc... for a particular site.\n\nSite Wlans are created and managed at the site level and can only be referenced and used within that particular site.",
      "name": "Sites Wlans"
    },
    {
      "description": "Site WxRules are a set of rules, restrictions, and settings that can be applied to WLANs within a specific site.\n\nThese policies determine how the devices and traffic are treated by the network and can be used to control access, define VLANs, and apply labels to users and resources.\n\nSite WxRules are created and managed at the site level and are applied after the site-level WxRules.",
      "name": "Sites WxRules"
    },
    {
      "description": "Wxtags are tags or groups that can be created and used within a specific site.\n\nThey are used to classify users and resources and can be applied to Access Points, WLAN configurations or WxRules within that site.\n\nSite WxTags are created and managed at the site level and can only be referenced and used within that particular site.",
      "name": "Sites WxTags"
    },
    {
      "description": "A WxLan Tunnel (WxTunnel) are used  to create a secure connection between Juniper Mist Access Points and third-party VPN concentrators using protocols such as L2TPv3 or dmvpn.\n\nThese tunnels allow for the aggregation of ethernet interfaces on access points, support dynamic or static tunnels, and provide options for IPSec encryption.",
      "name": "Sites WxTunnels"
    }
  ],
  "paths": {
    "/api/v1/orgs": {
      "post": {
        "description": "Org admin can invite people to manage the org. Furthermore, he can dictate the level of security those accounts are. The check is enforced when the invited admin tries to \"accept\" the invitation and every time the admin tries to login",
        "operationId": "createOrg",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "alarmtemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                    "allow_mist": true,
                    "name": "string",
                    "session_expiry": 1440
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/org"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Org"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrg",
        "tags": [
          "Orgs"
        ]
      }
    },
    "/api/v1/orgs/{org_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get Organization information",
        "operationId": "getOrg",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Org"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrg",
        "tags": [
          "Orgs"
        ]
      },
      "put": {
        "description": "Update Org",
        "operationId": "updateOrg",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "alarmtemplate_id": "1984805d-2be2-4aec-a8d4-3ddf67fab0df",
                    "allow_mist": true,
                    "name": "string",
                    "orggroup_ids": [],
                    "session_expiry": 1440
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/org"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Org"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrg",
        "tags": [
          "Orgs"
        ]
      },
      "delete": {
        "description": "Delete Org",
        "operationId": "deleteOrg",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrg",
        "tags": [
          "Orgs"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/aptemplates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org AP Templates",
        "operationId": "listOrgAptemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AptemplatesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgAptemplates",
        "tags": [
          "Orgs AP Templates"
        ]
      },
      "post": {
        "description": "Create Org AP Template",
        "operationId": "createOrgAptemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "ap_matching": {
                      "enabled": true,
                      "rules": [
                        {
                          "match_model": "string",
                          "name": "string",
                          "port_config": {
                            "property1": {
                              "additional_vlan_ids": [
                                55,
                                66
                              ],
                              "authentication_protocol": "pap",
                              "disabled": true,
                              "dynamic_vlan": {
                                "default_vlan_id": 999,
                                "enabled": true,
                                "type": "string",
                                "vlans": {
                                  "1-10": null,
                                  "user": null
                                }
                              },
                              "enable_mac_auth": false,
                              "forwarding": "all",
                              "mx_tunnel_id": "08cd7499-5841-51c8-e663-fb16b6f3b45e",
                              "mxtunnel_name": "string",
                              "port_auth": "none",
                              "port_vlan_id": 1,
                              "radius_config": {
                                "acct_interim_interval": 0,
                                "acct_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1813,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1812,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers_retries": 3,
                                "auth_servers_timeout": 5,
                                "coa_enabled": false,
                                "coa_port": 3799,
                                "network": "string",
                                "source_ip": "string"
                              },
                              "radsec": {
                                "enabled": true,
                                "idle_timeout": 60,
                                "mxcluster_ids": [
                                  "572586b7-f97b-a22b-526c-8b97a3f609c4"
                                ],
                                "proxy_hosts": [
                                  "mxedge1.local"
                                ],
                                "server_name": "radsec.abc.com",
                                "servers": [
                                  {
                                    "host": "1.1.1.1",
                                    "port": 1812
                                  }
                                ],
                                "use_mxedge": true,
                                "use_site_mxedge": false
                              },
                              "vlan_id": 9,
                              "vlan_ids": [
                                1,
                                10,
                                50
                              ],
                              "wxtunnel_id": "7dae216d-7c98-a51b-e068-dd7d477b7216",
                              "wxtunnel_remote_id": "wifiguest"
                            },
                            "property2": {
                              "additional_vlan_ids": [
                                55,
                                66
                              ],
                              "authentication_protocol": "pap",
                              "disabled": true,
                              "dynamic_vlan": {
                                "default_vlan_id": 999,
                                "enabled": true,
                                "type": "string",
                                "vlans": {
                                  "1-10": null,
                                  "user": null
                                }
                              },
                              "enable_mac_auth": false,
                              "forwarding": "all",
                              "mx_tunnel_id": "08cd7499-5841-51c8-e663-fb16b6f3b45e",
                              "mxtunnel_name": "string",
                              "port_auth": "none",
                              "port_vlan_id": 1,
                              "radius_config": {
                                "acct_interim_interval": 0,
                                "acct_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1813,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1812,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers_retries": 3,
                                "auth_servers_timeout": 5,
                                "coa_enabled": false,
                                "coa_port": 3799,
                                "network": "string",
                                "source_ip": "string"
                              },
                              "radsec": {
                                "enabled": true,
                                "idle_timeout": 60,
                                "mxcluster_ids": [
                                  "572586b7-f97b-a22b-526c-8b97a3f609c4"
                                ],
                                "proxy_hosts": [
                                  "mxedge1.local"
                                ],
                                "server_name": "radsec.abc.com",
                                "servers": [
                                  {
                                    "host": "1.1.1.1",
                                    "port": 1812
                                  }
                                ],
                                "use_mxedge": true,
                                "use_site_mxedge": false
                              },
                              "vlan_id": 9,
                              "vlan_ids": [
                                1,
                                10,
                                50
                              ],
                              "wxtunnel_id": "7dae216d-7c98-a51b-e068-dd7d477b7216",
                              "wxtunnel_remote_id": "wifiguest"
                            }
                          }
                        }
                      ]
                    },
                    "wifi": {
                      "cisco_enabled": true,
                      "disable_11k": false,
                      "disable_radios_when_power_constrained": true,
                      "enable_arp_spoof": true,
                      "enable_shared_radio_scanning": false,
                      "enabled": true,
                      "locate_connected": false,
                      "locate_unconnected": false,
                      "mesh_allow_dfs": false,
                      "mesh_enable_crm": true,
                      "mesh_enabled": true,
                      "proxy_arp": false
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ap_template"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Aptemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgAptemplate",
        "tags": [
          "Orgs AP Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/aptemplates/{aptemplate_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/aptemplate_id"
        }
      ],
      "get": {
        "description": "Get AP Template",
        "operationId": "getOrgAptemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Aptemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgAptemplate",
        "tags": [
          "Orgs AP Templates"
        ]
      },
      "put": {
        "description": "Update AP Template",
        "operationId": "updateOrgAptemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "ap_matching": {
                      "enabled": true,
                      "rules": [
                        {
                          "match_model": "string",
                          "name": "string",
                          "port_config": {
                            "property1": {
                              "additional_vlan_ids": [
                                55,
                                66
                              ],
                              "authentication_protocol": "pap",
                              "disabled": true,
                              "dynamic_vlan": {
                                "default_vlan_id": 999,
                                "enabled": true,
                                "type": "string",
                                "vlans": {
                                  "1-10": null,
                                  "user": null
                                }
                              },
                              "enable_mac_auth": false,
                              "forwarding": "all",
                              "mx_tunnel_id": "08cd7499-5841-51c8-e663-fb16b6f3b45e",
                              "mxtunnel_name": "string",
                              "port_auth": "none",
                              "port_vlan_id": 1,
                              "radius_config": {
                                "acct_interim_interval": 0,
                                "acct_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1813,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1812,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers_retries": 3,
                                "auth_servers_timeout": 5,
                                "coa_enabled": false,
                                "coa_port": 3799,
                                "network": "string",
                                "source_ip": "string"
                              },
                              "radsec": {
                                "enabled": true,
                                "idle_timeout": 60,
                                "mxcluster_ids": [
                                  "572586b7-f97b-a22b-526c-8b97a3f609c4"
                                ],
                                "proxy_hosts": [
                                  "mxedge1.local"
                                ],
                                "server_name": "radsec.abc.com",
                                "servers": [
                                  {
                                    "host": "1.1.1.1",
                                    "port": 1812
                                  }
                                ],
                                "use_mxedge": true,
                                "use_site_mxedge": false
                              },
                              "vlan_id": 9,
                              "vlan_ids": [
                                1,
                                10,
                                50
                              ],
                              "wxtunnel_id": "7dae216d-7c98-a51b-e068-dd7d477b7216",
                              "wxtunnel_remote_id": "wifiguest"
                            },
                            "property2": {
                              "additional_vlan_ids": [
                                55,
                                66
                              ],
                              "authentication_protocol": "pap",
                              "disabled": true,
                              "dynamic_vlan": {
                                "default_vlan_id": 999,
                                "enabled": true,
                                "type": "string",
                                "vlans": {
                                  "1-10": null,
                                  "user": null
                                }
                              },
                              "enable_mac_auth": false,
                              "forwarding": "all",
                              "mx_tunnel_id": "08cd7499-5841-51c8-e663-fb16b6f3b45e",
                              "mxtunnel_name": "string",
                              "port_auth": "none",
                              "port_vlan_id": 1,
                              "radius_config": {
                                "acct_interim_interval": 0,
                                "acct_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1813,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers": [
                                  {
                                    "host": "1.2.3.4",
                                    "keywrap_enabled": true,
                                    "keywrap_format": "hex",
                                    "keywrap_kek": "1122334455",
                                    "keywrap_mack": "1122334455",
                                    "port": 1812,
                                    "secret": "testing123"
                                  }
                                ],
                                "auth_servers_retries": 3,
                                "auth_servers_timeout": 5,
                                "coa_enabled": false,
                                "coa_port": 3799,
                                "network": "string",
                                "source_ip": "string"
                              },
                              "radsec": {
                                "enabled": true,
                                "idle_timeout": 60,
                                "mxcluster_ids": [
                                  "572586b7-f97b-a22b-526c-8b97a3f609c4"
                                ],
                                "proxy_hosts": [
                                  "mxedge1.local"
                                ],
                                "server_name": "radsec.abc.com",
                                "servers": [
                                  {
                                    "host": "1.1.1.1",
                                    "port": 1812
                                  }
                                ],
                                "use_mxedge": true,
                                "use_site_mxedge": false
                              },
                              "vlan_id": 9,
                              "vlan_ids": [
                                1,
                                10,
                                50
                              ],
                              "wxtunnel_id": "7dae216d-7c98-a51b-e068-dd7d477b7216",
                              "wxtunnel_remote_id": "wifiguest"
                            }
                          }
                        }
                      ]
                    },
                    "wifi": {
                      "cisco_enabled": true,
                      "disable_11k": false,
                      "disable_radios_when_power_constrained": true,
                      "enable_arp_spoof": true,
                      "enable_shared_radio_scanning": false,
                      "enabled": true,
                      "locate_connected": false,
                      "locate_unconnected": false,
                      "mesh_allow_dfs": false,
                      "mesh_enable_crm": true,
                      "mesh_enabled": true,
                      "proxy_arp": false
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ap_template"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Aptemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgAptemplate",
        "tags": [
          "Orgs AP Templates"
        ]
      },
      "delete": {
        "description": "Delete existing AP Template",
        "operationId": "deleteOrgAptemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgAptemplate",
        "tags": [
          "Orgs AP Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/claim": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Claim Org licenses / activation codes",
        "operationId": "claimOrgLicense",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "code": "ZHT3K-H36DT-MG85D-M61AC",
                    "type": "all"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/claim_activation"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClaimLicense"
          },
          "400": {
            "description": "Invalid key (or already used)"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "claimOrgLicense",
        "tags": [
          "Orgs Licenses"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/claim/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get Processing Status for Async Claim",
        "operationId": "GetOrgLicenseAsyncClaimStatus",
        "parameters": [
          {
            "description": "Request license details",
            "in": "query",
            "name": "detail",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AsyncLicense"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "GetOrgLicenseAsyncClaimStatus",
        "tags": [
          "Orgs Licenses"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/deviceprofiles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Device Profiles",
        "operationId": "listOrgDeviceProfiles",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceprofilesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgDeviceProfiles",
        "tags": [
          "Orgs Device Profiles"
        ]
      },
      "post": {
        "description": "Create Device Profile",
        "operationId": "createOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "deviceprofile_ap": {
                  "value": {
                    "aeroscout": {
                      "enabled": false,
                      "host": "aero.pvt.net",
                      "locate_connected": true
                    },
                    "led": {
                      "brightness": 255,
                      "enabled": true
                    },
                    "name": "string",
                    "ntp_servers": [
                      "10.10.10.10"
                    ],
                    "type": "ap",
                    "usb_config": {
                      "cacert": "string",
                      "channel": 3,
                      "enabled": true,
                      "host": "1.1.1.1",
                      "port": 0,
                      "type": "imagotag",
                      "verify_cert": true,
                      "vlan_id": 1
                    }
                  }
                },
                "deviceprofile_hub": {
                  "value": {
                    "dhcpd_config": {
                      "Corp-Mgmt": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.172.9",
                        "ip_end": "10.3.172.99",
                        "ip_start": "10.3.172.50",
                        "type": "local"
                      },
                      "Corp-lan": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.171.9",
                        "ip_end": "10.3.171.99",
                        "ip_start": "10.3.171.50",
                        "type": "local"
                      }
                    },
                    "dnsOverride": true,
                    "dns_servers": [
                      "10.3.20.201",
                      "10.3.51.222",
                      "1.1.1.1"
                    ],
                    "dns_suffix": [
                      "example.com"
                    ],
                    "extra_routes": {
                      "10.101.0.0/16": {
                        "via": "10.3.100.10"
                      }
                    },
                    "ip_configs": {
                      "Corp-Core": {
                        "ip": "10.3.100.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-Mgmt": {
                        "ip": "10.3.172.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-lan": {
                        "ip": "10.3.171.9",
                        "netmask": "/24",
                        "type": "static"
                      }
                    },
                    "name": "Demo",
                    "ntpOverride": true,
                    "ntp_servers": [
                      "10.3.51.222"
                    ],
                    "path_preferences": {
                      "core": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Core"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "lab": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-lan"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "mgmt": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Mgmt"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "untrust": {
                        "paths": [
                          {
                            "name": "wan",
                            "type": "wan"
                          }
                        ],
                        "strategy": "ordered"
                      }
                    },
                    "port_config": {
                      "ge-0/0/0": {
                        "aggregated": false,
                        "ip_config": {
                          "gateway": "192.168.1.1",
                          "ip": "192.168.1.9",
                          "netmask": "/24",
                          "type": "static"
                        },
                        "name": "wan",
                        "redundant": false,
                        "usage": "wan",
                        "wan_type": "broadband"
                      },
                      "ge-0/0/6-7": {
                        "ae_disable_lacp": false,
                        "ae_idx": "0",
                        "ae_lacp_force_up": true,
                        "aggregated": true,
                        "networks": [
                          "Corp-lan",
                          "Corp-Mgmt",
                          "Corp-Core"
                        ],
                        "usage": "lan"
                      }
                    },
                    "service_policies": [
                      {
                        "action": "allow",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-Internal",
                        "path_preference": "core",
                        "services": [
                          "internal_dns",
                          "drive"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      }
                    ],
                    "type": "gateway"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/deviceprofile"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deviceprofile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/deviceprofiles/{deviceprofile_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/deviceprofile_id"
        }
      ],
      "get": {
        "description": "Get Org device Profile Details",
        "operationId": "getOrgDeviceProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deviceprofile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      },
      "put": {
        "description": "Update Org Device Profile",
        "operationId": "updateOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "deviceprofile_ap": {
                  "value": {
                    "aeroscout": {
                      "enabled": true,
                      "host": "string"
                    },
                    "disable_eth1": true,
                    "disable_module": true,
                    "mesh": {
                      "enabled": true,
                      "group": 1,
                      "role": "base"
                    },
                    "name": "string",
                    "poe_passthrough": true,
                    "radio_config": {
                      "ant_gain_24": 0,
                      "ant_gain_5": 0,
                      "band_24": {
                        "allow_rrm_disable": true,
                        "antenna_mode": "default",
                        "bandwidth": 20,
                        "channel": 6,
                        "disabled": true,
                        "power": 8,
                        "preamble": "auto",
                        "usage": "24"
                      },
                      "band_24_usage": "24",
                      "band_5": {
                        "allow_rrm_disable": true,
                        "antenna_mode": "default",
                        "bandwidth": 20,
                        "channel": 50,
                        "disabled": true,
                        "power_max": 8,
                        "power_min": 15,
                        "preamble": "auto",
                        "usage": "24"
                      },
                      "scanning_enabled": true
                    },
                    "type": "ap"
                  }
                },
                "deviceprofile_hub": {
                  "value": {
                    "dhcpd_config": {
                      "Corp-Mgmt": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.172.9",
                        "ip_end": "10.3.172.99",
                        "ip_start": "10.3.172.50",
                        "type": "local"
                      },
                      "Corp-lan": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.171.9",
                        "ip_end": "10.3.171.99",
                        "ip_start": "10.3.171.50",
                        "type": "local"
                      }
                    },
                    "dnsOverride": true,
                    "dns_servers": [
                      "10.3.20.201",
                      "10.3.51.222",
                      "1.1.1.1"
                    ],
                    "dns_suffix": [
                      "example.com"
                    ],
                    "extra_routes": {
                      "10.101.0.0/16": {
                        "via": "10.3.100.10"
                      }
                    },
                    "ip_configs": {
                      "Corp-Core": {
                        "ip": "10.3.100.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-Mgmt": {
                        "ip": "10.3.172.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-lan": {
                        "ip": "10.3.171.9",
                        "netmask": "/24",
                        "type": "static"
                      }
                    },
                    "name": "ITParis",
                    "ntpOverride": true,
                    "ntp_servers": [
                      "10.3.51.222"
                    ],
                    "path_preferences": {
                      "core": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Core"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "lab": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-lan"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "mgmt": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Mgmt"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "untrust": {
                        "paths": [
                          {
                            "name": "wan",
                            "type": "wan"
                          }
                        ],
                        "strategy": "ordered"
                      }
                    },
                    "port_config": {
                      "ge-0/0/0": {
                        "aggregated": false,
                        "ip_config": {
                          "gateway": "192.168.1.1",
                          "ip": "192.168.1.9",
                          "netmask": "/24",
                          "type": "static"
                        },
                        "name": "wan",
                        "redundant": false,
                        "traffic_shaping": {
                          "enabled": false
                        },
                        "usage": "wan",
                        "wan_type": "broadband"
                      },
                      "ge-0/0/6-7": {
                        "ae_disable_lacp": false,
                        "ae_idx": "0",
                        "ae_lacp_force_up": true,
                        "aggregated": true,
                        "networks": [
                          "Corp-lan",
                          "Corp-Mgmt",
                          "Corp-Core"
                        ],
                        "usage": "lan"
                      }
                    },
                    "service_policies": [
                      {
                        "action": "allow",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-Internal",
                        "path_preference": "core",
                        "services": [
                          "internal_dns",
                          "drive"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      },
                      {
                        "action": "deny",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-internet",
                        "path_preference": "untrust",
                        "services": [
                          "internet_any"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      }
                    ],
                    "type": "gateway"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/deviceprofile"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deviceprofile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      },
      "delete": {
        "description": "Delete Org Device Profile",
        "operationId": "deleteOrgDeviceProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/deviceprofiles/{deviceprofile_id}/assign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/deviceprofile_id"
        }
      ],
      "post": {
        "description": "Assign Org Device Profile to Devices",
        "operationId": "assignOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "5c5b350e0001",
                      "5c5b350e0003"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "assignOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/deviceprofiles/{deviceprofile_id}/unassign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/deviceprofile_id"
        }
      ],
      "post": {
        "description": "Unassign Org Device Profile from Devices",
        "operationId": "unassignOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "5c5b350e0001",
                      "5c5b350e0003"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unassignOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Devices",
        "operationId": "listOrgDevices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgDevices"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgDevices",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/gatewaytemplates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Gateway Templates",
        "operationId": "listOrgGatewayTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewaytemplatesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgGatewayTemplates",
        "tags": [
          "Orgs Gateway Templates"
        ]
      },
      "post": {
        "description": "Create Org Gateway Template",
        "operationId": "createOrgGatewayTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "dhcpd_config": {
                      "Corp-Mgmt": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.172.9",
                        "ip_end": "10.3.172.99",
                        "ip_start": "10.3.172.50",
                        "type": "local"
                      },
                      "Corp-lan": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.171.9",
                        "ip_end": "10.3.171.99",
                        "ip_start": "10.3.171.50",
                        "type": "local"
                      }
                    },
                    "dnsOverride": true,
                    "dns_servers": [
                      "10.3.20.201",
                      "10.3.51.222",
                      "1.1.1.1"
                    ],
                    "dns_suffix": [
                      "example.com"
                    ],
                    "extra_routes": {
                      "10.101.0.0/16": {
                        "via": "10.3.100.10"
                      }
                    },
                    "ip_configs": {
                      "Corp-Core": {
                        "ip": "10.3.100.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-Mgmt": {
                        "ip": "10.3.172.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-lan": {
                        "ip": "10.3.171.9",
                        "netmask": "/24",
                        "type": "static"
                      }
                    },
                    "name": "ITParis",
                    "ntpOverride": true,
                    "ntp_servers": [
                      "10.3.51.222"
                    ],
                    "path_preferences": {
                      "core": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Core"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "lab": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-lan"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "mgmt": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Mgmt"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "untrust": {
                        "paths": [
                          {
                            "name": "wan",
                            "type": "wan"
                          }
                        ],
                        "strategy": "ordered"
                      }
                    },
                    "port_config": {
                      "ge-0/0/0": {
                        "aggregated": false,
                        "ip_config": {
                          "gateway": "192.168.1.1",
                          "ip": "192.168.1.9",
                          "netmask": "/24",
                          "type": "static"
                        },
                        "name": "wan",
                        "redundant": false,
                        "traffic_shaping": {
                          "enabled": false
                        },
                        "usage": "wan",
                        "wan_type": "broadband"
                      },
                      "ge-0/0/6-7": {
                        "ae_disable_lacp": false,
                        "ae_idx": "0",
                        "ae_lacp_force_up": true,
                        "aggregated": true,
                        "networks": [
                          "Corp-lan",
                          "Corp-Mgmt",
                          "Corp-Core"
                        ],
                        "usage": "lan"
                      }
                    },
                    "service_policies": [
                      {
                        "action": "allow",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-Internal",
                        "path_preference": "core",
                        "services": [
                          "internal_dns",
                          "drive"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      },
                      {
                        "action": "deny",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-internet",
                        "path_preference": "untrust",
                        "services": [
                          "internet_any"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      }
                    ],
                    "type": "standalone"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/gateway_template"
              }
            }
          },
          "description": "Gateway Template"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Gatewaytemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgGatewayTemplate",
        "tags": [
          "Orgs Gateway Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/gatewaytemplates/{gatewaytemplate_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/gatewaytemplate_id"
        }
      ],
      "get": {
        "description": "Get Organization Gateway Template details",
        "operationId": "getOrgGatewayTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Gatewaytemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgGatewayTemplate",
        "tags": [
          "Orgs Gateway Templates"
        ]
      },
      "put": {
        "description": "Update Organization Gateway Template",
        "operationId": "updateOrgGatewayTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "dhcpd_config": {
                      "Corp-Mgmt": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.172.9",
                        "ip_end": "10.3.172.99",
                        "ip_start": "10.3.172.50",
                        "type": "local"
                      },
                      "Corp-lan": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.171.9",
                        "ip_end": "10.3.171.99",
                        "ip_start": "10.3.171.50",
                        "type": "local"
                      }
                    },
                    "dnsOverride": true,
                    "dns_servers": [
                      "10.3.20.201",
                      "10.3.51.222",
                      "1.1.1.1"
                    ],
                    "dns_suffix": [
                      "example.com"
                    ],
                    "extra_routes": {
                      "10.101.0.0/16": {
                        "via": "10.3.100.10"
                      }
                    },
                    "ip_configs": {
                      "Corp-Core": {
                        "ip": "10.3.100.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-Mgmt": {
                        "ip": "10.3.172.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-lan": {
                        "ip": "10.3.171.9",
                        "netmask": "/24",
                        "type": "static"
                      }
                    },
                    "name": "ITParis",
                    "ntpOverride": true,
                    "ntp_servers": [
                      "10.3.51.222"
                    ],
                    "path_preferences": {
                      "core": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Core"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "lab": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-lan"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "mgmt": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Mgmt"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "untrust": {
                        "paths": [
                          {
                            "name": "wan",
                            "type": "wan"
                          }
                        ],
                        "strategy": "ordered"
                      }
                    },
                    "port_config": {
                      "ge-0/0/0": {
                        "aggregated": false,
                        "ip_config": {
                          "gateway": "192.168.1.1",
                          "ip": "192.168.1.9",
                          "netmask": "/24",
                          "type": "static"
                        },
                        "name": "wan",
                        "redundant": false,
                        "traffic_shaping": {
                          "enabled": false
                        },
                        "usage": "wan",
                        "wan_type": "broadband"
                      },
                      "ge-0/0/6-7": {
                        "ae_disable_lacp": false,
                        "ae_idx": "0",
                        "ae_lacp_force_up": true,
                        "aggregated": true,
                        "networks": [
                          "Corp-lan",
                          "Corp-Mgmt",
                          "Corp-Core"
                        ],
                        "usage": "lan"
                      }
                    },
                    "service_policies": [
                      {
                        "action": "allow",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-Internal",
                        "path_preference": "core",
                        "services": [
                          "internal_dns",
                          "drive"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      },
                      {
                        "action": "deny",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-internet",
                        "path_preference": "untrust",
                        "services": [
                          "internet_any"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      }
                    ],
                    "type": "standalone"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/gateway_template"
              }
            }
          },
          "description": "Gateway Template"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Gatewaytemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgGatewayTemplate",
        "tags": [
          "Orgs Gateway Templates"
        ]
      },
      "delete": {
        "description": "Delete Organization Gateway Template",
        "operationId": "deleteOrgGatewayTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgGatewayTemplate",
        "tags": [
          "Orgs Gateway Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/inventory": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get Org Inventory\n\n### VC (Virtual-Chassis) Management \n\nStarting with the April release, Virtual Chassis devices in Mist will now use\na cloud-assigned virtual MAC address as the device ID, instead of the physical\nMAC address of the FPC0 member.\n\n\n**Retrieving the device ID or Site ID of a Virtual Chassis:**\n\n1. Use this API call with the query parameters `vc=true` and `mac` set to the MAC address of the VC member.\n\n2. In the response, check the `vc_mac` and `mac` fields:\n\n    - If `vc_mac` is empty or not present, the device is not part of a Virtual Chassis.\n    The `device_id` and `site_id` will be available in the device information.\n\n    - If `vc_mac` differs from the `mac` field, the device is part of a Virtual Chassis\n    but is not the device used to generate the Virtual Chassis ID. Use the `vc_mac` value with the [Get Org Inventory](/#operations/getOrgInventory)\n    API call to retrieve the `device_id` and `site_id`.\n\n    - If `vc_mac` matches the `mac` field, the device is the device used to generate the Virtual Chassis ID and he `device_id` and `site_id` will be available\n    in the device information.  \n    This is the case if the device is the Virtual Chassis \"virtual device\" (MAC starting with `020003`) or if the device is the Virtual Chassis FPC0 and the Virtual Chassis is still using the FPC0 MAC address to generate the device ID.\n",
        "operationId": "getOrgInventory",
        "parameters": [
          {
            "description": "Device serial",
            "in": "query",
            "name": "serial",
            "schema": {
              "example": "FXLH2015150025",
              "type": "string"
            }
          },
          {
            "description": "Device model",
            "in": "query",
            "name": "model",
            "schema": {
              "example": "AP43",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type"
            }
          },
          {
            "description": "MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "example": "5c5b350e0001",
              "type": "string"
            }
          },
          {
            "description": "Site id if assigned, null if not assigned",
            "in": "query",
            "name": "site_id",
            "schema": {
              "example": "4ac1dcf4-9d8b-7211-65c4-057819f0862b",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Virtual Chassis MAC Address",
            "in": "query",
            "name": "vc_mac",
            "schema": {
              "example": "5c5b350e0001",
              "type": "string"
            }
          },
          {
            "description": "To display Virtual Chassis members",
            "in": "query",
            "name": "vc",
            "schema": {
              "default": false,
              "example": false,
              "type": "boolean"
            }
          },
          {
            "description": "To display Unassigned devices",
            "in": "query",
            "name": "unassigned",
            "schema": {
              "default": true,
              "example": true,
              "type": "boolean"
            }
          },
          {
            "description": "Filter on inventory last modified time, in epoch",
            "in": "query",
            "name": "modified_after",
            "schema": {
              "example": 1703003296,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgInventory"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgInventory",
        "tags": [
          "Orgs Inventory"
        ]
      },
      "post": {
        "description": "Add Device to Org Inventory with the device claim codes",
        "operationId": "addOrgInventory",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": [
                    "6JG8E-PTFV2-A9Z2N",
                    "DVH4V-SNMSZ-PDXBR"
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/claim_codes"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgInventoryAdd"
          },
          "400": {
            "$ref": "#/components/responses/OrgInventoryAdd"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addOrgInventory",
        "tags": [
          "Orgs Inventory"
        ]
      },
      "put": {
        "description": "Update Org Inventory",
        "operationId": "updateOrgInventoryAssignment",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "assign": {
                  "value": {
                    "disable_auto_config": false,
                    "macs": [
                      "5c5b350e0001"
                    ],
                    "managed": false,
                    "no_reassign": false,
                    "op": "assign",
                    "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b"
                  }
                },
                "delete": {
                  "value": {
                    "macs": [
                      "5c5b350e0001"
                    ],
                    "op": "delete",
                    "serials": [
                      "FXLH2015150025",
                      "FXLH2015150026"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/inventory_update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgInventoryChanges"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgInventoryAssignment",
        "tags": [
          "Orgs Inventory"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/networks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Networks",
        "operationId": "listOrgNetworks",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NetworksArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgNetworks",
        "tags": [
          "Orgs Networks"
        ]
      },
      "post": {
        "description": "Create Organization Network",
        "operationId": "createOrgNetwork",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "disallow_mist_services": false,
                    "gateway": "192.168.70.1",
                    "hosts": {
                      "property1": {
                        "external_ips": "172.16.10.32-172.16.10.35",
                        "ips": "192.168.70.32-192.168.70.35"
                      },
                      "property2": {
                        "external_ips": "172.16.10.32-172.16.10.35",
                        "ips": "192.168.70.32-192.168.70.35"
                      }
                    },
                    "internal_access": {
                      "enabled": true
                    },
                    "internet_access": {
                      "create_simple_service_policy": false,
                      "destination_nat": {
                        "property1": {
                          "internal_ip": "192.168.70.30",
                          "name": "web server",
                          "port": "443"
                        },
                        "property2": {
                          "internal_ip": "192.168.70.30",
                          "name": "web server",
                          "port": "443"
                        }
                      },
                      "enabled": true,
                      "restricted": false,
                      "static_nat": {
                        "property1": {
                          "internal_ip": "192.168.70.3",
                          "name": "printer-1"
                        },
                        "property2": {
                          "internal_ip": "192.168.70.3",
                          "name": "printer-1"
                        }
                      }
                    },
                    "isolation": true,
                    "name": "string",
                    "subnet": "192.168.70.0/24",
                    "tenants": {
                      "property1": {
                        "addresses": [
                          "10.10.10.10."
                        ]
                      },
                      "property2": {
                        "addresses": [
                          "10.10.10.52"
                        ]
                      }
                    },
                    "vlan_id": 10,
                    "vpn_access": {
                      "property1": {
                        "allow_ping": true,
                        "destination_nat": {
                          "property1": {
                            "name": "web server",
                            "port": "443",
                            "to": "192.168.70.5/30"
                          },
                          "property2": {
                            "name": "web server",
                            "port": "443",
                            "to": "192.168.70.5/30"
                          }
                        },
                        "nat_pool": "172.16.0.0/26",
                        "routed": true,
                        "source_nat": {
                          "external_ip": "172.16.0.8/30"
                        },
                        "static_nat": {
                          "property1": {
                            "internal_ip": "192.168.70.3",
                            "name": "pos_station-1"
                          },
                          "property2": {
                            "internal_ip": "192.168.70.3",
                            "name": "pos_station-1"
                          }
[...]
