{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://hub.docker.com/"
    },
    {
      "url": "https://docker.com/{version}",
      "variables": {
        "version": {
          "default": "1.33"
        }
      }
    }
  ],
  "info": {
    "description": "Docker Hub API provides access to Docker Hub repository management, image tags, automated builds, webhooks, and organization/team administration.\n\nAuthentication: Bearer JWT \u2014 obtain via POST https://hub.docker.com/v2/users/login with Docker Hub username and password. Pass as Authorization: Bearer <token>.\n\nSource: https://docs.docker.com/docker-hub/api/latest/",
    "title": "Docker Hub",
    "version": "latest",
    "x-vendor-api-version": "beta",
    "x-apisguru-categories": [
      "developer_tools",
      "developer_tools"
    ],
    "x-logo": {
      "href": "/reference",
      "url": "https://api.apis.guru/v2/cache/logo/https_docs.docker.com_assets_images_logo-docker-main.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/docker/docs/main/docker-hub/api/latest.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "docker.com",
    "x-serviceName": "hub",
    "x-itential-curated": "Trimmed to 16 of 28 upstream operations covering common CRUD for automation: personal access token management, repository/image/tag browsing, organization settings, and user login for token retrieval. See the repo README for the full scope and the full spec."
  },
  "tags": [
    {
      "description": "The following resources are available to interact with the documented API:\n\n- <a href=\"https://github.com/docker/hub-tool#readme\" target=\"_blank\">Docker Hub CLI tool</a> (currently experimental)\n- <a href=\"https://www.postman.com/dockerdev/workspace/docker-hub/collection/17990590-9574e087-2a50-4ecf-88b3-55f12a29d99e\" target=\"_blank\">Postman Collection</a>\n",
      "name": "resources",
      "x-displayName": "Resources"
    },
    {
      "description": "The Docker Hub API is limited on the amount of requests you can perform per minute against it.\n\nIf you haven't hit the limit, each request to the API will return the\n\nfollowing headers in the response.\n\n- `X-RateLimit-Limit` - The limit of requests per minute.\n- `X-RateLimit-Remaining` - The remaining amount of calls within the limit period.\n- `X-RateLimit-Reset` - The unix timestamp of when the remaining resets.\n\nIf you have hit the limit, you will receive a response status of `429` and the `X-Retry-After` \nheader in the response.\n\nThe `X-Retry-After` header is a unix timestamp of when you can call the API again.\n\n*Note: These rate limits are separate from anti-abuse and Docker Hub\n\ndownload, or pull rate limiting. To learn more about Docker Hub pull rate\n\nlimiting, see [Docker Hub download rate limit](https://docs.docker.com/docker-hub/download-rate-limit/).*\n",
      "name": "rate-limiting",
      "x-displayName": "Rate Limiting"
    },
    {
      "description": "Most Docker Hub API endpoints require you to authenticate using your\nDocker credentials before using them.\n\nAdditionally, similar to the Docker Hub UI features, API endpoint responses may vary depending \non your plan (Free, Pro, or Team) and your account's permissions.\n\nTo learn more about the features available in each plan and to upgrade your existing plan, see [Docker Pricing](https://www.docker.com/pricing).\n",
      "name": "authentication",
      "x-displayName": "Authentication"
    },
    {
      "description": "The Personal Access Token endpoints lets you manage personal access tokens. For more \ninformation, see [Access Tokens](https://docs.docker.com/docker-hub/access-tokens/).\n\nYou can use a personal access token instead of a password in the [Docker CLI](https://docs.docker.com/engine/reference/commandline/cli/) \nor in the [Create an authentication token](#operation/PostUsersLogin) route to obtain a bearer \ntoken.\n\n### Scopes\n\nFor each scope grouping (in this case \"repo\"), you only need to define 1 scope as any lower \nscopes are assumed. For example: If you define `repo:write`, the API assumes the scope of both \n`repo:read` *and* `repo:public_read` as well. If you were to define both `repo:write` *and* \n`repo:read`, then `repo:read` is assumed by `repo:write` and ignored.\n\n***Treat your personal access token like your password and keep it secret. You cannot retrieve \nyour token after it is generated.***\n",
      "name": "access-tokens",
      "x-displayName": "Personal Access Tokens"
    },
    {
      "description": "The Advanced Image Management API endpoints allow you to manage Docker\nimages across all repositories.\n\nFor more information, see [Advanced Image Management dashboard](https://docs.docker.com/docker-hub/image-management/).\n",
      "name": "images",
      "x-displayName": "Advanced Image Management"
    },
    {
      "description": "The Audit Logs API endpoints allow you to query audit log events across a\nnamespace.\n\nFor more information, see [Audit Log](https://docs.docker.com/docker-hub/audit-log/)\n",
      "name": "audit-logs",
      "x-displayName": "Audit Logs"
    },
    {
      "description": "The Org Settings API endpoints allow you to manage your organization's\nsettings.\n",
      "name": "org-settings",
      "x-displayName": "Org Settings"
    },
    {
      "description": "The repository endpoints allow you to manage your repository's\nconfiguration like description.\n",
      "name": "repositories",
      "x-displayName": "Repositories"
    },
    {
      "description": "SCIM is a provisioning system that lets you manage users within your identity provider (IdP).\nFor more information, see [System for Cross-domain Identity management](https://docs.docker.com/docker-hub/scim/).\n",
      "name": "scim",
      "x-displayName": "SCIM"
    }
  ],
  "paths": {
    "/v2/access-tokens": {
      "get": {
        "description": "Returns a paginated list of personal access tokens.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "schema": {
              "default": 10,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAccessTokensResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "summary": "Get a list of personal access tokens",
        "tags": [
          "access-tokens"
        ]
      },
      "post": {
        "description": "Creates and returns a personal access token.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createAccessTokensResponse"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "summary": "Create a personal access token",
        "tags": [
          "access-tokens"
        ]
      }
    },
    "/v2/access-tokens/{uuid}": {
      "delete": {
        "description": "Deletes a personal access token permanently. This cannot be undone.\n",
        "responses": {
          "204": {
            "description": "A successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Delete a personal access token",
        "tags": [
          "access-tokens"
        ]
      },
      "get": {
        "description": "Returns a personal access token by UUID.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/accessToken"
                    },
                    {
                      "properties": {
                        "token": {
                          "example": "",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Get a personal access token",
        "tags": [
          "access-tokens"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "uuid",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Updates a personal access token partially. You can either update the\ntoken's label or enable/disable it.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/patchAccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patchAccessTokenResponse"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "summary": "Update a personal access token",
        "tags": [
          "access-tokens"
        ]
      }
    },
    "/v2/namespaces/{namespace}/delete-images": {
      "post": {
        "description": "Deletes one or more images within a namespace. This is currently limited to a single \nrepository.\n\nIf you attempt to delete images that are marked as active or are currently tagged, the deletion does not happen and it displays the warnings.\nTo continue with the deletion, you must ignore these warnings by putting them in the `ignore_warnings` property.\n\nDeleting a currently tagged image deletes the tag from the repository.\n\nYou cannot ignore errors. It is not possible to directly delete children of multi-arch images.\n",
        "operationId": "PostNamespacesDeleteImages",
        "parameters": [
          {
            "description": "Namespace of the repository.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNamespacesDeleteImagesRequest"
              }
            }
          },
          "description": "Delete request.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostNamespacesDeleteImagesResponseSuccess"
                }
              }
            },
            "description": "Deletion completed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostNamespacesDeleteImagesResponseError"
                }
              }
            },
            "description": "Deletion not possible"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - this API is only available to users on Pro or Team plans"
          }
        },
        "summary": "Delete images",
        "tags": [
          "images"
        ]
      }
    },
    "/v2/namespaces/{namespace}/repositories/{repository}/images": {
      "get": {
        "description": "Gets details on the images in a repository.",
        "operationId": "GetNamespacesRepositoriesImages",
        "parameters": [
          {
            "description": "Namespace of the repository.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the repository.",
            "in": "path",
            "name": "repository",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters to only show images of this status.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "active",
                "inactive"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filters to only show images with:\n- `true`: at least 1 current tag.\n- `false`: no current tags.\n",
            "in": "query",
            "name": "currently_tagged",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Orders the results by this property.\n\nPrefixing with `-` sorts by descending order.\n",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "enum": [
                "last_activity",
                "-last_activity",
                "digest",
                "-digest"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sets the time from which an image must have been pushed or pulled to\nbe counted as active.\n\nDefaults to 1 month before the current time.\n",
            "in": "query",
            "name": "active_from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number to get. Defaults to 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of images to get per page. Defaults to 10. Max of 100.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNamespaceRepositoryImagesResponse"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - user does not have read access to the namespace."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - this API is only available to users on Pro or Team plans."
          }
        },
        "summary": "Get details of repository's images",
        "tags": [
          "images"
        ]
      }
    },
    "/v2/namespaces/{namespace}/repositories/{repository}/images-summary": {
      "get": {
        "description": "Gets the number of images in a repository and the number of images\ncounted as active and inactive.\n",
        "operationId": "GetNamespacesRepositoriesImagesSummary",
        "parameters": [
          {
            "description": "Namespace of the repository.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the repository.",
            "in": "path",
            "name": "repository",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sets the time from which an image must have been pushed or pulled to\nbe counted as active.\n\nDefaults to 1 month before the current time.\n",
            "in": "query",
            "name": "active_from",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNamespaceRepositoryImagesSummaryResponse"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - user does not have read access to the namespace"
          }
        },
        "summary": "Get summary of repository's images",
        "tags": [
          "images"
        ]
      }
    },
    "/v2/namespaces/{namespace}/repositories/{repository}/images/{digest}/tags": {
      "get": {
        "description": "Gets current and historical tags for an image.",
        "operationId": "GetNamespacesRepositoriesImagesTags",
        "parameters": [
          {
            "description": "Namespace of the repository.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the repository.",
            "in": "path",
            "name": "repository",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Digest of the image.",
            "in": "path",
            "name": "digest",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number to get. Defaults to 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of images to get per page. Defaults to 10. Max of 100.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNamespaceRepositoryImagesTagsResponse"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized - user does not have read access to the namespace"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden - this API is only available to users on Pro or Team plans"
          }
        },
        "summary": "Get image's tags",
        "tags": [
          "images"
        ]
      }
    },
    "/v2/namespaces/{namespace}/repositories/{repository}/tags": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list_tags"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "List repository tags",
        "tags": [
          "repositories"
        ]
      },
      "head": {
        "responses": {
          "200": {
            "description": "Repository contains tags"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Check repository tags",
        "tags": [
          "repositories"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/namespace"
        },
        {
          "$ref": "#/components/parameters/repository"
        }
      ]
    },
    "/v2/namespaces/{namespace}/repositories/{repository}/tags/{tag}": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/get_tag"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Read repository tag",
        "tags": [
          "repositories"
        ]
      },
      "head": {
        "responses": {
          "200": {
            "description": "Repository tag exists"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Check repository tag",
        "tags": [
          "repositories"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/namespace"
        },
        {
          "$ref": "#/components/parameters/repository"
        },
        {
          "$ref": "#/components/parameters/tag"
        }
      ]
    },
    "/v2/orgs/{name}/settings": {
      "get": {
        "description": "Returns organization settings by name.\n",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orgSettings"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Get organization settings",
        "tags": [
          "org-settings"
        ]
      },
      "parameters": [
        {
          "description": "Name of the organization.",
          "in": "path",
          "name": "name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "description": "Updates an organization's settings. Some settings are only used when the\norganization is on a business plan.\n\n***Only users in the \"owners\" group of the organization can use this endpoint.***\n\nThe following settings are only used on a business plan:\n- `restricted_images`\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "restricted_images": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/restricted_images"
                      },
                      {
                        "required": [
                          "enabled",
                          "allow_official_images",
                          "allow_verified_publishers"
                        ],
                        "type": "object"
                      }
                    ]
                  }
                },
                "required": [
                  "restricted_images"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orgSettings"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "summary": "Update organization settings",
        "tags": [
          "org-settings"
        ]
      }
    },
    "/v2/users/login": {
      "post": {
        "description": "Creates and returns a bearer token in JWT format that you can use to\nauthenticate with Docker Hub APIs.\n\nThe returned token is used in the HTTP Authorization header like `Authorization: Bearer {TOKEN}`.\n\nMost Docker Hub APIs require this token either to consume or to get detailed information. For example, to list images in a private repository.\n",
        "operationId": "PostUsersLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsersLoginRequest"
              }
            }
          },
          "description": "Login details.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUsersLoginSuccessResponse"
                }
              }
            },
            "description": "Authentication successful"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUsersLoginErrorResponse"
                }
              }
            },
            "description": "Authentication failed or second factor required"
          }
        },
        "summary": "Create an authentication token",
        "tags": [
          "authentication"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "detail": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorInfo": {
        "description": "Context information for an error used for diagnostics.",
        "properties": {
          "api_call_docker_id": {
            "description": "ID of docker user.",
            "type": "string"
          },
          "api_call_name": {
            "description": "Name of the API operation called.",
            "type": "string"
          },
          "api_call_start": {
            "description": "Date/time of call start.",
            "type": "string"
          },
          "api_call_txnid": {
            "description": "Unique ID for this call.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Represents an error.",
        "properties": {
          "errinfo": {
            "$ref": "#/components/schemas/ErrorInfo"
          },
          "message": {
            "description": "The error message.",
            "type": "string"
          },
          "txnid": {
            "description": "Unique ID for this call.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GetNamespaceRepositoryImagesResponse": {
        "description": "Paginated list of images in a repository.",
        "properties": {
          "count": {
            "description": "Total count of images in the repository.",
            "example": 100,
            "type": "integer"
          },
          "next": {
            "description": "Link to the next page with the same query parameters if there are more images.",
            "example": "https://hub.docker.com/v2/namespaces/mynamespace/repositories/myrepo/images?&page=4&page_size=20",
            "nullable": true,
            "type": "string"
          },
          "previous": {
            "description": "Link to the previous page with the same query parameters if not on first page.",
            "example": "https://hub.docker.com/v2/namespaces/mynamespace/repositories/myrepo/images?&page=2&page_size=20",
            "nullable": true,
            "type": "string"
          },
          "results": {
            "description": "Image details.",
            "items": {
              "properties": {
                "digest": {
                  "description": "The image's digest.",
                  "example": "sha256:1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqr",
                  "type": "string"
                },
                "last_pulled": {
                  "description": "Time when this image was last pulled. Note this is updated at most once per hour.",
                  "example": "2021-02-24T23:16:10.200008Z",
                  "nullable": true,
                  "type": "string"
                },
                "last_pushed": {
                  "description": "Time when this image was last pushed.",
                  "example": "2021-02-24T22:05:27.526308Z",
                  "nullable": true,
                  "type": "string"
                },
                "namespace": {
                  "description": "The repository namespace.",
                  "example": "mynamespace",
                  "type": "string"
                },
                "repository": {
                  "description": "The repository name.",
                  "example": "myrepo",
                  "type": "string"
                },
                "status": {
                  "description": "The status of the image based on its last activity against the `active_from` time.",
                  "enum": [
                    "active",
                    "inactive"
                  ],
                  "example": "active",
                  "type": "string"
                },
                "tags": {
                  "description": "The current and historical tags for this image.",
                  "items": {
                    "properties": {
                      "is_current": {
                        "description": "`true` if the tag currently points to this image.\n\n`false` if it has been overwritten to point at a different image.\n",
                        "example": true,
                        "type": "boolean"
                      },
                      "tag": {
                        "description": "The tag.",
                        "example": "latest",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GetNamespaceRepositoryImagesSummaryResponse": {
        "description": "Summary information for images in a repository.",
        "properties": {
          "active_from": {
            "description": "Time from which an image must have been pushed or pulled to be counted as active.",
            "example": "2021-01-25T14:25:37.076343059Z",
            "type": "string"
          },
          "statistics": {
            "properties": {
              "active": {
                "description": "Number of images counted as active in this repository.",
                "example": 2,
                "type": "integer"
              },
              "inactive": {
                "description": "Number of images counted as inactive in this repository.",
                "example": 1,
                "type": "integer"
              },
              "total": {
                "description": "Number of images in this repository.",
                "example": 3,
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "GetNamespaceRepositoryImagesTagsResponse": {
        "description": "Paginated list of tags for this repository.",
        "properties": {
          "count": {
            "description": "Total count of tags for this image.",
            "example": 100,
            "type": "integer"
          },
          "next": {
            "description": "Link to the next page if there are more tags.",
            "example": "https://hub.docker.com/v2/namespaces/mynamespace/repositories/myrepo/images/sha256:mydigest/tags?&page=4&page_size=20",
            "nullable": true,
            "type": "string"
          },
          "previous": {
            "description": "Link to the previous page if not on first page.",
            "example": "https://hub.docker.com/v2/namespaces/mynamespace/repositories/myrepo/images/sha256:mydigest/tags?&page=2&page_size=20",
            "nullable": true,
            "type": "string"
          },
          "results": {
            "description": "The current and historical tags for this image.",
            "items": {
              "properties": {
                "is_current": {
                  "description": "`true` if the tag currently points to this image.\n\n`false` if it has been overwritten to point at a different image.\n",
                  "example": true,
                  "type": "boolean"
                },
                "tag": {
                  "description": "The tag.",
                  "example": "latest",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PostNamespacesDeleteImagesRequest": {
        "description": "Delete images request.",
        "properties": {
          "active_from": {
            "description": "Sets the time from which an image must have been pushed or pulled to\nbe counted as active.\n\nDefaults to 1 month before the current time.\n",
            "example": "2020-12-01T12:00:00Z",
            "type": "string"
          },
          "dry_run": {
            "description": "If `true` then will check and return errors and unignored warnings for the deletion request but will not delete any images.",
            "example": false,
            "type": "boolean"
          },
          "ignore_warnings": {
            "description": "Warnings to ignore. If a warning is not ignored then no deletions will happen and the \nwarning is returned in the response.\n\nThese warnings include:\n\n- is_active: warning when attempting to delete an image that is marked as active.\n- current_tag: warning when attempting to delete an image that has one or more current \ntags in the repository.\n\nWarnings can be copied from the response to the request.\n",
            "items": {
              "properties": {
                "digest": {
                  "description": "Digest of the image to ignore the warning for.",
                  "example": "sha256:1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqr",
                  "type": "string"
                },
                "repository": {
                  "description": "Name of the repository of the image to ignore the warning for.",
                  "example": "myrepo",
                  "type": "string"
                },
                "tags": {
                  "description": "Current tags to ignore.",
                  "items": {
                    "example": "latest",
                    "type": "string"
                  },
                  "type": "array"
                },
                "warning": {
                  "description": "Warning to ignore.",
                  "enum": [
                    "is_active",
                    "current_tag"
                  ],
                  "example": "current_tag",
                  "type": "string"
                }
              },
              "required": [
                "repository",
                "digest",
                "warning"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "manifests": {
            "description": "Image manifests to delete.",
            "items": {
              "properties": {
                "digest": {
                  "description": "Digest of the image to delete.",
                  "example": "sha256:1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqr",
                  "type": "string"
                },
                "repository": {
                  "description": "Name of the repository to delete the image from.",
                  "example": "myrepo",
                  "type": "string"
                }
              },
              "required": [
                "repository",
                "digest"
              ],
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "PostNamespacesDeleteImagesResponseError": {
        "description": "Deletion not possible.",
        "properties": {
          "errinfo": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ErrorInfo"
              },
              {
                "properties": {
                  "details": {
                    "properties": {
                      "errors": {
                        "description": "Errors from validating delete request. These cannot be ignored.",
                        "items": {
                          "properties": {
                            "digest": {
                              "description": "Digest of the image that caused the error.",
                              "example": "sha256:1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqr",
                              "type": "string"
                            },
                            "error": {
                              "description": "Error type.",
                              "enum": [
                                "not_found",
                                "unauthorized",
                                "child_manifest"
                              ],
                              "example": "not_found",
                              "type": "string"
                            },
                            "repository": {
                              "description": "Name of the repository of the image that caused the error.",
                              "example": "myrepo",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "warnings": {
                        "description": "Warnings that can be ignored.\n\nThese warnings include:\n\n- is_active: warning when attempting to delete an image that is marked as \nactive.\n- current_tag: warning when attempting to delete an image that has one or \nmore current tags in the repository.\n\nWarnings can be copied from the response to the request.\n",
                        "items": {
                          "properties": {
                            "digest": {
                              "description": "Digest of the image that caused the warning.",
                              "example": "sha256:1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqr",
                              "type": "string"
                            },
                            "repository": {
                              "description": "Name of the repository of the image that caused the warning.",
                              "example": "myrepo",
                              "type": "string"
                            },
                            "tags": {
                              "description": "Current tags if warning is `current_tag`.",
                              "items": {
                                "example": "latest",
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "warning": {
                              "description": "Warning type.",
                              "enum": [
                                "is_active",
                                "current_tag"
                              ],
                              "example": "current_tag",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "type": {
                    "description": "Type of error.",
                    "example": "validation",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            ]
          },
          "message": {
            "description": "The error message.",
            "type": "string"
          },
          "txnid": {
            "description": "Unique ID for this call.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PostNamespacesDeleteImagesResponseSuccess": {
        "description": "Successful delete images response.",
        "properties": {
          "dry_run": {
            "description": "Whether the request was a dry run or not.",
            "example": false,
            "type": "boolean"
          },
          "metrics": {
            "properties": {
              "manifest_deletes": {
                "description": "Number of manifests deleted.",
                "example": 3,
                "type": "integer"
              },
              "manifest_errors": {
                "description": "Number of manifests that failed to delete.",
                "example": 0,
                "type": "integer"
              },
              "tag_deletes": {
                "description": "Number of tags deleted.",
                "example": 1,
                "type": "integer"
              },
              "tag_errors": {
                "description": "Number of tags that failed to delete.",
                "example": 0,
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "PostUsersLoginErrorResponse": {
        "description": "failed user login response or second factor required",
        "properties": {
          "detail": {
            "description": "Description of the error.",
            "example": "Incorrect authentication credentials",
            "nullable": false,
            "type": "string"
          },
          "login_2fa_token": {
            "description": "Short time lived token to be used on `/v2/users/2fa-login` to complete the authentication. This field is present only if 2FA is enabled.",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
            "nullable": true,
            "type": "string"
          }
        },
        "required": [
          "detail"
        ],
        "type": "object"
      },
      "PostUsersLoginSuccessResponse": {
        "description": "successful user login response",
        "properties": {
          "token": {
            "description": "Created authentication token.\n\nThis token can be used in the HTTP Authorization header as a JWT to authenticate with the Docker Hub APIs.\n",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
            "nullable": false,
            "type": "string"
          }
        },
        "type": "object"
      },
      "UsersLoginRequest": {
        "description": "User login details",
        "properties": {
          "password": {
            "description": "The password or personal access token (PAT) of the Docker Hub account to authenticate with.",
            "example": "hunter2",
            "type": "string"
          },
          "username": {
            "description": "The username of the Docker Hub account to authenticate with.",
            "example": "myusername",
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ],
        "type": "object"
      },
      "ValueError": {
        "description": "Used to error if input validation fails.",
        "properties": {
          "fields": {
            "items": {
              "type": "string"
            },
            "type": "object"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "accessToken": {
        "properties": {
          "client_id": {
            "example": "HUB",
            "type": "string"
          },
          "created_at": {
            "example": "2021-07-20T12:00:00.000000Z",
            "type": "string"
          },
          "creator_ip": {
            "example": "127.0.0.1",
            "type": "string"
          },
          "creator_ua": {
            "example": "some user agent",
            "type": "string"
          },
          "generated_by": {
            "example": "manual",
            "type": "string"
          },
          "is_active": {
            "example": true,
            "type": "boolean"
          },
          "last_used": {
            "example": null,
            "nullable": true,
            "type": "string"
          },
          "scopes": {
            "example": [
              "repo:read"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "token": {
            "example": "a7a5ef25-8889-43a0-8cc7-f2a94268e861",
            "type": "string"
          },
          "token_label": {
            "example": "My read only token",
            "type": "string"
          },
          "uuid": {
            "example": "b30bbf97-506c-4ecd-aabc-842f3cb484fb",
            "type": "string"
          }
        },
        "type": "object"
      },
      "createAccessTokenRequest": {
        "properties": {
          "scopes": {
            "description": "Valid scopes: \"repo:admin\", \"repo:write\", \"repo:read\", \"repo:public_read\"\n",
            "example": [
              "repo:read"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "token_label": {
            "description": "Friendly name for you to identify the token.",
            "example": "My read only token",
            "type": "string"
          }
        },
        "required": [
          "token_label",
          "scopes"
        ],
        "type": "object"
      },
      "createAccessTokensResponse": {
        "$ref": "#/components/schemas/accessToken"
      },
      "getAccessTokensResponse": {
        "properties": {
          "active_count": {
            "example": 1,
            "type": "number"
          },
          "count": {
            "example": 1,
            "type": "number"
          },
          "next": {
            "example": null,
            "type": "string"
          },
          "previous": {
            "example": null,
            "type": "string"
          },
          "results": {
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/accessToken"
                },
                {
                  "properties": {
                    "token": {
                      "example": "",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              ]
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "image": {
        "properties": {
          "architecture": {
            "description": "CPU architecture",
            "type": "string"
          },
          "digest": {
            "description": "image digest",
            "nullable": true,
            "type": "string"
          },
          "features": {
            "description": "CPU features",
            "type": "string"
          },
          "last_pulled": {
            "description": "datetime of last pull",
            "example": "2021-01-05T21:06:53.506400Z",
            "nullable": true,
            "type": "string"
          },
          "last_pushed": {
            "description": "datetime of last push",
            "example": "2021-01-05T21:06:53.506400Z",
            "nullable": true,
            "type": "string"
          },
          "layers": {
            "items": {
              "$ref": "#/components/schemas/layer"
            },
            "type": "array"
          },
          "os": {
            "description": "operating system",
            "type": "string"
          },
          "os_features": {
            "description": "OS features",
            "type": "string"
          },
          "os_version": {
            "description": "OS version",
            "type": "string"
          },
          "size": {
            "description": "size of the image",
            "type": "integer"
          },
          "status": {
            "description": "Status of the image",
            "enum": [
              "active",
              "inactive"
            ],
            "type": "string"
          },
          "variant": {
            "description": "CPU variant",
            "type": "string"
          }
        },
        "type": "object"
      },
      "layer": {
        "properties": {
          "digest": {
            "description": "image layer digest",
            "nullable": true,
            "type": "string"
          },
          "instruction": {
            "description": "Dockerfile instruction",
            "type": "string"
          },
          "size": {
            "description": "size of the layer",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "orgSettings": {
        "properties": {
          "restricted_images": {
            "$ref": "#/components/schemas/restricted_images"
          }
        },
        "type": "object"
      },
      "page": {
        "properties": {
          "count": {
            "description": "total number of results available across all pages",
            "type": "integer"
          },
          "next": {
            "description": "link to next page of results if any",
            "nullable": true,
            "type": "string"
          },
          "previous": {
            "description": "link to previous page of results  if any",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "paginated_tags": {
        "allOf": [
          {
            "$ref": "#/components/schemas/page"
          },
          {
            "properties": {
              "results": {
                "items": {
                  "$ref": "#/components/schemas/tag"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        ]
      },
      "patchAccessTokenRequest": {
        "properties": {
          "is_active": {
            "example": false,
            "type": "boolean"
          },
          "token_label": {
            "example": "My read only token",
            "type": "string"
          }
        },
        "type": "object"
      },
      "patchAccessTokenResponse": {
        "$ref": "#/components/schemas/accessToken"
      },
      "restricted_images": {
        "properties": {
          "allow_official_images": {
            "description": "Allow usage of official images if \"enabled\" is `true`.",
            "example": true,
            "type": "boolean"
          },
          "allow_verified_publishers": {
            "description": "Allow usage of verified publisher images if \"enabled\" is `true`.",
            "example": true,
            "type": "boolean"
          },
          "enabled": {
            "description": "Whether or not to restrict image usage for users in the organization.",
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "tag": {
        "properties": {
          "creator": {
            "description": "ID of the user that pushed the tag",
            "type": "integer"
          },
          "full_size": {
            "description": "compressed size (sum of all layers) of the tagged image",
            "type": "integer"
          },
          "id": {
            "description": "tag ID",
            "type": "integer"
          },
          "images": {
            "$ref": "#/components/schemas/image",
            "type": "object"
          },
          "last_updated": {
            "description": "datetime of last update",
            "example": "2021-01-05T21:06:53.506400Z",
            "nullable": true,
            "type": "string"
          },
          "last_updater": {
            "description": "ID of the last user that updated the tag",
            "type": "integer"
          },
          "last_updater_username": {
            "description": "Hub username of the user that updated the tag",
            "type": "string"
          },
          "name": {
            "description": "name of the tag",
            "type": "string"
          },
          "repository": {
            "description": "repository ID",
            "type": "integer"
          },
          "status": {
            "description": "whether a tag has been pushed to or pulled in the past month",
            "enum": [
              "active",
              "inactive"
            ],
            "type": "string"
          },
          "tag_last_pulled": {
            "description": "datetime of last pull",
            "example": "2021-01-05T21:06:53.506400Z",
            "nullable": true,
            "type": "string"
          },
          "tag_last_pushed": {
            "description": "datetime of last push",
            "example": "2021-01-05T21:06:53.506400Z",
            "nullable": true,
            "type": "string"
          },
          "v2": {
            "description": "repository API version",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "parameters": {
      "namespace": {
        "in": "path",
        "name": "namespace",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "page": {
        "description": "Page number to get. Defaults to 1.",
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "page_size": {
        "description": "Number of items to get per page. Defaults to 10. Max of 100.",
        "in": "query",
        "name": "page_size",
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "repository": {
        "in": "path",
        "name": "repository",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "tag": {
        "in": "path",
        "name": "tag",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValueError"
            }
          }
        },
        "description": "Bad Request"
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Forbidden"
      },
      "NotFound": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Not Found"
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Unauthorized"
      },
      "get_tag": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/tag"
            }
          }
        },
        "description": "repository tag"
      },
      "list_tags": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/paginated_tags"
            }
          }
        },
        "description": "list repository tags"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Docker Hub JWT obtained via POST https://hub.docker.com/v2/users/login with username/password."
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "General",
      "tags": [
        "resources",
        "rate-limiting"
      ]
    },
    {
      "name": "API",
      "tags": [
        "authentication",
        "access-tokens",
        "images",
        "audit-logs",
        "org-settings",
        "repositories",
        "scim"
      ]
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
