{
  "openapi": "3.0.3",
  "info": {
    "title": "Cisco Support",
    "description": "Cisco Support APIs providing programmatic access to bug, case, end-of-life, product information, serial number, software suggestion, software download, and RMA data from the Cisco Support portal.",
    "version": "latest",
    "x-vendor-api-version": "1.0",
    "x-itential-curated": "Reviewed against the repo's common-CRUD-for-automation policy: all 40 upstream operations (Bug, Case, EoX, Product Information, Serial Number to Information, Software Suggestion, Automated Software Distribution, Service Order Return) are already in scope, so the full spec is carried through as -latest. See the repo README for the operation breakdown and the full spec."
  },
  "servers": [
    {
      "url": "https://apix.cisco.com",
      "description": "Cisco Support API server"
    }
  ],
  "security": [
    {
      "oauth2ClientCredentials": []
    }
  ],
  "paths": {
    "/bug/v2.0/bugs/bug_ids/{bug_ids}": {
      "get": {
        "operationId": "getBugDetailsByBugIds",
        "summary": "Get bug details by bug ID(s)",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "bug_ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated bug identifiers (max 5), e.g. CSCsr80503."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/bug/v2.0/bugs/keyword/{keyword}": {
      "get": {
        "operationId": "searchBugsByKeyword",
        "summary": "Search bugs by keyword",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Keyword to search for in bug titles/descriptions."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug status (O=open, F=fixed, T=terminated)."
          },
          {
            "name": "modified_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by last-modified date range keyword."
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug severity (1-6)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order for results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/bug/v2.0/bugs/products/product_id/{base_pid}": {
      "get": {
        "operationId": "getBugsByBaseProductId",
        "summary": "Get bugs by base product ID",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "base_pid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base product identifier (PID)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug status."
          },
          {
            "name": "modified_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by last-modified date range keyword."
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug severity (1-6)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order for results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/bug/v2.0/bugs/products/product_id/{base_pid}/software_releases/{software_releases}": {
      "get": {
        "operationId": "getBugsByBaseProductIdAndReleases",
        "summary": "Get bugs by base product ID and software releases",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "base_pid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Base product identifier (PID)."
          },
          {
            "name": "software_releases",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated software releases (max 75)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug status."
          },
          {
            "name": "modified_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by last-modified date range keyword."
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug severity (1-6)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order for results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/bug/v2.0/bugs/product_series/{product_series}/affected_releases/{affected_releases}": {
      "get": {
        "operationId": "searchBugsByProductSeriesAffectedReleases",
        "summary": "Search bugs by product series and affected software release",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "product_series",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product series name."
          },
          {
            "name": "affected_releases",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated affected software releases (max 75)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug status."
          },
          {
            "name": "modified_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by last-modified date range keyword."
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug severity (1-6)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order for results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/bug/v2.0/bugs/product_series/{product_series}/fixed_in_releases/{fixed_in_releases}": {
      "get": {
        "operationId": "searchBugsByProductSeriesFixedInReleases",
        "summary": "Search bugs by product series and fixed-in software release",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "product_series",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product series name."
          },
          {
            "name": "fixed_in_releases",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fixed-in software releases (max 75)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug status."
          },
          {
            "name": "modified_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by last-modified date range keyword."
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug severity (1-6)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order for results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/bug/v2.0/bugs/product_name/{product_name}/affected_releases/{affected_releases}": {
      "get": {
        "operationId": "searchBugsByProductNameAffectedReleases",
        "summary": "Search bugs by product name and affected software release",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "product_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product name."
          },
          {
            "name": "affected_releases",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated affected software releases (max 75)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug status."
          },
          {
            "name": "modified_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by last-modified date range keyword."
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug severity (1-6)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order for results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/bug/v2.0/bugs/product_name/{product_name}/fixed_in_releases/{fixed_in_releases}": {
      "get": {
        "operationId": "searchBugsByProductNameFixedInReleases",
        "summary": "Search bugs by product name and fixed-in software release",
        "tags": [
          "Bug"
        ],
        "parameters": [
          {
            "name": "product_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product name."
          },
          {
            "name": "fixed_in_releases",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fixed-in software releases (max 75)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug status."
          },
          {
            "name": "modified_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by last-modified date range keyword."
          },
          {
            "name": "severity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by bug severity (1-6)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order for results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/case/v3/cases/case_ids/{case_ids}": {
      "get": {
        "operationId": "getCaseSummaryByCaseIds",
        "summary": "Get case summary by case ID(s)",
        "tags": [
          "Case"
        ],
        "parameters": [
          {
            "name": "case_ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated case identifiers (max 100 chars)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "UPDATED_DATE (default) or STATUS."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/case/v3/cases/details/case_id/{case_id}": {
      "get": {
        "operationId": "getCaseDetails",
        "summary": "Get full details for a single case",
        "tags": [
          "Case"
        ],
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Case identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/case/v3/cases/contracts/contract_ids/{contract_ids}": {
      "get": {
        "operationId": "getCasesByContractIds",
        "summary": "Get cases by contract ID(s)",
        "tags": [
          "Case"
        ],
        "parameters": [
          {
            "name": "contract_ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated contract identifiers (max 120 chars)."
          },
          {
            "name": "date_created_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start of case-created date range (UTC)."
          },
          {
            "name": "date_created_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End of case-created date range (UTC)."
          },
          {
            "name": "status_flag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "O (open) or C (closed)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "UPDATED_DATE (default) or STATUS."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/case/v3/cases/users/user_ids/{user_ids}": {
      "get": {
        "operationId": "getCasesByUserIds",
        "summary": "Get cases by user ID(s)",
        "tags": [
          "Case"
        ],
        "parameters": [
          {
            "name": "user_ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated user identifiers (max 100 chars)."
          },
          {
            "name": "date_created_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start of case-created date range (UTC)."
          },
          {
            "name": "date_created_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End of case-created date range (UTC)."
          },
          {
            "name": "status_flag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "O (open) or C (closed)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "UPDATED_DATE (default) or STATUS."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/supporttools/eox/rest/5/EOXByDates/{pageIndex}/{startDate}/{endDate}": {
      "get": {
        "operationId": "getEoxByDates",
        "summary": "Get EoX records by announce/effective date range",
        "tags": [
          "EoX"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Page number of results."
          },
          {
            "name": "startDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Start date (YYYY-MM-DD)."
          },
          {
            "name": "endDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "End date (YYYY-MM-DD)."
          },
          {
            "name": "eoxAttrib",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by a specific EoX date attribute (e.g. EO_EXT_ANNOUNCE_DATE, EO_SALES_DATE)."
          },
          {
            "name": "responseencoding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Response encoding: json or xml."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/supporttools/eox/rest/5/EOXByProductID/{pageIndex}/{productID}": {
      "get": {
        "operationId": "getEoxByProductId",
        "summary": "Get EoX records by product ID(s)",
        "tags": [
          "EoX"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Page number of results."
          },
          {
            "name": "productID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated product IDs (up to 20); supports wildcards with 3+ characters."
          },
          {
            "name": "responseencoding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Response encoding: json or xml."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/supporttools/eox/rest/5/EOXBySerialNumber/{pageIndex}/{serialNumber}": {
      "get": {
        "operationId": "getEoxBySerialNumber",
        "summary": "Get EoX records by serial number(s)",
        "tags": [
          "EoX"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Page number of results."
          },
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated serial numbers (up to 20)."
          },
          {
            "name": "responseencoding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Response encoding: json or xml."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/supporttools/eox/rest/5/EOXBySWReleaseString/{pageIndex}/{input1}": {
      "get": {
        "operationId": "getEoxBySoftwareReleaseString",
        "summary": "Get EoX records by software release string(s)",
        "tags": [
          "EoX"
        ],
        "parameters": [
          {
            "name": "pageIndex",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Page number of results."
          },
          {
            "name": "input1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Software release plus optional OS type, e.g. '12.4(15),IOS'. Up to 20 inputN query params may be added for additional releases."
          },
          {
            "name": "responseencoding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Response encoding: json or xml."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/product/v1/information/serial_numbers/{serial_numbers}": {
      "get": {
        "operationId": "getProductInfoBySerialNumbers",
        "summary": "Get product information by serial number(s)",
        "tags": [
          "Product Information"
        ],
        "parameters": [
          {
            "name": "serial_numbers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated serial numbers (max 5)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/product/v1/information/product_ids/{product_ids}": {
      "get": {
        "operationId": "getProductInfoByProductIds",
        "summary": "Get product information by product ID(s)",
        "tags": [
          "Product Information"
        ],
        "parameters": [
          {
            "name": "product_ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated product identifiers (max 5)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/product/v1/information/product_ids_mdf/{product_ids}": {
      "get": {
        "operationId": "getProductMdfInfoByProductIds",
        "summary": "Get product MDF information by product ID(s)",
        "tags": [
          "Product Information"
        ],
        "parameters": [
          {
            "name": "product_ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated product identifiers (max 5)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/sn2info/v2/coverage/status/serial_numbers/{sr_no}": {
      "get": {
        "operationId": "getCoverageStatusBySerialNumbers",
        "summary": "Get coverage status by serial number(s)",
        "tags": [
          "Serial Number To Information"
        ],
        "parameters": [
          {
            "name": "sr_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated serial numbers (max 75)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/sn2info/v2/coverage/summary/serial_numbers/{sr_no}": {
      "get": {
        "operationId": "getCoverageSummaryBySerialNumbers",
        "summary": "Get coverage summary by serial number(s)",
        "tags": [
          "Serial Number To Information"
        ],
        "parameters": [
          {
            "name": "sr_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated serial numbers (max 75)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/sn2info/v2/coverage/summary/instance_numbers/{instance_no}": {
      "get": {
        "operationId": "getCoverageSummaryByInstanceNumbers",
        "summary": "Get coverage summary by instance number(s)",
        "tags": [
          "Serial Number To Information"
        ],
        "parameters": [
          {
            "name": "instance_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated instance numbers (max 75)."
          },
          {
            "name": "page_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/sn2info/v2/identifiers/orderable/serial_numbers/{sr_no}": {
      "get": {
        "operationId": "getOrderableProductIdsBySerialNumbers",
        "summary": "Get orderable product identifier(s) by serial number(s)",
        "tags": [
          "Serial Number To Information"
        ],
        "parameters": [
          {
            "name": "sr_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated serial numbers (max 75)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/sn2info/v2/coverage/owner_status/serial_numbers/{sr_no}": {
      "get": {
        "operationId": "getOwnerCoverageStatusBySerialNumbers",
        "summary": "Get owner coverage status by serial number(s)",
        "tags": [
          "Serial Number To Information"
        ],
        "parameters": [
          {
            "name": "sr_no",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated serial numbers (max 75)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/software/suggestion/v2/suggestions/software/productIds/{productIds}": {
      "get": {
        "operationId": "getSuggestedSoftwareByProductIds",
        "summary": "Get suggested releases and images by product ID(s)",
        "tags": [
          "Software Suggestion"
        ],
        "parameters": [
          {
            "name": "productIds",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated product identifiers (max 10)."
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/software/suggestion/v2/suggestions/releases/productIds/{productIds}": {
      "get": {
        "operationId": "getSuggestedReleasesByProductIds",
        "summary": "Get suggested releases by product ID(s), without images",
        "tags": [
          "Software Suggestion"
        ],
        "parameters": [
          {
            "name": "productIds",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated product identifiers (max 10)."
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/software/suggestion/v2/suggestions/compatible/productId/{basePID}": {
      "get": {
        "operationId": "getCompatibleSuggestedSoftwareByProductId",
        "summary": "Get compatible and suggested software releases by product ID",
        "tags": [
          "Software Suggestion"
        ],
        "parameters": [
          {
            "name": "basePID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Single base product identifier."
          },
          {
            "name": "currentImage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Current software image name."
          },
          {
            "name": "currentRelease",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Current software release."
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "supportedFeatures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated required features (max 10)."
          },
          {
            "name": "supportedHardware",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required hardware compatibility."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/software/suggestion/v2/suggestions/software/mdfIds/{mdfIds}": {
      "get": {
        "operationId": "getSuggestedSoftwareByMdfIds",
        "summary": "Get suggested releases and images by MDF ID(s)",
        "tags": [
          "Software Suggestion"
        ],
        "parameters": [
          {
            "name": "mdfIds",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated MDF identifiers (max 10)."
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/software/suggestion/v2/suggestions/releases/mdfIds/{mdfIds}": {
      "get": {
        "operationId": "getSuggestedReleasesByMdfIds",
        "summary": "Get suggested releases by MDF ID(s), without images",
        "tags": [
          "Software Suggestion"
        ],
        "parameters": [
          {
            "name": "mdfIds",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated MDF identifiers (max 10)."
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/software/suggestion/v2/suggestions/compatible/mdfId/{mdfId}": {
      "get": {
        "operationId": "getCompatibleSuggestedSoftwareByMdfId",
        "summary": "Get compatible and suggested software releases by MDF ID",
        "tags": [
          "Software Suggestion"
        ],
        "parameters": [
          {
            "name": "mdfId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Single MDF identifier."
          },
          {
            "name": "currentImage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Current software image name."
          },
          {
            "name": "currentRelease",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Current software release."
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number of results."
          },
          {
            "name": "supportedFeatures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated required features (max 10)."
          },
          {
            "name": "supportedHardware",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required hardware compatibility."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/software/v4.0/metadata/pidrelease": {
      "post": {
        "operationId": "getSoftwareMetadataByPidRelease",
        "summary": "Get software release metadata by PID, current release, and target release",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "PID": {
                    "type": "string",
                    "description": "Product identifier."
                  },
                  "currentReleaseVersion": {
                    "type": "string",
                    "description": "Currently installed software release."
                  },
                  "outputReleaseVersion": {
                    "type": "string",
                    "description": "Target software release."
                  },
                  "pageIndex": {
                    "type": "integer",
                    "description": "Page number of results."
                  },
                  "perPage": {
                    "type": "integer",
                    "description": "Results per page."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/software/v4.0/metadata/pidimage": {
      "post": {
        "operationId": "getSoftwareMetadataByPidImage",
        "summary": "Get software image metadata by PID and image name(s)",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "PID": {
                    "type": "string",
                    "description": "Product identifier."
                  },
                  "imageNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Image names (1-5)."
                  },
                  "pageIndex": {
                    "type": "integer",
                    "description": "Page number of results."
                  },
                  "perPage": {
                    "type": "integer",
                    "description": "Results per page."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/software/v4.0/metadata/images": {
      "post": {
        "operationId": "getSoftwareStatusByImageNames",
        "summary": "Get software image status by image name(s)",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Image names (1-5)."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/software/v4.0/compliance/k9": {
      "get": {
        "operationId": "getK9ComplianceForm",
        "summary": "Get the K9 (strong encryption) compliance form",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "post": {
        "operationId": "submitK9ComplianceForm",
        "summary": "Submit the K9 (strong encryption) compliance form",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "busFunction": {
                    "type": "string",
                    "description": "Business function/use of the software."
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Confirmation of compliance statement."
                  },
                  "status": {
                    "type": "string",
                    "description": "Accepted or Declined."
                  },
                  "govMilCountries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Applicable government/military countries, if any."
                  },
                  "fileNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Software file names the agreement applies to."
                  },
                  "declineComments": {
                    "type": "string",
                    "description": "Reason for declining, required when status is Declined."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/software/v4.0/compliance/eula": {
      "get": {
        "operationId": "getEulaComplianceForm",
        "summary": "Get the End User License Agreement (EULA) form",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "post": {
        "operationId": "submitEulaComplianceForm",
        "summary": "Submit the End User License Agreement (EULA) form",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Accepted or Declined."
                  },
                  "declineComments": {
                    "type": "string",
                    "description": "Reason for declining, required when status is Declined."
                  },
                  "fileNames": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Software file names the agreement applies to."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/software/v4.0/download/pidimage": {
      "post": {
        "operationId": "getSoftwareDownloadUrls",
        "summary": "Get sessionized download URL(s) for software image(s)",
        "tags": [
          "Automated Software Distribution"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mdfId": {
                    "type": "string",
                    "description": "MDF identifier from the metadata response."
                  },
                  "pid": {
                    "type": "string",
                    "description": "Product identifier."
                  },
                  "imageGuids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Image GUIDs (1-5) from the metadata response."
                  },
                  "metadataTransId": {
                    "type": "string",
                    "description": "Metadata transaction ID from the metadata response; expires 60 minutes after issue."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/return/v1.0/returns/rma_numbers/{rma_numbers}": {
      "get": {
        "operationId": "getReturnByRmaNumber",
        "summary": "Get RMA details by RMA number",
        "tags": [
          "Service Order Return"
        ],
        "parameters": [
          {
            "name": "rma_numbers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "RMA identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/return/v1.0/returns/users/user_ids/{user_ids}": {
      "get": {
        "operationId": "getReturnsByUserId",
        "summary": "Get RMAs by user ID",
        "tags": [
          "Service Order Return"
        ],
        "parameters": [
          {
            "name": "user_ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User identifier."
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start date (YYYY-MM-DD, GMT); range cannot exceed 30 days."
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date (YYYY-MM-DD, GMT); range cannot exceed 30 days."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by RMA status: open, booked, hold, closed, or cancelled."
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort by orderdate (default) or status."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid OAuth2 bearer token."
          },
          "404": {
            "description": "Not found."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2ClientCredentials": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://id.cisco.com/oauth2/default/v1/token",
            "scopes": {}
          }
        }
      }
    }
  }
}