{
  "openapi": "3.0.3",
  "info": {
    "title": "Azure Resource Manager",
    "description": "Authentication: OAuth 2.0 client credentials (Microsoft Entra ID). Azure Resource Manager is the deployment and management service for Azure, providing resource group, generic resource, resource provider, tag, deployment, and subscription management across an Azure environment.",
    "version": "latest",
    "x-vendor-api-version": "2022-09-01",
    "x-itential-curated": "Trimmed to 32 of several hundred upstream operations across Microsoft's official Resource Manager (2022-09-01), Deployments (2022-09-01), and Subscriptions (2022-12-01) specs, covering resource group CRUD, generic resource CRUD by resource ID, resource provider list/get/register/unregister, scope-based tag CRUD, resource-group-scoped deployment CRUD/validate/cancel/export-template with deployment operations, and subscription/tenant listing. See the repo README for the full operation breakdown and the full specs."
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "security": [
    {
      "azureADClientCredentials": []
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister": {
      "post": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_Unregister",
        "description": "Unregisters a subscription from a resource provider.",
        "parameters": [
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "required": true,
            "description": "The namespace of the resource provider to unregister.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource provider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register": {
      "post": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_Register",
        "description": "Registers a subscription with a resource provider.",
        "parameters": [
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "required": true,
            "description": "The namespace of the resource provider to register.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProviderRegistrationRequest"
              }
            }
          },
          "description": "The third party consent for S2S."
        },
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource provider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers": {
      "get": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_List",
        "description": "Gets all resource providers for a subscription.",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "description": "The properties to include in the results. For example, use &$expand=metadata in the query string to retrieve resource provider metadata. To include property aliases in response, use $expand=resourceTypes/aliases.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of resource providers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}": {
      "get": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_Get",
        "description": "Gets the specified resource provider.",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "description": "The $expand query parameter. For example, to include property aliases in response, use $expand=resourceTypes/aliases.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "required": true,
            "description": "The namespace of the resource provider.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource provider.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "Resources_ListByResourceGroup",
        "description": "Get all the resources for a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The resource group with the resources to get.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "The filter to apply on the operation.<br><br>The properties you can use for eq (equals) or ne (not equals) are: location, resourceType, name, resourceGroup, identity, identity/principalId, plan, plan/publisher, plan/product, plan/name, plan/version, and plan/promotionCode.<br><br>For example, to filter by a resource type, use: $filter=resourceType eq 'Microsoft.Network/virtualNetworks'<br><br>You can use substringof(value, property) in the filter. The properties you can use for substring are: name and resourceGroup.<br><br>For example, to get all resources with 'demo' anywhere in the name, use: $filter=substringof('demo', name)<br><br>You can link more than one substringof together by adding and/or operators.<br><br>You can filter by tag names and values. For example, to filter for a tag name and value, use $filter=tagName eq 'tag1' and tagValue eq 'Value1'. When you filter by a tag name and value, the tags for each resource are not returned in the results.<br><br>You can use some properties together when filtering. The combinations you can use are: substringof and/or resourceType, plan and plan/publisher and plan/name, identity and identity/principalId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of additional properties to be included in the response. Valid values include `createdTime`, `changedTime` and `provisioningState`. For example, `$expand=createdTime,changedTime`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "The number of results to return. If null is passed, returns all resources.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/components/schemas/GenericResourceFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}": {
      "put": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_CreateOrUpdate",
        "description": "Creates or updates a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group to create or update. Can include alphanumeric, underscore, parentheses, hyphen, period (except at end), and Unicode characters that match the allowed characters.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceGroup"
              }
            }
          },
          "description": "Parameters supplied to the create or update a resource group.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Returns information about the new resource group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceGroup"
                }
              }
            }
          },
          "201": {
            "description": "Created - Returns information about the new resource group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceGroup"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_Delete",
        "summary": "Deletes a resource group.",
        "description": "When you delete a resource group, all of its resources are also deleted. Deleting a resource group deletes all of its template deployments and currently stored operations.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group to delete. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "name": "forceDeletionTypes",
            "in": "query",
            "required": false,
            "description": "The resource types you want to force delete. Currently, only the following is supported: forceDeletionTypes=Microsoft.Compute/virtualMachines,Microsoft.Compute/virtualMachineScaleSets",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_Get",
        "description": "Gets a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group to get. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceGroup"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_Update",
        "summary": "Updates a resource group.",
        "description": "Resource groups can be updated through a simple PATCH operation to a group address. The format of the request is the same as that for creating a resource group. If a field is unspecified, the current value is retained.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group to update. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceGroupPatchable"
              }
            }
          },
          "description": "Parameters supplied to update a resource group.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceGroup"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_List",
        "description": "Gets all the resource groups for a subscription.",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "The filter to apply on the operation.<br><br>You can filter by tag names and values. For example, to filter for a tag name and value, use $filter=tagName eq 'tag1' and tagValue eq 'Value1'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "The number of results to return. If null is passed, returns all resource groups.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of resource groups.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceGroupListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/components/schemas/ResourceGroupFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_List",
        "description": "Get all the resources in a subscription.",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "The filter to apply on the operation.<br><br>Filter comparison operators include `eq` (equals) and `ne` (not equals) and may be used with the following properties: `location`, `resourceType`, `name`, `resourceGroup`, `identity`, `identity/principalId`, `plan`, `plan/publisher`, `plan/product`, `plan/name`, `plan/version`, and `plan/promotionCode`.<br><br>For example, to filter by a resource type, use `$filter=resourceType eq 'Microsoft.Network/virtualNetworks'`<br><br><br>`substringof(value, property)` can  be used to filter for substrings of the following currently-supported properties: `name` and `resourceGroup`<br><br>For example, to get all resources with 'demo' anywhere in the resource name, use `$filter=substringof('demo', name)`<br><br>Multiple substring operations can also be combined using `and`/`or` operators.<br><br>Note that any truncated number of results queried via `$top` may also not be compatible when using a filter.<br><br><br>Resources can be filtered by tag names and values. For example, to filter for a tag name and value, use `$filter=tagName eq 'tag1' and tagValue eq 'Value1'`. Note that when resources are filtered by tag name and value, <b>the original tags for each resource will not be returned in the results.</b> Any list of additional properties queried via `$expand` may also not be compatible when filtering by tag names/values. <br><br>For tag names only, resources can be filtered by prefix using the following syntax: `$filter=startswith(tagName, 'depart')`. This query will return all resources with a tag name prefixed by the phrase `depart` (i.e.`department`, `departureDate`, `departureTime`, etc.)<br><br><br>Note that some properties can be combined when filtering resources, which include the following: `substringof() and/or resourceType`, `plan and plan/publisher and plan/name`, and `identity and identity/principalId`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of additional properties to be included in the response. Valid values include `createdTime`, `changedTime` and `provisioningState`. For example, `$expand=createdTime,changedTime`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "The number of recommendations per page if a paged version of this API is being used.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of resources.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/components/schemas/GenericResourceFilter"
      }
    },
    "/{resourceId}": {
      "delete": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_DeleteById",
        "description": "Deletes a resource by ID.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "x-ms-skip-url-encoding": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "The API version to use for the operation.",
            "x-ms-api-version": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_CreateOrUpdateById",
        "description": "Create a resource by ID.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "x-ms-skip-url-encoding": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "The API version to use for the operation.",
            "x-ms-api-version": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericResource"
              }
            }
          },
          "description": "Create or update resource parameters.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResource"
                }
              }
            }
          },
          "201": {
            "description": "Created - Returns information about the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResource"
                }
              }
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_UpdateById",
        "description": "Updates a resource by ID.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "x-ms-skip-url-encoding": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "The API version to use for the operation.",
            "x-ms-api-version": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericResource"
              }
            }
          },
          "description": "Update resource parameters.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResource"
                }
              }
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_GetById",
        "description": "Gets a resource by ID.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "x-ms-skip-url-encoding": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "The API version to use for the operation.",
            "x-ms-api-version": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Resources/tags/default": {
      "put": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_CreateOrUpdateAtScope",
        "summary": "Creates or updates the entire set of tags on a resource or subscription.",
        "description": "This operation allows adding or replacing the entire set of tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tags updated successfully. Returns tags from the specified object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResource"
                }
              }
            }
          },
          "202": {
            "headers": {
              "Location": {
                "description": "URL to get status of this long-running operation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_UpdateAtScope",
        "summary": "Selectively updates the set of tags on a resource or subscription.",
        "description": "This operation allows replacing, merging or selectively deleting tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags at the end of the operation. The 'replace' option replaces the entire set of existing tags with a new set. The 'merge' option allows adding tags with new names and updating the values of tags with existing names. The 'delete' option allows selectively deleting tags based on given names or name/value pairs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsPatchResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tags updated successfully. Returns tags from the specified object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResource"
                }
              }
            }
          },
          "202": {
            "headers": {
              "Location": {
                "description": "URL to get status of this long-running operation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_GetAtScope",
        "summary": "Gets the entire set of tags on a resource or subscription.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns tags from the specified object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResource"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_DeleteAtScope",
        "summary": "Deletes the entire set of tags on a resource or subscription.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Tags successfully deleted."
          },
          "202": {
            "headers": {
              "Location": {
                "description": "URL to get status of this long-running operation.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}": {
      "delete": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Delete",
        "summary": "Deletes a deployment from the deployment history.",
        "description": "A template deployment that is currently running cannot be deleted. Deleting a template deployment removes the associated deployment operations. Deleting a template deployment does not affect the state of the resource group. This is an asynchronous operation that returns a status of 202 until the template deployment is successfully deleted. The Location response header contains the URI that is used to obtain the status of the process. While the process is running, a call to the URI in the Location header returns a status of 202. When the process finishes, the URI in the Location header returns a status of 204 on success. If the asynchronous request failed, the URI in the Location header returns an error-level status code.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group with the deployment to delete. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_CreateOrUpdate",
        "summary": "Deploys resources to a resource group.",
        "description": "You can provide the template and parameters directly in the request or link to JSON files.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group to deploy the resources to. The name is case insensitive. The resource group must already exist.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Deployment2"
        },
        "responses": {
          "200": {
            "description": "OK - Returns information about the deployment, including provisioning status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentExtended"
                }
              }
            }
          },
          "201": {
            "description": "Created - Returns information about the deployment, including provisioning status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentExtended"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Get",
        "description": "Gets a deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the deployment, including provisioning status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentExtended"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Cancel",
        "summary": "Cancels a currently running template deployment.",
        "description": "You can cancel a deployment only if the provisioningState is Accepted or Running. After the deployment is canceled, the provisioningState is set to Canceled. Canceling a template deployment stops the currently running template deployment and leaves the resource group partially deployed.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Validate",
        "x-ms-long-running-operation": true,
        "description": "Validates whether the specified template is syntactically correct and will be accepted by Azure Resource Manager..",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group the template will be deployed to. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Deployment"
        },
        "responses": {
          "200": {
            "description": "OK - Returns the validation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentValidateResult"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - The request has been accepted for processing and the operation will complete asynchronously."
          },
          "400": {
            "description": "Returns the validation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentValidateResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_ExportTemplate",
        "description": "Exports the template used for specified deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentExportResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_ListByResourceGroup",
        "description": "Get all the deployments for a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group with the deployments to get. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "The filter to apply on the operation. For example, you can use $filter=provisioningState eq '{state}'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "The number of results to get. If null is passed, returns all deployments.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of deployments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/components/schemas/DeploymentExtendedFilter"
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}": {
      "get": {
        "tags": [
          "DeploymentOperations"
        ],
        "operationId": "DeploymentOperations_Get",
        "description": "Gets a deployments operation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "description": "The ID of the operation to get.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the deployment operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentOperation"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations": {
      "get": {
        "tags": [
          "DeploymentOperations"
        ],
        "operationId": "DeploymentOperations_List",
        "description": "Gets all deployments operations for a deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "description": "The name of the resource group. The name is case insensitive.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 90,
              "pattern": "^[-\\w\\._\\(\\)]+$"
            }
          },
          {
            "$ref": "#/components/parameters/DeploymentNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "The number of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Return an array of deployment operations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentOperationsListResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "Subscriptions_List",
        "tags": [
          "Subscriptions"
        ],
        "description": "Gets all subscriptions for a tenant.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResult"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsCloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "Subscriptions_Get",
        "tags": [
          "Subscriptions"
        ],
        "description": "Gets details about a specified subscription.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsCloudError"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations": {
      "get": {
        "operationId": "Subscriptions_ListLocations",
        "tags": [
          "Subscriptions"
        ],
        "summary": "Gets all available geo-locations.",
        "description": "This operation provides all the locations that are available for resource providers; however, each resource provider may support a subset of this list.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "name": "includeExtendedLocations",
            "in": "query",
            "description": "Whether to include extended locations.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResult"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsCloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/tenants": {
      "get": {
        "operationId": "Tenants_List",
        "tags": [
          "Tenants"
        ],
        "description": "Gets the tenants for your account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantListResult"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsCloudError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Tags": {
        "description": "A dictionary of name and value pairs.",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "description": "The tag value."
            }
          }
        }
      },
      "ResourceGroup": {
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "The ID of the resource group."
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The type of the resource group."
          },
          "properties": {
            "$ref": "#/components/schemas/ResourceGroupProperties"
          },
          "location": {
            "type": "string",
            "description": "The location of the resource group. It cannot be changed after the resource group has been created. It must be one of the supported Azure locations."
          },
          "managedBy": {
            "type": "string",
            "description": "The ID of the resource that manages this resource group."
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "description": "The additional properties. "
            },
            "description": "The tags attached to the resource group."
          }
        },
        "required": [
          "location"
        ],
        "x-ms-azure-resource": true,
        "description": "Resource group information."
      },
      "AliasPath": {
        "properties": {
          "path": {
            "type": "string",
            "description": "The path of an alias."
          },
          "apiVersions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The API versions."
          },
          "pattern": {
            "$ref": "#/components/schemas/AliasPattern"
          },
          "metadata": {
            "$ref": "#/components/schemas/AliasPathMetadata"
          }
        },
        "description": "The type of the paths for alias."
      },
      "GenericResource": {
        "properties": {
          "plan": {
            "$ref": "#/components/schemas/Plan"
          },
          "properties": {
            "type": "object",
            "description": "The resource properties."
          },
          "kind": {
            "type": "string",
            "description": "The kind of the resource.",
            "pattern": "^[-\\w\\._,\\(\\)]+$"
          },
          "managedBy": {
            "type": "string",
            "description": "ID of the resource that manages this resource."
          },
          "sku": {
            "$ref": "#/components/schemas/Sku"
          },
          "identity": {
            "$ref": "#/components/schemas/Identity"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Resource information."
      },
      "ZoneMapping": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "description": "The location of the zone mapping."
          },
          "zones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ExtendedLocation": {
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "EdgeZone"
            ],
            "x-ms-enum": {
              "name": "ExtendedLocationType",
              "modelAsString": true
            },
            "description": "The extended location type."
          },
          "name": {
            "type": "string",
            "description": "The extended location name."
          }
        },
        "description": "Resource extended location."
      },
      "ResourceGroupListResult": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceGroup"
            },
            "description": "An array of resource groups."
          },
          "nextLink": {
            "readOnly": true,
            "type": "string",
            "description": "The URL to use for getting the next set of results."
          }
        },
        "description": "List of resource groups."
      },
      "ResourceGroupProperties": {
        "properties": {
          "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "The provisioning state. "
          }
        },
        "description": "The resource group properties."
      },
      "Identity": {
        "properties": {
          "principalId": {
            "readOnly": true,
            "type": "string",
            "description": "The principal ID of resource identity."
          },
          "tenantId": {
            "readOnly": true,
            "type": "string",
            "description": "The tenant ID of resource."
          },
          "type": {
            "type": "string",
            "description": "The identity type.",
            "enum": [
              "SystemAssigned",
              "UserAssigned",
              "SystemAssigned, UserAssigned",
              "None"
            ],
            "x-ms-enum": {
              "name": "ResourceIdentityType",
              "modelAsString": false
            }
          },
          "userAssignedIdentities": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "x-ms-client-name": "IdentityUserAssignedIdentitiesValue",
              "properties": {
                "principalId": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The principal id of user assigned identity."
                },
                "clientId": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The client id of user assigned identity."
                }
              }
            },
            "description": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        },
        "description": "Identity for the resource."
      },
      "Provider": {
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "The provider ID."
          },
          "namespace": {
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          "registrationState": {
            "readOnly": true,
            "type": "string",
            "description": "The registration state of the resource provider."
          },
          "registrationPolicy": {
            "readOnly": true,
            "type": "string",
            "description": "The registration policy of the resource provider."
          },
          "resourceTypes": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderResourceType"
            },
            "x-ms-identifiers": [
              "resourceType"
            ],
            "description": "The collection of provider resource types."
          },
          "providerAuthorizationConsentState": {
            "type": "string",
            "enum": [
              "NotSpecified",
              "Required",
              "NotRequired",
              "Consented"
            ],
            "description": "The provider authorization consent state.",
            "x-ms-enum": {
              "name": "ProviderAuthorizationConsentState",
              "modelAsString": true
            }
          }
        },
        "description": "Resource provider information."
      },
      "ResourceGroupPatchable": {
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the resource group."
          },
          "properties": {
            "$ref": "#/components/schemas/ResourceGroupProperties"
          },
          "managedBy": {
            "type": "string",
            "description": "The ID of the resource that manages this resource group."
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "description": "The additional properties. "
            },
            "description": "The tags attached to the resource group."
          }
        },
        "description": "Resource group information."
      },
      "Plan": {
        "properties": {
          "name": {
            "type": "string",
            "description": "The plan ID."
          },
          "publisher": {
            "type": "string",
            "description": "The publisher ID."
          },
          "product": {
            "type": "string",
            "description": "The offer ID."
          },
          "promotionCode": {
            "type": "string",
            "description": "The promotion code."
          },
          "version": {
            "type": "string",
            "description": "The plan's version."
          }
        },
        "description": "Plan for the resource."
      },
      "ProviderExtendedLocation": {
        "properties": {
          "location": {
            "type": "string",
            "description": "The azure location."
          },
          "type": {
            "type": "string",
            "description": "The extended location type."
          },
          "extendedLocations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The extended locations for the azure location."
          }
        },
        "description": "The provider extended location. "
      },
      "AliasPathMetadata": {
        "properties": {
          "type": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "NotSpecified",
              "Any",
              "String",
              "Object",
              "Array",
              "Integer",
              "Number",
              "Boolean"
            ],
            "x-ms-enum": {
              "name": "AliasPathTokenType",
              "modelAsString": true,
              "values": [
                {
                  "value": "NotSpecified",
                  "description": "The token type is not specified."
                },
                {
                  "value": "Any",
                  "description": "The token type can be anything."
                },
                {
                  "value": "String",
                  "description": "The token type is string."
                },
                {
                  "value": "Object",
                  "description": "The token type is object."
                },
                {
                  "value": "Array",
                  "description": "The token type is array."
                },
                {
                  "value": "Integer",
                  "description": "The token type is integer."
                },
                {
                  "value": "Number",
                  "description": "The token type is number."
                },
                {
                  "value": "Boolean",
                  "description": "The token type is boolean."
                }
              ]
            },
            "description": "The type of the token that the alias path is referring to."
          },
          "attributes": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "None",
              "Modifiable"
            ],
            "x-ms-enum": {
              "name": "AliasPathAttributes",
              "modelAsString": true,
              "values": [
                {
                  "value": "None",
                  "description": "The token that the alias path is referring to has no attributes."
                },
                {
                  "value": "Modifiable",
                  "description": "The token that the alias path is referring to is modifiable by policies with 'modify' effect."
                }
              ]
            },
            "description": "The attributes of the token that the alias path is referring to."
          }
        }
      },
      "ProviderConsentDefinition": {
        "type": "object",
        "description": "The provider consent.",
        "properties": {
          "consentToAuthorization": {
            "type": "boolean",
            "description": "A value indicating whether authorization is consented or not."
          }
        }
      },
      "AliasPattern": {
        "properties": {
          "phrase": {
            "type": "string",
            "description": "The alias pattern phrase."
          },
          "variable": {
            "type": "string",
            "description": "The alias pattern variable."
          },
          "type": {
            "type": "string",
            "enum": [
              "NotSpecified",
              "Extract"
            ],
            "x-ms-enum": {
              "name": "AliasPatternType",
              "modelAsString": false,
              "values": [
                {
                  "value": "NotSpecified",
                  "description": "NotSpecified is not allowed."
                },
                {
                  "value": "Extract",
                  "description": "Extract is the only allowed value."
                }
              ]
            },
            "description": "The type of alias pattern"
          }
        },
        "description": "The type of the pattern for an alias path."
      },
      "TagsPatchResource": {
        "type": "object",
        "description": "Wrapper resource for tags patch API request only.",
        "properties": {
          "operation": {
            "type": "string",
            "description": "The operation type for the patch API.",
            "enum": [
              "Replace",
              "Merge",
              "Delete"
            ],
            "x-ms-enum": {
              "name": "tagsPatchOperation",
              "modelAsString": true,
              "values": [
                {
                  "value": "Replace",
                  "description": "The 'replace' option replaces the entire set of existing tags with a new set."
                },
                {
                  "value": "Merge",
                  "description": "The 'merge' option allows adding tags with new names and updating the values of tags with existing names."
                },
                {
                  "value": "Delete",
                  "description": "The 'delete' option allows selectively deleting tags based on given names or name/value pairs."
                }
              ]
            }
          },
          "properties": {
            "$ref": "#/components/schemas/Tags"
          }
        }
      },
      "ProviderResourceType": {
        "properties": {
          "resourceType": {
            "type": "string",
            "description": "The resource type."
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The collection of locations where this resource type can be created."
          },
          "locationMappings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderExtendedLocation"
            },
            "x-ms-identifiers": [
              "location",
              "type"
            ],
            "description": "The location mappings that are supported by this resource type."
          },
          "aliases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alias"
            },
            "x-ms-identifiers": [
              "name"
            ],
            "description": "The aliases that are supported by this resource type."
          },
          "apiVersions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The API version."
          },
          "defaultApiVersion": {
            "type": "string",
            "readOnly": true,
            "description": "The default API version."
          },
          "zoneMappings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZoneMapping"
            },
            "x-ms-identifiers": [
              "location"
            ]
          },
          "apiProfiles": {
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/ApiProfile"
            },
            "x-ms-identifiers": [
              "apiVersion",
              "profileVersion"
            ],
            "description": "The API profiles for the resource provider."
          },
          "capabilities": {
            "type": "string",
            "description": "The additional capabilities offered by this resource type."
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "description": "The additional properties. "
            },
            "description": "The properties."
          }
        },
        "description": "Resource type managed by the resource provider."
      },
      "ApiProfile": {
        "properties": {
          "profileVersion": {
            "type": "string",
            "readOnly": true,
            "description": "The profile version."
          },
          "apiVersion": {
            "type": "string",
            "readOnly": true,
            "description": "The API version."
          }
        }
      },
      "ResourceListResult": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenericResourceExpanded"
            },
            "description": "An array of resources."
          },
          "nextLink": {
            "readOnly": true,
            "type": "string",
            "description": "The URL to use for getting the next set of results."
          }
        },
        "description": "List of resource groups."
      },
      "CloudError": {
        "x-ms-external": true,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetail"
          }
        },
        "description": "An error response for a resource management request."
      },
      "ProviderListResult": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Provider"
            },
            "description": "An array of resource providers."
          },
          "nextLink": {
            "readOnly": true,
            "type": "string",
            "description": "The URL to use for getting the next set of results."
          }
        },
        "description": "List of resource providers."
      },
      "ProviderRegistrationRequest": {
        "type": "object",
        "description": "The provider registration definition.",
        "properties": {
          "thirdPartyProviderConsent": {
            "$ref": "#/components/schemas/ProviderConsentDefinition"
          }
        }
      },
      "Alias": {
        "properties": {
          "name": {
            "type": "string",
            "description": "The alias name."
          },
          "paths": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AliasPath"
            },
            "x-ms-identifiers": [],
            "description": "The paths for an alias."
          },
          "type": {
            "type": "string",
            "description": "The type of the alias.",
            "enum": [
              "NotSpecified",
              "PlainText",
              "Mask"
            ],
            "x-ms-enum": {
              "name": "AliasType",
              "modelAsString": false,
              "values": [
                {
                  "value": "NotSpecified",
                  "description": "Alias type is unknown (same as not providing alias type)."
                },
                {
                  "value": "PlainText",
                  "description": "Alias value is not secret."
                },
                {
                  "value": "Mask",
                  "description": "Alias value is secret."
                }
              ]
            }
          },
          "defaultPath": {
            "type": "string",
            "description": "The default path for an alias."
          },
          "defaultPattern": {
            "$ref": "#/components/schemas/AliasPattern"
          },
          "defaultMetadata": {
            "$ref": "#/components/schemas/AliasPathMetadata"
          }
        },
        "description": "The alias type. "
      },
      "Resource": {
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Resource ID"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "Resource name"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type"
          },
          "location": {
            "type": "string",
            "description": "Resource location"
          },
          "extendedLocation": {
            "$ref": "#/components/schemas/ExtendedLocation"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "x-ms-azure-resource": true,
        "description": "Specified resource."
      },
      "TagsResource": {
        "type": "object",
        "description": "Wrapper resource for tags API requests and responses.",
        "required": [
          "properties"
        ],
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "The ID of the tags wrapper resource."
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the tags wrapper resource."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The type of the tags wrapper resource."
          },
          "properties": {
            "$ref": "#/components/schemas/Tags"
          }
        },
        "x-ms-azure-resource": true
      },
      "Sku": {
        "properties": {
          "name": {
            "type": "string",
            "description": "The SKU name."
          },
          "tier": {
            "type": "string",
            "description": "The SKU tier."
          },
          "size": {
            "type": "string",
            "description": "The SKU size."
          },
          "family": {
            "type": "string",
            "description": "The SKU family."
          },
          "model": {
            "type": "string",
            "description": "The SKU model."
          },
          "capacity": {
            "type": "integer",
            "format": "int32",
            "description": "The SKU capacity."
          }
        },
        "description": "SKU for the resource."
      },
      "GenericResourceExpanded": {
        "properties": {
          "createdTime": {
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "description": "The created time of the resource. This is only present if requested via the $expand query parameter."
          },
          "changedTime": {
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "description": "The changed time of the resource. This is only present if requested via the $expand query parameter."
          },
          "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "The provisioning state of the resource. This is only present if requested via the $expand query parameter."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/GenericResource"
          }
        ],
        "description": "Resource information."
      },
      "ParametersLink": {
        "properties": {
          "uri": {
            "type": "string",
            "description": "The URI of the parameters file."
          },
          "contentVersion": {
            "type": "string",
            "description": "If included, must match the ContentVersion in the template."
          }
        },
        "required": [
          "uri"
        ],
        "description": "Entity representing the reference to the deployment parameters."
      },
      "ExpressionEvaluationOptions": {
        "properties": {
          "scope": {
            "type": "string",
            "description": "The scope to be used for evaluation of parameters, variables and functions in a nested template.",
            "enum": [
              "NotSpecified",
              "Outer",
              "Inner"
            ],
            "x-ms-enum": {
              "name": "ExpressionEvaluationOptionsScopeType",
              "modelAsString": true
            }
          }
        },
        "description": "Specifies whether template expressions are evaluated within the scope of the parent template or nested template."
      },
      "TargetResource": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the resource."
          },
          "resourceName": {
            "type": "string",
            "description": "The name of the resource."
          },
          "resourceType": {
            "type": "string",
            "description": "The type of the resource."
          }
        },
        "description": "Target resource."
      },
      "DeploymentExportResult": {
        "properties": {
          "template": {
            "type": "object",
            "description": "The template content."
          }
        },
        "description": "The deployment export result. "
      },
      "KeyVaultParameterReference": {
        "type": "object",
        "properties": {
          "keyVault": {
            "$ref": "#/components/schemas/KeyVaultReference"
          },
          "secretName": {
            "type": "string",
            "description": "Azure Key Vault secret name."
          },
          "secretVersion": {
            "type": "string",
            "description": "Azure Key Vault secret version."
          }
        },
        "required": [
          "keyVault",
          "secretName"
        ],
        "description": "Azure Key Vault parameter reference."
      },
      "TemplateLink": {
        "properties": {
          "uri": {
            "type": "string",
            "description": "The URI of the template to deploy. Use either the uri or id property, but not both."
          },
          "id": {
            "type": "string",
            "description": "The resource id of a Template Spec. Use either the id or uri property, but not both."
          },
          "relativePath": {
            "type": "string",
            "description": "The relativePath property can be used to deploy a linked template at a location relative to the parent. If the parent template was linked with a TemplateSpec, this will reference an artifact in the TemplateSpec.  If the parent was linked with a URI, the child deployment will be a combination of the parent and relativePath URIs"
          },
          "contentVersion": {
            "type": "string",
            "description": "If included, must match the ContentVersion in the template."
          },
          "queryString": {
            "type": "string",
            "description": "The query string (for example, a SAS token) to be used with the templateLink URI."
          }
        },
        "description": "Entity representing the reference to the template."
      },
      "BasicDependency": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the dependency."
          },
          "resourceType": {
            "type": "string",
            "description": "The dependency resource type."
          },
          "resourceName": {
            "type": "string",
            "description": "The dependency resource name."
          }
        },
        "description": "Deployment dependency information."
      },
      "Deployment": {
        "properties": {
          "location": {
            "type": "string",
            "description": "The location to store the deployment data."
          },
          "properties": {
            "$ref": "#/components/schemas/DeploymentProperties"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Deployment tags"
          }
        },
        "required": [
          "properties"
        ],
        "description": "Deployment operation parameters."
      },
      "KeyVaultReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Azure Key Vault resource id."
          }
        },
        "required": [
          "id"
        ],
        "description": "Azure Key Vault reference."
      },
      "DeploymentOperation": {
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Full deployment operation ID."
          },
          "operationId": {
            "readOnly": true,
            "type": "string",
            "description": "Deployment operation ID."
          },
          "properties": {
            "$ref": "#/components/schemas/DeploymentOperationProperties"
          }
        },
        "description": "Deployment operation information."
      },
      "DeploymentListResult": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeploymentExtended"
            },
            "description": "An array of deployments."
          },
          "nextLink": {
            "readOnly": true,
            "type": "string",
            "description": "The URL to use for getting the next set of results."
          }
        },
        "description": "List of deployments."
      },
      "DeploymentOperationProperties": {
        "properties": {
          "provisioningOperation": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the current provisioning operation.",
            "enum": [
              "NotSpecified",
              "Create",
              "Delete",
              "Waiting",
              "AzureAsyncOperationWaiting",
              "ResourceCacheWaiting",
              "Action",
              "Read",
              "EvaluateDeploymentOutput",
              "DeploymentCleanup"
            ],
            "x-ms-enum": {
              "name": "ProvisioningOperation",
              "modelAsString": false,
              "values": [
                {
                  "value": "NotSpecified",
                  "description": "The provisioning operation is not specified."
                },
                {
                  "value": "Create",
                  "description": "The provisioning operation is create."
                },
                {
                  "value": "Delete",
                  "description": "The provisioning operation is delete."
                },
                {
                  "value": "Waiting",
                  "description": "The provisioning operation is waiting."
                },
                {
                  "value": "AzureAsyncOperationWaiting",
                  "description": "The provisioning operation is waiting Azure async operation."
                },
                {
                  "value": "ResourceCacheWaiting",
                  "description": "The provisioning operation is waiting for resource cache."
                },
                {
                  "value": "Action",
                  "description": "The provisioning operation is action."
                },
                {
                  "value": "Read",
                  "description": "The provisioning operation is read."
                },
                {
                  "value": "EvaluateDeploymentOutput",
                  "description": "The provisioning operation is evaluate output."
                },
                {
                  "value": "DeploymentCleanup",
                  "description": "The provisioning operation is cleanup. This operation is part of the 'complete' mode deployment."
                }
              ]
            }
          },
          "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "The state of the provisioning."
          },
          "timestamp": {
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "description": "The date and time of the operation."
          },
          "duration": {
            "readOnly": true,
            "type": "string",
            "description": "The duration of the operation."
          },
          "serviceRequestId": {
            "readOnly": true,
            "type": "string",
            "description": "Deployment operation service request id."
          },
          "statusCode": {
            "readOnly": true,
            "type": "string",
            "description": "Operation status code from the resource provider. This property may not be set if a response has not yet been received."
          },
          "statusMessage": {
            "$ref": "#/components/schemas/StatusMessage"
          },
          "targetResource": {
            "$ref": "#/components/schemas/TargetResource"
          },
          "request": {
            "$ref": "#/components/schemas/HttpMessage"
          },
          "response": {
            "$ref": "#/components/schemas/HttpMessage"
          }
        },
        "description": "Deployment operation properties."
      },
      "DeploymentPropertiesExtended": {
        "properties": {
          "provisioningState": {
            "type": "string",
            "readOnly": true,
            "description": "Denotes the state of provisioning.",
            "enum": [
              "NotSpecified",
              "Accepted",
              "Running",
              "Ready",
              "Creating",
              "Created",
              "Deleting",
              "Deleted",
              "Canceled",
              "Failed",
              "Succeeded",
              "Updating"
            ],
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
          },
          "correlationId": {
            "readOnly": true,
            "type": "string",
            "description": "The correlation ID of the deployment."
          },
          "timestamp": {
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of the template deployment."
          },
          "duration": {
            "readOnly": true,
            "type": "string",
            "description": "The duration of the template deployment."
          },
          "outputs": {
            "readOnly": true,
            "type": "object",
            "description": "Key/value pairs that represent deployment output."
          },
          "providers": {
            "readOnly": true,
[...]
