{
  "openapi": "3.0.0",
  "info": {
    "version": "latest",
    "x-vendor-api-version": "ZIA REST API v1 (via OneAPI)",
    "title": "Zscaler Internet Access (ZIA) API",
    "description": "Zscaler Internet Access (ZIA) API provides programmatic access to ZIA policy and configuration objects: firewall filtering rules and their supporting objects, URL filtering and categories, cloud app control, DLP dictionaries/engines/rules, file type control rules, locations, rule labels, and user/group/department management.\n\nAuthentication: OAuth2 client-credentials via Zscaler's unified OneAPI platform (brokered through Zidentity). Requires OneAPI access to be enabled for your organization by your Zscaler account team -- it is not self-service. Generate a client ID/secret at Admin Portal > API Key Management > OneAPI Credentials.\n\nThis spec was built directly from Zscaler's official, actively-maintained zscaler-sdk-go source (github.com/zscaler/zscaler-sdk-go) -- endpoint paths, HTTP verbs, and field-level request/response schemas (including per-field doc comments) were extracted from the SDK's typed Go structs and service functions.\n\nSource: https://github.com/zscaler/zscaler-sdk-go/tree/master/zscaler/zia/services",
    "x-itential-curated": "Scoped to ZIA's most commonly automated policy/config areas rather than its full 60+ service surface: Firewall Policies (filtering rules and supporting objects -- network services/applications, IP source/destination groups, time windows, app services), URL Filtering & Categories, Cloud App Control, DLP (dictionaries, engines, web rules, notification templates, ICAP servers), File Type Control, Locations, Rule Labels, and User Management (users, groups, departments) -- 111 operations, all traced to real endpoint constants and typed request/response structs in Zscaler's official SDK. Excludes DNS control, forwarding control, IPS/NAT control, SSL inspection, sandbox, traffic forwarding/GRE, NSS feeds, malware protection, bandwidth control, and ~50 other more specialized ZIA service areas."
  },
  "servers": [
    {
      "url": "https://api.zsapi.net",
      "description": "Default (production) OneAPI host. Non-production clouds use https://api.<cloud>.zsapi.net."
    }
  ],
  "security": [
    {
      "oneApiOAuth2": []
    }
  ],
  "paths": {
    "/zia/api/v1/advancedUrlFilterAndCloudAppSettings": {
      "get": {
        "operationId": "urlfilteringpolicies_GetUrlAndAppSettings",
        "summary": "GetUrlAndAppSettings (URL Filtering Rule)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enableDynamicContentCat": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates if dynamic categorization of URLs by analyzing content of uncategorized websites using AI/ML tools is enabled or not."
                    },
                    "considerEmbeddedSites": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates if URL filtering rules must be applied to sites that are translated using translation services or not."
                    },
                    "enforceSafeSearch": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates whether only safe content must be returned for web, image, and video search."
                    },
                    "enableOffice365": {
                      "type": "boolean",
                      "description": "Enable/Disable Microsoft Office 365 configuration"
                    },
                    "enableMsftO365": {
                      "type": "boolean",
                      "description": "Enable/Disable Microsoft-recommended Office 365 one click configuration"
                    },
                    "enableUcaasZoom": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Zoom traffic, without any manual configuration needed."
                    },
                    "enableUcaasLogMeIn": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for GoTo traffic, without any manual configuration needed."
                    },
                    "enableUcaasRingCentral": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for RingCentral traffic, without any manual configuration needed."
                    },
                    "enableUcaasWebex": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Webex traffic, without any manual configuration needed."
                    },
                    "enableUcaasTalkdesk": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Talkdesk traffic, with minimal or no manual configuration needed."
                    },
                    "enableChatGptPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with ChatGPT by users should be categorized and logged"
                    },
                    "enableMicrosoftCoPilotPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Microsoft Copilot by users should be categorized and logged"
                    },
                    "enableGeminiPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Google Gemini by users should be categorized and logged"
                    },
                    "enablePOEPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Poe by users should be categorized and logged"
                    },
                    "enableMetaPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Meta AI by users should be categorized and logged"
                    },
                    "enablePerPlexityPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Perplexity by users should be categorized and logged"
                    },
                    "enableDeepSeekPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with DeepSeek by users should be categorized and logged"
                    },
                    "enableWriterPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Writer by users should be categorized and logged"
                    },
                    "enableGrokPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Grok by users should be categorized and logged"
                    },
                    "enableMistralAIPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Mistral AI by users should be categorized and logged"
                    },
                    "enableClaudePrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Claude by users should be categorized and logged"
                    },
                    "enableGrammarlyPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Grammarly by users should be categorized and logged"
                    },
                    "blockSkype": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether access to Skype is blocked or not.\n\nDeprecated: the service no longer returns this field and rejects a request\nbody that carries it, so it keeps omitempty and is never sent as false."
                    },
                    "enableNewlyRegisteredDomains": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether newly registered and observed domains that are identified within hours of going live are allowed or blocked"
                    },
                    "enableBlockOverrideForNonAuthUser": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if authorized users can temporarily override block action on websites by providing their authentication information"
                    },
                    "enableCIPACompliance": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the predefined CIPA Compliance Rule is enabled or not."
                    },
                    "safeSearchApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "list of applications for which the SafeSearch enforcement applies. You cannot modify this field when the enforceSafeSearch field is disabled.\nSupported Values: \"ANY\", \"DAILYMOTION\", \"BING\", \"GOOGLE\", \"YAHOO\", \"AOL\", \"FLICKR\", \"YOUTUBE\",\"DUCKDUCKGO\"\n\nKeeps omitempty: sending an empty list while EnforceSafeSearch is false is\nan attempt to modify a field the service locks in that state."
                    },
                    "zveloDbLookupDisabled": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if Zvelo database lookup is disabled."
                    },
                    "enableCreativeCommonsSearchResults": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if Creative Commons search results are enabled."
                    },
                    "enableGoogleAIPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether the use of generative AI prompts with Google AI by users should be categorized and logged"
                    },
                    "enableQuillbotAIPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether the use of generative AI prompts with QuillBot by users should be categorized and logged"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "urlfilteringpolicies_UpdateUrlAndAppSettings",
        "summary": "UpdateUrlAndAppSettings (URL Filtering Rule)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enableDynamicContentCat": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates if dynamic categorization of URLs by analyzing content of uncategorized websites using AI/ML tools is enabled or not."
                    },
                    "considerEmbeddedSites": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates if URL filtering rules must be applied to sites that are translated using translation services or not."
                    },
                    "enforceSafeSearch": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates whether only safe content must be returned for web, image, and video search."
                    },
                    "enableOffice365": {
                      "type": "boolean",
                      "description": "Enable/Disable Microsoft Office 365 configuration"
                    },
                    "enableMsftO365": {
                      "type": "boolean",
                      "description": "Enable/Disable Microsoft-recommended Office 365 one click configuration"
                    },
                    "enableUcaasZoom": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Zoom traffic, without any manual configuration needed."
                    },
                    "enableUcaasLogMeIn": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for GoTo traffic, without any manual configuration needed."
                    },
                    "enableUcaasRingCentral": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for RingCentral traffic, without any manual configuration needed."
                    },
                    "enableUcaasWebex": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Webex traffic, without any manual configuration needed."
                    },
                    "enableUcaasTalkdesk": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Talkdesk traffic, with minimal or no manual configuration needed."
                    },
                    "enableChatGptPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with ChatGPT by users should be categorized and logged"
                    },
                    "enableMicrosoftCoPilotPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Microsoft Copilot by users should be categorized and logged"
                    },
                    "enableGeminiPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Google Gemini by users should be categorized and logged"
                    },
                    "enablePOEPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Poe by users should be categorized and logged"
                    },
                    "enableMetaPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Meta AI by users should be categorized and logged"
                    },
                    "enablePerPlexityPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Perplexity by users should be categorized and logged"
                    },
                    "enableDeepSeekPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with DeepSeek by users should be categorized and logged"
                    },
                    "enableWriterPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Writer by users should be categorized and logged"
                    },
                    "enableGrokPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Grok by users should be categorized and logged"
                    },
                    "enableMistralAIPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Mistral AI by users should be categorized and logged"
                    },
                    "enableClaudePrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Claude by users should be categorized and logged"
                    },
                    "enableGrammarlyPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the use of generative AI prompts with Grammarly by users should be categorized and logged"
                    },
                    "blockSkype": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether access to Skype is blocked or not.\n\nDeprecated: the service no longer returns this field and rejects a request\nbody that carries it, so it keeps omitempty and is never sent as false."
                    },
                    "enableNewlyRegisteredDomains": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether newly registered and observed domains that are identified within hours of going live are allowed or blocked"
                    },
                    "enableBlockOverrideForNonAuthUser": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if authorized users can temporarily override block action on websites by providing their authentication information"
                    },
                    "enableCIPACompliance": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if the predefined CIPA Compliance Rule is enabled or not."
                    },
                    "safeSearchApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "list of applications for which the SafeSearch enforcement applies. You cannot modify this field when the enforceSafeSearch field is disabled.\nSupported Values: \"ANY\", \"DAILYMOTION\", \"BING\", \"GOOGLE\", \"YAHOO\", \"AOL\", \"FLICKR\", \"YOUTUBE\",\"DUCKDUCKGO\"\n\nKeeps omitempty: sending an empty list while EnforceSafeSearch is false is\nan attempt to modify a field the service locks in that state."
                    },
                    "zveloDbLookupDisabled": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if Zvelo database lookup is disabled."
                    },
                    "enableCreativeCommonsSearchResults": {
                      "type": "boolean",
                      "description": "A Boolean value indicating if Creative Commons search results are enabled."
                    },
                    "enableGoogleAIPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether the use of generative AI prompts with Google AI by users should be categorized and logged"
                    },
                    "enableQuillbotAIPrompt": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether the use of generative AI prompts with QuillBot by users should be categorized and logged"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enableDynamicContentCat": {
                    "type": "boolean",
                    "description": "A Boolean value that indicates if dynamic categorization of URLs by analyzing content of uncategorized websites using AI/ML tools is enabled or not."
                  },
                  "considerEmbeddedSites": {
                    "type": "boolean",
                    "description": "A Boolean value that indicates if URL filtering rules must be applied to sites that are translated using translation services or not."
                  },
                  "enforceSafeSearch": {
                    "type": "boolean",
                    "description": "A Boolean value that indicates whether only safe content must be returned for web, image, and video search."
                  },
                  "enableOffice365": {
                    "type": "boolean",
                    "description": "Enable/Disable Microsoft Office 365 configuration"
                  },
                  "enableMsftO365": {
                    "type": "boolean",
                    "description": "Enable/Disable Microsoft-recommended Office 365 one click configuration"
                  },
                  "enableUcaasZoom": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Zoom traffic, without any manual configuration needed."
                  },
                  "enableUcaasLogMeIn": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for GoTo traffic, without any manual configuration needed."
                  },
                  "enableUcaasRingCentral": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for RingCentral traffic, without any manual configuration needed."
                  },
                  "enableUcaasWebex": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Webex traffic, without any manual configuration needed."
                  },
                  "enableUcaasTalkdesk": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the Zscaler service is allowed to automatically permit secure local breakout for Talkdesk traffic, with minimal or no manual configuration needed."
                  },
                  "enableChatGptPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with ChatGPT by users should be categorized and logged"
                  },
                  "enableMicrosoftCoPilotPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Microsoft Copilot by users should be categorized and logged"
                  },
                  "enableGeminiPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Google Gemini by users should be categorized and logged"
                  },
                  "enablePOEPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Poe by users should be categorized and logged"
                  },
                  "enableMetaPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Meta AI by users should be categorized and logged"
                  },
                  "enablePerPlexityPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Perplexity by users should be categorized and logged"
                  },
                  "enableDeepSeekPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with DeepSeek by users should be categorized and logged"
                  },
                  "enableWriterPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Writer by users should be categorized and logged"
                  },
                  "enableGrokPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Grok by users should be categorized and logged"
                  },
                  "enableMistralAIPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Mistral AI by users should be categorized and logged"
                  },
                  "enableClaudePrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Claude by users should be categorized and logged"
                  },
                  "enableGrammarlyPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the use of generative AI prompts with Grammarly by users should be categorized and logged"
                  },
                  "blockSkype": {
                    "type": "boolean",
                    "description": "A Boolean value indicating whether access to Skype is blocked or not.\n\nDeprecated: the service no longer returns this field and rejects a request\nbody that carries it, so it keeps omitempty and is never sent as false."
                  },
                  "enableNewlyRegisteredDomains": {
                    "type": "boolean",
                    "description": "A Boolean value indicating whether newly registered and observed domains that are identified within hours of going live are allowed or blocked"
                  },
                  "enableBlockOverrideForNonAuthUser": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if authorized users can temporarily override block action on websites by providing their authentication information"
                  },
                  "enableCIPACompliance": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if the predefined CIPA Compliance Rule is enabled or not."
                  },
                  "safeSearchApps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "list of applications for which the SafeSearch enforcement applies. You cannot modify this field when the enforceSafeSearch field is disabled.\nSupported Values: \"ANY\", \"DAILYMOTION\", \"BING\", \"GOOGLE\", \"YAHOO\", \"AOL\", \"FLICKR\", \"YOUTUBE\",\"DUCKDUCKGO\"\n\nKeeps omitempty: sending an empty list while EnforceSafeSearch is false is\nan attempt to modify a field the service locks in that state."
                  },
                  "zveloDbLookupDisabled": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if Zvelo database lookup is disabled."
                  },
                  "enableCreativeCommonsSearchResults": {
                    "type": "boolean",
                    "description": "A Boolean value indicating if Creative Commons search results are enabled."
                  },
                  "enableGoogleAIPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating whether the use of generative AI prompts with Google AI by users should be categorized and logged"
                  },
                  "enableQuillbotAIPrompt": {
                    "type": "boolean",
                    "description": "A Boolean value indicating whether the use of generative AI prompts with QuillBot by users should be categorized and logged"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/appServiceGroups/lite": {
      "get": {
        "operationId": "appservicegroups_GetByName",
        "summary": "GetByName (App Service Group)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "nameL10nTag": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/appServices/lite": {
      "get": {
        "operationId": "applicationservices_GetByName",
        "summary": "GetByName (App Service)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "nameL10nTag": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/customFileTypes": {
      "get": {
        "operationId": "filetypecontrol_GetCustomFileTypes",
        "summary": "GetCustomFileTypes (File Type Rule)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "System generated identifier for a file-type policy"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the File Type rule"
                    },
                    "description": {
                      "type": "string",
                      "description": "Additional information about the File Type rule"
                    },
                    "state": {
                      "type": "string",
                      "description": "Rule State"
                    },
                    "order": {
                      "type": "integer",
                      "description": "Order of policy execution with respect to other file-type policies. Order N indicates N-th file-type policy is evaluated. This field is not applicable to the Lite API."
                    },
                    "filteringAction": {
                      "type": "string",
                      "description": "Action taken when traffic matches policy. This field is not applicable to the Lite API.\nSupported Values: \"BLOCK\", \"CAUTION\", \"ALLOW\""
                    },
                    "timeQuota": {
                      "type": "integer",
                      "description": "Time quota in minutes, after which the policy must be applied. If not set, no time quota is enforced. Ignored if action is BLOCK."
                    },
                    "sizeQuota": {
                      "type": "integer",
                      "description": "Size quota in KB, beyond which the policy must be applied. If not set, size quota is not enforced. Ignored if action is BLOCK."
                    },
                    "accessControl": {
                      "type": "string",
                      "description": "The access privilege for this DLP policy rule based on the admin's state."
                    },
                    "rank": {
                      "type": "integer",
                      "description": "Admin rank of the admin who creates this rule"
                    },
                    "capturePCAP": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates whether packet capture (PCAP) is enabled or not"
                    },
                    "passwordProtected": {
                      "type": "boolean",
                      "description": "A Boolean field indicating whether the rule applies to password-protected files."
                    },
                    "operation": {
                      "type": "string",
                      "description": "File operation performed. This field is not applicable to the Lite API."
                    },
                    "activeContent": {
                      "type": "boolean",
                      "description": "Flag to check whether a file has active content or not"
                    },
                    "unscannable": {
                      "type": "boolean",
                      "description": "Flag to check whether a file has active content or not"
                    },
                    "browserEunTemplateId": {
                      "type": "integer"
                    },
                    "cloudApplications": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The list of cloud applications to which the File Type Control policy rule must be applied\nNew to Review that."
                    },
                    "fileTypes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The list of file types to which the Sandbox Rule must be applied."
                    },
                    "minSize": {
                      "type": "integer",
                      "description": "Minimum file size (in KB) used for evaluation of the FTP rule"
                    },
                    "maxSize": {
                      "type": "integer",
                      "description": "Maximum file size (in KB) used for evaluation of the FTP rule"
                    },
                    "protocols": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Protocol for the given rule. This field is not applicable to the Lite API."
                    },
                    "urlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The list of URL categories to which the DLP policy rule must be applied."
                    },
                    "lastModifiedTime": {
                      "type": "integer",
                      "description": "When the rule was last modified"
                    },
                    "lastModifiedBy": {
                      "type": "object",
                      "description": "Who modified the rule last"
                    },
                    "locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Name-ID pairs of locations for which rule must be applied"
                    },
                    "locationGroups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Name-ID pairs of the location groups to which the rule must be applied."
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Name-ID pairs of groups for which rule must be applied"
                    },
                    "departments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Name-ID pairs of departments for which rule must be applied"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Name-ID pairs of users for which rule must be applied"
                    },
                    "timeWindows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Name-ID pairs of time interval during which rule must be enforced."
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "The URL Filtering rule's label. Rule labels allow you to logically group your organization's policy rules. Policy rules that are not associated with a rule label are grouped under the Untagged label."
                    },
                    "deviceGroups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "This field is applicable for devices that are managed using Zscaler Client Connector. If no value is set, this field is ignored during the policy evaluation."
                    },
                    "devices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Name-ID pairs of devices for which rule must be applied. Specifies devices that are managed using Zscaler Client Connector. If no value is set, this field is ignored during the policy evaluation."
                    },
                    "deviceTrustLevels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of device trust levels for which the rule must be applied. This field is applicable for devices that are managed using Zscaler Client Connector. The trust levels are assigned to the devices based on your posture configurations in the Zscaler Client Connector Portal. If no value is set, this field is ignored during the policy evaluation."
                    },
                    "zpaAppSegments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.ZPAAppSegments object"
                      },
                      "description": "The list of ZPA Application Segments for which this rule is applicable. This field is applicable only for the ZPA Gateway forwarding method."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/departments": {
      "post": {
        "operationId": "departments_Create",
        "summary": "Create (Department)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Department ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Department name"
                    },
                    "idpId": {
                      "type": "integer",
                      "description": "Identity provider (IdP) ID"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about this department"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Department ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Department name"
                  },
                  "idpId": {
                    "type": "integer",
                    "description": "Identity provider (IdP) ID"
                  },
                  "comments": {
                    "type": "string",
                    "description": "Additional information about this department"
                  },
                  "deleted": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "departments_GetAll",
        "summary": "GetAll (Department)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Department ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Department name"
                    },
                    "idpId": {
                      "type": "integer",
                      "description": "Identity provider (IdP) ID"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about this department"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/departments/{id}": {
      "get": {
        "operationId": "departments_GetDepartments",
        "summary": "GetDepartments (Department)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Department ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Department name"
                    },
                    "idpId": {
                      "type": "integer",
                      "description": "Identity provider (IdP) ID"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about this department"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "departments_Update",
        "summary": "Update (Department)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Department ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Department name"
                    },
                    "idpId": {
                      "type": "integer",
                      "description": "Identity provider (IdP) ID"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about this department"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Department ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Department name"
                  },
                  "idpId": {
                    "type": "integer",
                    "description": "Identity provider (IdP) ID"
                  },
                  "comments": {
                    "type": "string",
                    "description": "Additional information about this department"
                  },
                  "deleted": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "departments_Delete",
        "summary": "Delete (Department)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Department ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Department name"
                    },
                    "idpId": {
                      "type": "integer",
                      "description": "Identity provider (IdP) ID"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about this department"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/zia/api/v1/dlpDictionaries": {
      "get": {
        "operationId": "dlpdictionaries_GetByName",
        "summary": "GetByName (DLP Dictionary)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Unique identifier for the DLP dictionary"
                    },
                    "name": {
                      "type": "string",
                      "description": "The DLP dictionary's name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the DLP dictionary"
                    },
                    "confidenceThreshold": {
                      "type": "string",
                      "description": "The DLP confidence threshold"
                    },
                    "customPhraseMatchType": {
                      "type": "string",
                      "description": "The DLP custom phrase match type"
                    },
                    "nameL10nTag": {
                      "type": "boolean",
                      "description": "Indicates whether the name is localized or not. This is always set to True for predefined DLP dictionaries."
                    },
                    "custom": {
                      "type": "boolean",
                      "description": "This value is set to true for custom DLP dictionaries."
                    },
                    "thresholdType": {
                      "type": "string",
                      "description": "DLP threshold type"
                    },
                    "dictionaryType": {
                      "type": "string",
                      "description": "The DLP dictionary type"
                    },
                    "proximity": {
                      "type": "integer",
                      "description": "The DLP dictionary proximity length."
                    },
                    "phrases": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using phrases"
                          },
                          "phrase": {
                            "type": "string",
                            "description": "DLP dictionary phrase"
                          }
                        }
                      },
                      "description": "List containing the phrases used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries."
                    },
                    "patterns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using patterns"
                          },
                          "pattern": {
                            "type": "string",
                            "description": "DLP dictionary pattern"
                          }
                        }
                      },
                      "description": "List containing the patterns used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries"
                    },
                    "exactDataMatchDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dictionaryEdmMappingId": {
                            "type": "integer",
                            "description": "The unique identifier for the EDM mapping."
                          },
                          "schemaId": {
                            "type": "integer",
                            "description": "The unique identifier for the EDM template (or schema)."
                          },
                          "primaryFields": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "The EDM template's primary field."
                          },
                          "secondaryFields": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "The EDM template's secondary fields."
                          },
                          "secondaryFieldMatchOn": {
                            "type": "string",
                            "description": "The EDM secondary field to match on."
                          }
                        }
                      },
                      "description": "Exact Data Match (EDM) related information for custom DLP dictionaries."
                    },
                    "idmProfileMatchAccuracyDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adpIdmProfile": {
                            "type": "object",
                            "description": "The IDM template reference."
                          },
                          "matchAccuracy": {
                            "type": "string",
                            "description": "The IDM template match accuracy."
                          }
                        }
                      },
                      "description": "List of Indexed Document Match (IDM) profiles and their corresponding match accuracy for custom DLP dictionaries."
                    },
                    "ignoreExactMatchIdmDict": {
                      "type": "boolean",
                      "description": "Indicates whether to exclude documents that are a 100% match to already-indexed documents from triggering an Indexed Document Match (IDM) Dictionary."
                    },
                    "includeBinNumbers": {
                      "type": "boolean",
                      "description": "A true value denotes that the specified Bank Identification Number (BIN) values are included in the Credit Cards dictionary. A false value denotes that the specified BIN values are excluded from the Credit Cards dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                    },
                    "binNumbers": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "description": "The list of Bank Identification Number (BIN) values that are included or excluded from the Credit Cards dictionary. BIN values can be specified only for Diners Club, Mastercard, RuPay, and Visa cards. Up to 512 BIN values can be configured in a dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                    },
                    "dictTemplateId": {
                      "type": "integer",
                      "description": "ID of the predefined dictionary (original source dictionary) that is used for cloning. This field is applicable only to cloned dictionaries. Only a limited set of identification-based predefined dictionaries (e.g., Credit Cards, Social Security Numbers, National Identification Numbers, etc.) can be cloned. Up to 4 clones can be created from a predefined dictionary."
                    },
                    "predefinedClone": {
                      "type": "boolean",
                      "description": "This field is set to true if the dictionary is cloned from a predefined dictionary. Otherwise, it is set to false."
                    },
                    "predefinedCountActionType": {
                      "type": "string",
                      "description": "This field specifies whether duplicate matches of a phrase from a dictionary must be counted individually toward the match count or ignored, thereby maintaining a single count for multiple occurrences."
                    },
                    "proximityLengthEnabled": {
                      "type": "boolean",
                      "description": "This value is set to true if proximity length and high confidence phrases are enabled for the DLP dictionary."
                    },
                    "proximityEnabledForCustomDictionary": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates if proximity length is enabled or disabled for a custom DLP dictionary. A true value indicates that proximity length is enabled, whereas a false value indicates that it is disabled."
                    },
                    "dictionaryCloningEnabled": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates that the cloning option is supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries."
                    },
                    "customPhraseSupported": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates that custom phrases are supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries with a high confidence score threshold."
                    },
                    "hierarchicalDictionary": {
                      "type": "boolean",
                      "description": "A true value indicates that the DLP dictionary is of hierarchical type that includes sub-dictionaries. A false value indicates that the dictionary is not hierarchical."
                    },
                    "hierarchicalIdentifiers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The list of identifiers selected within a DLP dictionary of hierarchical type. Each identifier represents a sub-dictionary that consists of specific patterns. To retrieve the list of identifiers that are available for selection within a specific hierarchical dictionary, send a GET request to /dlpDictionaries/{dictId}/predefinedIdentifiers."
                    },
                    "predefinedPhrases": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "thresholdAllowed": {
                      "type": "boolean"
                    },
                    "confidenceLevelForPredefinedDict": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "dlpdictionaries_Create",
        "summary": "Create (DLP Dictionary)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Unique identifier for the DLP dictionary"
                    },
                    "name": {
                      "type": "string",
                      "description": "The DLP dictionary's name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the DLP dictionary"
                    },
                    "confidenceThreshold": {
                      "type": "string",
                      "description": "The DLP confidence threshold"
                    },
                    "customPhraseMatchType": {
                      "type": "string",
                      "description": "The DLP custom phrase match type"
                    },
                    "nameL10nTag": {
                      "type": "boolean",
                      "description": "Indicates whether the name is localized or not. This is always set to True for predefined DLP dictionaries."
                    },
                    "custom": {
                      "type": "boolean",
                      "description": "This value is set to true for custom DLP dictionaries."
                    },
                    "thresholdType": {
                      "type": "string",
                      "description": "DLP threshold type"
                    },
                    "dictionaryType": {
                      "type": "string",
                      "description": "The DLP dictionary type"
                    },
                    "proximity": {
                      "type": "integer",
                      "description": "The DLP dictionary proximity length."
                    },
                    "phrases": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using phrases"
                          },
                          "phrase": {
                            "type": "string",
                            "description": "DLP dictionary phrase"
                          }
                        }
                      },
                      "description": "List containing the phrases used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries."
                    },
                    "patterns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using patterns"
                          },
                          "pattern": {
                            "type": "string",
                            "description": "DLP dictionary pattern"
                          }
                        }
                      },
                      "description": "List containing the patterns used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries"
                    },
                    "exactDataMatchDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dictionaryEdmMappingId": {
                            "type": "integer",
                            "description": "The unique identifier for the EDM mapping."
                          },
                          "schemaId": {
                            "type": "integer",
                            "description": "The unique identifier for the EDM template (or schema)."
                          },
                          "primaryFields": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "The EDM template's primary field."
                          },
                          "secondaryFields": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "The EDM template's secondary fields."
                          },
                          "secondaryFieldMatchOn": {
                            "type": "string",
                            "description": "The EDM secondary field to match on."
                          }
                        }
                      },
                      "description": "Exact Data Match (EDM) related information for custom DLP dictionaries."
                    },
                    "idmProfileMatchAccuracyDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adpIdmProfile": {
                            "type": "object",
                            "description": "The IDM template reference."
                          },
                          "matchAccuracy": {
                            "type": "string",
                            "description": "The IDM template match accuracy."
                          }
                        }
                      },
                      "description": "List of Indexed Document Match (IDM) profiles and their corresponding match accuracy for custom DLP dictionaries."
                    },
                    "ignoreExactMatchIdmDict": {
                      "type": "boolean",
                      "description": "Indicates whether to exclude documents that are a 100% match to already-indexed documents from triggering an Indexed Document Match (IDM) Dictionary."
                    },
                    "includeBinNumbers": {
                      "type": "boolean",
                      "description": "A true value denotes that the specified Bank Identification Number (BIN) values are included in the Credit Cards dictionary. A false value denotes that the specified BIN values are excluded from the Credit Cards dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                    },
                    "binNumbers": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "description": "The list of Bank Identification Number (BIN) values that are included or excluded from the Credit Cards dictionary. BIN values can be specified only for Diners Club, Mastercard, RuPay, and Visa cards. Up to 512 BIN values can be configured in a dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                    },
                    "dictTemplateId": {
                      "type": "integer",
                      "description": "ID of the predefined dictionary (original source dictionary) that is used for cloning. This field is applicable only to cloned dictionaries. Only a limited set of identification-based predefined dictionaries (e.g., Credit Cards, Social Security Numbers, National Identification Numbers, etc.) can be cloned. Up to 4 clones can be created from a predefined dictionary."
                    },
                    "predefinedClone": {
                      "type": "boolean",
                      "description": "This field is set to true if the dictionary is cloned from a predefined dictionary. Otherwise, it is set to false."
                    },
                    "predefinedCountActionType": {
                      "type": "string",
                      "description": "This field specifies whether duplicate matches of a phrase from a dictionary must be counted individually toward the match count or ignored, thereby maintaining a single count for multiple occurrences."
                    },
                    "proximityLengthEnabled": {
                      "type": "boolean",
                      "description": "This value is set to true if proximity length and high confidence phrases are enabled for the DLP dictionary."
                    },
                    "proximityEnabledForCustomDictionary": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates if proximity length is enabled or disabled for a custom DLP dictionary. A true value indicates that proximity length is enabled, whereas a false value indicates that it is disabled."
                    },
                    "dictionaryCloningEnabled": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates that the cloning option is supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries."
                    },
                    "customPhraseSupported": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates that custom phrases are supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries with a high confidence score threshold."
                    },
                    "hierarchicalDictionary": {
                      "type": "boolean",
                      "description": "A true value indicates that the DLP dictionary is of hierarchical type that includes sub-dictionaries. A false value indicates that the dictionary is not hierarchical."
                    },
                    "hierarchicalIdentifiers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The list of identifiers selected within a DLP dictionary of hierarchical type. Each identifier represents a sub-dictionary that consists of specific patterns. To retrieve the list of identifiers that are available for selection within a specific hierarchical dictionary, send a GET request to /dlpDictionaries/{dictId}/predefinedIdentifiers."
                    },
                    "predefinedPhrases": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "thresholdAllowed": {
                      "type": "boolean"
                    },
                    "confidenceLevelForPredefinedDict": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Unique identifier for the DLP dictionary"
                  },
                  "name": {
                    "type": "string",
                    "description": "The DLP dictionary's name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the DLP dictionary"
                  },
                  "confidenceThreshold": {
                    "type": "string",
                    "description": "The DLP confidence threshold"
                  },
                  "customPhraseMatchType": {
                    "type": "string",
                    "description": "The DLP custom phrase match type"
                  },
                  "nameL10nTag": {
                    "type": "boolean",
                    "description": "Indicates whether the name is localized or not. This is always set to True for predefined DLP dictionaries."
                  },
                  "custom": {
                    "type": "boolean",
                    "description": "This value is set to true for custom DLP dictionaries."
                  },
                  "thresholdType": {
                    "type": "string",
                    "description": "DLP threshold type"
                  },
                  "dictionaryType": {
                    "type": "string",
                    "description": "The DLP dictionary type"
                  },
                  "proximity": {
                    "type": "integer",
                    "description": "The DLP dictionary proximity length."
                  },
                  "phrases": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "type": "string",
                          "description": "The action applied to a DLP dictionary using phrases"
                        },
                        "phrase": {
                          "type": "string",
                          "description": "DLP dictionary phrase"
                        }
                      }
                    },
                    "description": "List containing the phrases used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries."
                  },
                  "patterns": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "type": "string",
                          "description": "The action applied to a DLP dictionary using patterns"
                        },
                        "pattern": {
                          "type": "string",
                          "description": "DLP dictionary pattern"
                        }
                      }
                    },
                    "description": "List containing the patterns used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries"
                  },
                  "exactDataMatchDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dictionaryEdmMappingId": {
                          "type": "integer",
                          "description": "The unique identifier for the EDM mapping."
                        },
                        "schemaId": {
                          "type": "integer",
                          "description": "The unique identifier for the EDM template (or schema)."
                        },
                        "primaryFields": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          },
                          "description": "The EDM template's primary field."
                        },
                        "secondaryFields": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          },
                          "description": "The EDM template's secondary fields."
                        },
                        "secondaryFieldMatchOn": {
                          "type": "string",
                          "description": "The EDM secondary field to match on."
                        }
                      }
                    },
                    "description": "Exact Data Match (EDM) related information for custom DLP dictionaries."
                  },
                  "idmProfileMatchAccuracyDetails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "adpIdmProfile": {
                          "type": "object",
                          "description": "The IDM template reference."
                        },
                        "matchAccuracy": {
                          "type": "string",
                          "description": "The IDM template match accuracy."
                        }
                      }
                    },
                    "description": "List of Indexed Document Match (IDM) profiles and their corresponding match accuracy for custom DLP dictionaries."
                  },
                  "ignoreExactMatchIdmDict": {
                    "type": "boolean",
                    "description": "Indicates whether to exclude documents that are a 100% match to already-indexed documents from triggering an Indexed Document Match (IDM) Dictionary."
                  },
                  "includeBinNumbers": {
                    "type": "boolean",
                    "description": "A true value denotes that the specified Bank Identification Number (BIN) values are included in the Credit Cards dictionary. A false value denotes that the specified BIN values are excluded from the Credit Cards dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                  },
                  "binNumbers": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "The list of Bank Identification Number (BIN) values that are included or excluded from the Credit Cards dictionary. BIN values can be specified only for Diners Club, Mastercard, RuPay, and Visa cards. Up to 512 BIN values can be configured in a dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                  },
                  "dictTemplateId": {
                    "type": "integer",
                    "description": "ID of the predefined dictionary (original source dictionary) that is used for cloning. This field is applicable only to cloned dictionaries. Only a limited set of identification-based predefined dictionaries (e.g., Credit Cards, Social Security Numbers, National Identification Numbers, etc.) can be cloned. Up to 4 clones can be created from a predefined dictionary."
                  },
                  "predefinedClone": {
                    "type": "boolean",
                    "description": "This field is set to true if the dictionary is cloned from a predefined dictionary. Otherwise, it is set to false."
                  },
                  "predefinedCountActionType": {
                    "type": "string",
                    "description": "This field specifies whether duplicate matches of a phrase from a dictionary must be counted individually toward the match count or ignored, thereby maintaining a single count for multiple occurrences."
                  },
                  "proximityLengthEnabled": {
                    "type": "boolean",
                    "description": "This value is set to true if proximity length and high confidence phrases are enabled for the DLP dictionary."
                  },
                  "proximityEnabledForCustomDictionary": {
                    "type": "boolean",
                    "description": "A Boolean constant that indicates if proximity length is enabled or disabled for a custom DLP dictionary. A true value indicates that proximity length is enabled, whereas a false value indicates that it is disabled."
                  },
                  "dictionaryCloningEnabled": {
                    "type": "boolean",
                    "description": "A Boolean constant that indicates that the cloning option is supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries."
                  },
                  "customPhraseSupported": {
                    "type": "boolean",
                    "description": "A Boolean constant that indicates that custom phrases are supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries with a high confidence score threshold."
                  },
                  "hierarchicalDictionary": {
                    "type": "boolean",
                    "description": "A true value indicates that the DLP dictionary is of hierarchical type that includes sub-dictionaries. A false value indicates that the dictionary is not hierarchical."
                  },
                  "hierarchicalIdentifiers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The list of identifiers selected within a DLP dictionary of hierarchical type. Each identifier represents a sub-dictionary that consists of specific patterns. To retrieve the list of identifiers that are available for selection within a specific hierarchical dictionary, send a GET request to /dlpDictionaries/{dictId}/predefinedIdentifiers."
                  },
                  "predefinedPhrases": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "thresholdAllowed": {
                    "type": "boolean"
                  },
                  "confidenceLevelForPredefinedDict": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/dlpDictionaries/{id}": {
      "get": {
        "operationId": "dlpdictionaries_Get",
        "summary": "Get (DLP Dictionary)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Unique identifier for the DLP dictionary"
                    },
                    "name": {
                      "type": "string",
                      "description": "The DLP dictionary's name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the DLP dictionary"
                    },
                    "confidenceThreshold": {
                      "type": "string",
                      "description": "The DLP confidence threshold"
                    },
                    "customPhraseMatchType": {
                      "type": "string",
                      "description": "The DLP custom phrase match type"
                    },
                    "nameL10nTag": {
                      "type": "boolean",
                      "description": "Indicates whether the name is localized or not. This is always set to True for predefined DLP dictionaries."
                    },
                    "custom": {
                      "type": "boolean",
                      "description": "This value is set to true for custom DLP dictionaries."
                    },
                    "thresholdType": {
                      "type": "string",
                      "description": "DLP threshold type"
                    },
                    "dictionaryType": {
                      "type": "string",
                      "description": "The DLP dictionary type"
                    },
                    "proximity": {
                      "type": "integer",
                      "description": "The DLP dictionary proximity length."
                    },
                    "phrases": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using phrases"
                          },
                          "phrase": {
                            "type": "string",
                            "description": "DLP dictionary phrase"
                          }
                        }
                      },
                      "description": "List containing the phrases used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries."
                    },
                    "patterns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using patterns"
                          },
                          "pattern": {
                            "type": "string",
                            "description": "DLP dictionary pattern"
                          }
                        }
                      },
                      "description": "List containing the patterns used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries"
                    },
                    "exactDataMatchDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dictionaryEdmMappingId": {
                            "type": "integer",
                            "description": "The unique identifier for the EDM mapping."
                          },
                          "schemaId": {
                            "type": "integer",
                            "description": "The unique identifier for the EDM template (or schema)."
                          },
                          "primaryFields": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "The EDM template's primary field."
                          },
                          "secondaryFields": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "The EDM template's secondary fields."
                          },
                          "secondaryFieldMatchOn": {
                            "type": "string",
                            "description": "The EDM secondary field to match on."
                          }
                        }
                      },
                      "description": "Exact Data Match (EDM) related information for custom DLP dictionaries."
                    },
                    "idmProfileMatchAccuracyDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adpIdmProfile": {
                            "type": "object",
                            "description": "The IDM template reference."
                          },
                          "matchAccuracy": {
                            "type": "string",
                            "description": "The IDM template match accuracy."
                          }
                        }
                      },
                      "description": "List of Indexed Document Match (IDM) profiles and their corresponding match accuracy for custom DLP dictionaries."
                    },
                    "ignoreExactMatchIdmDict": {
                      "type": "boolean",
                      "description": "Indicates whether to exclude documents that are a 100% match to already-indexed documents from triggering an Indexed Document Match (IDM) Dictionary."
                    },
                    "includeBinNumbers": {
                      "type": "boolean",
                      "description": "A true value denotes that the specified Bank Identification Number (BIN) values are included in the Credit Cards dictionary. A false value denotes that the specified BIN values are excluded from the Credit Cards dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                    },
                    "binNumbers": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "description": "The list of Bank Identification Number (BIN) values that are included or excluded from the Credit Cards dictionary. BIN values can be specified only for Diners Club, Mastercard, RuPay, and Visa cards. Up to 512 BIN values can be configured in a dictionary.\nNote: This field is applicable only to the predefined Credit Cards dictionary and its clones."
                    },
                    "dictTemplateId": {
                      "type": "integer",
                      "description": "ID of the predefined dictionary (original source dictionary) that is used for cloning. This field is applicable only to cloned dictionaries. Only a limited set of identification-based predefined dictionaries (e.g., Credit Cards, Social Security Numbers, National Identification Numbers, etc.) can be cloned. Up to 4 clones can be created from a predefined dictionary."
                    },
                    "predefinedClone": {
                      "type": "boolean",
                      "description": "This field is set to true if the dictionary is cloned from a predefined dictionary. Otherwise, it is set to false."
                    },
                    "predefinedCountActionType": {
                      "type": "string",
                      "description": "This field specifies whether duplicate matches of a phrase from a dictionary must be counted individually toward the match count or ignored, thereby maintaining a single count for multiple occurrences."
                    },
                    "proximityLengthEnabled": {
                      "type": "boolean",
                      "description": "This value is set to true if proximity length and high confidence phrases are enabled for the DLP dictionary."
                    },
                    "proximityEnabledForCustomDictionary": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates if proximity length is enabled or disabled for a custom DLP dictionary. A true value indicates that proximity length is enabled, whereas a false value indicates that it is disabled."
                    },
                    "dictionaryCloningEnabled": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates that the cloning option is supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries."
                    },
                    "customPhraseSupported": {
                      "type": "boolean",
                      "description": "A Boolean constant that indicates that custom phrases are supported for the DLP dictionary using the true value. This field is applicable only to predefined DLP dictionaries with a high confidence score threshold."
                    },
                    "hierarchicalDictionary": {
                      "type": "boolean",
                      "description": "A true value indicates that the DLP dictionary is of hierarchical type that includes sub-dictionaries. A false value indicates that the dictionary is not hierarchical."
                    },
                    "hierarchicalIdentifiers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The list of identifiers selected within a DLP dictionary of hierarchical type. Each identifier represents a sub-dictionary that consists of specific patterns. To retrieve the list of identifiers that are available for selection within a specific hierarchical dictionary, send a GET request to /dlpDictionaries/{dictId}/predefinedIdentifiers."
                    },
                    "predefinedPhrases": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "thresholdAllowed": {
                      "type": "boolean"
                    },
                    "confidenceLevelForPredefinedDict": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "dlpdictionaries_Update",
        "summary": "Update (DLP Dictionary)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Unique identifier for the DLP dictionary"
                    },
                    "name": {
                      "type": "string",
                      "description": "The DLP dictionary's name"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the DLP dictionary"
                    },
                    "confidenceThreshold": {
                      "type": "string",
                      "description": "The DLP confidence threshold"
                    },
                    "customPhraseMatchType": {
                      "type": "string",
                      "description": "The DLP custom phrase match type"
                    },
                    "nameL10nTag": {
                      "type": "boolean",
                      "description": "Indicates whether the name is localized or not. This is always set to True for predefined DLP dictionaries."
                    },
                    "custom": {
                      "type": "boolean",
                      "description": "This value is set to true for custom DLP dictionaries."
                    },
                    "thresholdType": {
                      "type": "string",
                      "description": "DLP threshold type"
                    },
                    "dictionaryType": {
                      "type": "string",
                      "description": "The DLP dictionary type"
                    },
                    "proximity": {
                      "type": "integer",
                      "description": "The DLP dictionary proximity length."
                    },
                    "phrases": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using phrases"
                          },
                          "phrase": {
                            "type": "string",
                            "description": "DLP dictionary phrase"
                          }
                        }
                      },
                      "description": "List containing the phrases used within a custom DLP dictionary. This attribute is not applicable to predefined DLP dictionaries."
                    },
                    "patterns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string",
                            "description": "The action applied to a DLP dictionary using patterns"
                          },
[...]
