{
  "openapi": "3.0.0",
  "info": {
    "version": "3.8.46",
    "x-vendor-api-version": "zscaler-sdk-go v3.8.46",
    "title": "Zscaler Internet Access",
    "description": "Full Zscaler Internet Access (ZIA) API surface, extracted from Zscaler's official zscaler-sdk-go source (github.com/zscaler/zscaler-sdk-go, release v3.8.46) -- endpoint paths, HTTP verbs, and field-level request/response schemas were derived directly from the SDK's typed Go structs and service functions. Preserved as-is (uncurated) for reference; see zscaler_zia_api-latest.json for the curated subset covering common CRUD automation.\n\nAuthentication: OAuth2 client-credentials via Zscaler's unified OneAPI platform (brokered through Zidentity), or legacy per-product obfuscated-API-key + session-cookie auth (not modeled here).\n\nSource: https://github.com/zscaler/zscaler-sdk-go/tree/v3.8.46/zscaler/zia/services"
  },
  "servers": [
    {
      "url": "https://api.zsapi.net"
    }
  ],
  "security": [
    {
      "oneApiOAuth2": []
    }
  ],
  "paths": {
    "/zia/api/v1/adaptiveAccessProfiles": {
      "get": {
        "operationId": "adaptive_access_GetProfileRules",
        "summary": "GetProfileRules (Adaptive Access)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "The Adaptive Access profile ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The Adaptive Access profile name"
                    },
                    "type": {
                      "type": "string",
                      "description": "The Adaptive Access profile type"
                    },
                    "aapIndex": {
                      "type": "integer",
                      "description": "The Adaptive Access profile index"
                    },
                    "iamAapId": {
                      "type": "string",
                      "description": "The Adaptive Access profile ID that is used by the API for policy configuration.\nThis field allows you to specify which Adaptive Access profiles are applied in the access policy criteria."
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "A Boolean value that indicates whether the Adaptive Access profile is deleted"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/adminRoles": {
      "get": {
        "operationId": "adminuserrolemgmt__roles_GetByName",
        "summary": "GetByName (Adminuserrolemgmt / Roles)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin role Id"
                    },
                    "rank": {
                      "type": "integer",
                      "description": "Admin rank of this admin role. This is applicable only when admin rank is enabled in the advanced settings. Default value is 7 (the lowest rank). The assigned admin rank determines the roles or admin users this user can manage, and which rule orders this admin can access."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the admin role"
                    },
                    "policyAccess": {
                      "type": "string",
                      "description": "Policy access permission"
                    },
                    "alertingAccess": {
                      "type": "string",
                      "description": "Alerting access permission"
                    },
                    "usernameAccess": {
                      "type": "string",
                      "description": "Username access permission. When set to NONE, the username will be obfuscated"
                    },
                    "deviceInfoAccess": {
                      "type": "string",
                      "description": "Device information access permission. When set to NONE, device information is obfuscated."
                    },
                    "dashboardAccess": {
                      "type": "string",
                      "description": "Dashboard access permission"
                    },
                    "reportAccess": {
                      "type": "string",
                      "description": "Report access permission"
                    },
                    "analysisAccess": {
                      "type": "string",
                      "description": "Insights logs access permission"
                    },
                    "adminAcctAccess": {
                      "type": "string",
                      "description": "Admin and role management access permission"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether this is an auditor role"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of functional areas to which this role has access. This attribute is subject to change"
                    },
                    "featurePermissions": {
                      "type": "object",
                      "description": "Feature access permission. Indicates which features an admin role can access and if the admin has both read and write access, or read-only access."
                    },
                    "extFeaturePermissions": {
                      "type": "object",
                      "description": "External feature access permission."
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not this admin user is editable/deletable"
                    },
                    "logsLimit": {
                      "type": "string",
                      "description": "Log range limit"
                    },
                    "roleType": {
                      "type": "string",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    },
                    "reportTimeDuration": {
                      "type": "integer",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "adminuserrolemgmt__roles_Create",
        "summary": "Create (Adminuserrolemgmt / Roles)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin role Id"
                    },
                    "rank": {
                      "type": "integer",
                      "description": "Admin rank of this admin role. This is applicable only when admin rank is enabled in the advanced settings. Default value is 7 (the lowest rank). The assigned admin rank determines the roles or admin users this user can manage, and which rule orders this admin can access."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the admin role"
                    },
                    "policyAccess": {
                      "type": "string",
                      "description": "Policy access permission"
                    },
                    "alertingAccess": {
                      "type": "string",
                      "description": "Alerting access permission"
                    },
                    "usernameAccess": {
                      "type": "string",
                      "description": "Username access permission. When set to NONE, the username will be obfuscated"
                    },
                    "deviceInfoAccess": {
                      "type": "string",
                      "description": "Device information access permission. When set to NONE, device information is obfuscated."
                    },
                    "dashboardAccess": {
                      "type": "string",
                      "description": "Dashboard access permission"
                    },
                    "reportAccess": {
                      "type": "string",
                      "description": "Report access permission"
                    },
                    "analysisAccess": {
                      "type": "string",
                      "description": "Insights logs access permission"
                    },
                    "adminAcctAccess": {
                      "type": "string",
                      "description": "Admin and role management access permission"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether this is an auditor role"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of functional areas to which this role has access. This attribute is subject to change"
                    },
                    "featurePermissions": {
                      "type": "object",
                      "description": "Feature access permission. Indicates which features an admin role can access and if the admin has both read and write access, or read-only access."
                    },
                    "extFeaturePermissions": {
                      "type": "object",
                      "description": "External feature access permission."
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not this admin user is editable/deletable"
                    },
                    "logsLimit": {
                      "type": "string",
                      "description": "Log range limit"
                    },
                    "roleType": {
                      "type": "string",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    },
                    "reportTimeDuration": {
                      "type": "integer",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Admin role Id"
                  },
                  "rank": {
                    "type": "integer",
                    "description": "Admin rank of this admin role. This is applicable only when admin rank is enabled in the advanced settings. Default value is 7 (the lowest rank). The assigned admin rank determines the roles or admin users this user can manage, and which rule orders this admin can access."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the admin role"
                  },
                  "policyAccess": {
                    "type": "string",
                    "description": "Policy access permission"
                  },
                  "alertingAccess": {
                    "type": "string",
                    "description": "Alerting access permission"
                  },
                  "usernameAccess": {
                    "type": "string",
                    "description": "Username access permission. When set to NONE, the username will be obfuscated"
                  },
                  "deviceInfoAccess": {
                    "type": "string",
                    "description": "Device information access permission. When set to NONE, device information is obfuscated."
                  },
                  "dashboardAccess": {
                    "type": "string",
                    "description": "Dashboard access permission"
                  },
                  "reportAccess": {
                    "type": "string",
                    "description": "Report access permission"
                  },
                  "analysisAccess": {
                    "type": "string",
                    "description": "Insights logs access permission"
                  },
                  "adminAcctAccess": {
                    "type": "string",
                    "description": "Admin and role management access permission"
                  },
                  "isAuditor": {
                    "type": "boolean",
                    "description": "Indicates whether this is an auditor role"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of functional areas to which this role has access. This attribute is subject to change"
                  },
                  "featurePermissions": {
                    "type": "object",
                    "description": "Feature access permission. Indicates which features an admin role can access and if the admin has both read and write access, or read-only access."
                  },
                  "extFeaturePermissions": {
                    "type": "object",
                    "description": "External feature access permission."
                  },
                  "isNonEditable": {
                    "type": "boolean",
                    "description": "Indicates whether or not this admin user is editable/deletable"
                  },
                  "logsLimit": {
                    "type": "string",
                    "description": "Log range limit"
                  },
                  "roleType": {
                    "type": "string",
                    "description": "The admin role type. ()This attribute is subject to change.)"
                  },
                  "reportTimeDuration": {
                    "type": "integer",
                    "description": "The admin role type. ()This attribute is subject to change.)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/adminRoles/{id}": {
      "get": {
        "operationId": "adminuserrolemgmt__roles_Get",
        "summary": "Get (Adminuserrolemgmt / Roles)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin role Id"
                    },
                    "rank": {
                      "type": "integer",
                      "description": "Admin rank of this admin role. This is applicable only when admin rank is enabled in the advanced settings. Default value is 7 (the lowest rank). The assigned admin rank determines the roles or admin users this user can manage, and which rule orders this admin can access."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the admin role"
                    },
                    "policyAccess": {
                      "type": "string",
                      "description": "Policy access permission"
                    },
                    "alertingAccess": {
                      "type": "string",
                      "description": "Alerting access permission"
                    },
                    "usernameAccess": {
                      "type": "string",
                      "description": "Username access permission. When set to NONE, the username will be obfuscated"
                    },
                    "deviceInfoAccess": {
                      "type": "string",
                      "description": "Device information access permission. When set to NONE, device information is obfuscated."
                    },
                    "dashboardAccess": {
                      "type": "string",
                      "description": "Dashboard access permission"
                    },
                    "reportAccess": {
                      "type": "string",
                      "description": "Report access permission"
                    },
                    "analysisAccess": {
                      "type": "string",
                      "description": "Insights logs access permission"
                    },
                    "adminAcctAccess": {
                      "type": "string",
                      "description": "Admin and role management access permission"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether this is an auditor role"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of functional areas to which this role has access. This attribute is subject to change"
                    },
                    "featurePermissions": {
                      "type": "object",
                      "description": "Feature access permission. Indicates which features an admin role can access and if the admin has both read and write access, or read-only access."
                    },
                    "extFeaturePermissions": {
                      "type": "object",
                      "description": "External feature access permission."
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not this admin user is editable/deletable"
                    },
                    "logsLimit": {
                      "type": "string",
                      "description": "Log range limit"
                    },
                    "roleType": {
                      "type": "string",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    },
                    "reportTimeDuration": {
                      "type": "integer",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "adminuserrolemgmt__roles_Update",
        "summary": "Update (Adminuserrolemgmt / Roles)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin role Id"
                    },
                    "rank": {
                      "type": "integer",
                      "description": "Admin rank of this admin role. This is applicable only when admin rank is enabled in the advanced settings. Default value is 7 (the lowest rank). The assigned admin rank determines the roles or admin users this user can manage, and which rule orders this admin can access."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the admin role"
                    },
                    "policyAccess": {
                      "type": "string",
                      "description": "Policy access permission"
                    },
                    "alertingAccess": {
                      "type": "string",
                      "description": "Alerting access permission"
                    },
                    "usernameAccess": {
                      "type": "string",
                      "description": "Username access permission. When set to NONE, the username will be obfuscated"
                    },
                    "deviceInfoAccess": {
                      "type": "string",
                      "description": "Device information access permission. When set to NONE, device information is obfuscated."
                    },
                    "dashboardAccess": {
                      "type": "string",
                      "description": "Dashboard access permission"
                    },
                    "reportAccess": {
                      "type": "string",
                      "description": "Report access permission"
                    },
                    "analysisAccess": {
                      "type": "string",
                      "description": "Insights logs access permission"
                    },
                    "adminAcctAccess": {
                      "type": "string",
                      "description": "Admin and role management access permission"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether this is an auditor role"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of functional areas to which this role has access. This attribute is subject to change"
                    },
                    "featurePermissions": {
                      "type": "object",
                      "description": "Feature access permission. Indicates which features an admin role can access and if the admin has both read and write access, or read-only access."
                    },
                    "extFeaturePermissions": {
                      "type": "object",
                      "description": "External feature access permission."
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not this admin user is editable/deletable"
                    },
                    "logsLimit": {
                      "type": "string",
                      "description": "Log range limit"
                    },
                    "roleType": {
                      "type": "string",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    },
                    "reportTimeDuration": {
                      "type": "integer",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Admin role Id"
                  },
                  "rank": {
                    "type": "integer",
                    "description": "Admin rank of this admin role. This is applicable only when admin rank is enabled in the advanced settings. Default value is 7 (the lowest rank). The assigned admin rank determines the roles or admin users this user can manage, and which rule orders this admin can access."
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the admin role"
                  },
                  "policyAccess": {
                    "type": "string",
                    "description": "Policy access permission"
                  },
                  "alertingAccess": {
                    "type": "string",
                    "description": "Alerting access permission"
                  },
                  "usernameAccess": {
                    "type": "string",
                    "description": "Username access permission. When set to NONE, the username will be obfuscated"
                  },
                  "deviceInfoAccess": {
                    "type": "string",
                    "description": "Device information access permission. When set to NONE, device information is obfuscated."
                  },
                  "dashboardAccess": {
                    "type": "string",
                    "description": "Dashboard access permission"
                  },
                  "reportAccess": {
                    "type": "string",
                    "description": "Report access permission"
                  },
                  "analysisAccess": {
                    "type": "string",
                    "description": "Insights logs access permission"
                  },
                  "adminAcctAccess": {
                    "type": "string",
                    "description": "Admin and role management access permission"
                  },
                  "isAuditor": {
                    "type": "boolean",
                    "description": "Indicates whether this is an auditor role"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of functional areas to which this role has access. This attribute is subject to change"
                  },
                  "featurePermissions": {
                    "type": "object",
                    "description": "Feature access permission. Indicates which features an admin role can access and if the admin has both read and write access, or read-only access."
                  },
                  "extFeaturePermissions": {
                    "type": "object",
                    "description": "External feature access permission."
                  },
                  "isNonEditable": {
                    "type": "boolean",
                    "description": "Indicates whether or not this admin user is editable/deletable"
                  },
                  "logsLimit": {
                    "type": "string",
                    "description": "Log range limit"
                  },
                  "roleType": {
                    "type": "string",
                    "description": "The admin role type. ()This attribute is subject to change.)"
                  },
                  "reportTimeDuration": {
                    "type": "integer",
                    "description": "The admin role type. ()This attribute is subject to change.)"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "adminuserrolemgmt__roles_Delete",
        "summary": "Delete (Adminuserrolemgmt / Roles)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin role Id"
                    },
                    "rank": {
                      "type": "integer",
                      "description": "Admin rank of this admin role. This is applicable only when admin rank is enabled in the advanced settings. Default value is 7 (the lowest rank). The assigned admin rank determines the roles or admin users this user can manage, and which rule orders this admin can access."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the admin role"
                    },
                    "policyAccess": {
                      "type": "string",
                      "description": "Policy access permission"
                    },
                    "alertingAccess": {
                      "type": "string",
                      "description": "Alerting access permission"
                    },
                    "usernameAccess": {
                      "type": "string",
                      "description": "Username access permission. When set to NONE, the username will be obfuscated"
                    },
                    "deviceInfoAccess": {
                      "type": "string",
                      "description": "Device information access permission. When set to NONE, device information is obfuscated."
                    },
                    "dashboardAccess": {
                      "type": "string",
                      "description": "Dashboard access permission"
                    },
                    "reportAccess": {
                      "type": "string",
                      "description": "Report access permission"
                    },
                    "analysisAccess": {
                      "type": "string",
                      "description": "Insights logs access permission"
                    },
                    "adminAcctAccess": {
                      "type": "string",
                      "description": "Admin and role management access permission"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether this is an auditor role"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of functional areas to which this role has access. This attribute is subject to change"
                    },
                    "featurePermissions": {
                      "type": "object",
                      "description": "Feature access permission. Indicates which features an admin role can access and if the admin has both read and write access, or read-only access."
                    },
                    "extFeaturePermissions": {
                      "type": "object",
                      "description": "External feature access permission."
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not this admin user is editable/deletable"
                    },
                    "logsLimit": {
                      "type": "string",
                      "description": "Log range limit"
                    },
                    "roleType": {
                      "type": "string",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    },
                    "reportTimeDuration": {
                      "type": "integer",
                      "description": "The admin role type. ()This attribute is subject to change.)"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/zia/api/v1/adminUsers": {
      "post": {
        "operationId": "adminuserrolemgmt__admins_CreateAdminUser",
        "summary": "CreateAdminUser (Adminuserrolemgmt / Admins)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin or auditor's user ID"
                    },
                    "loginName": {
                      "type": "string",
                      "description": "Admin or auditor's login name. loginName is in email format and uses the domain name associated to the Zscaler account"
                    },
                    "userName": {
                      "type": "string",
                      "description": "Admin or auditor's username"
                    },
                    "email": {
                      "type": "string",
                      "description": "Admin or auditor's email address"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about the admin or auditor"
                    },
                    "disabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin account is disabled"
                    },
                    "password": {
                      "type": "string",
                      "description": "The admin's password. If admin single sign-on (SSO) is disabled, then this field is mandatory for POST requests. This information is not provided in a GET response.\""
                    },
                    "pwdLastModifiedTime": {
                      "type": "integer"
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin can be edited or deleted"
                    },
                    "isPasswordLoginAllowed": {
                      "type": "boolean",
                      "description": "The default is true when SAML Authentication is disabled. When SAML Authentication is enabled, this can be set to false in order to force the admin to login via SSO only."
                    },
                    "isPasswordExpired": {
                      "type": "boolean",
                      "description": "Indicates whether or not an admin's password has expired"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether the user is an auditor. This attribute is subject to change."
                    },
                    "isSecurityReportCommEnabled": {
                      "type": "boolean",
                      "description": "Communication for Security Report is enabled."
                    },
                    "isServiceUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Service Update"
                    },
                    "isProductUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Product Update"
                    },
                    "isExecMobileAppEnabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not Executive Insights App access is enabled for the admin"
                    },
                    "adminScopescopeGroupMemberEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Only applicable for the LOCATION_GROUP admin scope type, in which case this attribute gives the list of ID/name pairs of locations within the location group. The attribute name is subject to change"
                    },
                    "adminScopeScopeEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Based on the admin scope type, the entities can be the ID/name pair of departments, locations, or location groups. The attribute name is subject to change"
                    },
                    "adminScopeType": {
                      "type": "string",
                      "description": "The admin's scope. A scope is required for admins, but not applicable to auditors. This attribute is subject to change"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identifier that uniquely identifies an entity"
                        },
                        "name": {
                          "type": "string",
                          "description": "The configured name of the entity"
                        },
                        "isNameL10nTag": {
                          "type": "boolean"
                        },
                        "extensions": {
                          "type": "object"
                        }
                      },
                      "description": "Role of the admin. This is not required for an auditor"
                    },
                    "execMobileAppTokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cloud": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "tokenExpiry": {
                            "type": "integer"
                          },
                          "createTime": {
                            "type": "integer"
                          },
                          "deviceId": {
                            "type": "string"
                          },
                          "deviceName": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Read-only information about a Executive Insights App token, if it exists"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Admin or auditor's user ID"
                  },
                  "loginName": {
                    "type": "string",
                    "description": "Admin or auditor's login name. loginName is in email format and uses the domain name associated to the Zscaler account"
                  },
                  "userName": {
                    "type": "string",
                    "description": "Admin or auditor's username"
                  },
                  "email": {
                    "type": "string",
                    "description": "Admin or auditor's email address"
                  },
                  "comments": {
                    "type": "string",
                    "description": "Additional information about the admin or auditor"
                  },
                  "disabled": {
                    "type": "boolean",
                    "description": "Indicates whether or not the admin account is disabled"
                  },
                  "password": {
                    "type": "string",
                    "description": "The admin's password. If admin single sign-on (SSO) is disabled, then this field is mandatory for POST requests. This information is not provided in a GET response.\""
                  },
                  "pwdLastModifiedTime": {
                    "type": "integer"
                  },
                  "isNonEditable": {
                    "type": "boolean",
                    "description": "Indicates whether or not the admin can be edited or deleted"
                  },
                  "isPasswordLoginAllowed": {
                    "type": "boolean",
                    "description": "The default is true when SAML Authentication is disabled. When SAML Authentication is enabled, this can be set to false in order to force the admin to login via SSO only."
                  },
                  "isPasswordExpired": {
                    "type": "boolean",
                    "description": "Indicates whether or not an admin's password has expired"
                  },
                  "isAuditor": {
                    "type": "boolean",
                    "description": "Indicates whether the user is an auditor. This attribute is subject to change."
                  },
                  "isSecurityReportCommEnabled": {
                    "type": "boolean",
                    "description": "Communication for Security Report is enabled."
                  },
                  "isServiceUpdateCommEnabled": {
                    "type": "boolean",
                    "description": "Communication setting for Service Update"
                  },
                  "isProductUpdateCommEnabled": {
                    "type": "boolean",
                    "description": "Communication setting for Product Update"
                  },
                  "isExecMobileAppEnabled": {
                    "type": "boolean",
                    "description": "Indicates whether or not Executive Insights App access is enabled for the admin"
                  },
                  "adminScopescopeGroupMemberEntities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "common.IDNameExtensions object"
                    },
                    "description": "Only applicable for the LOCATION_GROUP admin scope type, in which case this attribute gives the list of ID/name pairs of locations within the location group. The attribute name is subject to change"
                  },
                  "adminScopeScopeEntities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "common.IDNameExtensions object"
                    },
                    "description": "Based on the admin scope type, the entities can be the ID/name pair of departments, locations, or location groups. The attribute name is subject to change"
                  },
                  "adminScopeType": {
                    "type": "string",
                    "description": "The admin's scope. A scope is required for admins, but not applicable to auditors. This attribute is subject to change"
                  },
                  "role": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Identifier that uniquely identifies an entity"
                      },
                      "name": {
                        "type": "string",
                        "description": "The configured name of the entity"
                      },
                      "isNameL10nTag": {
                        "type": "boolean"
                      },
                      "extensions": {
                        "type": "object"
                      }
                    },
                    "description": "Role of the admin. This is not required for an auditor"
                  },
                  "execMobileAppTokens": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cloud": {
                          "type": "string"
                        },
                        "orgId": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "tokenId": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "tokenExpiry": {
                          "type": "integer"
                        },
                        "createTime": {
                          "type": "integer"
                        },
                        "deviceId": {
                          "type": "string"
                        },
                        "deviceName": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Read-only information about a Executive Insights App token, if it exists"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "adminuserrolemgmt__admins_GetAllAdminUsers",
        "summary": "GetAllAdminUsers (Adminuserrolemgmt / Admins)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin or auditor's user ID"
                    },
                    "loginName": {
                      "type": "string",
                      "description": "Admin or auditor's login name. loginName is in email format and uses the domain name associated to the Zscaler account"
                    },
                    "userName": {
                      "type": "string",
                      "description": "Admin or auditor's username"
                    },
                    "email": {
                      "type": "string",
                      "description": "Admin or auditor's email address"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about the admin or auditor"
                    },
                    "disabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin account is disabled"
                    },
                    "password": {
                      "type": "string",
                      "description": "The admin's password. If admin single sign-on (SSO) is disabled, then this field is mandatory for POST requests. This information is not provided in a GET response.\""
                    },
                    "pwdLastModifiedTime": {
                      "type": "integer"
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin can be edited or deleted"
                    },
                    "isPasswordLoginAllowed": {
                      "type": "boolean",
                      "description": "The default is true when SAML Authentication is disabled. When SAML Authentication is enabled, this can be set to false in order to force the admin to login via SSO only."
                    },
                    "isPasswordExpired": {
                      "type": "boolean",
                      "description": "Indicates whether or not an admin's password has expired"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether the user is an auditor. This attribute is subject to change."
                    },
                    "isSecurityReportCommEnabled": {
                      "type": "boolean",
                      "description": "Communication for Security Report is enabled."
                    },
                    "isServiceUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Service Update"
                    },
                    "isProductUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Product Update"
                    },
                    "isExecMobileAppEnabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not Executive Insights App access is enabled for the admin"
                    },
                    "adminScopescopeGroupMemberEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Only applicable for the LOCATION_GROUP admin scope type, in which case this attribute gives the list of ID/name pairs of locations within the location group. The attribute name is subject to change"
                    },
                    "adminScopeScopeEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Based on the admin scope type, the entities can be the ID/name pair of departments, locations, or location groups. The attribute name is subject to change"
                    },
                    "adminScopeType": {
                      "type": "string",
                      "description": "The admin's scope. A scope is required for admins, but not applicable to auditors. This attribute is subject to change"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identifier that uniquely identifies an entity"
                        },
                        "name": {
                          "type": "string",
                          "description": "The configured name of the entity"
                        },
                        "isNameL10nTag": {
                          "type": "boolean"
                        },
                        "extensions": {
                          "type": "object"
                        }
                      },
                      "description": "Role of the admin. This is not required for an auditor"
                    },
                    "execMobileAppTokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cloud": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "tokenExpiry": {
                            "type": "integer"
                          },
                          "createTime": {
                            "type": "integer"
                          },
                          "deviceId": {
                            "type": "string"
                          },
                          "deviceName": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Read-only information about a Executive Insights App token, if it exists"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/zia/api/v1/adminUsers/{id}": {
      "get": {
        "operationId": "adminuserrolemgmt__admins_GetAdminUsers",
        "summary": "GetAdminUsers (Adminuserrolemgmt / Admins)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin or auditor's user ID"
                    },
                    "loginName": {
                      "type": "string",
                      "description": "Admin or auditor's login name. loginName is in email format and uses the domain name associated to the Zscaler account"
                    },
                    "userName": {
                      "type": "string",
                      "description": "Admin or auditor's username"
                    },
                    "email": {
                      "type": "string",
                      "description": "Admin or auditor's email address"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about the admin or auditor"
                    },
                    "disabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin account is disabled"
                    },
                    "password": {
                      "type": "string",
                      "description": "The admin's password. If admin single sign-on (SSO) is disabled, then this field is mandatory for POST requests. This information is not provided in a GET response.\""
                    },
                    "pwdLastModifiedTime": {
                      "type": "integer"
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin can be edited or deleted"
                    },
                    "isPasswordLoginAllowed": {
                      "type": "boolean",
                      "description": "The default is true when SAML Authentication is disabled. When SAML Authentication is enabled, this can be set to false in order to force the admin to login via SSO only."
                    },
                    "isPasswordExpired": {
                      "type": "boolean",
                      "description": "Indicates whether or not an admin's password has expired"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether the user is an auditor. This attribute is subject to change."
                    },
                    "isSecurityReportCommEnabled": {
                      "type": "boolean",
                      "description": "Communication for Security Report is enabled."
                    },
                    "isServiceUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Service Update"
                    },
                    "isProductUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Product Update"
                    },
                    "isExecMobileAppEnabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not Executive Insights App access is enabled for the admin"
                    },
                    "adminScopescopeGroupMemberEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Only applicable for the LOCATION_GROUP admin scope type, in which case this attribute gives the list of ID/name pairs of locations within the location group. The attribute name is subject to change"
                    },
                    "adminScopeScopeEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Based on the admin scope type, the entities can be the ID/name pair of departments, locations, or location groups. The attribute name is subject to change"
                    },
                    "adminScopeType": {
                      "type": "string",
                      "description": "The admin's scope. A scope is required for admins, but not applicable to auditors. This attribute is subject to change"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identifier that uniquely identifies an entity"
                        },
                        "name": {
                          "type": "string",
                          "description": "The configured name of the entity"
                        },
                        "isNameL10nTag": {
                          "type": "boolean"
                        },
                        "extensions": {
                          "type": "object"
                        }
                      },
                      "description": "Role of the admin. This is not required for an auditor"
                    },
                    "execMobileAppTokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cloud": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "tokenExpiry": {
                            "type": "integer"
                          },
                          "createTime": {
                            "type": "integer"
                          },
                          "deviceId": {
                            "type": "string"
                          },
                          "deviceName": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Read-only information about a Executive Insights App token, if it exists"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "adminuserrolemgmt__admins_UpdateAdminUser",
        "summary": "UpdateAdminUser (Adminuserrolemgmt / Admins)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin or auditor's user ID"
                    },
                    "loginName": {
                      "type": "string",
                      "description": "Admin or auditor's login name. loginName is in email format and uses the domain name associated to the Zscaler account"
                    },
                    "userName": {
                      "type": "string",
                      "description": "Admin or auditor's username"
                    },
                    "email": {
                      "type": "string",
                      "description": "Admin or auditor's email address"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about the admin or auditor"
                    },
                    "disabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin account is disabled"
                    },
                    "password": {
                      "type": "string",
                      "description": "The admin's password. If admin single sign-on (SSO) is disabled, then this field is mandatory for POST requests. This information is not provided in a GET response.\""
                    },
                    "pwdLastModifiedTime": {
                      "type": "integer"
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin can be edited or deleted"
                    },
                    "isPasswordLoginAllowed": {
                      "type": "boolean",
                      "description": "The default is true when SAML Authentication is disabled. When SAML Authentication is enabled, this can be set to false in order to force the admin to login via SSO only."
                    },
                    "isPasswordExpired": {
                      "type": "boolean",
                      "description": "Indicates whether or not an admin's password has expired"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether the user is an auditor. This attribute is subject to change."
                    },
                    "isSecurityReportCommEnabled": {
                      "type": "boolean",
                      "description": "Communication for Security Report is enabled."
                    },
                    "isServiceUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Service Update"
                    },
                    "isProductUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Product Update"
                    },
                    "isExecMobileAppEnabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not Executive Insights App access is enabled for the admin"
                    },
                    "adminScopescopeGroupMemberEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Only applicable for the LOCATION_GROUP admin scope type, in which case this attribute gives the list of ID/name pairs of locations within the location group. The attribute name is subject to change"
                    },
                    "adminScopeScopeEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Based on the admin scope type, the entities can be the ID/name pair of departments, locations, or location groups. The attribute name is subject to change"
                    },
                    "adminScopeType": {
                      "type": "string",
                      "description": "The admin's scope. A scope is required for admins, but not applicable to auditors. This attribute is subject to change"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identifier that uniquely identifies an entity"
                        },
                        "name": {
                          "type": "string",
                          "description": "The configured name of the entity"
                        },
                        "isNameL10nTag": {
                          "type": "boolean"
                        },
                        "extensions": {
                          "type": "object"
                        }
                      },
                      "description": "Role of the admin. This is not required for an auditor"
                    },
                    "execMobileAppTokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cloud": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "tokenExpiry": {
                            "type": "integer"
                          },
                          "createTime": {
                            "type": "integer"
                          },
                          "deviceId": {
                            "type": "string"
                          },
                          "deviceName": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Read-only information about a Executive Insights App token, if it exists"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Admin or auditor's user ID"
                  },
                  "loginName": {
                    "type": "string",
                    "description": "Admin or auditor's login name. loginName is in email format and uses the domain name associated to the Zscaler account"
                  },
                  "userName": {
                    "type": "string",
                    "description": "Admin or auditor's username"
                  },
                  "email": {
                    "type": "string",
                    "description": "Admin or auditor's email address"
                  },
                  "comments": {
                    "type": "string",
                    "description": "Additional information about the admin or auditor"
                  },
                  "disabled": {
                    "type": "boolean",
                    "description": "Indicates whether or not the admin account is disabled"
                  },
                  "password": {
                    "type": "string",
                    "description": "The admin's password. If admin single sign-on (SSO) is disabled, then this field is mandatory for POST requests. This information is not provided in a GET response.\""
                  },
                  "pwdLastModifiedTime": {
                    "type": "integer"
                  },
                  "isNonEditable": {
                    "type": "boolean",
                    "description": "Indicates whether or not the admin can be edited or deleted"
                  },
                  "isPasswordLoginAllowed": {
                    "type": "boolean",
                    "description": "The default is true when SAML Authentication is disabled. When SAML Authentication is enabled, this can be set to false in order to force the admin to login via SSO only."
                  },
                  "isPasswordExpired": {
                    "type": "boolean",
                    "description": "Indicates whether or not an admin's password has expired"
                  },
                  "isAuditor": {
                    "type": "boolean",
                    "description": "Indicates whether the user is an auditor. This attribute is subject to change."
                  },
                  "isSecurityReportCommEnabled": {
                    "type": "boolean",
                    "description": "Communication for Security Report is enabled."
                  },
                  "isServiceUpdateCommEnabled": {
                    "type": "boolean",
                    "description": "Communication setting for Service Update"
                  },
                  "isProductUpdateCommEnabled": {
                    "type": "boolean",
                    "description": "Communication setting for Product Update"
                  },
                  "isExecMobileAppEnabled": {
                    "type": "boolean",
                    "description": "Indicates whether or not Executive Insights App access is enabled for the admin"
                  },
                  "adminScopescopeGroupMemberEntities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "common.IDNameExtensions object"
                    },
                    "description": "Only applicable for the LOCATION_GROUP admin scope type, in which case this attribute gives the list of ID/name pairs of locations within the location group. The attribute name is subject to change"
                  },
                  "adminScopeScopeEntities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "common.IDNameExtensions object"
                    },
                    "description": "Based on the admin scope type, the entities can be the ID/name pair of departments, locations, or location groups. The attribute name is subject to change"
                  },
                  "adminScopeType": {
                    "type": "string",
                    "description": "The admin's scope. A scope is required for admins, but not applicable to auditors. This attribute is subject to change"
                  },
                  "role": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Identifier that uniquely identifies an entity"
                      },
                      "name": {
                        "type": "string",
                        "description": "The configured name of the entity"
                      },
                      "isNameL10nTag": {
                        "type": "boolean"
                      },
                      "extensions": {
                        "type": "object"
                      }
                    },
                    "description": "Role of the admin. This is not required for an auditor"
                  },
                  "execMobileAppTokens": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cloud": {
                          "type": "string"
                        },
                        "orgId": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "tokenId": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "tokenExpiry": {
                          "type": "integer"
                        },
                        "createTime": {
                          "type": "integer"
                        },
                        "deviceId": {
                          "type": "string"
                        },
                        "deviceName": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Read-only information about a Executive Insights App token, if it exists"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "adminuserrolemgmt__admins_DeleteAdminUser",
        "summary": "DeleteAdminUser (Adminuserrolemgmt / Admins)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Admin or auditor's user ID"
                    },
                    "loginName": {
                      "type": "string",
                      "description": "Admin or auditor's login name. loginName is in email format and uses the domain name associated to the Zscaler account"
                    },
                    "userName": {
                      "type": "string",
                      "description": "Admin or auditor's username"
                    },
                    "email": {
                      "type": "string",
                      "description": "Admin or auditor's email address"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Additional information about the admin or auditor"
                    },
                    "disabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin account is disabled"
                    },
                    "password": {
                      "type": "string",
                      "description": "The admin's password. If admin single sign-on (SSO) is disabled, then this field is mandatory for POST requests. This information is not provided in a GET response.\""
                    },
                    "pwdLastModifiedTime": {
                      "type": "integer"
                    },
                    "isNonEditable": {
                      "type": "boolean",
                      "description": "Indicates whether or not the admin can be edited or deleted"
                    },
                    "isPasswordLoginAllowed": {
                      "type": "boolean",
                      "description": "The default is true when SAML Authentication is disabled. When SAML Authentication is enabled, this can be set to false in order to force the admin to login via SSO only."
                    },
                    "isPasswordExpired": {
                      "type": "boolean",
                      "description": "Indicates whether or not an admin's password has expired"
                    },
                    "isAuditor": {
                      "type": "boolean",
                      "description": "Indicates whether the user is an auditor. This attribute is subject to change."
                    },
                    "isSecurityReportCommEnabled": {
                      "type": "boolean",
                      "description": "Communication for Security Report is enabled."
                    },
                    "isServiceUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Service Update"
                    },
                    "isProductUpdateCommEnabled": {
                      "type": "boolean",
                      "description": "Communication setting for Product Update"
                    },
                    "isExecMobileAppEnabled": {
                      "type": "boolean",
                      "description": "Indicates whether or not Executive Insights App access is enabled for the admin"
                    },
                    "adminScopescopeGroupMemberEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Only applicable for the LOCATION_GROUP admin scope type, in which case this attribute gives the list of ID/name pairs of locations within the location group. The attribute name is subject to change"
                    },
                    "adminScopeScopeEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "common.IDNameExtensions object"
                      },
                      "description": "Based on the admin scope type, the entities can be the ID/name pair of departments, locations, or location groups. The attribute name is subject to change"
                    },
                    "adminScopeType": {
                      "type": "string",
                      "description": "The admin's scope. A scope is required for admins, but not applicable to auditors. This attribute is subject to change"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Identifier that uniquely identifies an entity"
                        },
                        "name": {
                          "type": "string",
                          "description": "The configured name of the entity"
                        },
                        "isNameL10nTag": {
                          "type": "boolean"
                        },
                        "extensions": {
                          "type": "object"
                        }
                      },
                      "description": "Role of the admin. This is not required for an auditor"
                    },
                    "execMobileAppTokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cloud": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "tokenId": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "tokenExpiry": {
                            "type": "integer"
                          },
                          "createTime": {
                            "type": "integer"
                          },
                          "deviceId": {
                            "type": "string"
                          },
                          "deviceName": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Read-only information about a Executive Insights App token, if it exists"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/zia/api/v1/advancedSettings": {
      "get": {
        "operationId": "advanced_settings_GetAdvancedSettings",
        "summary": "GetAdvancedSettings (Advanced Settings)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authBypassUrls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Custom URLs that are exempted from cookie authentication for users"
                    },
                    "kerberosBypassUrls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Custom URLs that are exempted from Kerberos authentication"
                    },
                    "digestAuthBypassUrls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Custom URLs that are exempted from Digest authentication"
                    },
                    "dnsResolutionOnTransparentProxyExemptUrls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URLs that are excluded from DNS optimization on transparent proxy mode"
                    },
                    "dnsResolutionOnTransparentProxyUrls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URLs to which DNS optimization on transparent proxy mode applies"
                    },
                    "enableDnsResolutionOnTransparentProxy": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether DNS optimization is enabled or disabled for Z-Tunnel 2.0 and transparent proxy mode traffic (e.g., traffic via GRE or IPSec tunnels without a PAC file)."
                    },
                    "enableIPv6DnsResolutionOnTransparentProxy": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether DNS optimization is enabled or disabled for IPv6 traffic sent via Z-Tunnel 2.0 and transparent proxy mode traffic (e.g., traffic via GRE or IPSec tunnels without a PAC file)."
                    },
                    "enableIPv6DnsOptimizationOnAllTransparentProxy": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether DNS optimization is enabled or disabled for all IPv6 transparent proxy traffic"
                    },
                    "enableEvaluatePolicyOnGlobalSSLBypass": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether policy evaluation for global SSL bypass traffic is enabled or not"
                    },
                    "enableOffice365": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether Microsoft Office 365 One Click Configuration is enabled or not"
                    },
                    "logInternalIp": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether to log internal IP address present in X-Forwarded-For (XFF) proxy header or not"
                    },
                    "enforceSurrogateIpForWindowsApp": {
                      "type": "boolean",
                      "description": "Enforce Surrogate IP authentication for Windows app traffic"
                    },
                    "trackHttpTunnelOnHttpPorts": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether to apply configured policies on tunneled HTTP traffic sent via a CONNECT method request on port 80"
                    },
                    "blockHttpTunnelOnNonHttpPorts": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether HTTP CONNECT method requests to non-standard ports are allowed or not (i.e., requests directed to ports other than the standard HTTP and HTTPS ports, 80 and 443)"
                    },
                    "blockDomainFrontingOnHostHeader": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether to block HTTP and HTTPS transactions that have an FQDN mismatch"
                    },
                    "zscalerClientConnector1AndPacRoadWarriorInFirewall": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether to apply the Firewall rules configured without a specified location criteria (or with the Road Warrior location) to remote user traffic forwarded via Z-Tunnel 1.0 or PAC files"
                    },
                    "cascadeUrlFiltering": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether to apply the URL Filtering policy even when the Cloud App Control policy already allows a transaction explicitly"
                    },
                    "enablePolicyForUnauthenticatedTraffic": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether policies that include user and department criteria can be configured and applied for unauthenticated traffic"
                    },
                    "blockNonCompliantHttpRequestOnHttpPorts": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether to allow or block traffic that is not compliant with RFC HTTP protocol standards"
                    },
                    "enableAdminRankAccess": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether ranks are enabled for admins to allow admin ranks in policy configuration and management"
                    },
                    "http2NonbrowserTrafficEnabled": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether or not HTTP/2 should be the default web protocol for accessing various applications at your organizational level"
                    },
                    "ecsForAllEnabled": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether or not to include the ECS option in all DNS queries, originating from all locations and remote users."
                    },
                    "dynamicUserRiskEnabled": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether to dynamically update user risk score by tracking risky user activities in real time"
                    },
                    "blockConnectHostSniMismatch": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether CONNECT host and SNI mismatch (i.e., CONNECT host doesn't match the SSL/TLS client hello SNI) is blocked or not"
                    },
                    "preferSniOverConnHost": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether or not to use the SSL/TLS client hello Server Name Indication (SNI) for DNS resolution instead of the CONNECT host for forward proxy connections"
                    },
                    "sipaXffHeaderEnabled": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether or not to insert XFF header to all traffic forwarded from ZIA to ZPA, including source IP-anchored and ZIA-inspected ZPA application traffic."
                    },
                    "blockNonHttpOnHttpPortEnabled": {
                      "type": "boolean",
                      "description": "A Boolean value indicating whether non-HTTP Traffic on HTTP and HTTPS ports are allowed or blocked"
                    },
                    "ecsObject": {
                      "type": "object",
                      "description": "The ECS prefix that must be used in DNS queries when the ECS option is enabled"
                    },
                    "authBypassApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications that are exempted from cookie authenticatio"
                    },
                    "kerberosBypassApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications that are exempted from Kerberos authentication"
                    },
                    "basicBypassApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications that are exempted from Basic authentication"
                    },
                    "digestAuthBypassApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications that are exempted from Digest authentication"
                    },
                    "dnsResolutionOnTransparentProxyExemptApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications that are excluded from DNS optimization on transparent proxy mode"
                    },
                    "dnsResolutionOnTransparentProxyIPv6ExemptApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications that are excluded from DNS optimization for IPv6 addresses on transparent proxy mode"
                    },
                    "dnsResolutionOnTransparentProxyApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications to which DNS optimization on transparent proxy mode applies"
                    },
                    "dnsResolutionOnTransparentProxyIPv6Apps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Cloud applications to which DNS optimization for IPv6 addresses on transparent proxy mode applies"
                    },
                    "blockDomainFrontingApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Applications that are exempted from domain fronting"
                    },
                    "preferSniOverConnHostApps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Applications that are exempted from the preferSniOverConnHost setting"
                    },
                    "dnsResolutionOnTransparentProxyExemptUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories that are excluded from DNS optimization on transparent proxy mode"
                    },
                    "dnsResolutionOnTransparentProxyIPv6ExemptUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "IPv6 URL categories that are excluded from DNS optimization on transparent proxy mode"
                    },
                    "dnsResolutionOnTransparentProxyUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories to which DNS optimization on transparent proxy mode applies"
                    },
                    "dnsResolutionOnTransparentProxyIPv6UrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "IPv6 URL categories to which DNS optimization on transparent proxy mode applies"
                    },
                    "authBypassUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories that are exempted from cookie authentication"
                    },
                    "domainFrontingBypassUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories that are exempted from domain fronting"
                    },
                    "kerberosBypassUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories that are exempted from Kerberos authentication"
                    },
                    "basicBypassUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories that are exempted from Basic authentication"
                    },
                    "httpRangeHeaderRemoveUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories for which HTTP range headers must be removed"
                    },
                    "digestAuthBypassUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "URL categories that are exempted from Digest authentication"
                    },
                    "sniDnsOptimizationBypassUrlCategories": {
                      "type": "array",
                      "items": {
                        "type": "string"
[...]
