{
  "openapi": "3.1.0",
  "info": {
    "title": "Keygen API",
    "summary": "Keygen is an open, source-available software licensing and distribution API, built for developers, by developers.",
    "version": "1.0.0",
    "termsOfService": "https://keygen.sh/terms",
    "contact": {
      "name": "Keygen",
      "url": "https://keygen.sh",
      "email": "support@keygen.sh"
    },
    "license": {
      "name": "Elastic License v2.0",
      "url": "https://keygen.sh/license"
    },
    "description": "The Keygen API is organized around REST principles. All requests **must** be made over TLS/SSL. We only support\n**TLS 1.2**, for security reasons. All API request and response bodies, including errors, are encoded in **JSON**\nformat.\n\nThe API has predictable, resource-oriented URLs, and uses standard HTTP response codes to indicate API errors. We\nuse built-in HTTP features, like authentication and HTTP verbs, which are understood by off-the-shelf HTTP clients.\nWe support cross-origin resource sharing, allowing you to interact securely with our API from any client-facing\nsoftware application.\n"
  },
  "servers": [
    {
      "url": "https://api.keygen.sh/v1",
      "description": "The official Keygen API server."
    }
  ],
  "paths": {
    "/accounts/{account}/tokens": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "operationId": "generateToken",
        "summary": "Generate a token",
        "description": "Generate a new token resource for a user, using the user's email and password. Keygen does not store your tokens\nfor security reasons. After a token is generated, it cannot be recovered if lost. The token will need to be\nrevoked if lost, and a new token should be generated. Alternatively, the existing token can be regenerated\n(rolled).\n\nBy default, user tokens expire in 2 weeks, and admin tokens do not expire. A custom expiry may be provided in\nthe token generate request. If the user does not have a password, a token must be generated via\n[the user's token relationship](https://keygen.sh/docs/api/users/#users-tokens)\n\nTo generate a token for a product, see the [product token relationship](https://keygen.sh/docs/api/products/#products-tokens).\n\nTo generate a license token, see the [license token relationship](https://keygen.sh/docs/api/licenses/#licenses-relationships-activation-tokens).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "GenerateTokenRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "tokens"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "An optional name for the token."
                          },
                          "expiry": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp for when the token expires."
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "otp": {
                                "type": "string",
                                "description": "When the user has [a second factor](https://keygen.sh/docs/api/users/#second-factors)\nenabled, an OTP code will be required. The expected format is a six-digit string, e.g.\n`000000`.\n"
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token generated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "GenerateTokenResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Token"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Tokens"
        ],
        "operationId": "listTokens",
        "summary": "List all tokens",
        "description": "Returns a list of tokens. The tokens are returned sorted by creation date, with the most recent tokens appearing\nfirst. Resources are automatically scoped to the authenticated bearer e.g. when authenticated as a product, only\ntokens that belong to the specific product will be listed.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit",
            "description": "A limit on the number of tokens to be returned."
          },
          {
            "name": "bearer",
            "in": "query",
            "description": "Object containing the bearer's type and ID.",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "title": "ListTokensBearerParameter",
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "products",
                    "licenses",
                    "users"
                  ]
                },
                "id": {
                  "type": "string"
                }
              },
              "required": [
                "type",
                "id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tokens retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "ListTokensResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Token"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  },
                  "required": [
                    "data",
                    "links"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/tokens/{token}": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "operationId": "retrieveToken",
        "summary": "Retrieve a token",
        "description": "Retrieves the details of an existing token.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "token",
            "in": "path",
            "description": "The identifier (UUID) of the token to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "RetrieveTokenResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Token"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "tags": [
          "Tokens"
        ],
        "operationId": "regenerateToken",
        "summary": "Regenerate a token",
        "description": "Regenerate an existing token resource. This will replace the token attribute with a new secure token, and extend\nthe token's expiry by 2 weeks from the current time.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "token",
            "in": "path",
            "description": "The identifier (UUID) of the token to be regenerated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token regenerated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "RegenerateTokenResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Token"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Tokens"
        ],
        "operationId": "revokeToken",
        "summary": "Revoke a token",
        "description": "Permanently revokes a token. It cannot be undone. This action also immediately invalidates all sessions using\nthe given token.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "token",
            "in": "path",
            "description": "The identifier (UUID) of the token to be revoked.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Token revoked successfully"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/products": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "createProduct",
        "summary": "Create a product",
        "description": "Creates a new product resource.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "CreateProductRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "products"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the product."
                          },
                          "url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "A related URL for the product."
                          },
                          "distributionStrategy": {
                            "type": "string",
                            "enum": [
                              "LICENSED",
                              "OPEN",
                              "CLOSED"
                            ],
                            "default": "LICENSED",
                            "description": "The strategy for distributing releases."
                          },
                          "platforms": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "An array of platforms the product supports."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing product metadata.",
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "name"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "CreateProductResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "listProducts",
        "summary": "List all products",
        "description": "Returns a list of products. The products are returned sorted by creation date, with the most recent products\nappearing first.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit",
            "description": "A limit on the number of products to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Products retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "ListProductsResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  },
                  "required": [
                    "data",
                    "links"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/products/{product}": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "retrieveProduct",
        "summary": "Retrieve a product",
        "description": "Retrieves the details of an existing product.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "product",
            "in": "path",
            "description": "The identifier (UUID) of the product to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "RetrieveProductResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "operationId": "updateProduct",
        "summary": "Update a product",
        "description": "Updates the specified product resource by setting the values of the parameters passed. Any parameters not\nprovided will be left unchanged.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "product",
            "in": "path",
            "description": "The identifier (UUID) of the product to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "UpdateProductRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "products"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the product."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "A related URL for the product e.g. the marketing website, company website, etc."
                          },
                          "distributionStrategy": {
                            "type": "string",
                            "enum": [
                              "LICENSED",
                              "OPEN",
                              "CLOSED"
                            ],
                            "default": "LICENSED",
                            "description": "The strategy for distributing releases."
                          },
                          "platforms": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "An array of platforms the product supports."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing product metadata.",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "UpdateProductResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "operationId": "deleteProduct",
        "summary": "Delete a product",
        "description": "Permanently deletes a product. It cannot be undone. This action also immediately deletes any policies, licenses\nand machines that the product is associated with.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "product",
            "in": "path",
            "description": "The identifier (UUID) of the product to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted successfully"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/products/{product}/tokens": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "generateProductToken",
        "summary": "Generate a product token",
        "description": "Generates a new product token resource. Product tokens do not expire.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "product",
            "in": "path",
            "description": "The identifier (UUID) of the product to generate a token for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "GenerateProductTokenRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "tokens"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "An optional name for the token."
                          },
                          "expiry": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp for when the token expires."
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product token generated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "GenerateProductTokenResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Token"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/entitlements": {
      "post": {
        "tags": [
          "Entitlements"
        ],
        "operationId": "createEntitlement",
        "summary": "Create an entitlement",
        "description": "Creates a new entitlement resource.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "CreateEntitlementRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "entitlements"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the entitlement."
                          },
                          "code": {
                            "type": "string",
                            "description": "The unique code for the entitlement."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing entitlement metadata.",
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "name",
                          "code"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Entitlement created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "CreateEntitlementResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Entitlement"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "tags": [
          "Entitlements"
        ],
        "operationId": "listEntitlements",
        "summary": "List all entitlements",
        "description": "Returns a list of entitlements. The entitlements are returned sorted by creation date, with the most recent\nentitlements appearing first. Resources are automatically scoped to the authenticated bearer e.g. when\nauthenticated as a license, only entitlements attached to that specific license will be listed.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit",
            "description": "A limit on the number of entitlements to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Entitlements retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "ListEntitlementsResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Entitlement"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  },
                  "required": [
                    "data",
                    "links"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/entitlements/{entitlement}": {
      "get": {
        "tags": [
          "Entitlements"
        ],
        "operationId": "retrieveEntitlement",
        "summary": "Retrieve an entitlement",
        "description": "Retrieves the details of an existing entitlement.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "entitlement",
            "in": "path",
            "description": "The identifier (UUID) of the entitlement to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entitlement retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "RetrieveEntitlementResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Entitlement"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Entitlements"
        ],
        "operationId": "updateEntitlement",
        "summary": "Update an entitlement",
        "description": "Updates the specified entitlement resource by setting the values of the parameters passed. Any parameters not\nprovided will be left unchanged.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "entitlement",
            "in": "path",
            "description": "The identifier (UUID) of the entitlement to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "UpdateEntitlementRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "entitlements"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the entitlement."
                          },
                          "code": {
                            "type": "string",
                            "description": "The unique code for the entitlement."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing entitlement metadata.",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entitlement updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "UpdateEntitlementResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Entitlement"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Entitlements"
        ],
        "operationId": "deleteEntitlement",
        "summary": "Delete an entitlement",
        "description": "Permanently deletes an entitlement. The entitlement will immediately be removed from all licenses and policies.\nIt cannot be undone.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "entitlement",
            "in": "path",
            "description": "The identifier (UUID) of the entitlement to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Entitlement deleted successfully"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/groups": {
      "post": {
        "tags": [
          "Groups"
        ],
        "operationId": "createGroup",
        "summary": "Create a group",
        "description": "Creates a new group resource.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "CreateGroupRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "groups"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the group."
                          },
                          "maxUsers": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of users the group can have, collectively."
                          },
                          "maxLicenses": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of licenses the group can have, collectively."
                          },
                          "maxMachines": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of machines the group can have, collectively."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing group metadata.",
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "name"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "CreateGroupResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Group"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "listGroups",
        "summary": "List all groups",
        "description": "Returns a list of groups. This will include all groups associated with the authenticated bearer, including\ngroups they are an owner of, as well as groups they are a member of. The groups are returned sorted by creation\ndate, with the most recent groups appearing first.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit",
            "description": "A limit on the number of groups to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "ListGroupsResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  },
                  "required": [
                    "data",
                    "links"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/groups/{group}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "retrieveGroup",
        "summary": "Retrieve a group",
        "description": "Retrieves the details of an existing group.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "group",
            "in": "path",
            "description": "The identifier (UUID) of the group to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "RetrieveGroupResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Group"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Groups"
        ],
        "operationId": "updateGroup",
        "summary": "Update a group",
        "description": "Updates the specified group resource by setting the values of the parameters passed. Any parameters not provided\nwill be left unchanged.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "group",
            "in": "path",
            "description": "The identifier (UUID) of the group to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "UpdateGroupRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "groups"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the group."
                          },
                          "maxUsers": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The maximum number of users the group can have, collectively."
                          },
                          "maxLicenses": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The maximum number of licenses the group can have, collectively."
                          },
                          "maxMachines": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The maximum number of machines the group can have, collectively."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing group metadata.",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "UpdateGroupResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Group"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "operationId": "deleteGroup",
        "summary": "Delete a group",
        "description": "Permanently deletes a group. The group will immediately be removed from all users, licenses and machines. It\ncannot be undone.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "group",
            "in": "path",
            "description": "The identifier (UUID) of the group to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted successfully"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/policies": {
      "post": {
        "tags": [
          "Policies"
        ],
        "operationId": "createPolicy",
        "summary": "Create a policy",
        "description": "Creates a new policy resource.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "CreatePolicyRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "policies"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the policy."
                          },
                          "duration": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The duration for the policy in seconds."
                          },
                          "scheme": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "ED25519_SIGN",
                              "RSA_2048_PKCS1_PSS_SIGN_V2",
                              "RSA_2048_PKCS1_SIGN_V2",
                              "RSA_2048_PKCS1_ENCRYPT",
                              "RSA_2048_JWT_RS256"
                            ]
                          },
                          "strict": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, a license that implements the policy will be considered invalid if its machine\nlimit, machine core limit, or processes limit is surpassed.\n"
                          },
                          "floating": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, a license that implements the policy will be valid across multiple machines.\n"
                          },
                          "requireProductScope": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, validating a license that implements the policy will require a product scope\nthat matches the licenses's product relationship by its identifier (UUID).\n"
                          },
                          "requirePolicyScope": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, validating a license that implements the policy will require a policy scope\nthat matches the licenses's policy relationship by its identifier (UUID).\n"
                          },
                          "requireMachineScope": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, validating a license that implements the policy will require a machine scope\nthat matches at least 1 of the licenses's machine relationships by its identifier (UUID).\n"
                          },
                          "requireFingerprintScope": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, validating a license that implements the policy will require a fingerprint\nscope that matches at least 1 of the licenses's machine relationships by its fingerprint.\n"
                          },
                          "requireUserScope": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, validating a license that implements the policy will require a user scope that\nmatches the license's user relationship.\n"
                          },
                          "requireChecksumScope": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, validating a license that implements the policy will require a checksum scope\nto be provided, matching an accessible artifact for the license.\n"
                          },
                          "requireVersionScope": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, validating a license that implements the policy will require a version scope\nto be provided, matching an accessible release for the license.\n"
                          },
                          "requireCheckIn": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, a license that implements the policy will require check-in at a predefined\ninterval to continue to pass validation i.e. if a license misses a check-in, it will be\ninvalidated.\n"
                          },
                          "checkInInterval": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "day",
                              "week",
                              "month",
                              "year"
                            ],
                            "description": "The frequency at which a license should check-in."
                          },
                          "checkInIntervalCount": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The number of intervals (specified in the check-in interval property) between each required\ncheck-in.\n"
                          },
                          "usePool": {
                            "type": "boolean",
                            "default": false,
                            "description": "Whether or not to pull license keys from a finite pool of pre-determined keys."
                          },
                          "maxMachines": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of machines a license implementing the policy can have associated with\nit.\n"
                          },
                          "maxProcesses": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of machine processes a license implementing the policy can have\nassociated with it, also depending on the policy's leasing strategy.\n"
                          },
                          "maxCores": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of machine CPU cores a license implementing the policy can have\nassociated with it.\n"
                          },
                          "maxUses": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of uses a license implementing the policy can have."
                          },
                          "protected": {
                            "type": "boolean",
                            "description": "Whether or not the policy is protected."
                          },
                          "requireHeartbeat": {
                            "type": "boolean",
                            "default": false,
                            "description": "Whether or not the policy requires its machines to maintain a heartbeat."
                          },
                          "heartbeatDuration": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The heartbeat duration for the policy, in seconds."
                          },
                          "heartbeatCullStrategy": {
                            "type": "string",
                            "enum": [
                              "DEACTIVATE_DEAD",
                              "KEEP_DEAD"
                            ],
                            "default": "DEACTIVATE_DEAD",
                            "description": "The strategy used for culling dead machines and processes."
                          },
                          "heartbeatResurrectionStrategy": {
                            "type": "string",
                            "enum": [
                              "NO_REVIVE",
                              "1_MINUTE_REVIVE",
                              "2_MINUTE_REVIVE",
                              "5_MINUTE_REVIVE",
                              "10_MINUTE_REVIVE",
                              "15_MINUTE_REVIVE",
                              "ALWAYS_REVIVE"
                            ],
                            "default": "NO_REVIVE",
                            "description": "The strategy used for controlling whether or not dead machines and processes can be\nresurrected shortly after death.\n"
                          },
                          "heartbeatBasis": {
                            "type": "string",
                            "enum": [
                              "FROM_CREATION",
                              "FROM_FIRST_PING"
                            ],
                            "description": "Control when a machine's initial heartbeat is started."
                          },
                          "machineUniquenessStrategy": {
                            "type": "string",
                            "enum": [
                              "UNIQUE_PER_ACCOUNT",
                              "UNIQUE_PER_PRODUCT",
                              "UNIQUE_PER_POLICY",
                              "UNIQUE_PER_LICENSE"
                            ],
                            "default": "UNIQUE_PER_LICENSE",
                            "description": "The uniqueness validation strategy for machine fingerprints."
                          },
                          "machineMatchingStrategy": {
                            "type": "string",
                            "enum": [
                              "MATCH_ANY",
                              "MATCH_TWO",
                              "MATCH_MOST",
                              "MATCH_ALL"
                            ],
                            "default": "MATCH_ANY",
                            "description": "The matching strategy for machine fingerprints supplied during a license validation.\n"
                          },
                          "componentUniquenessStrategy": {
                            "type": "string",
                            "enum": [
                              "UNIQUE_PER_ACCOUNT",
                              "UNIQUE_PER_PRODUCT",
                              "UNIQUE_PER_POLICY",
                              "UNIQUE_PER_LICENSE",
                              "UNIQUE_PER_MACHINE"
                            ],
                            "default": "UNIQUE_PER_MACHINE",
                            "description": "The uniqueness validation strategy for component fingerprints.\n"
                          },
                          "componentMatchingStrategy": {
                            "type": "string",
                            "enum": [
                              "MATCH_ANY",
                              "MATCH_TWO",
                              "MATCH_MOST",
                              "MATCH_ALL"
                            ],
                            "default": "MATCH_ANY",
                            "description": "The matching strategy for component fingerprints supplied during a license validation.\n"
                          },
                          "expirationStrategy": {
                            "type": "string",
                            "enum": [
                              "RESTRICT_ACCESS",
                              "REVOKE_ACCESS",
                              "MAINTAIN_ACCESS",
                              "ALLOW_ACCESS"
                            ],
                            "default": "RESTRICT_ACCESS",
                            "description": "The strategy for expired licenses during a license validation and when accessing releases.\n"
                          },
                          "expirationBasis": {
                            "type": "string",
                            "enum": [
                              "FROM_CREATION",
                              "FROM_FIRST_VALIDATION",
                              "FROM_FIRST_ACTIVATION",
                              "FROM_FIRST_DOWNLOAD",
                              "FROM_FIRST_USE"
                            ],
                            "default": "FROM_CREATION",
                            "description": "Control when a license's initial expiry is set."
                          },
                          "transferStrategy": {
                            "type": "string",
                            "enum": [
                              "RESET_EXPIRY",
                              "KEEP_EXPIRY"
                            ],
                            "default": "KEEP_EXPIRY",
                            "description": "Control whether a license's expiration is reset when transferred to this policy."
                          },
                          "authenticationStrategy": {
                            "type": "string",
                            "enum": [
                              "TOKEN",
                              "LICENSE",
                              "MIXED",
                              "NONE"
                            ],
                            "default": "TOKEN",
                            "description": "The strategy used for authenticating as a license, for client-side integrations."
                          },
                          "machineLeasingStrategy": {
                            "type": "string",
                            "enum": [
                              "PER_LICENSE",
                              "PER_USER"
                            ],
                            "description": "The strategy used for leasing machines.\n\nPlease note that a nil owner is significant for a PER_USER leasing strategy. When a machine's owner is nil (or null), the sum of all machines with a nil owner will be counted towards the license's machine limit. Please make sure that you're assigning an owner to machines if you utilize this leasing strategy.\n\nThis defines how machines are leased and counted, especially i.r.t. the policy's max machines limit.\n\n### Options\n\n- **`PER_LICENSE`**:\n  Machines are counted per-license. For example, with a max machines value of 2, each license could have 2 machines. This is the default.\n- **`PER_USER`**:\n  Machines are counted per-user, per-license. For example, with a max machines value of 2, each user could have 2 machines per-license.\n"
                          },
                          "processLeasingStrategy": {
                            "type": "string",
                            "enum": [
                              "PER_MACHINE",
                              "PER_LICENSE",
                              "PER_USER"
                            ],
                            "description": "The strategy used for leasing machine processes.\n\nPlease note that a nil owner is significant for a PER_USER leasing strategy. When a machine's owner is nil (or null), the sum of all processes belonging to a machine with a nil owner will be counted towards the license's process limit. Please make sure that you're assigning an owner to machines if you utilize this leasing strategy.\n\nThis defines how processes are leased and counted, especially i.r.t. the policy's max processes limit.\n\n### Options\n\n- **`PER_MACHINE`**:\n  Processes are counted per-machine. For example, given a policy with a max processes value of 5, each license could have up to 5 processes for each machine. This is the default.\n- **`PER_LICENSE`**:\n  Processes are counted per-license. For example, with a max processes value of 5, each license could have up to 5 processes combined across all machines.\n- **`PER_USER`**:\n  Processes are counted per-user, per-license. For example, with a max processes value of 5, each user could have up to 5 processes combined across all owned machines per-license.\n"
                          },
                          "overageStrategy": {
                            "type": "string",
                            "enum": [
                              "ALWAYS_ALLOW_OVERAGE",
                              "ALLOW_1_25X_OVERAGE",
                              "ALLOW_1_5X_OVERAGE",
                              "ALLOW_2X_OVERAGE",
                              "NO_OVERAGE"
                            ],
                            "default": "NO_OVERAGE",
                            "description": "The strategy used for allowing machine, core and process overages."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing policy metadata.",
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "object",
                            "description": "The product the policy is for.",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "products"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "id"
                                ]
                              }
                            },
                            "required": [
                              "data"
                            ]
                          }
                        },
                        "required": [
                          "product"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "attributes",
                      "relationships"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "CreatePolicyResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Policy"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "listPolicies",
        "summary": "List all policies",
        "description": "Returns a list of policies. The policies are returned sorted by creation date, with the most recent policies\nappearing first. Resources are automatically scoped to the authenticated bearer e.g. when authenticated as a\nproduct, only policies of that specific product will be listed.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit",
            "description": "A limit on the number of policies to be returned."
          },
          {
            "name": "product",
            "in": "query",
            "description": "The identifier (UUID) of the product to filter by.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policies retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "ListPoliciesResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Policy"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  },
                  "required": [
                    "data",
                    "links"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/policies/{policy}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "retrievePolicy",
        "summary": "Retrieve a policy",
        "description": "Retrieves the details of an existing policy.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "policy",
            "in": "path",
            "description": "The identifier (UUID) of the policy to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "RetrievePolicyResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Policy"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "operationId": "updatePolicy",
        "summary": "Update a policy",
        "description": "Updates the specified policy resource by setting the values of the parameters passed. Any parameters not\nprovided will be left unchanged. For example, if the `maxMachines` property is not provided, then the policy's\n`maxMachines` value will be left unchanged. However, if the `maxMachines` property is provided with a value of\n`null`, then the policy's `maxMachines` value will be updated to `null`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "policy",
            "in": "path",
            "description": "The identifier (UUID) of the policy to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "UpdatePolicyRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "policies"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the policy."
                          },
                          "duration": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The duration for the policy in seconds."
                          },
                          "scheme": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "ED25519_SIGN",
                              "RSA_2048_PKCS1_PSS_SIGN_V2",
                              "RSA_2048_PKCS1_SIGN_V2",
                              "RSA_2048_PKCS1_ENCRYPT",
                              "RSA_2048_JWT_RS256"
                            ]
                          },
                          "strict": {
                            "type": "boolean",
                            "description": "When enabled, a license that implements the policy will be considered invalid if its machine\nlimit, machine core limit, or processes limit is surpassed.\n"
                          },
                          "floating": {
                            "type": "boolean",
                            "description": "When enabled, a license that implements the policy will be valid across multiple machines.\n"
                          },
                          "requireProductScope": {
                            "type": "boolean",
                            "description": "When enabled, validating a license that implements the policy will require a product scope\nthat matches the licenses's product relationship by its identifier (UUID).\n"
                          },
                          "requirePolicyScope": {
                            "type": "boolean",
                            "description": "When enabled, validating a license that implements the policy will require a policy scope\nthat matches the licenses's policy relationship by its identifier (UUID).\n"
                          },
                          "requireMachineScope": {
                            "type": "boolean",
                            "description": "When enabled, validating a license that implements the policy will require a machine scope\nthat matches at least 1 of the licenses's machine relationships by its identifier (UUID).\n"
                          },
                          "requireFingerprintScope": {
                            "type": "boolean",
                            "description": "When enabled, validating a license that implements the policy will require a fingerprint\nscope that matches at least 1 of the licenses's machine relationships by its fingerprint.\n"
                          },
                          "requireUserScope": {
                            "type": "boolean",
                            "description": "When enabled, validating a license that implements the policy will require a user scope that\nmatches the license's user relationship.\n"
                          },
                          "requireChecksumScope": {
                            "type": "boolean",
                            "description": "When enabled, validating a license that implements the policy will require a checksum scope\nto be provided, matching an accessible artifact for the license.\n"
                          },
                          "requireVersionScope": {
                            "type": "boolean",
                            "description": "When enabled, validating a license that implements the policy will require a version scope\nto be provided, matching an accessible release for the license.\n"
                          },
                          "requireCheckIn": {
                            "type": "boolean",
                            "default": false,
                            "description": "When enabled, a license that implements the policy will require check-in at a predefined\ninterval to continue to pass validation i.e. if a license misses a check-in, it will be\ninvalidated.\n"
                          },
                          "checkInInterval": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "day",
                              "week",
                              "month",
                              "year"
                            ],
                            "description": "The frequency at which a license should check-in."
                          },
                          "checkInIntervalCount": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The number of intervals (specified in the check-in interval property) between each required\ncheck-in.\n"
                          },
                          "maxMachines": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of machines a license implementing the policy can have associated with\nit.\n"
                          },
                          "maxProcesses": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of machine processes a license implementing the policy can have\nassociated with it, also depending on the policy's leasing strategy.\n"
                          },
                          "maxCores": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of machine CPU cores a license implementing the policy can have\nassociated with it.\n"
                          },
                          "maxUses": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "The maximum number of uses a license implementing the policy can have."
                          },
                          "protected": {
                            "type": "boolean",
                            "description": "Whether or not the policy is protected."
                          },
                          "requireHeartbeat": {
                            "type": "boolean",
                            "description": "Whether or not the policy requires its machines to maintain a heartbeat."
                          },
                          "heartbeatDuration": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The heartbeat duration for the policy, in seconds."
                          },
                          "heartbeatCullStrategy": {
                            "type": "string",
                            "enum": [
                              "DEACTIVATE_DEAD",
                              "KEEP_DEAD"
                            ],
                            "description": "The strategy used for culling dead machines and processes."
                          },
                          "heartbeatResurrectionStrategy": {
                            "type": "string",
                            "enum": [
                              "NO_REVIVE",
                              "1_MINUTE_REVIVE",
                              "2_MINUTE_REVIVE",
                              "5_MINUTE_REVIVE",
                              "10_MINUTE_REVIVE",
                              "15_MINUTE_REVIVE",
                              "ALWAYS_REVIVE"
                            ],
                            "description": "The strategy used for controlling whether or not dead machines and processes can be\nresurrected shortly after death.\n"
                          },
                          "heartbeatBasis": {
                            "type": "string",
                            "enum": [
                              "FROM_CREATION",
                              "FROM_FIRST_PING"
                            ],
                            "description": "Control when a machine's initial heartbeat is started."
                          },
                          "machineUniquenessStrategy": {
                            "type": "string",
                            "enum": [
                              "UNIQUE_PER_ACCOUNT",
                              "UNIQUE_PER_PRODUCT",
                              "UNIQUE_PER_POLICY",
                              "UNIQUE_PER_LICENSE"
                            ],
                            "description": "The uniqueness validation strategy for machine fingerprints."
                          },
                          "machineMatchingStrategy": {
                            "type": "string",
                            "enum": [
                              "MATCH_ANY",
                              "MATCH_TWO",
                              "MATCH_MOST",
                              "MATCH_ALL"
                            ],
                            "description": "The matching strategy for machine fingerprints supplied during a license validation.\n"
                          },
                          "expirationStrategy": {
                            "type": "string",
                            "enum": [
                              "RESTRICT_ACCESS",
                              "REVOKE_ACCESS",
                              "MAINTAIN_ACCESS",
                              "ALLOW_ACCESS"
                            ],
                            "description": "The strategy for expired licenses during a license validation and when accessing releases.\n"
                          },
                          "expirationBasis": {
                            "type": "string",
                            "enum": [
                              "FROM_CREATION",
                              "FROM_FIRST_VALIDATION",
                              "FROM_FIRST_ACTIVATION",
                              "FROM_FIRST_DOWNLOAD",
                              "FROM_FIRST_USE"
                            ],
                            "description": "Control when a license's initial expiry is set."
                          },
                          "transferStrategy": {
                            "type": "string",
                            "enum": [
                              "RESET_EXPIRY",
                              "KEEP_EXPIRY"
                            ],
                            "description": "Control whether a license's expiration is reset when transferred to this policy."
                          },
                          "authenticationStrategy": {
                            "type": "string",
                            "enum": [
                              "TOKEN",
                              "LICENSE",
                              "MIXED",
                              "NONE"
                            ],
                            "description": "The strategy used for authenticating as a license, for client-side integrations."
                          },
                          "machineLeasingStrategy": {
                            "type": "string",
                            "enum": [
                              "PER_LICENSE",
                              "PER_USER"
                            ],
                            "description": "The strategy used for leasing machines.\n\nPlease note that a nil owner is significant for a PER_USER leasing strategy. When a machine's owner is nil (or null), the sum of all machines with a nil owner will be counted towards the license's machine limit. Please make sure that you're assigning an owner to machines if you utilize this leasing strategy.\n\nThis defines how machines are leased and counted, especially i.r.t. the policy's max machines limit.\n\n### Options\n\n- **`PER_LICENSE`**:\n  Machines are counted per-license. For example, with a max machines value of 2, each license could have 2 machines. This is the default.\n- **`PER_USER`**:\n  Machines are counted per-user, per-license. For example, with a max machines value of 2, each user could have 2 machines per-license.\n"
                          },
                          "processLeasingStrategy": {
                            "type": "string",
                            "enum": [
                              "PER_MACHINE",
                              "PER_LICENSE",
                              "PER_USER"
                            ],
                            "description": "The strategy used for leasing machine processes.\n\nPlease note that a nil owner is significant for a PER_USER leasing strategy. When a machine's owner is nil (or null), the sum of all processes belonging to a machine with a nil owner will be counted towards the license's process limit. Please make sure that you're assigning an owner to machines if you utilize this leasing strategy.\n\nThis defines how processes are leased and counted, especially i.r.t. the policy's max processes limit.\n\n### Options\n\n- **`PER_MACHINE`**:\n  Processes are counted per-machine. For example, given a policy with a max processes value of 5, each license could have up to 5 processes for each machine. This is the default.\n- **`PER_LICENSE`**:\n  Processes are counted per-license. For example, with a max processes value of 5, each license could have up to 5 processes combined across all machines.\n- **`PER_USER`**:\n  Processes are counted per-user, per-license. For example, with a max processes value of 5, each user could have up to 5 processes combined across all owned machines per-license.\n"
                          },
                          "overageStrategy": {
                            "type": "string",
                            "enum": [
                              "ALWAYS_ALLOW_OVERAGE",
                              "ALLOW_1_25X_OVERAGE",
                              "ALLOW_1_5X_OVERAGE",
                              "ALLOW_2X_OVERAGE",
                              "NO_OVERAGE"
                            ],
                            "description": "The strategy used for allowing machine, core and process overages."
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Object containing policy metadata.",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "UpdatePolicyResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Policy"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "operationId": "deletePolicy",
        "summary": "Delete a policy",
        "description": "Permanently deletes a policy. It cannot be undone. This action also immediately deletes any licenses that the\npolicy is associated with.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "policy",
            "in": "path",
            "description": "The identifier (UUID) of the policy to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Policy deleted successfully"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/policies/{policy}/pool": {
      "delete": {
        "tags": [
          "Policies"
        ],
        "operationId": "popKeyFromPolicyPool",
        "summary": "Pop key from pool",
        "description": "Pop off (delete) a key from the policy's pool of pre-determined keys. The returned key is only available\ndirectly after a pop, similar to authentication tokens. This cannot be undone.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "policy",
            "in": "path",
            "description": "The identifier (UUID) of the policy to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Policy pool key popped successfully"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/policies/{policy}/entitlements": {
      "post": {
        "tags": [
          "Policies"
        ],
        "operationId": "attachPolicyEntitlements",
        "summary": "Attach policy entitlements",
        "description": "Attach entitlements to a policy. This will immediately be taken into effect for all future license validations.\nAny license that implements the given policy will automatically possess all the policy's entitlements.\n\n**Below are the limitations to attaching an entitlement:**\n\n- You cannot attach an already attached entitlement.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "policy",
            "in": "path",
            "description": "The identifier (UUID) of the policy to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "AttachPolicyEntitlementsRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "entitlements"
                          ]
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy entitlements attached successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "AttachPolicyEntitlementsResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyEntitlement"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "operationId": "detachPolicyEntitlements",
        "summary": "Detach policy entitlements",
        "description": "Detach entitlements from a policy. This will immediately be taken into effect for all future license\nvalidations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "name": "policy",
            "in": "path",
            "description": "The identifier (UUID) of the policy to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "title": "DetachPolicyEntitlementsRequest",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "entitlements"
                          ]
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Policy entitlements detached successfully"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "listPolicyEntitlements",
        "summary": "List policy entitlements",
        "description": "Returns a list of entitlements attached to the policy. The entitlements are returned sorted by creation date,\nwith the most recent entitlements appearing first.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Account"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit",
            "description": "A limit on the number of entitlements to be returned."
          },
          {
            "name": "policy",
            "in": "path",
            "description": "The identifier (UUID) of the policy to list entitlements for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy entitlements retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "title": "ListPolicyEntitlementsResponse",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Entitlement"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    }
                  },
                  "required": [
                    "data",
                    "links"
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/accounts/{account}/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "createUser",
        "summary": "Create a user",
        "description": "Creates a new user resource. Users may be created with only an email address \u2014 no name or password is\nnecessarily required. This can act as a way to associate an email address with a license, which can later be\nclaimed and turned into a full user profile, if needed, using the password reset flow. This is particularly\ngreat for custom license recovery flows, where you may need to email a user their lost license keys.\n",
        "security": [
          {},
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
[...]
