{
  "openapi": "3.0.1",
  "info": {
    "title": "Overview",
    "description": "The Shipping APIs provide a unified, multi-carrier platform to rate shipments, generate labels, manage pickups, and track parcel movement from creation through delivery. These APIs support a wide range of carriers and services, enabling developers to integrate shipping functionalities into their applications with ease. The Shipping APIs are designed to handle single-parcel, multi-parcel, and high-volume workflows. They also include features for managing carrier accounts, configuring defaults, and handling post-shipment operations like reprints, cancellations, and tracking updates. With comprehensive documentation, sample code, and a sandbox environment for testing. \n\nIf you are integrating for the first time, follow this path:\n\n1. Authenticate before calling Shipping APIs\n  - Start with the [Auth API](/openapi/auth/other/getaccesstoken) to generate an OAuth access token.\n  - Send the token in the Authorization header for every request: `Authorization: Bearer <access_token>`.\n\n2. Start with account and carrier setup\n  - Use Get Carrier Accounts to identify available carrierAccountId values.\n  - Use Get Carriers, Get Services, Get Parcel Types, and Get Special Services to discover what is valid for your scenario.\n\n3. Validate shipment inputs before creating labels\n  - Confirm address quality with the Address APIs.\n  - For international shipments, prepare customs data and upload Electronic Trade Documents when required.\n\n4. Rate first, then ship\n  - Use Rate Shipment to compare options by carrier, rate group, rule set, Ship Via Code, or external system code.\n  - Use Create Shipment to generate the label once the preferred option is selected.\n\n5. Manage post-shipment operations\n  - Reprint or cancel labels when needed.\n  - Retrieve shipment details and tracking updates.\n  - Schedule pickups, check pickup availability, and generate pickup documents.\n\n6. Use Batch Shipments for high-volume processing\n  - Use Batch Shipment APIs when creating large shipment volumes.\n  - Choose synchronous bulk creation or asynchronous CSV import, then process and monitor using batchId.\n  - Use batch status, shipment-level details, and batch void operations to manage exceptions at scale.\n\n7. Optimize for production scale\n  - Use Defaults to reduce repeated request fields.\n  - Use Multipiece Shipment for multi-parcel workflows.\n  - Use metadata, references, manifests, and reports for operational control and reconciliation.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.sendpro360.pitneybowes.com/shipping",
      "description": "Sandbox Server"
    },
    {
      "url": "https://api.sendpro360.pitneybowes.com/shipping",
      "description": "Production Server (uses live data)"
    },
    {
      "url": "https://api-ppd.shipping360.pitneybowes.com/ca/shipping",
      "description": "Sandbox Server for Canada"
    },
    {
      "url": "https://api.shipping360.pitneybowes.com/ca/shipping",
      "description": "Production Server for Canada"
    }
  ],
  "tags": [
    {
      "name": "Shipment",
      "description": "The Shipment APIs provide a unified interface to create, manage, and track shipments across multiple carriers. These APIs support the complete shipment lifecycle, including carrier configuration, rate retrieval, shipment creation, label generation, and post-shipment operations."
    },
    {
      "name": "Electronic Trade Document",
      "description": "The Electronic Trade Document API facilitates uploading electronic trade documents for international shipments.<br/>These APIs support faster customs processing by enabling required trade information to be captured and shared electronically at earlier stages of the shipment."
    },
    {
      "name": "Pickups",
      "description": "APIs to create and manage pickup requests, check availability, cancel scheduled pickups, and generate or retrieve pickup documents."
    },
    {
      "name": "Print",
      "description": "APIs to print shipping labels and documents, configure and manage printer mappings, and retrieve print job status."
    },
    {
      "name": "Defaults",
      "description": "APIs to create, retrieve, update, and delete default shipment settings for frequently used fields such as carrier, service, sender address, label preferences, and parcel details."
    }
  ],
  "paths": {
    "/api/v1/carriers": {
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get Carriers",
        "description": "The operation fetches all supported carriers. This service is used to get list of supported carriers and their properties.",
        "operationId": "getCarriers",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The available carriers have been fetched.",
            "headers": {
              "X-PB-TransactionId": {
                "description": "A unique transaction Id provided by the partner which is used to enable debugging and linking between the client's transaction and the system.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/carriers"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/carrier-facility": {
      "post": {
        "tags": [
          "Shipment"
        ],
        "summary": "Carrier facilities",
        "description": "This operation locates Post Offices and other facilities for a given carrier. You can use this operation, for example, to locate all USPS Post Offices near a given postal code.\n",
        "operationId": "carrierFacility",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Facilities available at the specified location have been fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierFacilityResponse"
                },
                "example": {
                  "address": {
                    "addressLine1": "24182 Kathy Ave",
                    "cityTown": "Lake Forest",
                    "company": "Pitney Bowes Inc.",
                    "countryCode": "US",
                    "email": "Kathryn@email.com",
                    "phone": "6502530000",
                    "postalCode": "92630",
                    "residential": false,
                    "stateProvince": "CA"
                  },
                  "carrier": "USPS",
                  "carrierFacilityOptions": [
                    {
                      "name": "FACILITY_TYPE",
                      "value": "POST_OFFICE"
                    },
                    {
                      "name": "FACILITY_TYPE_SERVICE",
                      "value": "LABEL_BROKER_RETAIL"
                    },
                    {
                      "name": "FACILITY_WITHIN_RADIUS",
                      "value": "10"
                    },
                    {
                      "name": "NUMBER_OF_FACILITIES",
                      "value": "1"
                    }
                  ],
                  "carrierFacilitySuggestions": [
                    {
                      "address": {
                        "addressLine1": "24552 RAYMOND WAY",
                        "cityTown": "LAKE FOREST",
                        "postalCode": "92630",
                        "residential": false,
                        "stateProvince": "CA"
                      },
                      "facilityHours": [
                        {
                          "day": "MONDAY",
                          "facilityTimings": [
                            {
                              "opensAt": "08:30:00",
                              "closesAt": "17:00:00"
                            }
                          ]
                        },
                        {
                          "day": "TUESDAY",
                          "facilityTimings": [
                            {
                              "opensAt": "08:30:00",
                              "closesAt": "17:00:00"
                            }
                          ]
                        },
                        {
                          "day": "WEDNESDAY",
                          "facilityTimings": [
                            {
                              "opensAt": "08:30:00",
                              "closesAt": "17:00:00"
                            }
                          ]
                        },
                        {
                          "day": "THURSDAY",
                          "facilityTimings": [
                            {
                              "opensAt": "08:30:00",
                              "closesAt": "17:00:00"
                            }
                          ]
                        },
                        {
                          "day": "FRIDAY",
                          "facilityTimings": [
                            {
                              "opensAt": "08:30:00",
                              "closesAt": "17:00:00"
                            }
                          ]
                        },
                        {
                          "day": "SATURDAY",
                          "facilityTimings": [
                            {
                              "opensAt": "10:00:00",
                              "closesAt": "15:00:00"
                            }
                          ]
                        }
                      ],
                      "facilityParking": "LOT"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/countries": {
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get Countries",
        "description": "The operation fetches list of supported destination countries for a provided carrier and origin country. If query parameters are not provided, it will default to `USPS` as carrier and `US` as origin country.",
        "operationId": "getCountries",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "description": "The carrierID, a unique identifier given to an individual carrier.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCountryCode",
            "in": "query",
            "description": "The Source Country. The two-character ISO country code for the country where the Shipment originates.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Countries has been fetched.",
            "headers": {
              "X-PB-TransactionId": {
                "description": "A unique transaction Id provided by the partner which is used to enable debugging and linking between the client's transaction and the system.",
                "schema": {
                  "type": "string",
                  "example": "GmeMZJ9YDK5z87b"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countries"
                },
                "example": {
                  "countries": [
                    {
                      "countryCode": "CA",
                      "countryName": "Canada"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/services": {
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get Services",
        "description": "The operation fetches a list of supported services for a carrier with respect to specific origin and destination country. If query parameters are not provided, this will default to `USPS` as carrier, `US` as both origin and destination country code.",
        "operationId": "getServices",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier",
            "description": "The CarrierID, a unique identifier provided to an individual carrier. It can be referred from the response of Get Carriers API",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCountryCode",
            "description": "The Source Country. The two-character ISO country code for the country where the Shipment originates.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationCountryCode",
            "description": "The Destination Country for the Shipment. The two-character ISO country code for the country where the shipment is to be delivered.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of services has been fetched.",
            "headers": {
              "X-PB-TransactionId": {
                "description": "A unique transaction Id provided by the partner which is used to enable debugging and linking between the client's transaction and the system.",
                "schema": {
                  "type": "string",
                  "example": "XbxjOb5BR7lwMAe"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/services"
                },
                "example": {
                  "services": [
                    {
                      "serviceId": "EM",
                      "brandedName": "Priority Mail Express™"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/parcelTypes": {
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get Parcel Types",
        "description": "The operation fetches Parcel Types based on the provided carrier, origin county, and the destination country. If query parameters are not provided, this will default to `USPS` as carrier, `US` as both origin and destination country code.",
        "operationId": "getParcelTypes",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "description": "The CarrierID, a unique identifier given to an individual carrier. It can be referred from the response of Get Carriers API",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCountryCode",
            "in": "query",
            "description": "The Source Country. The two-character ISO country code for the country where the Shipment originates.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationCountryCode",
            "in": "query",
            "description": "The Destination Country for the Shipment. The two-character ISO country code for the country where the shipment is to be delivered.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Parcel Types has been fetched.",
            "headers": {
              "X-PB-TransactionId": {
                "description": "A unique transaction Id provided by the partner which is used to enable debugging and linking between the client's transaction and the system.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/parcelTypes"
                },
                "example": {
                  "parcels": [
                    {
                      "brandedName": "Box 1092",
                      "carrier": "USPS",
                      "groupName": "Specialty Boxes and Envelopes",
                      "brandedDimensions": {
                        "girth": 0,
                        "length": 12.25,
                        "width": 2.875,
                        "height": 13.6875,
                        "unitOfMeasurement": "IN"
                      },
                      "parcelId": "B1092",
                      "isBranded": true,
                      "parcelType": "LP",
                      "serviceId": "PM",
                      "weightRules": [
                        {
                          "maxWeight": 1120,
                          "minWeight": 0.01,
                          "required": true,
                          "unitOfMeasurement": "OZ"
                        }
                      ]
                    },
                    {
                      "brandedName": "My Box",
                      "dimensionRules": [
                        {
                          "maxLengthPlusGirth": 130,
                          "maxParcelDimensions": {
                            "length": 120,
                            "width": 38,
                            "height": 41,
                            "unitOfMeasurement": "IN"
                          },
                          "minParcelDimensions": {
                            "length": 0.001,
                            "width": 0.001,
                            "height": 0.001,
                            "unitOfMeasurement": "IN"
                          },
                          "required": true,
                          "unitOfMeasurement": "IN"
                        }
                      ],
                      "groupName": "My Packaging",
                      "parcelId": "PKG",
                      "isBranded": false,
                      "parcelType": "PKG",
                      "suggestedTrackableSpecialserviceId": "Sig",
                      "weightRules": [
                        {
                          "maxWeight": 1120,
                          "minWeight": 0.01,
                          "required": true,
                          "unitOfMeasurement": "OZ"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/specialServices": {
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get Special Services",
        "description": "The operation fetches Special Services for a given carrier, service, origin country, and the destination country. If query parameters are not provided, it will default to `USPS` as carrier, `US` as both origin, and destination country and will show for all service and parcel types",
        "operationId": "getSpecialServices",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "The serviceId. It can be referred from response of `Get Services` API",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parcel",
            "in": "query",
            "description": "The parcel Id, a unique identifier named to individual package. It can be referred from response of `Get Parcel Types` API",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "description": "The CarrierID, a unique identifier given to an individual carrier. It can be referred from response of `Get Carriers` API",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCountryCode",
            "in": "query",
            "description": "The Source Country. The two-character ISO country code for the country where the Shipment originates.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationCountryCode",
            "in": "query",
            "description": "The Destination Country for the Shipment. The two-character ISO country code for the country where the shipment is to be delivered.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Special Service has been fetched successfully.",
            "headers": {
              "X-PB-TransactionId": {
                "description": "A unique transaction Id provided by the partner which is used to enable debugging and linking between the client's transaction and the system.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/specialServices"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/carrierAccounts": {
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get Carrier Accounts",
        "description": "The operation retrieves onboarded carriers with their Carrier Account IDs, which uniquely identify multiple accounts of the same carrier.\n\n**Note:** To receive a paginated response, provide both the optional `page` and `size` query parameters. Else, the API returns all carrier accounts in response as a default behavior.\n",
        "operationId": "getCarrierAccount",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "in": "header",
            "description": "The Developer Partner ID is assigned by PB to uniquely identify a Developer's strategic business partners. If the developer is the sole business partner, this field isn't required.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-LocationId",
            "in": "header",
            "required": false,
            "description": "When the `X-PB-LocationId` header is provided, the API returns only the carrier accounts associated with the specified Location ID. If the header is not provided, API will return all carrier accounts.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of the Shipments search result list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size/count of the searched result list.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Carrier Accounts has been fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageInfo": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 78,
                          "description": "Defines Total number of records."
                        },
                        "pages": {
                          "type": "integer",
                          "example": 8,
                          "description": "Defines Total number of pages."
                        },
                        "page": {
                          "type": "integer",
                          "example": 1,
                          "description": "Defines Current page number."
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "carrierAccounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "carrierAccountId": {
                                "type": "string",
                                "description": "A unique identifier assigned to the specific carrier account.",
                                "example": "abcd12"
                              },
                              "carrierName": {
                                "type": "string",
                                "description": "Name of the carrier.",
                                "example": "FedEx"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/shipments": {
      "post": {
        "tags": [
          "Shipment"
        ],
        "summary": "Create Shipment",
        "x-badges": [
          {
            "name": "Multi-Parcel",
            "color": "sky",
            "position": "after"
          }
        ],
        "description": "> **Note:** This API supports both single and multiparcel shipments. This Request sample includes the full set of supported fields across all carriers. However, not all fields are applicable to every carrier. When making API calls from the doc portal, ensure you include only the parameters supported by the specific carrier you are integrating with. If unsupported fields are included, the request may fail. <br/>\nTo simplify integration and avoid errors, refer to the [Postman Collection](/docs/resources/postman). <br/>\nTo explore which label types, label formats, label sizes, parcel types, services, and special services are supported by each carrier, see the [Carrier Catalog](/docs/shipping/carriers/carrier-catalog). Detailed field descriptions are also provided below.\n\nThe Create Shipment V2 API is used to create shipments and generate shipment labels. A shipment refers to the process of packing and transporting an item from a source location to a destination location using a carrier service. The API supports both domestic and international shipments.\n\nThe API supports both Single Piece Shipment (SPS) and Multi Piece Shipment (MPS) creation using a single endpoint. Shipment type is determined by the request payload:\n\n  - If the 'parcels' array contains one parcel, the API creates a Single Piece Shipment.\n  - If the 'parcels' array contains multiple parcels, the API creates a Multi Piece Shipment.\n  - The API also continues to support the legacy parcel and parcelType structure for backward compatibility.\n  - Refer to the **Legacy Create Shipment V2 API** to create a single-parcel shipment using the `parcel` structure.\n\n**Domestic Shipments** <br>\n\n  - Both the `toAddress` and `fromAddress` addresses must be within the same country.\n  - Requires carrier services and associated special services.\n\n**International Shipments**\n  - The `toAddress` must be in a different country than the `fromAddress`.\n  - Requires international carrier services, special services, and customs information.<br>\n\nThe V2 Create Shipment API compares shipping rates, services, and options across multiple carriers. It selects the best shipping solution based on criteria such as cost, delivery speed, or other business rules. This automates decision-making and eliminates the need for manual analysis of carrier data. It supports following RateShop types: <br>\n\n**1. By Carrier:**<br>\n\n  - Manually specify the carrier and service for shipment creation.\n  - Provides more customization than V1 Create Shipment.\n\n**2. By RuleSet**<br>\n\n  - Automatically select the best carrier and service based on predefined rules (e.g., cheapest, fastest). For example: <br>\n  - Shipments weighing up to 3kg use a \"Standard\" service type with carrier A.\n  - Shipments exceeding 3kg use an \"Over-weight\" service type with carrier B.\n  - Rules are fully client-defined, allowing for dynamic decision-making based on shipment parameters like weight, dimensions, and destination.\n\n**3. By RateGroup**<br>\n\n  - Use predefined rate groups to select a carrier and service dynamically.For example:<br>\n  - Clients can choose between the fastest delivery or the cheapest service rate among a predefined group of carriers.\n  - The system automatically determines and selects the best carrier and service, without the need for manual comparisons.\n\n**4. By ShipViaCode**<br>\n\n  - Instead of passing multiple fields (carrier, carrier account, parcel type, service, and special services) every time in your request payload, you can:\n\n    - Generate a [Ship Via Code](/openapi/shipviacode/ship-via-code/createshipviacode) once, with all those values defined.\n\n    - Use that single code in your create shipment requests.\n\n    - The carrier, account, service, parcel type, and special service values from that code will then automatically apply.\n\n  - If parcel type, service, or special services are also passed in the request payload, they will be overridden by the values defined in the Custom Carrier Code.\n\n**5. By byExternalSystemCode**<br>\n\n  - This enables shipment creation using an external System Code (For SPE users).\n\n  - When an `ExternalSystemCode` is passed in the request, the system retrieves all shipment configuration details (carrier, account, parcel type, service, and special services) linked to that code in the legacy system.\n\n  \n**Notes**<br>\n\n  - The `rateShopBy` field determines the variant to use (`carrier`, `ruleSet`, or `rateGroup`).\n  - Ensure that variant-specific fields are correctly populated:\n    - **byCarrier:** `carrierAccountId`, `carrier`, and `service`\n    - **byRuleSet:** `ruleType` and `shipOption`. The value of shipOption is *Ship Via Code*. Ship Via Code is configured as part of the automation rule.\n    - **byRateGroup:** `ruleType` and `rateGroupId`\n    - **byShipViaCode:** `code` \n    - **byExternalSystemCode**: `externalSystemCode`, `carrierCode`, `serviceCode` and `parcelTypeCode`\n\n  - Define special services in one of two ways - by using a `specialServiceId` or by specifying  special service objects such as `deliveryConfirmation`, `handling`, `insurance`, or `returnOptions`. These two cannot be used together in the same request.\n",
        "operationId": "createShipmentV2",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "The Developer Partner ID is assigned by PB to uniquely identify a Developer's strategic business partners. If the developer is the sole business partner, this field isn't required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "splitContent",
            "description": "Set to true to generate separate labels for each parcel in a multi-parcel shipment. Supported Carriers: FedEx, UPS, NoRate and Purolator (ZPL2 format).",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-PB-LocationId",
            "description": "The X-PB-LocationId header identifies the enterprise, division, or partner location under which a shipment is processed and billed.\nIf this header is not provided, the system automatically uses the enterprise-level location that was created during developer account onboarding. This default location is then used for shipment processing, carrier selection, and billing.\n\n**Location Scope**\n\n- Carrier accounts and services available in a request must belong to the specified location or the default enterprise location.\n- Attempting to use carriers or services that are not configured for the resolved location will result in a validation error.\n\n**Requirement Rules**\n\n- The `X-PB-LocationId` header is optional when the shipment origin country code matches the enterprise's default address country code.\n- The `X-PB-LocationId` header is required when the shipment origin country code differs from the enterprise's default address country code.\n- If the header is required but not provided, the API returns a validation error indicating that the location must be specified for the given shipment origin.\n",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-TransactionId",
            "description": "A unique Transaction ID provided by the partner, which is used to enable debugging and linking between the client's transaction and the system.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-Default-ID",
            "description": "A unique identifier assigned to the Default while its creation using CreateDefaults API.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isReturn",
            "description": "Applies only to USPS, UPS, FedEx, Purolator, and CPC carriers.\n\n- For UPS: If `isReturn` is set, either the `returnOptions` object must be provided (when using individual service objects) or `serviceId: PRL` must be specified (when using specialService). Otherwise, the request will fail.\n- For FedEx, Purolator, and CPC: If `isReturn` is set to `true`, the `returnOptions` object is optional.\n- For USPS: For USPS returns, the account is not charged when the return label is created. Charges for the return shipment are applied only after the Scan-Based Return is inducted.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeDeliveryCommitment",
            "description": "When set to true (default), the response includes delivery commitment information. Set to false to exclude delivery commitment details from the response.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ShipmentDomesticByCarrier"
                  },
                  {
                    "$ref": "#/components/schemas/shipmentDomesticByRateGroup"
                  },
                  {
                    "$ref": "#/components/schemas/shipmentDomesticByRuleset"
                  },
                  {
                    "$ref": "#/components/schemas/shipmentDomesticByShipViaCode"
                  },
                  {
                    "$ref": "#/components/schemas/shipmentDomesticByExternalSystemCode"
                  },
                  {
                    "$ref": "#/components/schemas/shipmentInternationalByCarrier"
                  },
                  {
                    "$ref": "#/components/schemas/MilitaryMailShipmentsRequestV2"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The shipment has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/domesticShipmentResponseV2"
                    },
                    {
                      "$ref": "#/components/schemas/domesticShipmentSplitResponseV2"
                    },
                    {
                      "$ref": "#/components/schemas/internationalShipmentResponseV2"
                    },
                    {
                      "$ref": "#/components/schemas/MilitaryMailShipmentResponseV2"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get All Shipments",
        "description": "The operation fetches all created Shipments. If query parameters are not provided, it will default endDate as current date, page as 1 and size as 10.",
        "operationId": "getAllShipmentsV2",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "in": "header",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date of the date range used to filter shipments by their transaction creation date. The date format must be: YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "example": "2026-06-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date of the date range used to filter shipments by their transaction creation date. The date format must be: YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "example": "2026-06-10"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of the Shipments search result list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size/count of the searched result list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "required": false,
            "description": "Filter shipments by carrier code (e.g., `UPS`, `FEDEX`, `USPS`).",
            "schema": {
              "type": "string",
              "example": "UPS"
            }
          },
          {
            "name": "insured",
            "in": "query",
            "required": false,
            "description": "Filter shipments by insurance status. Set to `true` for insured shipments, `false` otherwise.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "returnLabel",
            "in": "query",
            "required": false,
            "description": "Filter shipments that include return labels. Set to `true` to return only shipments with return labels, `false` otherwise.",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "isInternational",
            "in": "query",
            "required": false,
            "description": "Filter shipments by type. Set `true` for international shipments, `false` for domestic shipments.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "refundEligible",
            "in": "query",
            "required": false,
            "description": "Filter shipments eligible for refund.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "merchant",
            "in": "query",
            "required": false,
            "description": "Filter merchant shipments.\n- **true** → Returns shipment reports for all merchants associated with the developer.\n- To view a **specific merchant**, include the header `X-PB-Developer-Partner-ID` with the merchant's `subscriptionId`.\n",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "shipmentType",
            "in": "query",
            "required": false,
            "description": "Filter by shipment type. Accepted values:\n- `multipiece`: multi-piece shipments\n- `apv`: Adjusted Postage Value (APV) shipments\nIf omitted, all shipment types are returned.\n",
            "schema": {
              "type": "string",
              "example": "multipiece"
            }
          },
          {
            "name": "fromShipmentDate",
            "in": "query",
            "description": "The start date used to filter shipments by their `dateOfShipment`. The date format must be: YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "example": "2026-06-01"
            }
          },
          {
            "name": "toShipmentDate",
            "in": "query",
            "description": "The end date used to filter shipments by their `dateOfShipment`. The date format must be: YYYY-MM-DD.",
            "schema": {
              "type": "string",
              "example": "2026-06-10"
            }
          },
          {
            "name": "X-PB-LocationId",
            "in": "header",
            "required": false,
            "description": "- Specifies the Location ID associated with the shipment.\n- When provided, the response is filtered based on the specified Location ID.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of shipments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAllShipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/rates": {
      "post": {
        "tags": [
          "Shipment"
        ],
        "summary": "Rate Shipment",
        "x-badges": [
          {
            "name": "Multi-Parcel",
            "color": "sky",
            "position": "after"
          }
        ],
        "description": "\" **Note**: This API supports both single and multiparcel shipments. \n\nThis operation generates rate Shop for a specified shipment without generating the labels.\"\n",
        "operationId": "rateShipment",
        "parameters": [
          {
            "name": "X-PB-LocationId",
            "description": "The X-PB-LocationId header identifies the enterprise, developer, or partner location under which a shipment is processed and billed.\nIf the header is not provided, the system defaults to the enterprise-level location that was created during developer account onboarding. This default location is automatically used for shipment processing and billing. <br/>\n\n**Requirement Rules**\n\n- The `X-PB-LocationId` header is optional when the shipment origin country code matches the enterprise's default address country code.\n- The `X-PB-LocationId` header is required when the shipment origin country code differs from the enterprise's default address country code.\n- If the header is required but not provided, the API will return a validation error *\"invalid origin countryCode\"*.\n",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isReturn",
            "description": "Indicates that rates should be calculated for a return shipment. Applies only to USPS, UPS, FedEx, and Purolator carriers.\n\n- **UPS:** When `isReturn` is set to `true`, either the `returnOptions` object must be provided (when using individual service objects) or `serviceId: PRL` must be specified (when using `specialServices`). Otherwise, the request will fail.\n- **FedEx and Purolator:** When `isReturn` is set to `true`, the `returnOptions` object is optional.\n- **USPS:** When `isReturn` is set to `true`, return-shipment rates are returned. (Billing for USPS Scan-Based Returns occurs only after the return is inducted, and applies at shipment creation, not at rating.)\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RateShopbyCarrier"
                  },
                  {
                    "$ref": "#/components/schemas/RateShopbyRategroup"
                  },
                  {
                    "$ref": "#/components/schemas/RateShopbyRuleSet"
                  },
                  {
                    "$ref": "#/components/schemas/RateShopbyShipViaCode"
                  },
                  {
                    "$ref": "#/components/schemas/RateShopbyExternalSystemCode"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rate Shop has been generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parcels": {
                      "type": "array",
                      "description": "List of parcels for a multi-parcel request.",
                      "items": {
                        "type": "object",
                        "required": [
                          "parcel",
                          "parcelType"
                        ],
                        "properties": {
                          "parcel": {
                            "$ref": "#/components/schemas/ParcelDetails"
                          },
                          "parcelType": {
                            "type": "string",
                            "description": "Parcel type for the individual parcel.",
                            "example": "PKG"
                          },
                          "specialServices": {
                            "type": "array",
                            "description": "Special services applied to the individual parcel.",
                            "items": {
                              "$ref": "#/components/schemas/SpecialService"
                            }
                          },
                          "references": {
                            "$ref": "#/components/schemas/referenceV2"
                          }
                        }
                      }
                    },
                    "rate": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Carrier-provided rate details for the shipment.",
                        "properties": {
                          "baseCharge": {
                            "type": "number",
                            "description": "The base service charge payable to the carrier, excluding special service charges.",
                            "example": 8.55
                          },
                          "baseChargeTaxes": {
                            "type": "array",
                            "description": "List of taxes applied to the base charge. Returned in case of Canada carriers, such as: purolator, Canpar and Fedex.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "displayName": {
                                  "type": "string",
                                  "description": "Name of the tax applied.",
                                  "example": "Canada goods and services"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Short code or identifier of the tax.",
                                  "example": "GST"
                                },
                                "taxAmount": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Amount charged for this tax.",
                                  "example": 2.69
                                }
                              }
                            }
                          },
                          "carrier": {
                            "type": "string",
                            "description": "Carrier responsible for transporting the shipment.",
                            "example": "usps"
                          },
                          "parcelType": {
                            "type": "string",
                            "description": "Parcel Type is required for creating a shipment while rating a parcel, which varies as per Carrier selection.<br/> ParcelType have categories like Package, Envelopes, Paks, Boxes, Tube, etc.",
                            "example": "PKG"
                          },
                          "rateTypeId": {
                            "type": "string",
                            "description": "Type of rate associated with the quote, such as CONTRACT_RATES or RETAIL_RATES.",
                            "example": "CONTRACT_RATES"
                          },
                          "serviceId": {
                            "type": "string",
                            "description": "The unique identifier given to the carrier specific service.",
                            "example": "PM"
                          },
                          "surcharges": {
                            "type": "array",
                            "description": "Additional fees or surcharges applied to the shipment. Each object in the array represents a specific surcharge and its associated fee. \nThe `name` field must be one of the supported surcharge types from the respective carrier.\n\n**Supported Surcharge Names by Carrier:**\n\n| Carrier       | Surcharge Names |\n|---------------|-----------------|\n| DHL Express   | FUEL, GO_GREEN_BASIC, OVERSIZE, PREMIUM, RURAL, TOLL |\n| FedEx         | ANCILLARY_FEE, CANADIAN_DESTINATION, DELIVERY_AREA, DELIVERY_CONFIRMATION, FUEL, NON_MACHINABLE, OTHER, OUT_OF_DELIVERY_AREA, OUT_OF_PICKUP_AREA, OVERSIZE, RESIDENTIAL_DELIVERY, RESIDENTIAL_PICKUP |\n| UPS           | DELIVERY_AREA, EXTENDED_AREA, FUEL, LARGE_PACKAGE, RESIDENTIAL, SHIPPER_PAYS_DUTY_TAX |\n| USPS          | nonmachinable, oversize |\n",
                            "items": {
                              "type": "object",
                              "properties": {
                                "fee": {
                                  "type": "number",
                                  "description": "The amount of the surcharge.",
                                  "example": 5.85
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The type of surcharge.",
                                  "example": "RESIDENTIAL"
                                }
                              }
                            },
                            "example": [
                              {
                                "fee": 5.85,
                                "name": "RESIDENTIAL"
                              },
                              {
                                "fee": 4.66,
                                "name": "FUEL"
                              }
                            ]
                          },
                          "totalCarrierCharge": {
                            "type": "number",
                            "description": "Total amount payable to the carrier, including base and special service fees.",
                            "example": 12.7
                          },
                          "deliveryCommitment": {
                            "type": "object",
                            "description": "Estimated delivery details, including any guarantee or commitment.",
                            "properties": {
                              "additionalDetails": {
                                "type": "string",
                                "description": "Additional information about the delivery timing.",
                                "example": "Thu, Nov 14 by 6:00 PM"
                              },
                              "estimatedDeliveryDateTime": {
                                "type": "string",
                                "description": "Date and time of the estimated delivery.",
                                "example": "2024-11-14 18:00:00.000"
                              },
                              "guarantee": {
                                "type": "string",
                                "description": "Type of delivery guarantee provided by the carrier.",
                                "example": "FULL"
                              },
                              "maxEstimatedNumberOfDays": {
                                "type": "string",
                                "description": "Maximum number of days estimated for delivery.",
                                "example": "2"
                              },
                              "minEstimatedNumberOfDays": {
                                "type": "string",
                                "description": "Minimum number of days estimated for delivery.",
                                "example": "2"
                              }
                            }
                          },
                          "totalTaxAmount": {
                            "type": "number",
                            "format": "float",
                            "description": "Total tax amount applied to the shipment. Returned in case of canada carriers.",
                            "example": 2.69
                          },
                          "destinationZone": {
                            "type": "string",
                            "description": "This is the postal or delivery zone assigned to the shipment's destination by the carrier. This field is returned for USPS as of now.",
                            "example": "8"
                          },
                          "publishedTotalCarrierCharge": {
                            "type": "number",
                            "description": "The total amount based on the carrier's standard (published) rates, including base charges, surcharges, special services, discounts, and applicable taxes. This value reflects the amount the carrier would charge without any negotiated discounts or platform-specific rate adjustments.\n- Returned only when supported by the carrier (e.g., FedEx, UPS, DHL, USPS).\"\n",
                            "example": 73.12
                          }
                        }
                      },
                      "example": [
                        {
                          "baseCharge": 41.65,
                          "carrier": "usps",
                          "carrierAccount": "vpjoz235J1Wp",
                          "deliveryCommitment": {
                            "additionalDetails": "Tue, Aug 19 by 6:00 PM",
                            "estimatedDeliveryDateTime": "2025-08-19 18:00:00.000",
                            "guarantee": "FULL",
                            "maxEstimatedNumberOfDays": "1",
                            "minEstimatedNumberOfDays": "1"
                          },
                          "parcelType": "PKG",
                          "rateTypeId": "CONTRACT_RATES",
                          "serviceId": "EM",
                          "totalCarrierCharge": 41.65,
                          "destinationZone": "8",
                          "isHazmat": true
                        },
                        {
                          "baseCharge": 47.8,
                          "carrier": "usps",
                          "carrierAccount": "vpjoz235J1Wp",
                          "deliveryCommitment": {
                            "additionalDetails": "Tue, Aug 19 by 6:00 PM",
                            "estimatedDeliveryDateTime": "2025-08-19 18:00:00.000",
                            "guarantee": "FULL",
                            "maxEstimatedNumberOfDays": "1",
                            "minEstimatedNumberOfDays": "1"
                          },
                          "parcelType": "PKG",
                          "rateTypeId": "RETAIL",
                          "serviceId": "EM",
                          "totalCarrierCharge": 47.8,
                          "destinationZone": "8",
                          "isHazmat": true
                        }
                      ]
                    },
                    "fromAddress": {
                      "$ref": "#/components/schemas/fromAddressV2Response"
                    },
                    "toAddress": {
                      "$ref": "#/components/schemas/toAddressV2Response"
                    },
                    "shipmentOptions": {
                      "type": "object",
                      "description": "Optional shipment preferences.",
                      "example": {}
                    },
                    "references": {
                      "type": "object",
                      "description": "Any additional references related to the rate shop request.",
                      "example": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/err/coverSheet": {
      "post": {
        "tags": [
          "Shipment"
        ],
        "summary": "Create ERR Single Coversheet",
        "description": "This API generates Electronic Return Receipt (ERR) artifacts for a parcel, including a coversheet, ERR barcode, and ERR stamp. The response output can be configured using the `type` parameter to return a coversheet, barcode and stamp images, or all outputs.\n",
        "operationId": "createErrCoversheet",
        "parameters": [
          {
            "name": "X-PB-LocationId",
            "description": "The X-PB-LocationId header identifies the enterprise, division, or partner location under which a shipment is processed and billed.\nIf this header is not provided, the system automatically uses the enterprise-level location that was created during developer account onboarding. This default location is then used for shipment processing, carrier selection, and billing.\n\n**Location Scope**\n\n- Carrier accounts and services available in a request must belong to the specified location or the default enterprise location.\n- Attempting to use carriers or services that are not configured for the resolved location will result in a validation error.\n\n**Requirement Rules**\n\n- The `X-PB-LocationId` header is optional when the shipment origin country code matches the enterprise's default address country code.\n- The `X-PB-LocationId` header is required when the shipment origin country code differs from the enterprise's default address country code.\n- If the header is required but not provided, the API returns a validation error indicating that the location must be specified for the given shipment origin.\n",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErrCoversheetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The ERR coversheet has been successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrCoversheetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/shipments/{shipmentId}": {
      "get": {
        "tags": [
          "Shipment"
        ],
        "summary": "Get Shipment by Id",
        "description": "\n\"The operation retrieves shipment details using shipmentId.\"\n",
        "operationId": "shipmentByIdV2MPS",
        "parameters": [
          {
            "name": "shipmentId",
            "in": "path",
            "description": "The shipmentId, a unique identifier for an individual Shipment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "The Developer Partner ID is assigned by PB to uniquely identify a Developer's strategic business partners. If the developer is the sole business partner, this field isn't required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The shipment has been retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getShipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Not Found Error",
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/importUrl": {
      "post": {
        "tags": [
          "Electronic Trade Document"
        ],
        "summary": "Upload Electronic Trade Document",
        "description": "Electronic Trade Documents Upload API is an international shipping document upload solution that simplifies global shipping needs and allows you to electronically upload customs documentation required for international shipments. \nYou can submit most of your trade documents electronically relieving yourself from printing or attaching trade documents with the shipment. <br/>\nThis API simplifies and accelerates customs clearance by replacing physical paperwork with electronic documentation.<br/>\nThe customs and other agencies receive electronically sent documents faster than paper copies attached with your shipment. The customs clearance process is also optimized as capturing and sharing of critical trade information is done at earlier stages of shipping.\n\n> Note:\n- FedEx supports ETD with the special service `ELECTRONIC_TRADE_DOCUMENTS`.\n- DHL Express supports ETD with the special service `PAPERLESS`.\n- In certain scenarios, the originals of specific international documents still need to be attached to the package. \n- For smooth customs clearance and to avoid delays, ensure that the documents are visually clear and not distorted in any way.\n\n**How the Workflow Operates**<br/>\n\n**Step 1: Submit Electronic Trade Document Metadata**<br/>\n\nInitiate the process by making a POST request to the ETD Upload API with the document metadata (e.g., file name, document type, and content type).<br/>\nIn response, the system returns:<br/>\n- A pre-signed S3 upload URL (url)<br/>\n- A fileName<br/>\n- A relative `s3FileId` used to reference the uploaded document later<br/>\n\n**Step 2: Upload the Document File**<br/>\n\nAfter receiving the response, you must perform a separate HTTP PUT request to the provided [url](https://docs.shipping360.pitneybowes.com/openapi/shipping/operation/uploadETD/#!c=200&path=url&t=response).<br/>\n\n- This request must upload the binary content of the file (e.g., PDF or image)<br/>\n\n- Upload the same file whose metadata was submitted in step-1 <br/>\n\n**Step 3: Reference the Document in Shipment Creation**<br/>\n\nOnce the ETD uploaded successfully, the document is stored in the S3 bucket.<br/>\n\n- Once uploaded, the document is stored in the S3 bucket and can later be referenced via the `s3FileId` in [Create International Shipment API](https://docs.shipping360.pitneybowes.com/openapi/shipping/operation/createShipment/#!path=1/customs/customsDocuments&t=request)  under `customsDocuments` object.\n",
        "operationId": "uploadETD",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "format",
                  "carrierAccountId",
                  "documentType",
                  "contentType",
                  "shipmentDocuments"
                ],
                "properties": {
                  "carrierAccountId": {
                    "type": "string",
                    "description": "A unique identifier for the carrier account to which the document will be uploaded.\n",
                    "example": "vO396rorMdxZ8k1"
                  },
                  "shipmentDocuments": {
                    "type": "array",
                    "description": "List of electronic trade documents to be uploaded for the shipment.\n",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "format",
                        "fileName",
                        "contentType",
                        "documentType"
                      ],
                      "properties": {
                        "fileName": {
                          "type": "string",
                          "description": "The name of the file to be uploaded."
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "PDF"
                          ],
                          "description": "The format of the file to be uploaded."
                        },
                        "documentType": {
                          "type": "string",
                          "enum": [
                            "INVOICE",
                            "COMMERCIAL_INVOICE",
                            "PROFORMA_INVOICE",
                            "CERTIFICATE_OF_ORIGIN",
                            "NAFTA_CERTIFICATE_OF_ORIGIN",
                            "CUSTOMS_DECLARATION_FORM",
                            "AIR_WAYBILL_AND_WAYBILL"
                          ],
                          "description": "Type of the electronic trade document to be uploaded ."
                        },
                        "contentType": {
                          "type": "string",
                          "description": "Content type of the file to be uploaded.\n",
                          "example": "DOCUMENT_REFERENCE"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The pre-signed S3 upload url is generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "description": "The original name of the electronic document to be uploaded.",
                        "example": "invoice.pdf"
                      },
                      "s3FileId": {
                        "type": "string",
                        "description": "The internal relative file path in the S3 bucket. This ID is used when referencing the document in the `customsDocuments` object during [shipment creation](/openapi/shipping/shipment/createshipmentv2).",
                        "example": "uploads/shipping/intl_docs/.../invoice.pdf"
                      },
                      "url": {
                        "type": "string",
                        "description": "A pre-signed Amazon S3 URL used to upload the actual binary file via an HTTP PUT request.\nThis URL is securely generated by the server. It allows direct upload to the S3 bucket **without requiring AWS credentials or additional authentication**. <br/>\nTo complete the document upload process:<br/>\n- Copy the URL and create a new request to this URL.<br/>\n- Perform an HTTP PUT request to this URL.<br/>\n- Set the request body to the binary content and select the same file whose  metadata was previously submitted.<br/>\nOnce the upload is complete, the document is stored in the specified S3 location and can be referenced later using the `s3FileId`.\n",
                        "format": "url",
                        "example": "https://s3-url-with-signature"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Not Found Error",
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/shipments/reprint": {
      "post": {
        "tags": [
          "Shipment"
        ],
        "summary": "Reprint Shipment",
        "description": "This operation retrieves an existing shipping label associated with a shipment. The API uses the shipmentId returned by the original Create Shipment request. Use this API only if the original shipping label has been lost or damaged. <br>\n\n**Key Considerations**:<br>\n\n   - This operation is applicable only if the original shipment was successfully created. It cannot be used if the initial Create Shipment request resulted in no response or encountered an error.\n   - USPS allows only 1 reprint.\n   - GoFor does not allow reprint.\n   - RMG allows 3 reprints.\n   - All other carriers allow up to 8 reprints.\n   - Reprints are valid for 24 hours from the time the label was first created.\n   - Reprinting should only be used when necessary. Excessive reprint attempts are restricted and monitored.\n   - Follow the [Troubleshooting](/docs/support/troubleshooting) section in case you are facing any issues creating a shipment.\n",
        "operationId": "reprintShipmentByIdV2",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "The Developer Partner ID is assigned by PB to uniquely identify a Developer's strategic business partners. If the developer is the sole business partner, this field isn't required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-LocationId",
            "description": "The X-PB-LocationId header identifies the enterprise, developer, or partner location under which a shipment is processed and billed.\nIf the header is not provided, the system defaults to the enterprise-level location that was created during developer account onboarding. This default location is automatically used for shipment processing and billing. <br/>\n\n**Requirement Rules**\n\n- The `X-PB-LocationId` header is optional when the shipment origin country code matches the enterprise's default address country code.\n- The `X-PB-LocationId` header is required when the shipment origin country code differs from the enterprise's default address country code.\n- If the header is required but not provided, the API will return a validation error *\"invalid origin countryCode\"*.\n",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-TransactionId",
            "description": "A unique transaction Id provided by the partner which is used to enable debugging and linking between the client's transaction and the system.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipmentReprintV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The shipment has been reprinted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reprintShipmentV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Not Found Error",
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v2/shipments/cancel": {
      "post": {
        "tags": [
          "Shipment"
        ],
        "summary": "Cancel Shipment",
        "description": "This operation cancels or voids a shipment label that has not been processed by the carrier. When you cancel an unused prepaid shipment label, the API initiates a request for an electronic refund.<br>\n\n**Key Considerations**\n- Cancelation must occur before the shipment is picked up or processed by the carrier.\n- Refunds are only applicable for unused labels. Voiding a used label may result in penalties or billing.<br>\n- **USPS**:\n   - Cancel unused USPS prepaid labels within 30 days of printing to start the refund process.\n   - Refund requests are processed within 14 business days from the date the refund was requested, provided the label has not been used.\n   - Approved refunds are automatically credited to the account you used to pay for the label.\n   - **Note**: USPS considers it a federal offense to induct a label that has already been refunded.\n   - **Note**: Refunds are not available for First-Class Mail letters and flats.\n   - **Note**: Refunds are subject to the policies of the applicable carrier.\n- For unused post-paid labels, you must void them. Voiding avoids billing for the label and allows the carrier to maintain an accurate count for pickups.\n- Always destroy voided labels to prevent accidental use. If a voided label is shipped, you will be billed for the label.\n- Once a refund has been claimed, you cannot use the shipping label for sending packages. It will be rejected.<br/>\n\n**Shipment Cancelation Rules**\n\n- Provide either `shipmentId` or `parcelTrackingNumber` to cancel a shipment.\n- If both are provided, `shipmentId` takes precedence and `parcelTrackingNumber` is ignored.\n- If only `parcelTrackingNumber` is provided, the shipment associated with that parcel tracking number is canceled.\n",
        "operationId": "cancelShipmentByIdV2",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "The Developer Partner ID is assigned by PB to uniquely identify a Developer's strategic business partners. If the developer is the sole business partner, this field isn't required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-LocationId",
            "description": "The X-PB-LocationId header identifies the enterprise, developer, or partner location under which a shipment is processed and billed.\nIf the header is not provided, the system defaults to the enterprise-level location that was created during developer account onboarding. This default location is automatically used for shipment processing and billing.<br/>\n\n**Requirement Rules**\n\n- The `X-PB-LocationId` header is optional when the shipment origin country code matches the enterprise's default address country code.\n- The `X-PB-LocationId` header is required when the shipment origin country code differs from the enterprise's default address country code.\n- If the header is required but not provided, the API will return a validation error *\"invalid origin countryCode\"*.\n",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-TransactionId",
            "description": "A unique Transaction ID provided by the partner which is used to enable debugging and linking between the client's transaction and the system.",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shipmentCancelV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Shipment has been cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cancelShipmentV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Not Found Error",
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/pickups": {
      "post": {
        "tags": [
          "Pickups"
        ],
        "summary": "Schedule Pickup",
        "description": "Pickups endpoint allows you to schedule pickups with USPS, DHL Express, UPS and FedEx carriers for eligible shipments. \nThe pickup schedule scope is determined by what you provide in the request:\n  - **If pickupSummary is provided:** a pickup is scheduled for the packages described in the summary.\n  - **If shipmentIds are provided:** a pickup is scheduled for the specified shipments.\n  - **If both pickupSummary and shipmentIds are provided:** a pickup is scheduled for all shipments including by both inputs.\n  - **If neither is provided:** a pickup is scheduled for all shipments created on the given carrier account by that time of the day.\n  - **carrierAccountId handling:** `carrierAccountId` is required to schedule a pickup. Either provide `carrierAccountId` in the request payload, or provide `X-PB-LocationId` with a location that has only one carrier account configured for the selected carrier. \n> Note: The sender's first name and last name are required for USPS. For example: `\"name\": \"John Doe\"`\n",
        "operationId": "schedulePickup",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PB-LocationId",
            "description": "The X-PB-LocationId header identifies the enterprise, division, or partner location under which a shipment is processed and billed.\nIf this header is not provided, the system automatically uses the enterprise-level location that was created during developer account onboarding. This default location is then used for shipment processing, carrier selection, and billing.\n\n**Selection Rules**\n\n------------------------\n- If `X-PB-LocationId` is provided and the location has **one carrier with one account**:\n  - `carrier` is optional\n  - `carrierAccountId` is optional\n  - The available carrier account is selected and the manifest is created.\n\n- If `X-PB-LocationId` is not provided and the default location has **one carrier with one account**:\n  - `carrier` is optional\n  - `carrierAccountId` is optional\n  - The available carrier account is selected and the manifest is created.\n------------------------\n- If `X-PB-LocationId` is provided and the location has **one carrier with multiple accounts**:\n  - `carrier` is optional\n  - `carrierAccountId` is required\n  - The specified `carrierAccountId` is selected and the manifest is created.\n\n- If `X-PB-LocationId` is not provided and the default location has **one carrier with multiple accounts**:\n  - `carrier` is optional\n  - `carrierAccountId` is required\n  - The specified `carrierAccountId` is selected and the manifest is created.\n---------------------------\n- If `X-PB-LocationId` is provided and the location has **multiple carriers with one account each**:\n  - `carrier` is required\n  - `carrierAccountId` is optional\n  - The specified `carrier` and its associated account are selected and the manifest is created.\n\n- If `X-PB-LocationId` is not provided and the default location has **multiple carriers with one account each**:\n  - `carrier` is required\n  - `carrierAccountId` is optional\n  - The specified `carrier` and its associated account are selected and the manifest is created.\n----------------------------\n- If `X-PB-LocationId` is provided and the location has **multiple carriers with multiple accounts**:\n  - `carrier` is optional\n  - `carrierAccountId` is required\n  - The specified `carrierAccountId` is selected and the manifest is created.\n\n- If `X-PB-LocationId` is not provided and the default location has **multiple carriers with multiple accounts**:\n  - `carrier` is optional\n  - `carrierAccountId` is required\n  - The specified `carrierAccountId` is selected and the manifest is created.\n-----------------------------\n",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/schedulePickupDHLEXPRequest"
                  },
                  {
                    "$ref": "#/components/schemas/schedulePickupUSPSRequest"
                  },
                  {
                    "$ref": "#/components/schemas/schedulePickupUPSRequest"
                  },
                  {
                    "$ref": "#/components/schemas/schedulePickupFedexRequest"
                  },
                  {
                    "$ref": "#/components/schemas/schedulePickupPurolatorRequest"
                  },
                  {
                    "$ref": "#/components/schemas/schedulePickupCPCRequest"
                  },
                  {
                    "$ref": "#/components/schemas/schedulePickupFreightCarriersRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Pickup has been created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/schedulePickupDHLEXPResponse"
                    },
                    {
                      "$ref": "#/components/schemas/schedulePickupUSPSResponse"
                    },
                    {
                      "$ref": "#/components/schemas/schedulePickupUPSResponse"
                    },
                    {
                      "$ref": "#/components/schemas/schedulePickupPurolatorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/schedulePickupCPCResponse"
                    },
                    {
                      "$ref": "#/components/schemas/schedulePickupFedexResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Pickups"
        ],
        "summary": "Get Pickups",
        "description": "Get Pickups",
        "operationId": "getPickups",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "in": "header",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "description": "Name of the carrier to retrieve pickups for.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date for filtering pickups. Format: YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date for filtering pickups. Format: YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the pickups to retrieve (scheduled or cancelled).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pickups.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAllPickups"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "description": "Unauthorized Error",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/pickups/cancel": {
      "put": {
        "tags": [
          "Pickups"
        ],
        "summary": "Cancel Pickups",
        "description": "Cancel Pickups.",
        "operationId": "cancelPickups",
        "parameters": [
          {
            "name": "X-PB-Developer-Partner-Id",
            "description": "This is the Developer Partner ID. When the developer is the only partner, this field is not required.",
            "required": false,
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/schedulePickupCancelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pick up cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/schedulePickupCancelResponse"
                }
              }
            }
          },
[...]
