{
  "openapi": "3.0.0",
  "info": {
    "title": "Palo Alto Prisma Access",
    "description": "SASE network and security configuration API for Palo Alto Networks Prisma Access, managed via Strata Cloud Manager",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.sase.paloaltonetworks.com"
    }
  ],
  "security": [
    {
      "oauth2ClientCredentials": []
    }
  ],
  "paths": {
    "/sse/config/v1/address-groups": {
      "get": {
        "description": "List all [address groups](https://docs.paloaltonetworks.com/network-security/security-policy/objects/address-groups).\n",
        "operationId": "get-sse-config-v1-address-groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/objects-address-groups"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of address groups"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get all address groups",
        "tags": [
          "AddressGroups"
        ]
      },
      "post": {
        "description": "Create an address group.\n",
        "operationId": "post-sse-config-v1-address-groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-address-groups"
              }
            }
          },
          "description": "The address group you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an address group",
        "tags": [
          "AddressGroups"
        ]
      }
    },
    "/sse/config/v1/address-groups/{id}": {
      "delete": {
        "description": "Delete an address group.\n",
        "operationId": "delete-sse-config-v1-address-groups-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an address group",
        "tags": [
          "AddressGroups"
        ]
      },
      "get": {
        "description": "Get an [address group](https://docs.paloaltonetworks.com/network-security/security-policy/objects/address-groups) by ID.\n",
        "operationId": "get-sse-config-v1-address-groups-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/objects-address-groups"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get the address groups by id."
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an address group by ID",
        "tags": [
          "AddressGroups"
        ]
      },
      "put": {
        "description": "Modify an address group.\n",
        "operationId": "put-sse-config-v1-address-groups-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-address-groups"
              }
            }
          },
          "description": "The address group you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an address group",
        "tags": [
          "AddressGroups"
        ]
      }
    },
    "/sse/config/v1/addresses": {
      "get": {
        "description": "Get addresses.\n",
        "operationId": "get-sse-config-v1-addresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/objects-addresses"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of addresses"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List addresses",
        "tags": [
          "Addresses"
        ]
      },
      "post": {
        "description": "Create an address.\n",
        "operationId": "post-sse-config-v1-addresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-addresses"
              }
            }
          },
          "description": "The address you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an address",
        "tags": [
          "Addresses"
        ]
      }
    },
    "/sse/config/v1/addresses/{id}": {
      "delete": {
        "description": "Delete an address.\n",
        "operationId": "delete-sse-config-v1-addresses-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an address",
        "tags": [
          "Addresses"
        ]
      },
      "get": {
        "description": "Get an [address](https://docs.paloaltonetworks.com/network-security/security-policy/objects/addresses) by ID.\n",
        "operationId": "get-sse-config-v1-addresses-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/objects-addresses"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get the address by id."
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an address by ID",
        "tags": [
          "Addresses"
        ]
      },
      "put": {
        "description": "Modify an address.\n",
        "operationId": "put-sse-config-v1-addresses-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-addresses"
              }
            }
          },
          "description": "The address you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an address",
        "tags": [
          "Addresses"
        ]
      }
    },
    "/sse/config/v1/anti-spyware-profiles": {
      "get": {
        "description": "Retrieve a list of all [anti-spyware profiles](https://docs.paloaltonetworks.com/network-security/security-policy/security-profiles/security-profile-anti-spyware).\n",
        "operationId": "get-sse-config-v1-anti-spyware-profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/anti-spyware-profiles"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of Anti-spyware profiles"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List all anti-spyware profiles",
        "tags": [
          "AntiSpywareProfiles"
        ]
      },
      "post": {
        "description": "Create an [anti-spyware profile](https://docs.paloaltonetworks.com/network-security/security-policy/security-profiles/security-profile-anti-spyware).\n",
        "operationId": "post-sse-config-v1-anti-spyware-profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/anti-spyware-profiles"
              }
            }
          },
          "description": "The Anti-spyware profile you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an anti-spyware profile",
        "tags": [
          "AntiSpywareProfiles"
        ]
      }
    },
    "/sse/config/v1/anti-spyware-profiles/{id}": {
      "delete": {
        "description": "Delete an Anti-spyware profile.\n",
        "operationId": "delete-sse-config-v1-anti-spyware-profiles-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an Anti-spyware profile",
        "tags": [
          "AntiSpywareProfiles"
        ]
      },
      "get": {
        "description": "Get an [anti-spyware profile](https://docs.paloaltonetworks.com/network-security/security-policy/security-profiles/security-profile-anti-spyware) by ID.\n",
        "operationId": "get-sse-config-v1-anti-spyware-profiles-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/anti-spyware-profiles"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get the anti-spyware profile by id."
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an anti-spyware profile by ID",
        "tags": [
          "AntiSpywareProfiles"
        ]
      },
      "put": {
        "description": "Modify an Anti-spyware profile.\n",
        "operationId": "put-sse-config-v1-anti-spyware-profiles-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/anti-spyware-profiles"
              }
            }
          },
          "description": "The Anti-spyware profile you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an Anti-spyware profile",
        "tags": [
          "AntiSpywareProfiles"
        ]
      }
    },
    "/sse/config/v1/anti-spyware-signatures": {
      "get": {
        "description": "Retrieve a list of all [anti-spyware](https://docs.paloaltonetworks.com/network-security/security-policy/security-profiles/security-profile-anti-spyware) signatures.\n",
        "operationId": "get-sse-config-v1-anti-spyware-signatures",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/anti-spyware-signatures"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of Anti-spyware signatures"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List all anti-spyware signatures",
        "tags": [
          "AntiSpywareSignatures"
        ]
      },
      "post": {
        "description": "Create an [anti-spyware](https://docs.paloaltonetworks.com/network-security/security-policy/security-profiles/security-profile-anti-spyware) signature.\n",
        "operationId": "post-sse-config-v1-anti-spyware-signatures",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/anti-spyware-signatures"
              }
            }
          },
          "description": "The Anti-spyware signature you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an anti-spyware signature",
        "tags": [
          "AntiSpywareSignatures"
        ]
      }
    },
    "/sse/config/v1/anti-spyware-signatures/{id}": {
      "delete": {
        "description": "Delete an Anti-spyware signature.\n",
        "operationId": "delete-sse-config-v1-anti-spyware-signatures-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an Anti-spyware signature",
        "tags": [
          "AntiSpywareSignatures"
        ]
      },
      "put": {
        "description": "Modify an Anti-spyware signature.\n",
        "operationId": "put-sse-config-v1-anti-spyware-signatures-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/anti-spyware-signatures"
              }
            }
          },
          "description": "The Anti-spyware signature you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an Anti-spyware signature",
        "tags": [
          "AntiSpywareSignatures"
        ]
      }
    },
    "/sse/config/v1/app-override-rules": {
      "get": {
        "description": "Retrieve a list of all [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) override rules.\n",
        "operationId": "get-sse-config-v1-app-override-rules",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/position"
          },
          {
            "$ref": "#/components/parameters/folder"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/app-override-rules"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of application override policy rules"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List all application override rules",
        "tags": [
          "ApplicationOverrideRules"
        ]
      },
      "post": {
        "description": "Create an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) override rule.\n",
        "operationId": "post-sse-config-v1-app-override-rules",
        "parameters": [
          {
            "$ref": "#/components/parameters/position"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/app-override-rules"
              }
            }
          },
          "description": "The application override policy rule you want to create"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an application override rule",
        "tags": [
          "ApplicationOverrideRules"
        ]
      }
    },
    "/sse/config/v1/app-override-rules/{id}": {
      "delete": {
        "description": "Delete an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) override rule.\n",
        "operationId": "delete-sse-config-v1-app-override-rules-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an application override rule",
        "tags": [
          "ApplicationOverrideRules"
        ]
      },
      "get": {
        "description": "Get an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) override rule by ID.\n",
        "operationId": "get-sse-config-v1-app-override-rules-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          },
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/app-override-rules"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get the remote network by id."
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an application override rule by ID",
        "tags": [
          "ApplicationOverrideRules"
        ]
      },
      "put": {
        "description": "Edit an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) override rule.\n",
        "operationId": "put-sse-config-v1-app-override-rules-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/app-override-rules"
              }
            }
          },
          "description": "The app override policy rule you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an application override rule",
        "tags": [
          "ApplicationOverrideRules"
        ]
      }
    },
    "/sse/config/v1/app-override-rules/{id}:move": {
      "post": {
        "description": "Move an app override rule.\n",
        "operationId": "post-sse-config-v1-app-override-rules-id:move",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rule-based-move"
              }
            }
          },
          "description": "The app override rule you want to move"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Move an app override rule",
        "tags": [
          "ApplicationOverrideRules"
        ]
      }
    },
    "/sse/config/v1/application-filters": {
      "get": {
        "description": "Get application filters.\n",
        "operationId": "get-sse-config-v1-application-filters",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/objects-application-filters"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of application filters"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List application filters",
        "tags": [
          "ApplicationFilters"
        ]
      },
      "post": {
        "description": "Create an application filter.\n",
        "operationId": "post-sse-config-v1-application-filters",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-application-filters"
              }
            }
          },
          "description": "The application filter you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an application filter",
        "tags": [
          "ApplicationFilters"
        ]
      }
    },
    "/sse/config/v1/application-filters/{id}": {
      "delete": {
        "description": "Delete an application filter.\n",
        "operationId": "delete-sse-config-v1-application-filters-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an application filter",
        "tags": [
          "ApplicationFilters"
        ]
      },
      "get": {
        "description": "Get an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) filter by ID.\n",
        "operationId": "get-sse-config-v1-application-filters-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/objects-application-filters"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get the application filter by id."
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an application filter by ID",
        "tags": [
          "ApplicationFilters"
        ]
      },
      "put": {
        "description": "Modify an application filter.\n",
        "operationId": "put-sse-config-v1-application-filters-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-application-filters"
              }
            }
          },
          "description": "The application filter you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an application filter",
        "tags": [
          "ApplicationFilters"
        ]
      }
    },
    "/sse/config/v1/application-groups": {
      "get": {
        "description": "Get application groups.\n",
        "operationId": "get-sse-config-v1-application-groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/objects-application-groups"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of application groups"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List application groups",
        "tags": [
          "ApplicationGroups"
        ]
      },
      "post": {
        "description": "Create an application group.\n",
        "operationId": "post-sse-config-v1-application-groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-application-groups"
              }
            }
          },
          "description": "The application group you want to create"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an application group",
        "tags": [
          "ApplicationGroups"
        ]
      }
    },
    "/sse/config/v1/application-groups/{id}": {
      "delete": {
        "description": "Delete an application group.\n",
        "operationId": "delete-sse-config-v1-application-groups-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an application group",
        "tags": [
          "ApplicationGroups"
        ]
      },
      "get": {
        "description": "Get an [application group](https://docs.paloaltonetworks.com/network-security/security-policy/objects/application-groups) by ID.\n",
        "operationId": "get-sse-config-v1-application-groups-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/objects-application-groups"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get the application group by id."
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an application group by ID",
        "tags": [
          "ApplicationGroups"
        ]
      },
      "put": {
        "description": "Modify an application group.\n",
        "operationId": "put-sse-config-v1-application-groups-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "entry": {
                    "$ref": "#/components/schemas/objects-application-groups"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "The application group you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an application group",
        "tags": [
          "ApplicationGroups"
        ]
      }
    },
    "/sse/config/v1/applications": {
      "get": {
        "description": "Get applications.\n",
        "operationId": "get-sse-config-v1-applications",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/objects-applications"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of applications"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List applications",
        "tags": [
          "Applications"
        ]
      },
      "post": {
        "description": "Create an application.\n",
        "operationId": "post-sse-config-v1-applications",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-applications"
              }
            }
          },
          "description": "The application you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an application",
        "tags": [
          "Applications"
        ]
      }
    },
    "/sse/config/v1/applications/{id}": {
      "delete": {
        "description": "Delete an application.\n",
        "operationId": "delete-sse-config-v1-applications-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an application",
        "tags": [
          "Applications"
        ]
      },
      "get": {
        "description": "Get an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) by ID.\n",
        "operationId": "get-sse-config-v1-applications-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/objects-applications"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get the application by id."
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an application by ID",
        "tags": [
          "Applications"
        ]
      },
      "put": {
        "description": "Modify an application.\n",
        "operationId": "put-sse-config-v1-applications-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/objects-applications"
              }
            }
          },
          "description": "The application you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit an application",
        "tags": [
          "Applications"
        ]
      }
    },
    "/sse/config/v1/authentication-portals": {
      "get": {
        "description": "Retrieve a list of all authentication portals.\n",
        "operationId": "get-sse-config-v1-authentication-portals",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/authentication-portals"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Get authentication portal"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List all authentication portals",
        "tags": [
          "AuthenticationPortals"
        ]
      },
      "post": {
        "description": "Create an authentication portal.\n",
        "operationId": "post-sse-config-v1-authentication-portals",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-portals"
              }
            }
          },
          "description": "The authentication portal you want to create"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an authentication portal",
        "tags": [
          "AuthenticationPortals"
        ]
      }
    },
    "/sse/config/v1/authentication-portals/{id}": {
      "delete": {
        "description": "Delete a authentication portal.\n",
        "operationId": "delete-sse-config-v1-authentication-portals-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete a authentication portal",
        "tags": [
          "AuthenticationPortals"
        ]
      },
      "put": {
        "description": "Modify a authentication portal.\n",
        "operationId": "put-sse-config-v1-authentication-portals-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-portals"
              }
            }
          },
          "description": "The authentication portal you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit a authentication portal",
        "tags": [
          "AuthenticationPortals"
        ]
      }
    },
    "/sse/config/v1/authentication-profiles": {
      "get": {
        "description": "Retrieve a list of all authentication profiles.\n",
        "operationId": "get-sse-config-v1-authentication-profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/authentication-profiles"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of authentication profiles"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List all authentication profiles",
        "tags": [
          "AuthenticationProfiles"
        ]
      },
      "post": {
        "description": "Create an authentication profile.\n",
        "operationId": "post-sse-config-v1-authentication-profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-profiles"
              }
            }
          },
          "description": "The authentication profile you want to create"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an authentication profile",
        "tags": [
          "AuthenticationProfiles"
        ]
      }
    },
    "/sse/config/v1/authentication-profiles/{id}": {
      "delete": {
        "description": "Delete a authentication profile.\n",
        "operationId": "delete-sse-config-v1-authentication-profiles-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete a authentication profile",
        "tags": [
          "AuthenticationProfiles"
        ]
      },
      "get": {
        "description": "Get an authentication profile by ID.\n",
        "operationId": "get-sse-config-v1-authentication-profiles-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/authentication-profiles"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get authentication profile by id"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an authentication profile",
        "tags": [
          "AuthenticationProfiles"
        ]
      },
      "put": {
        "description": "Modify a authentication profile.\n",
        "operationId": "put-sse-config-v1-authentication-profiles-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-profiles"
              }
            }
          },
          "description": "The authentication profile you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit a authentication profile",
        "tags": [
          "AuthenticationProfiles"
        ]
      }
    },
    "/sse/config/v1/authentication-rules": {
      "get": {
        "description": "Retrieve a list of all [authentication](https://docs.paloaltonetworks.com/network-security/security-policy/objects/authentication) rules.\n",
        "operationId": "get-sse-config-v1-authentication-rules",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/position"
          },
          {
            "$ref": "#/components/parameters/folder"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/authentication-rules"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of authentication rules"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List all authentication rules",
        "tags": [
          "AuthenticationRules"
        ]
      },
      "post": {
        "description": "Create an [authentication](https://docs.paloaltonetworks.com/network-security/security-policy/objects/authentication) rule.\n",
        "operationId": "post-sse-config-v1-authentication-rules",
        "parameters": [
          {
            "$ref": "#/components/parameters/position"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-rules"
              }
            }
          },
          "description": "The authentication rule you want to create"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an authentication rule",
        "tags": [
          "AuthenticationRules"
        ]
      }
    },
    "/sse/config/v1/authentication-rules/{id}": {
      "delete": {
        "description": "Delete a authentication rule.\n",
        "operationId": "delete-sse-config-v1-authentication-rules-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete a authentication rule",
        "tags": [
          "AuthenticationRules"
        ]
      },
      "put": {
        "description": "Modify a authentication rule.\n",
        "operationId": "put-sse-config-v1-authentication-rules-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-rules"
              }
            }
          },
          "description": "The authentication rule you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit a authentication rule",
        "tags": [
          "AuthenticationRules"
        ]
      }
    },
    "/sse/config/v1/authentication-rules/{id}:move": {
      "post": {
        "description": "Move an authentication rule.\n",
        "operationId": "post-sse-config-v1-authentication-rules-id:move",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          },
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rule-based-move"
              }
            }
          },
          "description": "The authentication rule you want to move"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Move an authentication rule",
        "tags": [
          "AuthenticationRules"
        ]
      }
    },
    "/sse/config/v1/authentication-sequences": {
      "get": {
        "description": "Retrieve a list of all authentication sequences.\n",
        "operationId": "get-sse-config-v1-authentication-sequences",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/folder"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/authentication-sequences"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of authentication sequences"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List all authentication sequence",
        "tags": [
          "AuthenticationSequences"
        ]
      },
      "post": {
        "description": "Create an authentication sequence.\n",
        "operationId": "post-sse-config-v1-authentication-sequences",
        "parameters": [
          {
            "$ref": "#/components/parameters/folder"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-sequences"
              }
            }
          },
          "description": "The authentication sequence you want to create"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create an authentication sequence",
        "tags": [
          "AuthenticationSequences"
        ]
      }
    },
    "/sse/config/v1/authentication-sequences/{id}": {
      "delete": {
        "description": "Delete a authentication sequence.\n",
        "operationId": "delete-sse-config-v1-authentication-sequences-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete a authentication sequence",
        "tags": [
          "AuthenticationSequences"
        ]
      },
      "get": {
        "description": "Get an authentication sequence by ID.\n",
        "operationId": "get-sse-config-v1-authentication-sequences-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "items": {
                        "$ref": "#/components/schemas/authentication-sequences"
                      },
                      "type": "array"
                    }
                  ]
                }
              }
            },
            "description": "Get authentication sequence by id"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Get an authentication sequence",
        "tags": [
          "AuthenticationSequences"
        ]
      },
      "put": {
        "description": "Modify a authentication sequence.\n",
        "operationId": "put-sse-config-v1-authentication-sequences-id",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid-required"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authentication-sequences"
              }
            }
          },
          "description": "The authentication sequence you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit a authentication sequence",
        "tags": [
          "AuthenticationSequences"
        ]
      }
    },
    "/sse/config/v1/auto-tag-actions": {
      "delete": {
        "description": "Delete an [auto tag action](https://docs.paloaltonetworks.com/network-security/security-policy/objects/auto-tag-actions).\n",
        "operationId": "delete-sse-config-v1-auto-tag-actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete auto tag actions",
        "tags": [
          "AutoTagActions"
        ]
      },
      "get": {
        "description": "Get Auto Tag Actions\n",
        "operationId": "get-sse-config-v1-auto-tag-actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          },
          {
            "$ref": "#/components/parameters/name-optional"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/auto-tag-actions"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of auto-tag-actions"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List auto tag actions",
        "tags": [
          "AutoTagActions"
        ]
      },
      "post": {
        "description": "Create an [auto tag action](https://docs.paloaltonetworks.com/network-security/security-policy/objects/auto-tag-actions).\n",
        "operationId": "post-sse-config-v1-auto-tag-actions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auto-tag-actions"
              }
            }
          },
          "description": "The address you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create auto tag actions",
        "tags": [
          "AutoTagActions"
        ]
      },
      "put": {
        "description": "Edit an [auto tag action](https://docs.paloaltonetworks.com/network-security/security-policy/objects/auto-tag-actions).\n",
        "operationId": "put-sse-config-v1-auto-tag-actions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auto-tag-actions"
              }
            }
          },
          "description": "Modify auto tag actions"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Edit auto tag actions",
        "tags": [
          "AutoTagActions"
        ]
      }
    },
    "/sse/config/v1/bandwidth-allocations": {
      "delete": {
        "description": "Delete an aggregated bandwidth region.",
        "operationId": "delete-sse-config-v1-bandwidth-allocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/aggregated-bandwidth-region-name-required"
          },
          {
            "$ref": "#/components/parameters/aggregated-bandwidth-spn-name-list-required"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Delete an aggregated bandwidth region",
        "tags": [
          "BandwidthAllocations"
        ]
      },
      "get": {
        "description": "Retrieve all aggregated bandwidth regions.",
        "operationId": "get-sse-config-v1-bandwidth-allocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit-optional"
          },
          {
            "$ref": "#/components/parameters/offset-optional"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "items": {
                            "$ref": "#/components/schemas/bandwidth-allocations"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "limit": {
                      "default": 200,
                      "type": "number"
                    },
                    "offset": {
                      "default": 0,
                      "type": "number"
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of aggregated bandwidth regions"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "404": {
            "$ref": "#/components/responses/not_found"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "List aggregated bandwidth regions",
        "tags": [
          "BandwidthAllocations"
        ]
      },
      "post": {
        "description": "Create an aggregated bandwidth regions.",
        "operationId": "post-sse-config-v1-bandwidth-allocations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bandwidth-allocations"
              }
            }
          },
          "description": "The aggregated bandwidth region you want to create"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/http_created"
          },
          "400": {
            "$ref": "#/components/responses/bad_request_errors_basic_with_body"
          },
          "401": {
            "$ref": "#/components/responses/auth_errors"
          },
          "403": {
            "$ref": "#/components/responses/access_errors"
          },
          "409": {
            "$ref": "#/components/responses/conflict_errors"
          },
          "default": {
            "$ref": "#/components/responses/default_errors"
          }
        },
        "summary": "Create aggregated bandwidth regions",
        "tags": [
          "BandwidthAllocations"
        ]
      },
      "put": {
        "description": "Edit an aggregated bandwidth region.",
        "operationId": "put-sse-config-v1-bandwidth-allocations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bandwidth-allocations"
              }
            }
          },
          "description": "The aggregated bandwidth region you want to edit"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/http_ok"
[...]
