{
  "openapi": "3.0.0",
  "info": {
    "title": "Selector AI \u2014 Metastore Inventory",
    "description": "Selector AI Metastore Inventory API provides programmatic access to network device inventory and metadata managed by the Selector AI analytics platform.\n\nAuthentication: Bearer token \u2014 obtain from your Selector AI instance credentials. Pass as Authorization: Bearer <token>.\n\nSource: https://docs.selector.ai/",
    "contact": {
      "name": "Selector AI",
      "url": "http://www.selector.ai",
      "email": "info@selector.ai"
    },
    "version": "latest",
    "x-vendor-api-version": "1.0.0",
    "x-itential-curated": "Trimmed to 15 of 33 upstream operations covering common CRUD for automation: inventory item create/read/update/delete, bulk inventory listing, and inventory schema management (v2). Excludes legacy v1 schema endpoints (superseded by v2), bulk/CSV import-export utilities, and admin/diagnostic endpoints (health, logs, config, version, opstats). See the repo README for the full scope and the full spec."
  },
  "servers": [
    {
      "url": "https://demo2.selector.ai/api/inventory-manager/",
      "variables": {}
    }
  ],
  "paths": {
    "/v1/inventory": {
      "get": {
        "tags": [
          "Metastore Inventory Names Download"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get_all_inventory_v1_inventory_get",
        "description": "The Api returns current metastore inventory names in the form of a json object. \n\nThe response section of the json contains a list of metastore inventory objects which has 2 keys:\n- **type**: The type of the Metastore inventory object\n- **name**: The name of the Metastore inventory object\n",
        "operationId": "Get_all_inventory_v1_inventory_get",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseInventory"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Metastore Inventory Name Upload"
        ],
        "summary": "Inventory_creation_v1_inventory_post",
        "description": "Executes a post operation to the API to create a new inventory name in the metasore",
        "operationId": "Inventory_creation_v1_inventory_post",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryItemCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "Inventory schema not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventorySchemaNotFound"
                }
              }
            }
          },
          "409": {
            "description": "Inventory already exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryExist"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/inventory/{name}": {
      "put": {
        "tags": [
          "Metastore Inventory Name Update"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Inventory_update_v1_inventory__name__put",
        "description": "Executes a put operation to the API to update existing inventory tags in the metasore",
        "operationId": "Inventory_update_v1_inventory__name__put",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the inventory to delete",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryItemCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "Inventory not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Metastore Inventory Name Delete"
        ],
        "summary": "Deleting_Specific_Inventory_v1_inventory__name__delete",
        "description": "Executes a delete operation through the API to delete an inventory in the metasore",
        "operationId": "Deleting_Specific_Inventory_v1_inventory__name__delete",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the inventory to delete",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessage"
                }
              }
            }
          },
          "404": {
            "description": "Inventory not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Metastore Inventory Data Download"
        ],
        "summary": "Inventory_Item_get_v1_inventory__name__get",
        "description": "The Api returns inventory data of the inventory name provided in the API endpoint in the form of a list of jsons. \n\nThe response section of the json contains a list of jsons which map the column name to a value along with an extra key named **ID**. \n\nThe **ID** key is unique for all the elements in the inventory and we need to use this for all **row specific operations**.\n",
        "operationId": "Inventory_Item_get_v1_inventory__name__get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pattern",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": ""
                }
              }
            }
          },
          "404": {
            "description": "Inventory not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Metastore Inventory Data Upload"
        ],
        "summary": "Inventory_Item_creation_v1_inventory__name__post",
        "description": "Executes a post operation through the API to upload a row from an inventory table in the metasore",
        "operationId": "Inventory_Item_creation_v1_inventory__name__post",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataMessage"
                }
              }
            }
          },
          "404": {
            "description": "Inventory not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/inventory/{name}/{id}": {
      "get": {
        "tags": [
          "Metastore Inventory Data Download"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Inventory_Item_get_v1_inventory__name___id__get",
        "description": "The Api returns inventory data of the inventory name and ID provided in the API endpoint in the form of a json. \n\nThe response section of the json contains a list of jsons which map the column name to a value along with an extra key named **ID**. \n\nThe **ID** key is unique for all the elements in the inventory and we need to use this for all **row specific operations**.\n",
        "operationId": "Inventory_Item_get_v1_inventory__name___id__get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": ""
                }
              }
            }
          },
          "404": {
            "description": "Inventory entry not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryEntryNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Metastore Inventory Data Edit"
        ],
        "summary": "Inventory_Item_creation_v1_inventory__name___id__put",
        "description": "Executes a put operation through the API to edit a row in the metasore",
        "operationId": "Inventory_Item_creation_v1_inventory__name___id__put",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataMessage"
                }
              }
            }
          },
          "404": {
            "description": "Inventory entry not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryEntryNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Metastore Inventory Data Delete"
        ],
        "summary": "Inventory_Item_deletion_v1_inventory__name___id__delete",
        "description": "Executes a delete operation through the API to delete a row from an inventory table in the metasore",
        "operationId": "Inventory_Item_deletion_v1_inventory__name___id__delete",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataMessage"
                }
              }
            }
          },
          "404": {
            "description": "Inventory entry not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadInventoryEntryNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/inventory-items": {
      "get": {
        "tags": [
          "Metastore Inventory Items"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Inventory_Item_get_v1_inventory_items_get",
        "description": "Executes a get operation through the API to get all inventory data of same type",
        "operationId": "Inventory_Item_get_v1_inventory_items_get",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": ""
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/inventory-schema": {
      "get": {
        "tags": [
          "Metastore V2 Inventory Schema Get"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Gets All Inventory schema",
        "description": "Executes a get operation though the API to get all inventory schemas",
        "operationId": "GetsAllInventoryschema",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventorySchemaRequest"
                  },
                  "description": ""
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Inventory V2 Schema Upload"
        ],
        "summary": "Process inventory schema JSON input",
        "description": "Executes a post operation though the API to post inventory schemas",
        "operationId": "ProcessinventoryschemaJSONinput",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventorySchemaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Inventory schema created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          },
          "409": {
            "description": "Inventory schema exist",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSchemaExist"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Inventory V2 Schema Delete All"
        ],
        "summary": "Process inventory schema delete",
        "description": "Executes a delete operation though the API to delete all inventory schemas",
        "operationId": "DeleteProcessinventoryschemadelete1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponseString"
                }
              }
            }
          },
          "404": {
            "description": "Inventory schema not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSchemaExist"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/inventory-schema/{type}": {
      "put": {
        "tags": [
          "Inventory V2 Schema Update"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Process inventory schema JSON input",
        "description": "Executes a put operation though the API to post inventory schemas",
        "operationId": "PutProcessinventoryschemaJSONinput",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventorySchemaPutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory schema updated",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Inventory schema not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSchemaExist"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Inventory V2 Schema Delete Type"
        ],
        "summary": "Process inventory schema delete",
        "description": "Executes a delete operation though the API to delete specific inventory schemas",
        "operationId": "DeleteProcessinventoryschemadelete2",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponseString"
                }
              }
            }
          },
          "404": {
            "description": "Inventory schema not found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSchemaExist"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseMessage": {
        "title": "ResponseMessage",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "FieldItem": {
        "title": "FieldItem",
        "required": [
          "name",
          "source"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "ResponseInventoryField": {
        "title": "ResponseInventoryField",
        "required": [
          "name",
          "type",
          "nosql",
          "numEntries"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "nosql": {
            "type": "string"
          },
          "numEntries": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          }
        }
      },
      "UploadSchemaExist": {
        "title": "UploadSchemaExist",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "default": "inventory schema exist"
          }
        }
      },
      "InventoryResponse": {
        "title": "InventoryResponse",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/InventorySchemaRequest"
          }
        }
      },
      "InventorySchemaRequest": {
        "title": "InventorySchemaRequest",
        "required": [
          "type",
          "fields",
          "keys"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "fields": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldItem"
            },
            "description": ""
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "retention_in_days": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "UploadInventoryEntryNotFound": {
        "title": "UploadInventoryEntryNotFound",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "default": "Inventory entry does not exist"
          }
        }
      },
      "UploadInventoryExist": {
        "title": "UploadInventoryExist",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "default": "Inventory <inventory-name> already exists"
          }
        }
      },
      "ResponseDataMessage": {
        "title": "ResponseDataMessage",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "response": {
            "type": "object"
          }
        }
      },
      "InventoryResponseString": {
        "title": "InventoryResponseString",
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "InventorySchemaPutRequest": {
        "title": "InventorySchemaPutRequest",
        "required": [
          "fields",
          "keys"
        ],
        "type": "object",
        "properties": {
          "fields": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldItem"
            },
            "description": ""
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "retention_in_days": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResponseInventory": {
        "title": "ResponseInventory",
        "required": [
          "message",
          "response"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseInventoryField"
            },
            "description": ""
          }
        }
      },
      "InventoryItemCreate": {
        "title": "InventoryItemCreate",
        "required": [
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          }
        }
      },
      "UploadInventorySchemaNotFound": {
        "title": "UploadInventorySchemaNotFound",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "default": "Schema get failed"
          }
        }
      },
      "HTTPValidationError": {
        "title": "HTTPValidationError",
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "description": ""
          }
        }
      },
      "UploadInventoryNotFound": {
        "title": "UploadInventoryNotFound",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "default": "Table does not exist"
          }
        }
      },
      "ValidationError": {
        "title": "ValidationError",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "Metastore Inventory Names Download",
      "description": "Selector Software Metastore Inventory Names Download"
    },
    {
      "name": "Metastore Inventory Name Upload",
      "description": "Selector Software Metastore Inventory Name Upload"
    },
    {
      "name": "Metastore Inventory Name Update",
      "description": "Selector Software Metastore Inventory Name Update"
    },
    {
      "name": "Metastore Inventory Name Delete",
      "description": "Selector Software Metastore Inventory Name Delete"
    },
    {
      "name": "Metastore Inventory Data Download",
      "description": "Selector Software Metastore Inventory Data Download"
    },
    {
      "name": "Metastore Inventory Data Upload",
      "description": "Selector Software Metastore Inventory Data Upload"
    },
    {
      "name": "Metastore Inventory Data Edit",
      "description": "Selector Software Metastore Inventory Data Edit"
    },
    {
      "name": "Metastore Inventory Data Delete",
      "description": "Selector Software Metastore Inventory Data Delete"
    },
    {
      "name": "Metastore Inventory Bulk Data Upload",
      "description": "Selector Software Metastore Inventory Bulk Data Upload"
    },
    {
      "name": "Metastore Inventory CSV Data Upload",
      "description": "Selector Software Metastore Inventory CSV Data Upload"
    },
    {
      "name": "Metastore Inventory Schema",
      "description": "Selector Software Metastore Inventory Schema Get"
    },
    {
      "name": "Metastore Inventory Items",
      "description": "Selector Software Metastore Inventory Items Get"
    },
    {
      "name": "Metastore Inventory Schema Get",
      "description": ""
    },
    {
      "name": "Inventory schema creation",
      "description": ""
    },
    {
      "name": "Inventory schema update",
      "description": ""
    },
    {
      "name": "Inventory Schema Delete",
      "description": ""
    },
    {
      "name": "Inventory Schema Delete Type",
      "description": ""
    },
    {
      "name": "Metastore V2 Inventory Schema Get",
      "description": ""
    },
    {
      "name": "Inventory V2 Schema Upload",
      "description": ""
    },
    {
      "name": "Inventory V2 Schema Delete All",
      "description": ""
    },
    {
      "name": "Inventory V2 Schema Update",
      "description": ""
    },
    {
      "name": "Inventory V2 Schema Delete Type",
      "description": ""
    },
    {
      "name": "Inventory Schema File Upload",
      "description": ""
    },
    {
      "name": "Inventory Schema File Download",
      "description": ""
    },
    {
      "name": "Metastore Inventory files import",
      "description": ""
    },
    {
      "name": "Metastore Inventory files export",
      "description": ""
    },
    {
      "name": "Metastore Inventory csv file export",
      "description": ""
    }
  ]
}